[2017-11-07 06:46] wanderingstan opened #7 "Update web3 to latest version"
Currently using version 0.18.4 when latest is >1.0.

Noticed when interacting with `utils`:
https://web3js.readthedocs.io/en/1.0/web3-utils.html

[2017-11-20 10:59] matthewliu opened #9 "This is a feature for Josh"

[2017-12-02 18:08] #9 closed

[2017-12-14 16:57] wanderingstan opened #14 "Wei/Eth conversion problem"
![image](https://user-images.githubusercontent.com/673455/34004413-ac49f2d2-e0ac-11e7-9131-c9aa87c4c186.png)
There's a conversion missing (or doubly applied?) where 0.01 ETH turns into 16 million ETH. :)

[2017-12-14 17:13] wanderingstan opened #15 "Detect Metamask issues and give user-friendly help"
If user does not have Metamask, or is on wrong network, the demo silently fails.

We should detect these conditions and guide user to take the right actions to fix.

With **No** Metamask, Chrome gives:
[code]

With **Metamask on wrong network** (E.g. not on Rinkeby for web demo dapp), Chrome gives:
[code]

[2017-12-14 19:12] wanderingstan opened #16 "Determine correct gas handling for purchase"
It was quick'n'dirty to get purchasing working, with gas for the purchase hard-coded. This needs to be done right.
~~https://github.com/OriginProtocol/demo-dapp/blob/master/src/services/contract-service.js#L131~~
https://github.com/OriginProtocol/demo-dapp/blob/master/src/services/contract-service.js#L129

[2017-12-14 19:44] wanderingstan commented on #15
Here's the no-metamask condition: https://github.com/OriginProtocol/demo-dapp/blob/master/src/services/web3-service.js#L41

[2017-12-14 20:52] wanderingstan opened #17 "Handle case when IPFS data is gone"
Listings may disappear from IPFS. (Unpinned and garbage collected, or whatever reason.) We should handle this gracefully. I suggest we show some mention at bottom of everything that listing exists on blockchain, but is invalid without IPFS.

[2017-12-14 23:47] wanderingstan opened #18 "Link to etherscan for transaction, accounting for network"
On blockchain transactions, e.g. posting listing here:
https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/demo-step-4.js#L12

Determine if we are on mainnet, testnet, or local
https://ethereum.stackexchange.com/a/23905/20332

And then link to page transaction `tx` on network's etherscan, e.g.
https://rinkeby.etherscan.io/tx/0xfa2108102935c48eac0869c901ea36588704110eac6fdb79f958

[2017-12-15 00:14] wanderingstan commented on #14
Fixed here: https://github.com/OriginProtocol/demo-dapp/commit/c8d7cfedfcafef46defe293288873132d50b5bd2

[2017-12-15 01:05] smazurov commented on #18
probably best after #7

[2017-12-15 02:57] joshfraser opened #19 "Dockerize this thing"
Would be great to add a Dockerfile to make it easier for people using Docker to get up and running with the demo app.

[2017-12-15 16:53] wanderingstan opened #20 "Update Readme (for Testnet/Gateway)"
Now that we have our own IPFS gateway and the dapp running on Rinkeby, we need to update the readme.

- No need to run local IPFS daemon anymore
- Explanation of using local `testrpc` chain vs Rinkeby testnet

Gateway is at gateway.originprotocol.com

Discussion on slack begins about here: https://originprotocol.slack.com/archives/C7XHKV6TG/p1513282908000115

[2017-12-15 16:57] wanderingstan opened #21 "Update Readme: Switch from `testrpc` to `truffle develop`"
- This means one less dependency. (Only need to install truffle)
- Deterministic accounts are standards, so no need for `--mnemonic` flag

Detailed information here: https://github.com/trufflesuite/truffle/releases/tag/v4.0.0
with update on mnemonic here: https://github.com/trufflesuite/truffle/releases/tag/v4.0.1

[2017-12-15 18:11] wanderingstan opened #22 "Include sample listings"
Upon first run the app has no listings, so its hard to get a feel of what we're going for.

We need some sample listings to be included upon start. I can see two ways of doing this

1. Have script that adds listings, ideally integrated to part of truffle deploy process
2. Include a pre-populated chain database that is used by `truffle develop`/`testrpc`

The right choice I think is (1) if we can m

[2017-12-17 18:47] wanderingstan opened #23 "Show listing creation time on listing detail component"
We need to show when a listing was made.

The `create()` method of our contract should add the timestamp from the `now` global.
http://solidity.readthedocs.io/en/develop/units-and-global-variables.html#block-and-transaction-properties

The `listingStruct` would need a `createTimestamp` property too.

And then this needs to be shown in the app when the listing is displayed.

[2017-12-17 18:59] joshfraser opened #24 "Add support for loading sub-schemas by URL to the React JSONSchema library"
We're using this awesome React library to load & validate our JSONSchema forms:
https://github.com/mozilla-services/react-jsonschema-form

Unfortunately, this library does not currently support loading sub-schemas by URL. This functionality is supported in the JSONSchema spec but it's not in the React implementation that we're using. We're going to need this to be able to have schemas inherit comm

[2017-12-18 20:21] wanderingstan commented on #22
Working on this. Think we're close in this commit:
https://github.com/OriginProtocol/demo-dapp/commit/6d19ac3793264259870525ef1c989d3a715f9dbe

Problem is IPFS gateway can't be accessed from localhost -- we need to set up CORS.
See this thread on Slack: https://originprotocol.slack.com/archives/C7XHKV6TG/p1513474636000015

Prob will need help from @ryana on this.

[2017-12-18 20:36] wanderingstan opened #25 "Add features from Zeppelin library"
Zeppelin docs:
http://zeppelin-solidity.readthedocs.io/en/latest/

We should be using at least `Ownable` and `Migrations`.

[2017-12-19 06:16] wanderingstan commented on #22
Think it's working in this commit:
https://github.com/OriginProtocol/demo-dapp/commit/1a9ebae05814cf3b0d9d7d405da07850d1a50cd3

Testing it now. Will merge with master along with moving to `truffle develop`

[2017-12-19 06:16] #22 closed

[2017-12-19 06:18] wanderingstan commented on #21
Should be good as of a88463b5ab715f9860477884f23d8e2ca1569c1a

Readme will of course need additional refining.

[2017-12-19 17:41] wanderingstan opened #26 "Gracefully handle waiting for Web3 to load/inject"
Right now we have a hacky timer.

Correct way would be something like step 3 on this tutorial:
https://hackernoon.com/tips-and-tricks-for-adding-metamask-to-your-ui-32728b437194

[code]

[2017-12-21 02:44] #14 closed

[2017-12-21 02:44] #20 closed

[2017-12-21 02:45] wanderingstan commented on #21
Merged into Master.

[2017-12-21 02:45] #21 closed

[2017-12-21 16:26] wanderingstan commented on #26
This npm module seems like the clean way to do this: https://github.com/coopermaruyama/react-web3

[2017-12-27 00:33] wanderingstan opened #27 "Handle 413 response from IPFS gateway (Image too large)"
If the ipfs payload is too large, the node will reject it with a 413 HTTP response.
[code]

[2018-01-07 02:53] wanderingstan commented on #27
Mostly solved by this commit:
https://github.com/OriginProtocol/demo-dapp/commit/59301aee4e32678fa5b24fa99c1d44b18d62de9e

Looks to not be possible to get error info from ipfs js library.

[2018-01-07 02:53] #27 closed

[2018-01-07 02:57] wanderingstan commented on #15
Fixed by using react-web3 npm module (to detect metamask)
https://github.com/OriginProtocol/demo-dapp/commit/375faf6e68e2dee153a355c5a5e694b6cd14b1f9
And also to detect when user is on wrong network
https://github.com/OriginProtocol/demo-dapp/commit/5d539478cc6ddd3d2f653c33ee4b5e5954fe9ab5

[2018-01-07 02:57] #15 closed

[2018-01-07 02:59] wanderingstan commented on #26
Added react-web3.

[2018-01-07 02:59] #26 closed

[2018-01-07 03:00] wanderingstan opened #29 "Do correct swapping of web3 in global context"
`react-web3` package is slick, but doesn't do the reccomended swapping in of local version of web3, as described here:
https://github.com/MetaMask/faq/blob/master/DEVELOPERS.md#partly_sunny-web3---ethereum-browser-environment-check

We're already using my patched version of react-web3. I'm in contact with the developer of it, though he is slow to respond.

[2018-01-07 03:05] wanderingstan opened #30 "Better detection of environment in react for dev, staging, live, etc"
There are places where we use the page domain to detect if we are on the testnet installation.

- https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/listings-grid.js#L23
This should probably be done via an environment variable.

- Current url of the hidelist is hard-coded, but should also be an env var
https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/listi

[2018-01-07 03:08] wanderingstan opened #31 "Show creator address of listing"
On listing-detail, show the eth address that created the listing.

[2018-01-07 03:09] wanderingstan opened #32 "Add date to listing and show on page"
Add a create timestamp to Listing contract. Have it populated when listing is created. Display date on listing-detail page.

[2018-01-07 03:11] wanderingstan opened #33 "Get id of newly created listing"
This is surprisingly hard, as web3 doesn't give any info returned from a contract method.

We'll probably need to modify our code that waits for transaction to finish, and then fetch the listing id (index) from there.

[2018-01-07 03:11] wanderingstan opened #34 "Update css to use variables"
We have lots of repeated instances of colors, fonts, and dimensions that should be abstracted to css variables.

Details:
https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

[2018-01-07 03:15] wanderingstan opened #35 "Style the pages shown for "No Metamask" and "Account unavailable""
Defaults from `react-webe` are pretty ugly and not in our style.

Current messaging:

## Web3 unavailable
[code]

## Account unavailable
[code]

[2018-01-07 03:16] wanderingstan opened #36 "Add approximate price in USD (or EUR)"
Using this library:
https://www.npmjs.com/package/cryptocompare

[2018-01-07 03:17] wanderingstan opened #37 "Show map of listing location"
Add map to listing-detail showing listing location. Probably using openstreetmaps

[2018-01-07 03:18] wanderingstan opened #38 "Show other jsonschema fields on listing-detail page"
Right now we only show photos, title, description, and price.

We should at least show the other fields if present.

[2018-01-07 03:20] wanderingstan opened #39 "Combine logic of listing-card and listing-detail for getting listing contract then listing ipfs"
Right now we have duplicated logic on listing-card and listing-detail. This should be abstracted away, possibly into `origin-service.js`, as this pattern will show up a lot.

[2018-01-07 03:22] wanderingstan opened #40 "Do correct Promise() chaining"
We have some nested promises, which is bad form. Example:
https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/listing-create.js#L106

All the then()s and catch()s should be lined up.
https://javascript.info/promise-chaining

[2018-01-07 03:36] ryana opened #41 "Add `application/json` header to gateway responses"
We want to do this for security reasons so that people cannot host malicious content on the gateway.

[2018-01-07 13:36] wanderingstan opened #43 "Cache responses from gateway server"
IPFS responses will never change, so we should maximize caching.

It's unclear how well ipfs js library uses caching, but here is the line where we read from the gateway:
https://github.com/OriginProtocol/demo-dapp/blob/master/src/services/ipfs-service.js#L59

[2018-01-07 13:41] wanderingstan commented on #43
@ryana I can't officially assign you, but this is your bag!

[2018-01-07 13:49] wanderingstan opened #44 "Fancy image uploads"
Aure's design calls for images to be uploaded via a slick UI with thumbnails:

![image](https://user-images.githubusercontent.com/673455/34649956-eb59d948-f375-11e7-959b-70c7330b803e.png)

We're using [react-json-schema-form](https://github.com/mozilla-services/react-jsonschema-form), which does only old-school style file uploads. (Click a button to open native OS file selector.)

So there are mul

[2018-01-07 13:50] wanderingstan commented on #32
Duplicate of #23

[2018-01-07 13:50] #32 closed

[2018-01-07 13:56] wanderingstan opened #45 "Newly created listings sometimes don't appear for a while"
When a new listing is created, and user returns to listing-grid page, the new listing sometimes doesn't appear right away but will after  another page reload.

We wait for the transaction to be confirmed in blockchain [here](https://github.com/OriginProtocol/demo-dapp/blob/master/src/services/contract-service.js#L137).

Possibilities:
- React caching results
- Metamask caching contract results
- W

[2018-01-07 14:02] wanderingstan opened #46 "Replace alerts() with styled message boxes"
We need a way to show non-modal messages/errors to user.

`overlay.js` can show a message and prevent any user interaction (modal).

But we need a way to show other messages but allow continued user action on the page. For example, when the selected listing upload is too large: https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/listing-create.js#L90
There will surely be more of

[2018-01-07 14:17] wanderingstan opened #47 "Update readme with style makeover"
Readme still shows old screenshot.

This is new one:
![image](https://user-images.githubusercontent.com/673455/34650232-ca4df39c-f37a-11e7-9b18-18861f282dff.png)

[2018-01-07 14:20] wanderingstan commented on #47
Fixed in https://github.com/OriginProtocol/demo-dapp/commit/cb1beaab62b4810c7591cac2292b725f2d79812b

[2018-01-07 14:20] #47 closed

[2018-01-07 17:06] wanderingstan opened #49 "Links in footer are broken"
They get _appended_ to URL when clicked, e.g. `https://demo.originprotocol.com/https://www.originprotocol.com/product-brief`

[2018-01-07 18:15] ryana commented on #30
@wanderingstan I'm thinking about doing this:

[code]

But while addressing the 1st item in your list, it renders your 2nd item moot. Is it important for the dev hide list to be a file hosted externally? Or can we just do that?

[2018-01-07 19:26] ryana commented on #43
The gateway is already responding with proper `Etag`, `Cache-Control`, and `Last-Modified` headers so it's already pretty nicely setup for client-side caching:

[code]

It's also responding pretty quickly (0.4s) so I'm guessing it's also doing some server-side caching already.

If this ticket was written in response to degraded performance, response times of the gateway may not be the issue. Let's

[2018-01-07 19:27] ryana commented on #41
Adding this header may not be enough: https://stackoverflow.com/questions/37863357/why-do-browsers-execute-script-with-content-type-json

Investigating other ideas.

[2018-01-07 23:06] wanderingstan commented on #43
Should have figured you'd be on the ball, Ryan! Ticket was just to ensure someone checked (and i was too lazy to look up the relevant headers to check.)

[2018-01-07 23:06] #43 closed

[2018-01-07 23:10] wanderingstan commented on #30
The goal was for the hide list to easily editable when bad listings are found.  No so easy to ssh to the server, or commit to git. Putting it on github means we get to use their interface to update it quickly. I'm open to any other ideas here.

Ah you're right about points 1 and 2: If I understand you, we can put the hidelist url in an env variable, and if it's empty, then we know not to use it.

[2018-01-07 23:18] wanderingstan opened #50 "Change radio buttons to solid/filled"
Slack discussion here: https://originprotocol.slack.com/archives/C72PD95H9/p1514907594000432

Basically change radio button look to a filled rectangle look, i.e. when a category is selected then the rectangle gets solid-filled.

Should look like this:
![image](https://user-images.githubusercontent.com/673455/34655406-633a466e-f3c6-11e7-9a1c-57411c53f95a.png)

[2018-01-07 23:19] wanderingstan commented on #35
These pages should link to metamask, and ideally link to our "how to get started" page. Readme for dapp? Blog post?

[2018-01-08 01:40] ryana commented on #30
Yeah ok the EDIT is what I was asking. (BTW for future reference: email notifications apparently don't get sent upon editing a comment).

So then... hmm. Could we do something where it always fetches from GitHub? e.g. `https://raw.githubusercontent.com/OriginProtocol/demo-dapp/hide_list/hidelist.dev.json` and `https://raw.githubusercontent.com/OriginProtocol/demo-dapp/hide_list/hidelist.prod.json`

[2018-01-08 01:41] ryana commented on #30
tagging @wanderingstan to trigger a notification on last comment.

[2018-01-08 01:45] wanderingstan commented on #45
The 2 second hack seems to work surprisingly well. https://github.com/OriginProtocol/demo-dapp/commit/59bc3658b9149abdd8f962ce74a422968097ddda

[2018-01-08 01:45] wanderingstan commented on #50
Fixed in 1baeb46d3bfdc5873076a3334943cc5cdfcbc6a7

[2018-01-08 01:45] #50 closed

[2018-01-08 02:21] wanderingstan commented on #30
@ryana To me most natural is to put URL of the hidelist in an env variable. And if the var is not set, then that means nothing gets hidden.

That way we can set it in our prod environment, and test it in our locals. But in the default case, nothing is hidden, and no extra web calls are made.

[2018-01-08 02:27] wanderingstan commented on #19
After talking @moe456 on slack, I'm not sure this is as much of an issue. At the time, running the DApp meant running an IPFS daemon, testrpc, and truffle. That was a lot to install.

Now we have our own IPFS gateway, and truffle develop replaces testrpc. So it's just truffle, which isn't so bad. I think we can close this.

@joshfraser What do you think?

[2018-01-08 02:28] ryana commented on #30
cool. i like it.

[2018-01-08 02:31] wanderingstan commented on #49
Fixed in https://github.com/OriginProtocol/demo-dapp/commit/20ea057dfa12fd896631891dc579a63f2968f03a

[2018-01-08 02:31] #49 closed

[2018-01-08 02:34] wanderingstan commented on #38
Right now all the listing fields (both ipfs and from the contract) are stored flat in the component state, along with housekeeping fields for the component like `step`.

I think we should instead have a `state.ipfsData` and `state.contractData`, which contain the correspondent fields. Then we can iterate over extra fields in ipfsData to display them (if we know how)

[2018-01-08 04:09] joshfraser opened #51 "upgrade marked library in package-lock.json"
potential security vulnerability

[2018-01-08 04:33] wanderingstan commented on #51
In df85e05f3ae034a23c8eab220a7b94316e1429b0
updated `package.json` to require at [least latest version which is 0.3.9](https://www.npmjs.com/package/marked)

`npm install` auto-generated new `package-lock.json` with correct version too.

Demo server confirmed to now be running new version.

@joshfraser Was there a mention of a vulnerability somewhere?

[2018-01-08 04:33] #51 closed

[2018-01-08 04:35] joshfraser commented on #51
yeah github was showing a big old warning at the top of the repo

[2018-01-08 07:36] joshfraser opened #52 "Make pagination divisible by 3?"
10 results per page breaks weird w/ the current layout. Can we use 12 instead?

[2018-01-08 15:31] wanderingstan commented on #52
Coolness. Fixed in 1455810b8d24eceaa48b66b7979eb14778da5973

[2018-01-08 15:31] #52 closed

[2018-01-08 15:32] wanderingstan commented on #35
A basic update to at least match our other messages was done in c961a6f442041ea1733171215ece5085ed37ce89

[2018-01-08 15:37] wanderingstan commented on #49
Fixed in 20ea057dfa12fd896631891dc579a63f2968f03a

[2018-01-08 15:59] wanderingstan opened #53 "Strange behavior for date/time picker in jsonschema form"
Lots of weird stuff. Changing hour can change the day. Different value than typed appears.

[2018-01-08 16:04] wanderingstan opened #54 "Submitting listings on testnet are appearing in wrong order"
May be related to the earlier bug where it reverse direction on each reload.

[2018-01-08 16:05] wanderingstan opened #55 "Testnet gas price issues"
Andrew is having trouble submitting new listings, with Metamask saying to increase the gas price. We currently have hardcoded gaslimit (in another open issue). Need to figure this out.

[2018-01-08 16:45] wanderingstan commented on #53
The date picker works fine on their demo form:
https://mozilla-services.github.io/react-jsonschema-form/

Might be some collision of css class or id names, or javascript globals.

[2018-01-08 17:49] DanielVF opened #56 "CSP: Defense in depth vs XSS"
React does eliminate most XSS concerns. It does not look like the current code base is vulnerable to any know React XSS attack.

The possible future attack is if user supplied data was used in a link href. For example:

    <a href={data.link_to_site}>Web/a>

In this case, the evil user could do a "javascipt:evilcode..", which would run when clicked on. I've checked the codebase, and this isn't cu

[2018-01-08 17:50] DanielVF opened #57 "Block HTTP on the IPFS gateway"
We should only use HTTPS for the IPFS gateway. This prevents eavesdropping which listings are being viewed, and prevents data from being modified in transit before it hits the user.

We should prevent us from accidentally using HTTP in the future, as well as help other people building DAPs. I think the best way to do this is to not allow the gateway to be used over HTTP at all. It should be HTTPS

[2018-01-08 17:51] DanielVF commented on #57
@ryana

[2018-01-08 17:53] DanielVF opened #58 "Only allow data images for listings"
We should to force photos be embedded data urls.

Currently, you could just include an http or https image url in the pictures json, and it would be used instead of a data url. This would allow someone to track when their image is viewed, or who is viewing it, or change the image during or after the sale, with no way of knowing about this during a later dispute.

This is probably best done as part

[2018-01-08 18:33] DanielVF opened #59 "Load/Validate/Migrate from IPFS listing data into data model"
Data coming from IPFS is completely outside our DAP's control. It can be safely assumed to be as maliciously formed as possible. It could also be in an outdated schema.

We can't have react components responsible for parsing and validating IPFS data.

When we are loading information about a listing, we need to:
- [ ] Create a new object, and only copy over whitelisted fields
- [ ] Migrate any sche

[2018-01-08 18:34] DanielVF commented on #58
This should probably be done as a part of https://github.com/OriginProtocol/demo-dapp/issues/59

[2018-01-08 18:44] joshfraser commented on #58
Ideally, you would be able to link to remote images as long as they are hosted on IPFS.

[2018-01-09 00:59] micahalcorn opened #60 "Branched react-web3 package installation fails silently"
In step 10 of the local DApp installation, there are no obvious errors during `npm install`. However, upon `npm run start`, I get the following error:

[code]

Sure enough, the `node_modules/react-web3` folder only contains `README.md` and `package.json`. It is missing the `dist` folder and the package code. If I remove the installed branch of the package and edit the `package.json` dependency to

[2018-01-09 02:32] wanderingstan opened #62 "Handle case where use rejects/fails to complete metamask transaction"
For example:
![image](https://user-images.githubusercontent.com/673455/34702340-14348566-f4a2-11e7-9a9c-aaf0c5b9173d.png)

At the moment, all we do is `alert()` the error, here:
https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/listing-detail.js#L76

We should give message and reset page back to normal.

[2018-01-09 03:26] ryana commented on #57
Hey @DanielVF `http` requests are already being redirected to `https` on `gateway.op.com`. Did you see it not behaving that way anywhere? If so can you let me know where? Otherwise, looks like we're good and we'll close this one.

[2018-01-09 03:28] DanielVF commented on #57
That still leaves it open to seeing what URL is being requested, and the possibility of inserting your own content. (Since the attacker could see the initial clear text connection.)

We need to make sure that nobody uses HTTP ever on this infrastructure, and it seems like just making it so it never seems to work would be the best way.

[2018-01-09 15:59] ryana commented on #46
I've used this before http://alertifyjs.com -- I really like it. It can replace alerts/confirms (blocking) and it can display disappearing notices (error, warnings, info).

[2018-01-09 16:31] joshfraser commented on #46
+1 for Alertify. It's what we're using for notifications on originprotocol.com already, so the consistency would be nice.

[2018-01-09 23:59] ryana commented on #57
Done. Returning a 505 and an `X-Error-Message: This server only supports HTTPS` in response to any request on port 80.

[2018-01-10 01:21] #57 closed

[2018-01-10 01:29] wanderingstan opened #63 "Localization"
We can't be English/America-only. Let's get this DApp global!

Overall plan is:

Step 1: Choose localization library. Default choice for React would seem to be: [react-localization](https://github.com/stefalda/react-localization)

Step 2: Break apart current english strings and replace with appropriate l10n calls.

Step 3: Get translations for different languages.

If you have an opinion on 1, or

[2018-01-10 01:33] wanderingstan opened #64 "Add paging to URLs / Router"
Back button behavior is broken on `listings-grid.js` (homepage) because we don't change the URL.

We need to use react-router `Route` and `Link` to do it right. I think the right way is:
`/` = homepage
`/page/1` = page 1
`/page/2` = page 2
etc...
Where the page corresponds with `activePage` from `Pagination` component.

[2018-01-10 01:34] #54 closed

[2018-01-10 01:38] wanderingstan opened #65 "Setup Ropsten testnet server"
Would love to see Demo DApp in Toshi Dev mobile ethereum browser, which uses the Ropstpen test network.

Installation instructions for Toshi Dev:
https://developers.toshi.org/docs/android
https://developers.toshi.org/docs/ios

@ryana is on this.

[2018-01-10 01:48] wanderingstan opened #66 "Cache IPFS results"
We're making multiple calls to the server that probably could be cached locally.

This looks like a good option:
https://www.npmjs.com/package/object-cache

Here, IPFS devs are recommending such a solution:
https://github.com/ipfs/js-ipfs-api/issues/511

This could be browser-native package, but it seems to be too tightly connected to the actual web request, that it wouldn't work with ipfs-js:
htt

[2018-01-10 01:51] wanderingstan opened #67 "Create maintenance page for Dapp"
To show when the dapp is down. Needs to be plain html/css. (No React)

[2018-01-10 04:51] owocki commented on #67
hi from https://gitcoin.co 👋

@joshfraser @andrewhyde is this a good github issue to place a bounty upon?  gitcoin is a platform for crowdsourcing tasks from your community (and the gitcoin community).  i'd love to help you push your project forward.. ideal issue is something that's important, low overhead to manage, but can't quite make it onto the frontburner..

you bring the work needed and i c

[2018-01-10 13:17] DanielVF commented on #66
One additional speed consideration is that we are parsing the listing JSON again every time we render a react listing-card or listing-detail. That might be best done once.

[2018-01-10 19:04] wanderingstan commented on #66
I did some timing, and it looks like the IPFS fetching is definitely the culprit. It takes ~3 seconds where every other step is a few milliseconds.

Full spreadsheet here:
https://docs.google.com/spreadsheets/d/1gi0oUXb3FazJVFTTnSrH2IY4OcMHGp1CrjK9w2X4800/edit?usp=sharing

[code]

[2018-01-10 19:43] wanderingstan commented on #66
I tried adding `map-cache` npm module and --wow!-- its fast now.  With a cache hit, we go from 2.567 seconds to 0.005 seconds.

The fix is in https://github.com/OriginProtocol/demo-dapp/tree/issue/66_cache_ipfs

Can you guys bang on it a bit and see if it broke things? Logic is pretty simple, so I'm too worried.

[2018-01-11 18:31] wanderingstan commented on #66
Merged de65f36adce92ddca4c2b5c7a251ec5f28455495 into Master.

[2018-01-11 18:31] #66 closed

[2018-01-11 23:27] wanderingstan commented on #58
For now, did a quick fix to the dapp to only allow data protocol urls:
https://github.com/OriginProtocol/demo-dapp/commit/ef00de82c90b7971d8ef06d4dacd67ff4a08846a
Its just a quick check at render time.

@joshfraser I suspect the "right" solution will be to not have only ipfs hashes in the schema for photos -- no urls or data.

[2018-01-11 23:48] wanderingstan commented on #39
Turns out this logic is simple enough to not need its own library/method.

[2018-01-11 23:48] #39 closed

[2018-01-12 01:49] wanderingstan commented on #58
Gonna call this one closed, as #59 is the real deal.

[2018-01-12 01:49] #58 closed

[2018-01-20 02:12] rvenugopal commented on #46
Please assign to me.  thx

[2018-01-22 02:01] garrisons commented on #24
So it seems like the way we would want to implement a solution is by making a PR for the `react-jsonschema-form` framework? Or is there an easier way to implement a solution that I'm missing?

[2018-01-22 02:14] joshfraser commented on #24
we should do some outreach to their team & see how receptive they would be

[2018-01-23 01:15] garrisons commented on #24
Yeah that seems like a no go. I missed the attached screenshot from first look. I have some ideas on how to make it work though.

![screen shot 2018-01-22 at 7 12 27 pm](https://user-images.githubusercontent.com/5100597/35252929-54d7e98a-ffa8-11e7-9acd-194c3e14cbd6.png)

[2018-01-23 02:52] garrisons commented on #67
How can we tell if the dapp is down? What loses connectivity I guess is my question?

[2018-01-23 03:27] garrisons commented on #53
One of the things that I'm seeing is that If I set the hour to 12 and change it from PM to AM the hour changes to 6. That kind of weirdness makes me think not css or ids?

[2018-01-23 04:54] wanderingstan commented on #53
Yeah it's really weird. I don't get what's different between our page and the demo page that would induce such erratic behavior.

In the worst case we need to do a regression test from our code to theirs to see what breaks it.

[2018-01-25 00:50] Kentoseth opened #69 "Add explicit license"
We don't have an explicit license for this repo.

Good idea to add one.

[2018-01-26 08:32] nikkwong commented on #53
@wanderingstan  https://github.com/mozilla-services/react-jsonschema-form/issues/622

Looks like this issue was fixed with commit ```6152e34``` as part of their ```v1.0``` release. Upgrading the lib should suffice.

[2018-01-26 08:37] nikkwong commented on #44
I'll take a stab at this.

[2018-01-26 15:18] tyleryasaka commented on #60
I am also experiencing this issue.

[2018-01-26 19:23] nikkwong commented on #44
@wanderingstan Are Aure's designs publicly available, so I can get a better idea of how these flows work together?

[2018-01-26 19:51] wanderingstan commented on #44
@nikkwong doesn't look like they are, and I can't publish them. FWIW, the link is here:
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5a361ba792b402caa8e2de28

BUT, I can just upload the image:
![demo app - create listing 3](https://user-images.githubusercontent.com/673455/35457832-7c74edf2-0297-11e8-9d50-369e9541817d.png)

The idea is that this would be a step in between entering th

[2018-01-26 20:41] wanderingstan commented on #44
@nikkwong Oh crap, just realized that image was already in this issue. I'll get Aure's entire flow to post here.

[2018-01-27 00:02] nikkwong commented on #44
@wanderingstan got it. Yeah, it starts getting a wee-bit hacky because you don't want to remove the ```pictures``` field from the json schemas as it breaks the contract between the json and the jsonschema-form component.

I think we should do a bit of refactoring to make the ListingCreate component more robust and able to handle future use cases. First, I think we should remove the submit handler

[2018-01-27 16:11] tyleryasaka commented on #60
Ok, this appears to be a node version issue.

Doesn't seem to compile on `v6.11.1` or `v7.0.0`, but does work on `v8.5.0`.

Using nvm, this should get it working:

[code]

Should probably document this somewhere. I think we can also specify the version in the `engines` field, both in this repo and in the react-web3 repo. I'll look into that.

[2018-01-27 17:41] wanderingstan commented on #60
Good catch @tyleryasaka , I've updated the readme.
https://github.com/OriginProtocol/demo-dapp/commit/8d5fde6819eb4569419ed151cc9ae6ce332c0379

The `engines` field seems to not really be enforced anywhere.

[2018-01-27 20:17] tyleryasaka commented on #60
@wanderingstan Great! Yeah I noticed the same issue with the engines field. Doesn't seem very useful.

[2018-01-31 16:22] wanderingstan commented on #65
Finished and working.

[2018-01-31 16:22] #65 closed

[2018-01-31 16:23] wanderingstan opened #72 "Handle scrolling correctly"
Right now when you move between "pages" of the DApp, your scrolling position is left the same even when it would make more sense to move to the top.

E.g. you scroll to bottom of grid page and then click on listing, you are then taken to the BOTTOM of the listing page. You would expect to be at the top.

[2018-01-31 16:24] wanderingstan commented on #41
Any update on this, @ryana , or should we call this closed?

[2018-01-31 16:25] wanderingstan commented on #7
Related: https://github.com/OriginProtocol/demo-dapp/issues/29

[2018-02-02 15:20] bretfunk commented on #25
I was able to get both ```Ownable``` and ```Migrations``` working locally but FYI the actual Migration.sol file says:
[code]
You can see it here:
https://github.com/OpenZeppelin/zeppelin-solidity/blob/master/contracts/lifecycle/Migrations.sol

However, the file migrates and runs correctly locally and in Remix so I am unsure what they mean by it.

With my solution users who already have the Dapp lo

[2018-02-02 16:55] bretfunk commented on #23
Does this placement work for the timestamp?  And what format would you like it in, just ```Feb 02, 2018```?

<img width="709" alt="screen shot 2018-02-02 at 11 52 19 am" src="https://user-images.githubusercontent.com/2019012/35745066-fc8149be-080f-11e8-9da1-d5e1ba3e61ca.png">

[2018-02-02 17:01] wanderingstan commented on #23
For date formate, lets go with default js locale formatting:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString

IIRC, adding this will mean a change to the contract code, which means it won't be compatible with the contract we've currently got on Ropsten and Rinkeby testnets.

This is good motivation for us to start thinking about our contract

[2018-02-02 17:05] wanderingstan commented on #25
Much like #23 , this involves changes to our contract code, so we need a separate branch for these kind of changes.

How about something like `topic/contract-dev`?

[2018-02-02 17:31] bretfunk commented on #25
We could have an 'interface' contract that calls other contracts.  I haven't tested this but it sounds interesting: https://blog.colony.io/writing-upgradeable-contracts-in-solidity-6743f0eecc88

Just to make sure I am clear, I will create a new branch off of demo-dapp called ```topic/contract-dev``` and will add my solutions to issues #23 and #25.  From there the branch would be merged to master a

[2018-02-02 18:48] bretfunk commented on #23
Correct, the contract will need to be changed.  I will follow your instructions from issue #23.

Below is the updated version.  It automatically defaults to the language of the browser.  I checked all of the Origin website languages and they all work.  The JS date formatting solution is pretty gross because it is a value inside of an object so I had to make it output correctly using only one line.

[2018-02-02 20:34] joshfraser opened #73 "Fallback for folks without a web3-enabled browser"
This could be as simple as instructions how to complete the transaction using MyEtherWallet.com.

Or a slick integration for popular hardware wallets like the ledger.

[2018-02-02 20:38] wanderingstan commented on #73
@Nick has his Dapp working without metamask using the new Web3:
https://originprotocol.slack.com/archives/C7XHKV6TG/p1517172702000099

Seems like a great way to do it.

[2018-02-02 20:41] joshfraser commented on #73
Oh that's awesome. Hadn't seen that!

[2018-02-02 21:01] wanderingstan commented on #44
Thanks Nikk! Again, sorry for the delay--this came in midst of a ton of pull requests and just as the website repo was needed a ton of attention. Feel free to ping me on slack too.

I feel a `goToNextStep()` abstraction could be premature optimization for such a small app, but go for it if you like.

Yes, this seems exactly the way to do it!

The schema json needs to best represent the data being

[2018-02-02 21:15] bretfunk commented on #33
When a create method is called in the contract, it returns the ```listing.length``` and calls the ```NewListing``` event.  Couldn't you use one of those to determine the id of a newly created listing?  Here is the code in the contract:
[code]
Thoughts?

[2018-02-02 21:23] wanderingstan commented on #33
A contract method that modifies state (non-constant) can't return a value. Even if there's a `return()` statement--confusing!

An event is good, but what happens when 10 listings were created in one block. How do you you know which event corresponds with the listing that you just created?

I'm not sure what the right way to solve this is, other than to monitor the events and look for the one that

[2018-02-02 21:38] bretfunk commented on #31
Does this look ok?

Created on <date>
by <address>

<img width="474" alt="screen shot 2018-02-02 at 4 37 52 pm" src="https://user-images.githubusercontent.com/2019012/35755987-7bb064fa-0837-11e8-994c-618884cc075c.png">

[2018-02-02 21:42] wanderingstan commented on #31
Looks great! I'm sure Aure will make some styling changes, but that's easy once the data is in there.

[2018-02-03 02:13] wanderingstan opened #77 "Determine how to run local app with contract on testnet"
It would be nice to run the local app, but using the Rinkeby or Ropsten test networks.

As coded now, the app always looks our contract at location specified by local truffle installation.

There is way to reference locations on other networks, and we should do that.

@ryana , seems like this is related to how we got things on Ropsten?

[2018-02-03 02:20] wanderingstan commented on #60
@tyleryasaka @micahalcorn  Are we in agreement that this is a node version issue, and I can close this issue?

[2018-02-03 02:21] wanderingstan commented on #35
These got updated a long time ago.

[2018-02-03 02:21] #35 closed

[2018-02-03 02:26] wanderingstan commented on #53
That's great news, thanks @nikkwong !

@ryana -- see any issues with doing a `npm update` on our demo machine?

[2018-02-03 02:34] wanderingstan commented on #53
Confirmed fix locally.
In commit 05fc8c0333285f908c00bc2c1aa98a754c26b6e2

[2018-02-03 02:34] #53 closed

[2018-02-03 02:38] wanderingstan commented on #33
Having thought on this more, I'm more leaning toward including the ipfs hash in the event. That's the most solid connection between the client creating the listing and when ends up on the chain.

Like this:

    NewListing(listings.length-1, _ipfsHash);

Thoughts?

[2018-02-03 02:39] wanderingstan commented on #46
Hey @rvenugopal are you still working on this?

[2018-02-03 02:46] wanderingstan opened #78 "Show warning when no listing type selected"
On create page

http://localhost:3000/create

If no listing type is selected, and user hits `Next`, nothing happens. We should show some message asking them to select a type.

Related to #46

[2018-02-03 02:51] wanderingstan commented on #72
Fixed in a005f6355f2fe656cf0bfc0779d120fb4142f3b4
Thanks @endlist !

[2018-02-03 02:51] #72 closed

[2018-02-03 02:54] bretfunk commented on #33
Roger. Agreed. Is the client doing anything with the id or are we just updating the contract?

________________________________
From: Stan James <notifications@github.com>
Sent: Friday, February 2, 2018 9:38:44 PM
To: OriginProtocol/demo-dapp
Cc: Bret Funk; Comment
Subject: Re: [OriginProtocol/demo-dapp] Get id of newly created listing (#33)

Having thought on this more, I'm more leaning toward in

[2018-02-03 02:57] wanderingstan commented on #33
More of a UI/UX issue I think. After creating a new listing, the first thing you're going to want to do is look at it. Right now the client can't be sure of the id of the new listing, so we just "take the easy way out" and return you to the page of *all* listings. :)

(I suppose this opens up anther possibility, of scanning the new listings and picking the newest one created by the user, but that

[2018-02-03 03:55] tyleryasaka commented on #60
@wanderingstan Yes I feel confident that's what it is. I think if @micahalcorn can confirm that this fixes the issue for him then this is good to close.

[2018-02-03 04:42] micahalcorn commented on #60
@wanderingstan Confirmed on `8.5.0` and `8.9.4`. Thanks @tyleryasaka!

[2018-02-03 04:42] #60 closed

[2018-02-04 19:29] ryana commented on #41
Yikes no. No update here. I will circle back this week.

[2018-02-06 05:20] rvenugopal commented on #46
@wanderingstan Sorry i got sidetracked into learning solidity.  Can you give me a couple more days to work on this?  Sorry for the delay.

[2018-02-07 23:51] bretfunk commented on #33
I have added the ipfs hash to the NewListing event on the topic/contract-dev branch.  I tried to create a test for it but discovered that you can't write tests for events yet?!  If this is incorrect please let me know.

[2018-02-08 16:26] wanderingstan opened #80 "Work without Metamask"
Would be great if DApp could work with e.g. myetherwallet. Obviously wouldn't be quite as smooth, but we should at least (1) make whatever changes are needed in code and (2) have instructions on how it can be done.

(Request of @joshfraser )

[2018-02-09 02:25] joshfraser opened #81 "Use a sticky footer"
Issue is particularly noticeable when you load the page and there are 0 listings & especially if you are on a larger monitor.

[2018-02-16 19:36] wanderingstan commented on #62
Note victor from Trust Browser notified that this is big problem in his browser.

[2018-02-16 19:38] wanderingstan opened #83 "Change recommended wallet based on browser"
If user is on mobile (e.g. mobile safari) it makes no sense to reccomend metamask. Instead we should reccomend "Trust Wallet" or "Toshi".

[2018-02-16 19:40] wanderingstan opened #84 "Detect wallet(provider) in use and change name/icon"
Detect which wallet user is using (Metamask or whatever) and change terminology in the dapp.

So instead of saying "Complete transaction in Metamask" it should say, "Complete transaction in Trust Wallet".

See  here for exact location of name in `web3` object: https://github.com/TrustWallet/trust-web3-provider#how-to-identify-trust-provider

cc: @vikmeup of Trust Browser

[2018-02-17 20:57] wanderingstan opened #85 "Don't block UI while waiting for transaction confirmation"
Sid from Toshi giave good talk at ETH Denver, and pointed out common UX mistake in Dapps of freezing UI while waiting for blockchain transactions. We're guilty of that.

I propose that, after a transaction is confirmed by the wallet (el.g. metamask), we put a status area at top of page showing progress of transaction. The user would then be free to navigate around the rest of the site.

[2018-02-18 18:33] rvenugopal commented on #46
@wanderingstan Please re-assign this issue.  I don't have time to work on this right now.

[2018-02-18 18:35] wanderingstan commented on #46
No worries, @rvenugopal !

[2018-02-19 00:34] micahalcorn commented on #46
@wanderingstan as it turns out, "alertify" could mean a few different things.

1) [The original library](https://github.com/fabien-d/alertify.js) is no longer maintained. This is the one that [is currently being used in the company-website](https://github.com/OriginProtocol/company-website/commit/1c10ad36025dcb2c4a0705945dffeb5da8879092). It is available as a [`node_module`](https://www.npmjs.com/

[2018-02-19 16:35] ryana commented on #46
My vote is for the no longer maintained one. It's been working fine for me in several projects.

[2018-02-19 17:00] wanderingstan commented on #46
I'm fine with using the old one too.

Sure, we may need something fancier in the future, but no need to over-complicate until we have better sense of what we  need.

[2018-02-22 08:10] matthewliu opened #949 "Data verification for JSON schema listings"

[2018-02-25 21:47] bobio7 opened #93 "Create Listing error: Uncaught Error: no schema with key or ref"
When I select any category and create listing. Chrome console returns below error::
`Uncaught Error: no schema with key or ref "http://json-schema.org/draft-04/schema#"
    at Ajv.validate (ajv.js:95)
    at Ajv.validateSchema (ajv.js:183)
    at Ajv._addSchema (ajv.js:317)
    at Ajv.validate (ajv.js:97)
    at validateFormData (validate.js:196)
    at Form.validate (Form.js:166)
    at Form.js:8

[2018-02-25 22:24] tyleryasaka commented on #93
@bobio7 I am not able to reproduce this issue. Would you mind sharing your node version? And I assume no changes have been made to your local `package-lock.json`?

[2018-02-27 03:56] nsimon commented on #93
Hey @bobio7, @tyleryasaka I think I fixed this. See my PR: https://github.com/OriginProtocol/demo-dapp/pull/88

[2018-02-27 04:12] tyleryasaka commented on #93
Yep! I was going down that same route. Beat me to it!

[2018-02-27 04:29] nsimon commented on #93
Well... my first change, to update **draft-04** to **draft-06** really helped. It resulted in a more informative error message that led me to the fix.

[2018-03-02 16:07] #19 closed

[2018-03-02 22:32] #40 closed

[2018-03-03 04:16] #81 closed

[2018-03-03 05:42] wanderingstan commented on #25
This is WAY late. Almost have this merged but am hitting a problem with `npm install`.

Progress is in branch `pr/75` at https://github.com/OriginProtocol/demo-dapp/tree/pr/75

I'll keep working on it tomorrow.

[2018-03-05 15:29] bretfunk commented on #25
@wanderingstan did you figure this out?  It's been a bit but the only module I remember adding was Moment.js to make modifying dates easier but I did it the hard way and uninstalled the module in a further push.

Can you tell me the error?

[2018-03-06 00:05] wanderingstan commented on #25
@bretfunk Didn't get time today, but am thinking the best path might just be to copy over the relevant bits.

I hadn't noticed before how much testing coverage you put in there. Nice.

[2018-03-13 20:40] wanderingstan opened #98 "Switch to standard alertify npm module"
@micahalcorn had to patch the old alertify to work with our webpack, which necessitated us creating our own fork of the library. See commit https://github.com/OriginProtocol/demo-dapp/commit/b3dd1babcac01e1c6f7ecca039bb0fd40b510dba

I'd vote that we just pick one of the standard supported npm packages and run with it rather than have the messiness of maintaining our own fork.

@ryana @joshfraser a

[2018-03-13 21:13] micahalcorn commented on #98
I would agree. It's worth noting that there was at least some desire for uniformity between the DApp and company website (see #46). I'm happy to update both to a newer version and/or tweak the styles in an effort to offer the same UX, if necessary.

[2018-03-13 21:20] joshfraser commented on #98
We should have a longer conversation around dependencies on the engineering call tomorrow, but we should try and keep this app really simple with as few third-party dependencies as possible.

It feels a bit silly to have to maintain a whole separate package around this when we can replicate this functionality ourselves with a few lines of CSS and JS. It feels like we're probably making this way to

[2018-03-14 06:02] ldub commented on #69
+1 Could you please add a license?

[2018-03-15 14:50] wanderingstan commented on #93
Thank you @nsimon for reminding me this is fixed!

[2018-03-15 14:50] #93 closed

[2018-03-18 20:42] micahalcorn opened #99 "Web3 Account Flickering"
In my experience (on probably a slower machine), I see a split second of "You are not signed in to MetaMask." when I first load the DApp _while already signed in to MetaMask_.

![dapp-web3-flicker](https://user-images.githubusercontent.com/273937/37570724-6ae87f66-2ac1-11e8-8f4c-3738dde1ccaf.gif)

I believe this is attributable to `react-web3` relying on the synchronous [`web3.eth.accounts`](https

[2018-03-19 22:02] wanderingstan commented on #69
@joshfraser I assume we're going MIT on this as well?

[2018-03-19 22:11] joshfraser commented on #69
Yep

[2018-03-19 22:52] #99 closed

[2018-03-19 22:57] wanderingstan commented on #69
Done in https://github.com/OriginProtocol/demo-dapp/commit/8c47a6f5247523d917e45cad4e964f4ff61d7c45

[2018-03-19 22:57] #69 closed

[2018-03-21 05:42] dagumak commented on #73
@wanderingstan Link seems broken, do you still have the website? I would love to see how it works.

[2018-04-11 16:53] wanderingstan opened #105 "Developer onboarding: One line setup"
The steps to get started with _demo-dapp_ are currently long and tedious. ([A similar issue is open for _origin.js_](https://github.com/OriginProtocol/platform/issues/89))

See current instructions here: https://github.com/OriginProtocol/demo-dapp#install-and-run-demo-dapp-locally

We need a friendlier intro for new contributors, and a system that is less error-prone.

- Drop `truffle develop` and

[2018-04-11 18:19] wanderingstan opened #1902 "Return custom objects instead of raw web3 transactions from API"
EDIT: After discussion, we changed desired approach and title was updated. Old title was "Move `waitTransactionFinished` to `origin` object"

It's a common pattern to create and then wait for transaction. For example, this example from our docs:
[code]

~~However, we should strive to hide `contractService` from developers, so I'd suggest moving `waitTransactionFinished()` directly to the `origin`

[2018-04-11 19:36] b33son opened #106 "Demo App on Develop branch"
Hey!

Had a few issues with the demo app after cloning the develop branch.

1. Running truffle develop on a fresh clone will produce an error that the config is missing. Solution was to run truffle init on an empty directory and copy the files into the demo app project folder.

2. Running the demo app throws:

Uncaught TypeError: _origin2.default is not a constructor
    at Object.<anonymous> (ori

[2018-04-11 19:55] nick commented on #105
Personally I'm a fan of removing truffle altogether, upgrading to web3 1.0 and having MetaMask as opt-in rather than required.

- Less dependencies
- Support for Safari, IE, Mobile and React Native
- Instant test results
- Easier developer on-boarding
- Future proof

[2018-04-12 01:39] wanderingstan commented on #105
**Truffle**
Are there any positives on truffle? It apparently has some features around handling migrations of contract updates, but I've never used them.

Everything else we use it for can be handled by `solc` and `ganache-cli`?

**Metamask**
It would definitely be amazing if Metamask (or other web3 provider) was not a requirement. @nick , are you suggesting we have logic that looks for a `web3` o

[2018-04-12 02:30] nick commented on #105
Truffle has come wrappers around contract objects to make them 'easier' to use, but since that's essentially what origin.js is also doing I think skipping a dependency could be beneficial. It also means no more waiting for truffle to update if there are new solidity features we want to use.

I think https://idex.market has a good UI for wallet management, whereby MetaMask is available as an option

[2018-04-12 16:08] wanderingstan commented on #105
I think we should move the "remove truffle" discussion to it's own issue, as it's a big change and beyond the scope of this issue.

Switching to `ganache-cli` (from `truffle develop`) is required for having a clean one-line-setup, so I think that's a no-brainer.

[2018-04-12 16:10] wanderingstan commented on #98
@micahalcorn What did we end up implementing on this, and can I close this one out? :)

[2018-04-12 16:12] wanderingstan commented on #85
@micahalcorn - In your designs around Identity, has this issue been addressed already?

Short version: It can take up to a few minutes (in worst case) for transactions to be approved, so we should let people continue using the site while we wait.

E.g. tdameritrade.com has a cool thing where they just add a sticky footer to the page with progress of your trade until it gets made.

[2018-04-12 16:14] micahalcorn commented on #98
@wanderingstan nothing yet. I have a partially-baked replacement, but I've had it on the back burner while focusing on the UI. And it would really be best to have Matt & Aure settle on the alert/message/notification UX distinction before merging a solution to this issue.

[2018-04-12 16:16] wanderingstan commented on #105
For discussion around working with Truffle, this issue is the right place: https://github.com/OriginProtocol/demo-dapp/issues/80

[2018-04-12 16:19] wanderingstan commented on #77
We figured out how this is done: Truffle automatically adds the address of the contracts on other networks in the contract's ABI file (`MyContract.json`).

However, this file is auto-generated and not under source control, so it's not clear how to include the addresses of our contracts on testnets in a standard user installation.

[2018-04-12 16:19] #77 closed

[2018-04-12 16:20] wanderingstan commented on #80
Duplicate of: https://github.com/OriginProtocol/demo-dapp/issues/80

Closing.

[2018-04-12 16:20] #80 closed

[2018-04-12 16:48] wanderingstan commented on #85
@matthewliu - Looping you on this.

[2018-04-12 19:08] jsulinski commented on #105
@wanderingstan #80 is working without metamask. Perhaps create a new issue for removing truffle and keep this one for improving the onboarding flow?

For what it's worth, I came to the same conclusions regarding moving away from Truffle.

To add to @nick's list:

* Issues with builds require deleting the ./builds directory [1] [2]
* lacks full support for events involving more than one contract [3

[2018-04-12 21:16] wanderingstan commented on #105
Thanks @jsulinski ! (Fixed the wrong description around #80 )

I've create an issue on _platform_ for discussion around removing truffle:
https://github.com/OriginProtocol/platform/issues/94

[2018-04-14 03:03] jsulinski commented on #106
You might need to install origin.js.

https://github.com/OriginProtocol/platform/tree/develop/packages/origin.js#local

[2018-04-14 23:59] #25 closed

[2018-04-15 00:01] wanderingstan commented on #29
@micahalcorn Did you fix this in when you exorcized `react-web3`?
Or maybe @tyleryasaka , in your update to how we do web3 in platform?

[2018-04-15 00:02] wanderingstan commented on #31
I'm going to close this, as I think it may already be there, and will be covered when we fully do identity in any case.

[2018-04-15 00:02] #31 closed

[2018-04-15 00:04] micahalcorn commented on #29
@wanderingstan no, I believe that @aiham was working on this.

[2018-04-15 00:37] wanderingstan commented on #18
@phyninja you interested? :)

[2018-04-15 00:43] wanderingstan commented on #46
@micahalcorn You've fixed this ages ago, right? I'm going to close it--shout if it should be re-opened.

[2018-04-15 00:43] #46 closed

[2018-04-15 00:43] wanderingstan commented on #34
Completed in https://github.com/OriginProtocol/demo-dapp/commit/16e3b967aa799a6d5869d9db28953b54fccf7059

[2018-04-15 00:43] #34 closed

[2018-04-15 01:00] wanderingstan commented on #64
@tyleryasaka did this ages ago. Closing.

[2018-04-15 01:00] #64 closed

[2018-04-15 01:00] wanderingstan commented on #55
Hasn't been an issue in months, so closing.

[2018-04-15 01:00] #55 closed

[2018-04-15 01:02] wanderingstan commented on #33
Given that we totally changed how Listings are referenced (now they exist as own contract) I'm closing this one out,.

[2018-04-15 01:02] #33 closed

[2018-04-15 06:51] nsimon commented on #105
I've been experimenting with some bash one-liner scripting for demo-dapp. It seems like this could (should?) be 2 separate scripts -- an **installer** and a **startup**. As an example, here's a **startup** gist I've been playing with.
https://gist.github.com/nsimon/78d2e33abb9ca0dbdf215d64c27e2c82

[2018-04-15 14:06] wanderingstan commented on #105
I'm realizing the issue should be worded more concretely:

**Primary Goal: User can have dapp up and running with one line (after cloning).**
[code]
- Should work from default branch shown to user on https://github.com/OriginProtocol/demo-dapp
- Should launch a browser running the dapp, using latest origin.js from npm
- Should function on Rinkeby and Ropsten testnets.

**Use demo-dapp with local c

[2018-04-15 17:03] matthewliu commented on #85
I’m on it.

On Sat, Apr 14, 2018 at 5:46 PM Stan James <notifications@github.com> wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol.com>

[2018-04-15 20:34] tyleryasaka commented on #105
1. Use demo-dapp with local chain?

I think if someone is just working on the demo dapp, then yes we should make it easy to just use a test net rather than having to run a local blockchain.

2. Developing with Platform repo

I also thought about creating a `develop` repo or something of the like. I think this will cause more harm than good. Would be too many repositories, too confusing. We also wa

[2018-04-16 15:11] wanderingstan opened #107 "Easy deploy to Heroku"
It should be drop-dead simple to deploy an instance of Origin demo-dapp to Heroku.

Heroku-Github integration instructions here: https://devcenter.heroku.com/articles/github-integration

The thorny part of this feature is that it requires that the published [npm version of origin.js](https://www.npmjs.com/package/@originprotocol/origin) be working and compatible with the version of demo-dapp. (Her

[2018-04-17 01:27] ambertch commented on #36
Would Origin emphasize cryptocurrency or real world currency more to customers at launch? The emphasized currency might be displayed in a more pronounced way, IE:

<img width="382" alt="screenshot 2018-04-16 18 24 25" src="https://user-images.githubusercontent.com/156263/38843395-aec37d00-41a3-11e8-9139-12111d98233e.png">

vs.

<img width="378" alt="screenshot 2018-04-16 18 24 51" src="https://use

[2018-04-17 01:41] joshfraser commented on #36
Great question. Showing prices in fiat seems way more friendly to me. A few things we need to keep in mind though:

1. Our community is global, so we need to support a lot more fiat currencies than just USD
2. We'll need to find free and reliable API's for doing the ETH/Fiat conversion (with a fallback plan if that data is not available for any reason)
3. Users should be able to set their preferre

[2018-04-17 01:43] ambertch commented on #62
It doesn't look like Trust Browser can connect to a local instance, although it looks like this was added at the beginning of March (this issue is from January):

<img width="389" alt="screenshot 2018-04-16 18 35 55" src="https://user-images.githubusercontent.com/156263/38843916-0f0d9004-41a6-11e8-946f-753d0c6e684e.png">

<img width="825" alt="screenshot 2018-04-16 18 42 03" src="https://user-imag

[2018-04-17 12:49] DanielVF commented on #36
Ideally we'd use an on chain oracle to pull the exchange rates. It gives the user more privacy, since they aren't sending requests to a random API owned by someone else.

One example of such an onchain oracle is this one, from the Dai Stablecoin, that averages 13 other ETH/USD oracles

https://makerdao.com/feeds/#0x729d19f657bd0614b4985cf1d82531c67569197b

[2018-04-17 15:48] joshfraser commented on #36
Agree in principle, although not sure how performant that is going to be.

I could see this ending up as yet another function of your trusted bridge server.

[2018-04-17 15:52] joshfraser commented on #107
Have the Heroku buttons working on the company-website repo already:

https://github.com/OriginProtocol/company-website

Wish there was a nicer way to detect which brach you are currently on in the Github UI versus showing separate buttons for `develop` and `master`. Sounds like a lot of people want that functionality, but Github don't seem in a rush to implement it:

https://github.com/github/mar

[2018-04-17 16:37] matthewliu commented on #36
Agree with Josh. For now bridge server seems like the easiest solution.

On Tue, Apr 17, 2018 at 8:48 AM Josh Fraser <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol.com>

[2018-04-17 17:00] DanielVF commented on #36
It should be very performant - we just check the value once every fifteen minutes or so, and store it locally with an expiration time. It doesn't have to happen on every page load.

[2018-04-17 17:01] DanielVF commented on #36
I do agree however that this may want to go into the bridge server, since that way if an oracle goes haywire, existing daps aren't stuck with it.

[2018-04-17 17:17] joshfraser commented on #36
I was imagining far more real-time updates given how volatile crypto can be. Let's plan on 1 minute caching at most.

[2018-04-17 17:17] matthewliu commented on #36
+1

On Tue, Apr 17, 2018 at 10:17 AM, Josh Fraser <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol.com>

[2018-04-17 17:36] wanderingstan commented on #36
While it would be great to role our own, currency conversion is outside our scope.

There are numerous projects doing this, and Origin Dapp creators are free to use any API/service that they like. Demo-dapp is, after all, just an example.

According to [this commit](https://github.com/MetaMask/metamask-extension/pull/520), Metamask is using the [Cryptonator API](https://www.cryptonator.com/api). T

[2018-04-17 19:55] ambertch commented on #36
Should users be able to specify prices in either ETH or USD/etc? Having that feature would allow a user to peg their listing (otherwise, if a user had a listing on both Craigslist and Origin for instance, they'd have to adjust the Origin listing to track exchange rates)

[2018-04-17 20:28] wanderingstan commented on #37
(Responding to PM)

The `address` field of a listing is almost certainly going to be derived from the [`PostalAddress`](http://schema.org/PostalAddress) standard or [GeoCoordinates](http://schema.org/GeoCoordinates).

`GeoCoordinates` looks like the simpler one to start with.

At this early stage I don't think we're so concerned with quality of the data or whatnot. It will take us some time just t

[2018-04-17 20:41] wanderingstan commented on #36
@ambertch - For now the listing price will remain constant (in ETH) and we'll just worry about displaying it also in the user's desired currency.

Giving the seller the option to price a listing in fiat (and have the eth/crypto price dynamically updated) is very cool and something we've discussed, but is not in scope for v1.

[2018-04-17 20:49] wanderingstan commented on #107
Awesome! Such a cool feature.

I proposed a few edits to the readme after trying out the deploy:
https://github.com/OriginProtocol/company-website/pull/165

[2018-04-17 22:03] ambertch commented on #62
Sorry, by local instance I mean that there doesn't seem to be a way to point Trust Browser's wallet to the truffle development instance, although I hadn't realized at the time that I could access my local dev instance of the demo app using Trust Browser connected to Rinkby.

![img_1083](https://user-images.githubusercontent.com/156263/38900154-48d2b0e0-424f-11e8-97f5-b846427422e1.PNG)

For clarifi

[2018-04-17 23:49] ambertch commented on #83
@wanderingstan

- Is there a recommended browser for Android?
- Here's my stab at the copy/UI for when accessing via iOS:

<img width="404" alt="screenshot 2018-04-17 16 47 14" src="https://user-images.githubusercontent.com/156263/38904450-3ff72a04-425f-11e8-97e6-79a91983a6f9.png">

[2018-04-17 23:50] ambertch commented on #83
er maybe the list of browser apps should be on one line:

<img width="389" alt="screenshot 2018-04-17 16 49 51" src="https://user-images.githubusercontent.com/156263/38904471-639bfb88-425f-11e8-9eb6-97604580faa8.png">

[2018-04-18 00:09] wanderingstan commented on #83
Now this is also [Cipher](https://www.cipherbrowser.com/), which funny enough was just acquired by [Coinbase](https://www.coindesk.com/coinbase-acquires-ethereum-wallet-startup-cipher-browser/), who also own Toshi.

Maybe we just go with something like:
[code]
?

I don't have a strong opinion on this. There will certainly be more browsers popping up in the future!

[2018-04-18 02:52] ambertch commented on #37
Some research...

OpenStreetMap has an API, but it is for platform related calls, rather than address/map queries it seems (https://wiki.openstreetmap.org/wiki/API_v0.6).

One way to do this:

1. obtain address from user
2. look up geo coordinates (lat/long)
3. store coordinates
4. display map

With the address, this is currently a string field in the form to create a listing. Using the http://sch

[2018-04-18 02:53] ambertch commented on #37
Here is an example of what the UI might look like, displaying the map below main listing information, above ancillary information. This example uses OpenStreetMap, so there is no annotation for the specific location (520 20th St, Oakland, CA 94612):

<img width="876" alt="screenshot 2018-04-17 19 05 10" src="https://user-images.githubusercontent.com/156263/38909318-037b4e88-4279-11e8-9599-20a2dbc0

[2018-04-18 03:48] ambertch commented on #83
So, something like:
![screenshot 2018-04-17 20 46 35](https://user-images.githubusercontent.com/156263/38910877-8c56e148-4280-11e8-9f9b-617daa6ac571.png)

I would also vote for changing the desktop popup to softer wording, from:
![screenshot 2018-04-17 20 46 58](https://user-images.githubusercontent.com/156263/38910895-a1c79554-4280-11e8-9b54-c52ed2ec1c38.png)
to something like
![screenshot 2018-0

[2018-04-18 03:52] joshfraser commented on #83
I like it. Send us a pull request @ambertch :)

[2018-04-18 05:38] matthewliu commented on #83
Get to it Ambert! Thanks.

On Tue, Apr 17, 2018 at 8:52 PM Josh Fraser <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol.com>

[2018-04-18 06:10] ambertch commented on #37
If using the Google Maps API, geocoding + map display can be done in-browser https://developers.google.com/maps/documentation/javascript/geocoding

[2018-04-18 06:40] ambertch commented on #37
With Geocoding using OpenStreetMap, the site actually runs on a service called Nominatim (https://nominatim.openstreetmap.org/), which is open source (https://github.com/openstreetmap/Nominatim)

I tried issuing a POST request to nominatim.openstreetmap.org/search.php to see if geocoding could be done programmatically, but the service returns HTML with a list of results. Since the server itself is

[2018-04-18 14:13] wanderingstan commented on #38
This is perhaps an issue unto itself. Currently we return ipfs+contract data merged together in one json ([docs](http://docs.originprotocol.com/#getbyindex))

For the purposes of this issue, we should just display any fields that are not handled by the GUI.

Aure (our designer) will surely have more to say about it, but for now just dumping them onto the display is a good first step. We'll sometim

[2018-04-18 18:06] matthewliu opened #113 "Move identity profile endpoints from RPC to new REST format"
On the bridge server we are switching from apilib to Restful. This means we need to update the identity calls in the UI.

[2018-04-18 18:15] wanderingstan commented on #106
Apologies for this. With our new one-line setup, this issue should not come up again.

@b33son can you try again?

[2018-04-18 18:19] matthewliu opened #114 "Wire up origin.js transaction stages to demo DApp"
This includes anything that is on the listings, purchases, and transactions pages in UI

- [x] My Listings
- [x] Listing Purchases
- [x] Close Listing
- [x] My Purchases
- [x] Purchase Details
- [x] Mark Fulfilled
- [x] Mark Received
- [x] Collect Funds
- [x] My Sales

[2018-04-18 18:24] wanderingstan commented on #7
Related: https://github.com/OriginProtocol/demo-dapp/issues/29

[2018-04-18 19:39] DanielVF commented on #114
Yes, this has been my plan my upcoming week. PLENTY of work here.

[2018-04-18 20:01] ambertch opened #115 "Store IPFS and contract data separately"
Currently, IPFS and contract data are merged and stored into the listing-detail component state. The data should be stored separately in order to enable features such as showing all fields from the schema that are populated

[2018-04-18 20:01] ambertch commented on #115
Linked to #38

[2018-04-18 20:01] ambertch commented on #38
Linked to #115

[2018-04-18 20:08] DanielVF commented on #16
So we do have to send a recommended amount of gas along with the transaction request to the user. Given our gas use tracker, we should be able to pick values that are pretty close to the real costs - and since these gas totals will be in origin.js, our tests will be checking that the estimated amounts actually work.

[2018-04-18 20:10] wanderingstan commented on #78
I think this is already fixed. WIll confirm.

[2018-04-18 20:16] wanderingstan opened #116 "Push new version (with identity) to demo.originprotocol.com"
Related to #135

[2018-04-18 21:07] b33son commented on #106
Yes, will try again today. Thank you!

[2018-04-18 21:45] micahalcorn commented on #115
@wanderingstan isn't the intention here that the DApp developer will eventually make no distinction between contract data and IPFS data?

[2018-04-19 02:36] DanielVF commented on #115
@micahalcorn - correct, the DAPP developer will eventually be getting a single, unified set of data about a contract, some of which comes from IPFS, and some of which comes from the contract.

In the dapp this probably shouldn't be set right onto the top level state of the component, since something could get overwritten this way, but that's a change we can make when switching over the components

[2018-04-19 02:36] #115 closed

[2018-04-19 17:10] inkredabull commented on #36
Making progress.

* [network call via cc](https://github.com/OriginProtocol/demo-dapp/blob/33e2488ebd599c7e8a11c282ddf97d0a460b23e0/src/components/listing-card.js#L41-L49)
* [test](https://github.com/OriginProtocol/demo-dapp/blob/33e2488ebd599c7e8a11c282ddf97d0a460b23e0/src/components/__tests__/listing-card_test.js)

Limiting factor in my implementation is currently with nock; see [commit msg](htt

[2018-04-19 18:35] allisonphillips commented on #106
Yay! Was going to comment that this appeared to be caused by the origin.js file in the DApp attempting to call a regular object exported by an index file in origin-js as a constructor, but this is now fixed with your push like 20 minutes ago :)

[2018-04-19 19:35] inkredabull commented on #36
RFC : https://github.com/OriginProtocol/demo-dapp/pull/118

[2018-04-19 20:38] wanderingstan commented on #106
Thanks for the verification @allisonphillips ! Just did a ton of shuffling of versions and names, but I _think_ we're in a good spot now.

Complete list of changes for this release: https://github.com/OriginProtocol/origin-js/issues/101

[2018-04-23 18:37] tyleryasaka commented on #105
@micahalcorn Yes this is done 😃

[2018-04-24 21:01] micahalcorn commented on #7
I believe this will happen as a byproduct of @nick's identity integration this week.

[2018-04-24 21:02] micahalcorn commented on #29
I believe this will happen as a byproduct of @nick's identity integration this week.

[2018-04-25 18:12] micahalcorn opened #126 "Merge PRs that were previously blocked"
Several PRs cannot be merged because there are blocking issues. Don't forget to merge this in the near future.

-  ~#119 is blocked~ 🐘
-  ~#36 may be blocked~ 🐘

[2018-04-25 19:31] micahalcorn opened #127 "Add redux and merge identity code"
This is underway on branch [`redux`](https://github.com/OriginProtocol/demo-dapp/tree/redux). On a PR is open, I will manually merge in any additional commits that happened prior to Nick's branching.

[2018-04-26 21:58] micahalcorn opened #128 "Change sequence for web3 detection and origin-js instantiation"
In conjunction with [`origin-js` PR #128](https://github.com/OriginProtocol/origin-js/pull/128), we need to do the following:

- [ ] Explicitly pass `web3` into origin-js
- [ ] Add `web3` to the redux store
- [ ] Accommodate PR #119

I'll defer to @nick on this because he is working on providing `web3` so that we no longer rely on MetaMask's version. Let me know if I can help. See also [`origin-js

[2018-04-27 00:04] inkredabull commented on #36
https://github.com/OriginProtocol/demo-dapp/pull/118

[2018-04-27 00:04] inkredabull commented on #126
https://github.com/OriginProtocol/demo-dapp/pull/118

[2018-04-27 19:19] DanielVF commented on #16
This is taken care of for the time being in https://github.com/OriginProtocol/origin-js/pull/118

[2018-04-27 19:19] #16 closed

[2018-04-30 23:36] inkredabull opened #132 "form-data missing in package.json"
Against the latest `develop`, when trying to run via `npm run start`, I get:
[code]
(PR forthcoming)

[2018-04-30 23:53] inkredabull commented on #132
https://github.com/OriginProtocol/demo-dapp/pull/133

[2018-05-01 00:02] micahalcorn commented on #132
@inkredabull Is this just a matter of the current `develop` branch not playing well with the currently-published npm package? I think that lib is [required by origin-js](https://github.com/OriginProtocol/origin-js/blob/develop/src/ipfs-service.js#L7) only and maybe should not be installed in this app.

[2018-05-01 00:25] micahalcorn commented on #132
@inkredabull it does look like the package might be missing from origin-js's `'package.json`. I guess it's possible that we all already have it in our `package-lock`s, so we're not seeing the error?

[2018-05-01 01:12] ambertch commented on #38
This is blocked by https://github.com/OriginProtocol/origin-js/issues/139

[2018-05-01 02:30] DanielVF commented on #132
These instructions work for me, with no errors.

    #Terminal A
    mkdir -p origin
    cd origin
    git clone https://github.com/OriginProtocol/origin-js.git
    cd origin-js
    git checkout develop
    npm install
    npm link
    npm start

    #Terminal B (start in the origin directory you just made)
    git clone https://github.com/OriginProtocol/demo-dapp.git
    cd demo-dapp
    git chec

[2018-05-01 02:38] DanielVF commented on #132
It's possible thought that my computer is special case, and this working only here.

[2018-05-01 14:47] dobbs commented on #132
I had the same symptoms yesterday.  I can confirm that the work-around @DanielVF described also works for me.

[2018-05-01 15:25] dobbs commented on #132
@inkredabull, in case this helps you with the PR:

My original installation of `demo-dapp` does point to the correct version of `origin-js`:

1. Revision in `develop` I have checked out:
[code]

2. Has the dependency on `origin-js` declared like this:
[code]

3. The installed version reports being from SHA `44390dd`:
[code]

4. The version of `origin-js` I have checked out from the earlier test ma

[2018-05-01 17:03] inkredabull commented on #132
Thanks @micahalcorn @DanielVF @dobbs. I noticed that after pulling `develop` for this repo and running `npm install` that package.json and package-lock.json are updated; I would expect them to not need to be.  I'll run the suggestion from @DanielVF to see if that clears things up.

[2018-05-01 17:19] inkredabull commented on #132
Suggestion from @DanielVF works for build/running; no getting form-data issue. Will close this Issue/PR.

@DanielVF should the [dev instructions](https://github.com/OriginProtocol/demo-dapp#developing-with-a-local-chain) be updated with your suggestion as the canonical way?

[2018-05-01 17:19] #132 closed

[2018-05-01 17:35] inkredabull commented on #132
Just noticed that `package.json` and `package-lock.json` are modified after I run the commands in [Terminal B](https://github.com/OriginProtocol/demo-dapp/issues/132#issuecomment-385584556)

[2018-05-01 17:50] inkredabull commented on #132
Verifying that after I run `npm link origin` in Terminal B I get updates in the package files:

[code]

Upgraded npm. FWIW:
[code]

[2018-05-01 17:51] inkredabull commented on #132
I guess that (mods in pkg files) is expected behavior; just makes it less intuitive to develop around.

[2018-05-01 17:55] inkredabull commented on #132
Seeing LISTING_FETCH_IDS_SUCCESS in the console; realizing that empty listings have to do with Redux parsing. Investigating.

[2018-05-02 15:22] #114 closed, assigned to DanielVF, micahalcorn

[2018-05-02 18:02] #113 closed

[2018-05-02 21:49] micahalcorn opened #135 "Move hosted demo DApp from Amazon to Heroku"
In conjunction with [release 0.6.0](https://github.com/OriginProtocol/origin-js/issues/147)...

- [x] Change DNS to point to new host ⌨️
- [x] Deploy 💪
- [x] Promote 🚀

[2018-05-02 22:54] micahalcorn opened #136 "Public user profile"
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5ad4d4a2b70c411e41c2c986

[2018-05-02 23:24] micahalcorn opened #137 "Wire up reviews components"
Once https://github.com/OriginProtocol/origin-js/issues/149 is completed, discard the existing sample data and connect the reviews functionality to origin-js.

[2018-05-02 23:50] tyleryasaka opened #138 "Define schemas in origin-js"
@crazybuster Mentioned a good point. Currently we have some schemas defined in `public/schemas`. These should actually be located in `origin-js` so that other dapps have access to them and so that `origin-js` can reference the same schemas for validation.

Because `origin-js` is a dependency, we can still reference them from `origin-js`.

[2018-05-03 00:41] micahalcorn opened #139 "Handle non-matching routes"
We currently render nothing on URL that fails to match a route (like a conventional 404). Add a friendly UI to improve this experience, similar to https://www.originprotocol.com/missing.

[2018-05-03 19:15] wanderingstan opened #141 "`npm test` throws error for missing dotenv"
Even though we don't have any tests right now, we should handle this more gracefully.

[code]

[2018-05-03 19:38] micahalcorn opened #142 "User message dialogue"
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5aeb5b35c9015641bc3cba4e

[2018-05-03 19:39] micahalcorn opened #143 "Connectivity status indicator"
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5ad4d49e1f6e994b2aaecc62

[2018-05-04 22:12] inkredabull commented on #36
Sorry for the hold-up on this; I've attempted to hold myself to a TDD standard but given [an infra issue](https://github.com/OriginProtocol/demo-dapp/pull/130#issuecomment-386159756) this still is not ready.

I'm going to be fairly preoccupied next week (between work and Google I/O) so I'll look to do a PR with just the code change (and commented-out test) latest in two weeks.

[2018-05-06 05:33] nick commented on #7
Done in #140

[2018-05-06 05:33] #7 closed

[2018-05-06 21:10] digidigo commented on #141
I can grab this one.  I don't have github access at this point though, so I'll work from a fork.

[2018-05-08 17:58] micahalcorn opened #147 "Add publish warning for profile/identity changes"
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5ac7face1842c19457af4d26

[2018-05-08 19:06] micahalcorn opened #148 "Don't show in-progress purchases on listing detail"
We are currently showing purchases on the listing detail page that are in progress. This was done for debugging purposes and should be removed before the next deployment.

[2018-05-09 01:56] digidigo opened #149 "Testing Strategy For DApp"
At some point in the future, when development on demo-dapp slows down, it may serve the project to have a testing strategy.

The strategy would include:

- Specific tools (e.g. jest and enzyme )
- Guidance for contributors as to what should be tested
- Tests that serve as good practice toward the desired approach
- Goals around coverage

Other than helping to avoid errors in the app a few other be

[2018-05-09 04:52] micahalcorn opened #152 "Handle validation errors for profile page"
For example, if the wrong code is entered to confirm the email attestation, it will fail with only a console error. Let's not forget to surface these to the user.

- [x] Phone
- [x] Email
- [x] Facebook
- [x] Twitter
- [x] Airbnb

[2018-05-09 04:56] micahalcorn opened #153 "Settle on a local storage solution"
We've talked on a few occasions about using local storage for user preferences, the unpublished attestation results, etc. I have used [Store.js](https://github.com/marcuswestin/store.js/) before, but I think @nick mentioned that there is another good solution that integrates efficiently with Redux. Let's figure out what we should use.

[2018-05-09 05:05] micahalcorn opened #154 "Identity progress algorithm"
As the profile is completed, we need to know how much "progress" to award to a user for each addition. I believe that @matthewliu's thinking is that completing one or more of the profile attributes (avatar, name, description, etc) should result in some marginal progress as a mechanism for encouraging more interaction despite the reality that the values may not supply much identification. It is ass

[2018-05-09 21:46] micahalcorn opened #157 "Display a success message when an attestation is completed"
Add some indication of success (or failure) after receiving a response from an identity service. For example, a successful Facebook attestation should result in a message after the OAuth handshake and before the publish button is clicked. The message could appear in the present modal or as a toast-style alert.

[2018-05-09 22:08] micahalcorn opened #158 "Link profile wallet to identity playground"
Link to the raw identity contract detail from the wallet element in the profile.

[2018-05-10 17:35] matthewliu commented on #143
We should add an info link or tooltip to this. Other than our devs, people will not understand what Bridge server is so there should be a way to get expanded information.

[2018-05-10 17:38] joshfraser commented on #143
Do we want to allow people to edit these settings here as well?  Or somewhere else?

[2018-05-10 19:38] nick opened #161 "Serve https://demo.originprotocol.com directly from IPFS"
Since the demo-dapp is just a collection of static files, there's no reason we can't serve it directly from IPFS. To accomplish this we'd just need to point the 'A' record of demo.originprotocol.com to the same IP as gateway.originprotocol.com and set a TXT record pointing to the IPFS hash of the latest approved deployment. IPFS will handle the rest automatically.

'Deploying' a new version of the

[2018-05-10 20:14] micahalcorn commented on #147
Done via https://github.com/OriginProtocol/demo-dapp/pull/151 ✅

[2018-05-10 20:14] #147 closed

[2018-05-10 20:16] micahalcorn commented on #136
Done via #155 ✅

[2018-05-10 20:16] #136 closed

[2018-05-10 20:22] wanderingstan opened #162 "Upgrade http(s)-proxy-agent packages to new version"
Testing our one-line dapp install (`npm install`), I noticed npm is giving warnings about vulnerabilities:

[code]
Running node version `v8.5.0`.
Packages its complaining about:
- http-proxy-agent
- https-proxy-agent
Looks like we just need to move to new version: https://nodesecurity.io/advisories/607

[code]

[2018-05-10 20:54] micahalcorn opened #163 "Wire up notifications"
Once https://github.com/OriginProtocol/bridge-server/issues/6 is completed, we will need to remove the existing mock data and wire up the real data.

- [ ] navbar dropdown
- [ ] notifications page

[2018-05-10 21:53] lastmjs commented on #139
By the way, I'm taking this on

[2018-05-10 21:56] joshfraser commented on #161
I'm 100% in support of this, but we need to address the performance and reliability of our IPFS gateway first.

In fact, the first version of the origin website was served directly from IPFS using IPNS. We switched to Heroku because we didn't have a dedicated devops guys (still don't) and the site was really slow & had availability issues.

[2018-05-10 21:56] lastmjs commented on #139
The current solution in the pull request will only catch single page app routes, after the #. In my opinion, we definitely should not even be doing routing like that with the #. But for now, a 404 page will only be displayed for those routes. Do you want me to fix the problem for routes that go through to the server?

[2018-05-10 21:57] micahalcorn commented on #139
@nick HashRouter question ☝️

[2018-05-10 21:59] nick commented on #139
We'd like the demo-dapp to be deployable in subdirectories and directly on IPFS ([example](https://gateway.originprotocol.com/ipfs/Qman5QYeKEZ1y7iTdWFfnUkpEbnmJSnGPThPLRFj9yMMPU/#/)) so I think we should stick with HashRouter by default, but possibly make it optional later on. So I think your existing solution is good for now :-)

[2018-05-10 22:15] micahalcorn commented on #139
@lastmjs see https://github.com/OriginProtocol/company-website/blob/master/templates/404.html for assets and probably some pretty rough CSS. 😬

[2018-05-10 22:27] lastmjs commented on #139
Now being tracked here: https://github.com/OriginProtocol/demo-dapp/pull/165

[2018-05-10 22:28] lastmjs commented on #139
@micahalcorn Do you want it to look identical to https://www.originprotocol.com/missing?

[2018-05-10 22:30] micahalcorn commented on #139
@lastmjs that was what the designer suggested. I don't know that it's necessarily a priority.

[2018-05-10 22:32] lastmjs commented on #139
Perhaps we should close this issue and reopen another one to spruce up the design?

[2018-05-10 22:33] micahalcorn commented on #139
Done via #165 ✅

[2018-05-10 22:33] #139 closed

[2018-05-10 22:39] micahalcorn opened #166 "Enforce code formatting"
Add [Prettier](https://github.com/prettier/prettier) to enforce code formatting.

[2018-05-10 22:40] dobbs commented on #161
I've been recently introduced to https://www.netlify.com
basically a static site generator which listens to github web hooks and publishes directly to their CDN.
free for open source projects.

Should I take a closer look at how that might work here?

[2018-05-10 22:43] micahalcorn opened #167 "Add design elements to NotFound component"
Get the assets and styles from https://github.com/OriginProtocol/company-website/blob/master/templates/404.html to make [the `NotFound` component](https://github.com/OriginProtocol/demo-dapp/blob/develop/src/components/not-found.js) match https://www.originprotocol.com/en/missing.

[2018-05-11 05:37] micahalcorn commented on #143
@joshfraser are we allowing end users to configure them or just DApp developers? If end users, then I would vote for a 4th or 0th row in the dropdown that links to a config/settings page. We could put the tooltip in that row.

[2018-05-11 06:04] jordajm commented on #167
@micahalcorn - cool if I grab this issue?

[2018-05-11 06:06] micahalcorn commented on #167
@jordajm sure, thanks 👍

[2018-05-11 06:07] jordajm commented on #167
Thanks - would you mind assigning to it to me? I can't do that yet...

[2018-05-11 06:14] micahalcorn commented on #167
We'll get you added [here](https://github.com/orgs/OriginProtocol/people) tomorrow. Then we can assign you the issue and you'll be able to push a branch to the official repo. So go ahead and branch from `develop` rather than using a fork.

[2018-05-11 06:15] jordajm commented on #167
👍 ok will do - thanks!

[2018-05-11 06:50] matthewliu commented on #143
My 2 cents. I think it’s too early for this. Yes we will want to allow
config options but this is not a must have for this sprint or next. We’re
the only ones running a bridge server and ipfs gateway at the moment. And
metamask will change the eth network.

On Thu, May 10, 2018 at 10:37 PM Micah Alcorn <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join

[2018-05-11 16:35] tyleryasaka commented on #161
Related to https://github.com/OriginProtocol/origin-js/issues/75

[2018-05-11 21:39] wanderingstan opened #172 "No user feedback when on wrong network"
When user is on a network without our contracts the dapp silently fails. This happens on rinkeby when runnign local chain, or on `main` net.

I know we used to pop up a message for this, but must have gotten lost somewhere.

Chrome console shows:
[code]

[2018-05-11 21:42] micahalcorn commented on #172
@wanderingstan this came up a day or two ago and Nick reminded me that the modal only pops up in "production". We do need a fix so that an exception is not raised and the friendly Bootstrap-style alert is shown indicating that no contracts are found.

[2018-05-12 06:14] jordajm commented on #167
https://github.com/OriginProtocol/demo-dapp/pull/175

[2018-05-12 12:25] micahalcorn commented on #84
@jordajm I think that this might be covered by #83, which is blocked. What do you think?

[2018-05-12 16:11] wanderingstan opened #176 "Unneeded `npm install` for `npm run install:dev`"
Currently, `npm run install:dev` is thus defined in `package.json`:
[code]

I'm no npm expert, but as far as I can tell `npm link` always triggers an `npm install` first. So we in effect end up doing two `npm install`s. Maybe I'm missing something, or can we just change it to:
[code]

?

Fancy output from a recent run showing the duplication:
[code]

[2018-05-12 16:54] jordajm commented on #84
Hmmm - I'm not sure - seems like this one is slightly different b/c it refers to changing name/icon throughout the app, but since @ambertch is working on #83, it probably makes sense for him to grab this one too..?

[2018-05-12 17:00] jordajm commented on #44
@nikkwong thanks for the thorough research / game plan on this one. Are you still planning to implement it?

[2018-05-12 17:00] micahalcorn commented on #84
@jordajm ah, I see the difference. Go ahead and take this one if you want.

[2018-05-12 17:07] jordajm commented on #37
@ambertch nice research on this one - thanks! Cool if I run with it from here for a bit or would you like to take it on?

[2018-05-12 18:53] nick commented on #172
Fixed in #173

[2018-05-12 18:53] #172 closed

[2018-05-14 05:03] wanderingstan commented on #84
This SO question seems to have some good code on detecting what provider is being used: https://ethereum.stackexchange.com/questions/24266/elegant-way-to-detect-current-provider-int-web3-js

[2018-05-14 06:05] jordajm commented on #84
PR submitted here: https://github.com/OriginProtocol/demo-dapp/pull/178

The title of this issue references icons that need to be changed, but I wasn't able to locate any icons. I did a "find all" on the phrase "MetaMask" and replaced those hard-coded strings with dynamic provider names.

Let me know if I missed anything.

Also, this may be blocked by the pending updated way to reference `web3` in

[2018-05-14 06:14] jordajm commented on #62
@wanderingstan @micahalcorn @ambertch  I'm thinking of grabbing this one next - any objections?

[2018-05-14 13:50] wanderingstan commented on #62
No objections at all. This one has been lingering around a while.

[2018-05-14 14:10] nick commented on #62
Just a heads up that the user profile does handle errors, in case you wanted to use the same technique elsewhere in the code:

https://github.com/OriginProtocol/demo-dapp/blob/develop/src/actions/Profile.js#L81
https://github.com/OriginProtocol/demo-dapp/blob/develop/src/reducers/Profile.js#L140
https://github.com/OriginProtocol/demo-dapp/blob/develop/src/pages/profile/Profile.js#L379-L395

[2018-05-14 15:24] #162 closed, assigned to micahalcorn

[2018-05-14 19:15] micahalcorn commented on #137
Done via #177 ✅

[2018-05-14 19:15] #137 closed

[2018-05-14 20:41] jordajm commented on #62
Thanks @nick - good call.

[2018-05-15 02:38] #158 closed

[2018-05-15 05:05] jordajm commented on #62
PR submitted for review: https://github.com/OriginProtocol/demo-dapp/pull/181

[2018-05-15 16:26] micahalcorn commented on #23
Changed my mind: reopening with clarification coming soon...

[2018-05-15 18:02] dobbs opened #183 "can't build `master`"
I surfaced this bug by trying to build the master branch in a container:
https://gist.github.com/dobbs/da549239d2504df986364678440e0e42
I asked about that in the #engineering channel but got no response.

I've now also confirmed the failure on MacOS.

...from a brand new install of node:
[code]

no magic in here:
[code]

Almost identical stack trace:
[code]

[2018-05-15 19:11] gaboesquivel commented on #152
I can help with this one.  I Just [stumbled upon it](https://monosnap.com/file/kcfQ4E8nqcBeYINkBSOtW073ESa55t) trying to validate twitter, some sort of (at least basic) UI feedback is definitively required.

[2018-05-15 19:13] micahalcorn commented on #152
@gaboesquivel I'm in the middle of making some changes to that component flow right now. I'll let you know when I get my commits merged. 👍

[2018-05-15 20:03] wanderingstan commented on #183
Looks like `.env` file is missing: https://gist.github.com/dobbs/da549239d2504df986364678440e0e42#file-build-fails-L12

The readme on master is def wrong, with the .env copy step happening *after* `npm run start`
[code]

Could that be it?

[2018-05-16 15:48] wanderingstan opened #185 "Change all internal value handling to wei (not eth)"
Currently, we store listing prices in ETH throughout the the DApp (and in origin-js) This is bad practice for monetary values. (And it's my fault for making this bad design choice last year. 🤦‍♀️)

We should convert to always representing prices in Wei (or fundamental unit of tokens, when that comes) and only convert to ETH at render time.

This will also prepare us for handling ERC20 tokens with

[2018-05-16 15:51] DanielVF commented on #185
I'm thinking we'll be passing and returning these numbers as strings from the origin.js API. This lets us use a json compatible type. It's easy to create a BigNumber from a string, which you would be doing anyway to use the value.

[2018-05-16 15:56] wanderingstan commented on #185
@DanielVF is that because BigNumbers are so hard to deal with, and always display strangely?

I'm with you in spirit, but worry about introducing a third representation format. (js Number, BigNumber, string of number)

It seems the "right" way would be to use BigNumber in the DApp, but I agree it's a pain. Anyone else have opinions on this?

[2018-05-16 16:03] nick commented on #185
Agree we should represent everything in wei and pass strings back from origin-js. web3.utils.fromWei doesn't work with numbers, it will throw `Please pass numbers as strings or BigNumber objects to avoid precision errors.`

[2018-05-16 16:15] wanderingstan commented on #185
If `web3.utils` accepts strings (along with BigNumbers), then thats's good enough for me! I retract any hesitation about using them for origin-js/DApp.

[2018-05-16 16:49] gaboesquivel commented on #166
I like this type devops-ish / code quality / standards task.

This is related to IMO:
- Use StandardJS  https://github.com/OriginProtocol/origin-js/issues/166
- Use Error First and No Else Return to avoid deep nesting in JavaScript https://github.com/OriginProtocol/origin-js/issues/193
- Async JS Guidelines https://github.com/OriginProtocol/origin-js/issues/180
- Let's use const https://github.com

[2018-05-16 17:03] gaboesquivel commented on #36
related to https://github.com/OriginProtocol/demo-dapp/issues/185

[2018-05-16 19:22] micahalcorn opened #187 "Hide static content for upcoming deployment"
In addition to #148, we need to hide the notifications dropdown and any other remaining static content before the 🕵️deployment.

[2018-05-16 21:45] micahalcorn commented on #63
@wanderingstan do you want to link us here to the implementation(s) that you saw for us to reference?

[2018-05-16 23:32] inkredabull commented on #149
~3 weeks ago, upon tackling https://github.com/OriginProtocol/demo-dapp/issues/36 and realizing there weren't tests, I tried to introduce a TDD paradigm [leveraging Jest and Enzyme.](https://github.com/inkredabull/demo-dapp/blob/f2226868dacca38ac9231fb88d08edc350c7fbdf/src/components/__tests__/listing-card-prices_test.js)  Over the following weekend however, the underlying demo-dapp infrastructure

[2018-05-16 23:37] inkredabull commented on #36
see also : https://github.com/OriginProtocol/demo-dapp/issues/149

[2018-05-17 14:37] amlwwalker opened #190 "selling/buying digital products"
This is a very very cool project.
I have a question. If I wanted to sell a digital product it would vary slightly to a physical product or a rental.
1. There is no maximum number of products to sell
2. The data needs protecting when it is in storage
3. The buyer needs someway to 'see' the digital product.

I am really only interested in text based digital media, but I realise that some of this que

[2018-05-17 17:11] micahalcorn commented on #157
Done via #184 ✅

[2018-05-17 17:11] #157 closed

[2018-05-17 17:29] wanderingstan commented on #63
John J and I had discord convo on this, with me forgetting g we already had an open issue.

His comment there:

[2018-05-17 17:35] jordajm commented on #63
`react-i18next` looks cool too though - worth checkout out - and @wanderingstan found this for translating between the json files it uses and `.po/.pot` files of `gettext`
https://www.npmjs.com/package/react-intl-po

[2018-05-17 17:58] wanderingstan commented on #63
For reference: Here is our translation files & workflow or the website:
https://github.com/OriginProtocol/company-website/tree/master/translations

[2018-05-17 18:42] micahalcorn opened #192 "Hide search form in navbar"
In addition to #148, we need to hide the search box, which is not yet functional, before the 🕵️deployment.

[2018-05-17 20:43] micahalcorn opened #193 "Add placeholder UI for users without purchases"
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5ab08ccd0104823219c82263

Please post here or self-assign this if you plan to tackle this within a day or so. 🙏

[2018-05-17 20:43] micahalcorn opened #194 "Add placeholder UI for users without listings"
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5ab08ccd857903ba6948652d

Please post here or self-assign this if you plan to tackle this within a day or so. 🙏

[2018-05-18 14:36] micahalcorn commented on #29
Done via https://github.com/OriginProtocol/demo-dapp/commit/546e2d2396f92a14555921ac09bc75a03f526916 ✅

[2018-05-18 14:36] #29 closed

[2018-05-18 18:49] wanderingstan opened #197 "Convert hide_list to use listing address (not index)"
Goal: We want our moderators to be able to easily hide listings.

A while ago we converted the DApp to refer to listings by their contract address, instead of the old way of an array index.

However, our "hide list" functionality is till based on array indexes. That is, objectionable listings can be hidden from view by editing the json file in the `hide_list` branch of this repo.

We need this arr

[2018-05-18 18:51] DanielVF commented on #197
Hide functionality is definitely going involve the bridge server as soon as it is the way we get our listings.

[2018-05-18 19:19] wanderingstan opened #198 "Change wording when contracts not found"
Currently we show this when our contracts are not found:
![image](https://user-images.githubusercontent.com/673455/40253614-6f1c4636-5aae-11e8-9398-acf24d5190c0.png)

1) "this network" should be replaced with "this network (`<network name>`)"  If its a known standard network, like "Rinkeby" or "Main Net", that should be shown. If its a test network, then just use it's number.

2) "The Origin Contr

[2018-05-19 17:30] micahalcorn commented on #187
Done via #191 ✅

[2018-05-19 17:30] #187 closed

[2018-05-19 17:32] micahalcorn commented on #36
Done via #188 ✅

[2018-05-19 17:32] #36 closed

[2018-05-19 17:33] micahalcorn commented on #148
Done via #191 ✅

[2018-05-19 17:33] #148 closed

[2018-05-19 17:33] micahalcorn commented on #192
Done via #191 ✅

[2018-05-19 17:33] #192 closed

[2018-05-20 15:25] micahalcorn opened #200 "Expandable reviews"
Currently, all related reviews are shown on the [listing-detail](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/src/components/listing-detail.js#L999), [purchase-detail](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/src/components/purchase-detail.js#L1131), and [user](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/src/pages/user/User.js#L133)

[2018-05-20 15:29] micahalcorn opened #201 "Fractional Usage: Buy Box"
The [listing-detail buy-box](https://github.com/OriginProtocol/demo-dapp/blob/develop/src/components/listing-detail.js#L235) needs to have the following elements added:

- [ ] **Check In** date/time selector
- [ ] **Check Out** date/time selector
- [ ] **Guests** quantity selector

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5af35331c258e2972402369d

[2018-05-20 15:35] micahalcorn opened #202 "Fractional Usage: Owner's DAILY Calendar"
A new component needs to be added for a listing owner to manage the available dates and pricing for a listing.

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5b1826bd16e713444156ae61

Related: #306

[2018-05-20 22:33] gladguy opened #203 "Can't run on Windows"
Getting error code ELIFECYCLE

[code]

[2018-05-21 14:03] wanderingstan commented on #203
I think this is when running on Windows

[2018-05-21 14:05] gladguy commented on #203
Yes it is on Windows

On Mon, May 21, 2018 at 6:03 PM, Stan James <notifications@github.com>
wrote:

[2018-05-21 14:11] wanderingstan commented on #203
Additional logs from @gladguy
[2018-05-20T22_31_05_203Z-debug.log](https://github.com/OriginProtocol/demo-dapp/files/2022831/2018-05-20T22_31_05_203Z-debug.log)
[2018-05-20T22_25_53_269Z-debug.log](https://github.com/OriginProtocol/demo-dapp/files/2022832/2018-05-20T22_25_53_269Z-debug.log)
[2018-05-20T21_26_17_751Z-debug.log](https://github.com/OriginProtocol/demo-dapp/files/2022833/2018-05-20T21

[2018-05-21 14:46] wanderingstan opened #205 "Deployed dapp not finding contracts on Rinkeby, Ropsten"
I just did deploy to heroku:
https://origin-demo-dapp-stan.herokuapp.com/#/

Where it complains about our contracts not being there.

However, I can see here the address for (e.g.) `ListingsRegistry` is `0xf9555a250a36f59c6b74aabec018b8f55da72ec4`:
https://github.com/OriginProtocol/origin-js/issues/147

And this address is in our 0.6.0 npm package if you search for that address here:
https://unpkg

[2018-05-21 14:48] wanderingstan commented on #205
@nick , @micahalcorn was saying that maybe now contract addresses always have to be added manually?

Can we have it fall back to the addresses in the .json version of the contracts?

[2018-05-22 14:09] wanderingstan commented on #205
@nick figured out it was a problem with `package-lock.json` still referring to old version of `origin-js`.

E.g. this was my diff on that file after `npm install` showing the lingering old reference:
[code]

Fixed in: https://github.com/OriginProtocol/demo-dapp/commit/4f57cba4900b69718e659d5fd1c805ec9375fc83

[2018-05-22 14:09] #205 closed

[2018-05-22 16:35] matthewliu commented on #205
Woohoo!

On Tue, May 22, 2018 at 7:09 AM, Stan James <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-05-23 06:21] gaboesquivel commented on #203
See https://github.com/angular/angular/issues/13935

it seems fsevents should be indicated as optional and run `npm i --no-optional` or try `npm i -f`

[2018-05-23 08:16] gaboesquivel commented on #138
like this ?

[code]

[2018-05-23 16:18] micahalcorn opened #208 "Existing progress bar does not start with correct state"
There seems to be a minor issue where the existing profile progress bar does not fill on route changes although it does fill on browser refreshes. The colored progress bar width should always match the strength number (40% in this example).

![profile-progress](https://user-images.githubusercontent.com/273937/40437169-3de0de72-5e7a-11e8-9782-5e43cc3fe8c1.gif)

[2018-05-23 16:34] gaboesquivel opened #209 "Cannot create a pet announcement listing on demo.originprotocol.com"
It seems that for some reason it is expecting a price
Metamask window is not being openened.

<img width="1385" alt="submit-announcement" src="https://user-images.githubusercontent.com/391270/40438193-a9dd2924-5e74-11e8-9b6f-aab83b3a206f.png">

[2018-05-23 16:39] micahalcorn commented on #209
@wanderingstan @tyleryasaka @DanielVF it looks like at one time we anticipated some listings that would not include a price? Should this be dropped since [`origin.js` seems to require a price](https://github.com/OriginProtocol/origin-js/blob/master/src/resources/listings.js#L71)? Or should we support a price of `0` and include that behind the scenes in the DApp?

[2018-05-23 16:56] joshfraser commented on #209
Free listings are pretty common. Think about the  free section on Craigslist or announcements on Nextdoor. Probably something we would support.

[2018-05-24 17:27] wanderingstan opened #214 "Odd network name and layout"
![image](https://user-images.githubusercontent.com/673455/40501443-1412d7f0-5f45-11e8-8e4b-bb66555aecc4.png)

1. Odd to have "Rinkeby" and "Network" on separate lines.

2. I'd suggest that we refer to the networks by the same names MetaMask does:
![image](https://user-images.githubusercontent.com/673455/40501520-5838d7d6-5f45-11e8-9395-ea02f665361c.png)
- "Main Ethereum Network"
- "Rinkeby Test Ne

[2018-05-25 00:10] wanderingstan opened #215 "DApp doesn't notice when you've just signed into MetaMask"
Title says it all. :)

After you sign into MetaMask, the DApp should auto-advance to take you in.

The old `react-web3` detected when user logged into MetaMask (along with other MetaMask events).

[2018-05-25 00:12] micahalcorn commented on #215
@wanderingstan it does for me. How do I reproduce?

[2018-05-25 20:03] tyleryasaka opened #220 "Reference the same origin js source in develop and master"
We have a weird flow right now where in the `develop` branch, `origin` points to github. But in `master`, `origin` points to npm.

This is bad practice and requires us to manually revert this change every time we merge `develop` into `master`. If someone forgets or doesn't realize this is supposed to happen, things mysteriously don't work. @joshfraser ran into this yesterday.

I am proposing that

[2018-05-25 20:59] wanderingstan opened #221 "Add way for admins to get ListingId of a listing"
This one's for you @andrewhyde

Hide it in html, img `title`, wherever...

[2018-05-26 01:42] joshfraser commented on #220
Thanks for walking through this @tyleryasaka & I'm in full support of this change.

[2018-05-26 02:53] tyleryasaka commented on #221
An alternative is to allow hiding listings by address: https://github.com/OriginProtocol/demo-dapp/pull/222

[2018-05-26 06:18] micahalcorn commented on #221
@tyleryasaka will this now be closed?

[2018-05-26 07:16] ambertch opened #223 "[profile] page refresh required to update content in menu dropdown"
When the profile is updated (attestations or name), a page refresh is required to update the content in the menu dropdown

![screenshot 2018-05-26 00 13 42](https://user-images.githubusercontent.com/156263/40573695-e6564398-6079-11e8-96b7-acf6c2dd6031.png)

[2018-05-26 21:26] wanderingstan commented on #221
@tyleryasaka looking at the code, I'm now realizing theres stuff in there that we would want to later rip out once the hidelist filtering is done by the Indexing Server. E.g. adding the `shouldRender` property.

@micahalcorn if we can figure out a one-line solution to reveal the listingId to the admins, I'd rather go with that for now. (And use the existing hidelist code that's already there.)

[2018-05-26 21:34] wanderingstan commented on #220
Agreed! Fixed in: https://github.com/OriginProtocol/demo-dapp/commit/77f3434cdbefcb165754a8e93861bd26bbfa0ba2

[2018-05-26 21:34] #220 closed

[2018-05-27 07:01] acal opened #224 "Add 1+ more significant digit to listing price display in demo"
When creating a new listing and when viewing a single active listing post any eth prices beyond 3 sig digit do not show. So you get a price of 0.000 eth even though there is some value smaller than that. They do however show in the main listing index UI. Since this affects converted eth price to cents in USD it probably should show. Also consider validating form field to limit the amount of sig di

[2018-05-28 03:11] jordajm commented on #220
BTW - @wanderingstan I think this is a much better solution to the issue we ran into last week re: multiple versions of origin-js in `package.json` that prompted me to recommend temporarily disabling `package-lock.json`. Much cleaner and long-term solution.
CC @tyleryasaka 👍

[2018-05-28 03:40] micahalcorn opened #228 "Price approximation failure"
@inkredabull @DanielVF 👇

On a seemingly random basis, I get listing cards with USD prices sticking at "Loading..." due to the following (in Safari):

`[Error] Cross-origin redirection to https://api.cryptonator.com/api/ticker/eth-usd denied by Cross-Origin Resource Sharing policy: Access-Control-Allow-Origin cannot contain more than one origin.`

I tried reaching out to Cryptonator to see if we c

[2018-05-28 03:58] micahalcorn opened #229 "Detect web3 node connection success or failure"
When we supply our own web3 provider and connect to Infura, we assume that it works. The web3-provider component will produce a modal alert if the network cannot be reached, but the connectivity indicator is not tied into this. It would also be better to appropriately listen for the initial provider promise to return successfully before updating the connectivity indicator.

[2018-05-28 04:26] DanielVF commented on #228
We're currently hitting the API once for every listing - we might be tripping some kind of rate limiting. We can reuse the same conversion rate for multiple listings.

[2018-05-28 16:20] micahalcorn commented on #209
Done via #225 ✅

[2018-05-28 16:41] #209 closed

[2018-05-28 19:33] micahalcorn commented on #18
Done via #226 ✅

[2018-05-28 19:33] #18 closed

[2018-05-28 20:45] micahalcorn opened #2240 "Prevent seller from purchasing own listing"
In the past, we have experienced some unexpected behavior with reviews when a seller and a buyer are the same account. [The decision was recently made to prevent DApp users from purchasing their own listings](https://github.com/OriginProtocol/demo-dapp/pull/232/commits/b495d9c477cefa344c45892c0f1f757461b0eca5). There may be some instances where a user wants to cause a listing to no longer be avail

[2018-05-28 23:01] micahalcorn commented on #18
This has been removed via https://github.com/OriginProtocol/demo-dapp/commit/0c64f5015deb12e6be971d7db6320edc317715f3. When the link is visited for an unsold listing, there is no information, which causes confusion. We now have etherscan links for the transactions in the purchase detail.

[2018-05-28 23:58] micahalcorn opened #237 "Split listing detail component"
At least the [listing detail info box](https://github.com/OriginProtocol/origin/origin-dapp/blob/master/src/components/listing-detail.js#L226) should probably be separated so that it can be reused [in the purchase detail component](https://github.com/OriginProtocol/origin/origin-dapp/blob/master/src/components/purchase-detail.js#L513).

[2018-05-29 00:00] Mr-Mike-Premier commented on #237
STOP SENDING ME THESE FUCKING EMAILS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

On Mon, May 28, 2018 at 7:58 PM, Micah Alcorn <notifications@github.com>
wrote:

--
Kind Regards,

Mike Premier
Marketing Director
The Premier Group Miami
Mr.MikePremier@Gmail.com

[2018-05-29 03:32] #214 closed

[2018-05-29 03:33] micahalcorn commented on #116
[Done](https://medium.com/originprotocol/tech-update-dapp-gets-erc-725-identity-transaction-steps-escrow-reviews-298a7c91b7a5) 💪

[2018-05-29 03:33] #116 closed

[2018-05-29 03:35] micahalcorn commented on #135
Uh, [done](https://medium.com/originprotocol/tech-update-dapp-gets-erc-725-identity-transaction-steps-escrow-reviews-298a7c91b7a5), indeed ♨️

[2018-05-29 03:35] #135 closed

[2018-05-29 04:42] jordajm commented on #63
WIP PR:
https://github.com/OriginProtocol/demo-dapp/pull/238

[2018-05-29 15:36] micahalcorn commented on #83
Done via #119 ✅

[2018-05-29 15:36] #83 closed

[2018-05-29 16:57] joshfraser opened #239 "Add ENS support to our DApp"
We should use the ENS reverse resolver to show ENS names in the DApp whenever possible.

Apparently this is the best library for us to use:
https://www.npmjs.com/package/ethereum-ens

Open questions:

- Do we want to put ENS support at the DApp level or should we bake it into Origin.js?
- Do we want to show an ENS name in place of an ETH address or do we want to display both?

[2018-05-30 04:12] micahalcorn commented on #84
Done via #178 ✅

[2018-05-30 04:12] #84 closed

[2018-05-30 04:26] micahalcorn opened #240 "Detect browser and make better recommendations"
When visitors do not have a web3-enabled browser, we detect this and prompt them to either install MetaMask if they are on desktop or download a browser/wallet if they are on mobile. Currently, we only condition our recommendation based on [simple user agent detection](https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/app.js#L68-L78) and we don't make use of the iOS/Android di

[2018-05-30 05:27] micahalcorn commented on #107
Done via #241 ✅

[2018-05-30 05:27] #107 closed

[2018-05-30 18:54] #183 closed

[2018-05-30 18:57] wanderingstan commented on #228
@DanielVF good point. We should definitely hit the API once and store it for dapp-wide useage.

[2018-05-30 19:26] micahalcorn commented on #98
Done via #145 ✅

[2018-05-30 19:26] #98 closed

[2018-05-30 20:18] wanderingstan commented on #221
I put it in `data-listing-id` param on listing title on grid page.

[2018-05-30 20:18] #221 closed

[2018-05-30 22:06] micahalcorn opened #1379 "Add informational output for debugging"
As suggested by @wanderingstan, there should be some information output in the terminal when you run this package locally. For example, it should indicate the current package version, contract addresses, environment variables, etc. This will help us when someone runs into a problem that needs to be debugged in Discord or here.

[2018-05-30 22:20] micahalcorn opened #242 "Fractional usage product design document"
For the 🏗 sprint, let's aim for having a fully-baked product design document for fractional usage.

Related: https://github.com/OriginProtocol/origin-js/issues/146 & https://github.com/OriginProtocol/origin-js/issues/218

[2018-05-30 22:30] micahalcorn opened #243 "Product design for mobile wallet integration"
For the 🏗 sprint, let's aim for having a fully-baked product design mocks for the mobile wallet integration.

[2018-05-31 01:14] wanderingstan opened #244 "Show consistent number of decimals in eth values"
We currently show different number of decimals everywhere we display a price in eth:

**10 decimals**

![image](https://user-images.githubusercontent.com/673455/40755793-1c2b9998-643d-11e8-9c78-283a67f2d048.png)

**5 decimals**

![image](https://user-images.githubusercontent.com/673455/40755800-27aab0b0-643d-11e8-9a11-f87c5770861b.png)

**3 decimals**

![image](https://user-images.githubuserconten

[2018-05-31 01:14] micahalcorn commented on #244
Related: https://github.com/OriginProtocol/demo-dapp/issues/224

[2018-05-31 01:16] micahalcorn commented on #224
Related: #244

[2018-05-31 01:17] wanderingstan commented on #224
- I don't think we can or want to limit what goes in the form. We can't rely on all DApp developers to follow whatever we do.
- Perhaps as compromise we show all 18 decimals (wei) when you mouseover a price? (e.g. put it in the `title` prop of the html element?)

[2018-05-31 15:05] DanielVF commented on #244
Yeah, I think for now go with five for ETH, and tooltip display a minimum of five with any extra needed decimals for the people with accounting in their blood.

[2018-05-31 20:11] micahalcorn commented on #229
Done via #119 ✅

[2018-05-31 20:11] #229 closed

[2018-06-02 02:13] jordajm opened #245 "Whitepaper and product brief links in footer should be language-aware"
Sub-task of: https://github.com/OriginProtocol/demo-dapp/issues/63

Footer links to Product Brief and Whitepaper should link to the document in the language that matches the current language of the demo-dapp.

Example links:
https://www.originprotocol.com/es/product-brief
https://www.originprotocol.com/es/whitepaper

[2018-06-02 02:18] jordajm opened #246 "Add language selection dropdown menu"
Sub-task of: https://github.com/OriginProtocol/demo-dapp/pull/238

As a user, I want to change the language of the DApp using a dropdown menu that shows all available languages.

According to Aure, there is no design for this menu

Let's put it in the footer and make it match other footer link styling as much as possible.

This task will require moving language config currently found in `index.js`

[2018-06-02 02:20] jordajm opened #247 "Replace sentence concatenation with full sentences that can be translated"
Sub-task of: https://github.com/OriginProtocol/demo-dapp/issues/63

There is currently sentence concatenation logic in `notifications.js` and possibly other components that is not easily translated into other languages.

This logic should be replaced with full strings that can be translated.

[2018-06-02 02:20] micahalcorn commented on #246
Let's actually put this in the footer, especially if we are auto-detecting the preferred language in most cases. cc @wanderingstan

[2018-06-02 02:23] jordajm opened #248 "Localize <Timelapse> component"
Sub-task of: https://github.com/OriginProtocol/demo-dapp/pull/238

The `<Timelapse>` component is used to say how long ago an event occurred.

It is currently english-only and needs to be internationalized.

One possible strategy may be to use `moment-locale` in addition to or instead of the standard `moment` library, but more research is required.

[2018-06-02 02:26] jordajm opened #249 "Complete wrapping of strings with <FormattedMessage> component"
Subtask of: https://github.com/OriginProtocol/demo-dapp/pull/238

A number of JSX files still need to be refactored so that all strings are wrapped in a `<FormattedMessage>` component and given a unique `id` and `defaultMessage`.

[2018-06-02 02:30] micahalcorn opened #250 "Pending blockchain transactions dropdown"
Add a dropdown containing simulated blockchain transaction progress.

[2018-06-02 02:30] jordajm commented on #246
Good call @micahalcorn - description udpated.

[2018-06-02 02:32] micahalcorn opened #251 "Wire up pending blockchain transactions dropdown"
After the completion of https://github.com/OriginProtocol/demo-dapp/issues/250, wire this up to real transactions.

[2018-06-02 03:05] micahalcorn commented on #45
This seems like it might be related to the need to [delay re-fetching the purchase after the state is changed](https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/purchase-detail.js#L225).

[2018-06-03 17:31] #126 closed

[2018-06-04 21:37] jordajm opened #255 "Research and implement a way to localize react-jsonschema-form"
`react-jsonschema-form` is used in `listing-create.js` to allow users to create listings.

We need to figure out a way to display form labels, selection options, etc in any supported language.

[2018-06-04 21:38] micahalcorn commented on #255
@jordajm potentially related, I noticed that we're not translating the categories on the listing cards.

[2018-06-04 21:39] jordajm commented on #255
Noted - thanks @micahalcorn

[2018-06-05 02:06] newdawn1989 commented on #208
@micahalcorn I'd like to help with this one!

[2018-06-05 02:16] jordajm opened #256 "[Discussion] Localization for Schemas"
## The problem
We currently have a `category` object in each schema with an `enum` array similar to this:
[code]

The problem is that those enums are in English, and since they are in the schema instead of the React code, they don't fit easily into the `react-intl` patterns we're using throughout the rest of the app.

This is a common problem and it has been a regular topic of discussion among `js

[2018-06-05 02:19] micahalcorn commented on #208
Great, @newdawn1989 😄 Have you joined [our Discord](https://discordapp.com/invite/jyxpUSe) yet? Find me there in #engineering.

[2018-06-05 02:27] newdawn1989 commented on #208
I have not! Thank you for the invite! Downloading discord now!

On Mon, Jun 4, 2018, 8:19 PM Micah Alcorn <notifications@github.com> wrote:

[2018-06-05 14:51] micahalcorn commented on #249
I have a question about the unique id. It appears that your convention is to use the naming convention `{component-file-name}.{whatever}`. As file names change, that won't cause any problems, will it?

If in one file (say purchase-detail.js) we have a message id `purchase-detail.seller` with a default message of "seller" and then in another file/component we want to translate the string "seller",

[2018-06-05 16:24] jordajm commented on #249
@micahalcorn - correct, if we change the file name, the ID could either stay the same or change depending on how much we care about naming convention.

Regarding duplicate IDs, at first I tried having a "shared" namespace but `react-intl` threw errors b/c evidently it's not a "best practice" to use the same ID across multiple files. Plus, once there were over a hundred IDs I couldn't keep track of

[2018-06-05 23:05] wanderingstan commented on #256
Good foresight.  Immediate thoughts:

IIRC, those strings are rendered by [`react-jsonschema-form`](https://www.npmjs.com/package/react-jsonschema-form). That would mean us getting a PR accepted to them, or forking. This is okay, we also will need to do a PR for https://github.com/OriginProtocol/demo-dapp/issues/24 and maybe https://github.com/OriginProtocol/demo-dapp/issues/44

I would propose th

[2018-06-05 23:36] jordajm commented on #256
I like that idea @wanderingstan - thanks...
I think we'd need to make some kind of util that looks for enums in schema files and pairs them with `defaultMessage` strings that can be passed into `react-intl` and used within the app (and in `react-jsonschema-form`). You are correct that the form uses the enums, and they are also used in the listing card and maybe other places.

Like this:
[code]

So

[2018-06-06 01:15] wanderingstan commented on #256
Two questions:

Do we need a separate `enumMap` var? I was hoping we could use the ids in `translated-messages.json`, and then all our translations live in one big happy json file.

And are you proposing that we would loop over the schema json and do our own id-to-translation substitution before passing it into `react-jsonschema-form`? If so, then I fear that would mean that the json data returned

[2018-06-06 04:48] jordajm commented on #256
Well, we need a `defaultMessage` paired with each `id` for it to work with our `react-intl` setup, and the enum in your example will only provide the ID.

However, your comment about `react-jsonschema-form` got me doing some more reading and [I found this.](https://www.npmjs.com/package/react-jsonschema-form#custom-labels-for-enum-fields)

Using the `enumNames` property, we could do something like

[2018-06-06 14:30] micahalcorn commented on #250
Done via #257 ✅

[2018-06-06 14:30] #250 closed

[2018-06-06 14:40] wanderingstan commented on #256
Great find on the "Custom labels for enum fields"! Am I understanding correctly that with this, we definitely don't need any changes in `react-jsonschema-form`?

This is definitely what we want to be storing in the IPFS json, not a human-language string.

Ah, is the `defaultMessage` a requirement for react-intl to _find_ the English text to be translated? That would make sense. Do you know how the

[2018-06-06 14:48] micahalcorn commented on #166
@tyleryasaka [it sounds like you might be taking this on](https://github.com/OriginProtocol/origin-js/pull/225#issuecomment-394588589).

[2018-06-06 15:07] jordajm commented on #256
Yes, you've got it exactly, with one small caveat...

Instead of building a component that never renders, we can use the `defineMessages` function in `react-intl` as I did in my example above to extract the messages and end up with translations in `translated-messages.json`. Here's an example, updated with the new knowledge about `enumNames`:
[code]

So, there will actually need to be three utils,

[2018-06-06 15:15] wanderingstan commented on #256
Ah ha! It's all clicking now! Didn't realize that `defineMessages()` was the magic function to tell react-intl that you're providing more strings for translation. Mistakenly thought `enumMap` was something we'd have to translate on our own.

Sorry for the derail, and thanks for the lesson in `react-intl`!

One thought: Seems this utility would be of use to lots of other people; anyone using `react

[2018-06-06 15:32] jordajm commented on #256
That's a great idea 💯
There are a ton of GitHub issues and stackoverflow posts about localization of `json-schema` and `react-jsonschema-form` (as well as other stuff that gets built on top of `json-schema` in other frameworks and vanilla JS and stuff).

I think our NPM package would be named something like `json-schema-react-intl` because it would provide the (often requested) connector between t

[2018-06-06 15:54] wanderingstan commented on #256
Nice!

Rather than functions, could we just wrap the Form component with our own, eg FormIntl? Eg:
[code]
Then all the magic of translating the enunNames happens behind the scenes.

They would just have to do their own `defineMessages()` with with IDs and default English.

[2018-06-07 04:11] jordajm commented on #256
That's a cool idea. I think the two functions I mentioned above would still be valuable though, because the work of extracting the messages from the schema is a bit complex, and so is translating the enum names "in-place" in the `enumNames` array.

But yes, it would be nice to offer a way to do it via react component that wraps the `react-jsonschema-form` - maybe in the first version or maybe as a

[2018-06-07 05:35] jordajm commented on #256
oof... I was so focused on enums that I forgot about  the need to translate the other form field types...

For normal (non-enum) schema objects, like the ones used to generate form fields, I think the best way to localize them might be to replace the `title` with an ID like we're going to do with enums, then we could add a `defaultMessage` property to the object that would contain the English stri

[2018-06-07 05:41] jordajm opened #258 "Localization for schemas"
Schemas currently have English strings for enums and labels, and that makes it hard to localize those strings in the places where the schemas are used in the DApp.

In https://github.com/OriginProtocol/demo-dapp/issues/256, it was decided that the solution would involve replacing English strings in schemas with IDs similar to the other `react-intl` IDs in the DApp, and then creating a set of files

[2018-06-07 05:42] jordajm commented on #256
Created https://github.com/OriginProtocol/demo-dapp/issues/258 to describe the work needed for localizing schemas. Will close this once #258 is finalized and ready for development to begin.

[2018-06-07 15:40] micahalcorn opened #259 "Feature Request: Friendly Public Profile URL"
@davecraige asked about the possibility of being able to share a friendly URL to his Origin profile. Currently, he would have to share https://demo.originprotocol.com/#/users/0xdfFE6dBe67a6f211Eda52eD2986dF980698BdCDB. He would like to be able to share https://demo.originprotocol.com/DaveCraige. This would require an additional field in the profile (although perhaps treated as a setting). He also

[2018-06-07 20:36] joshfraser commented on #259
If we add usernames, we would need to maintain an extra registry to ensure uniqueness (a username can be owned by one and only one person). We'd need to give some thought to name-squatting (can anyone claim apple, facebook, etc?) and how to fairly distribute high demand names (first come, first served, bidding, etc).

I do think it would be interesting to tie it into ENS. We could use the new subd

[2018-06-08 15:48] inkredabull commented on #228
Wrapping up other responsibilities today before heading out on vacation tomorrow for a week.
Have unassigned myself if it needs to get done sooner than the week of 6/18.

[2018-06-08 19:12] wanderingstan commented on #256
It seems a little odd to me that the `defaultMessage` (ie the English) would be stored directly in the Schema json. As with the enums, wouldn't we want to define those externally with a call to `defineMessages()`?

You've read more on this than me: has really no one encountered this before? It seems a major oversight of the jsonschema people that they would just have people put raw English (or wha

[2018-06-08 20:22] jordajm commented on #256
@wanderingstan Unfortunately, there doesn't seem to be a consensus among json-schema folks about how to localize strings in schemas. There's a whole other concept in `react-jsonschema-form` known as "UI Schema", and some people use that to localize forms. [Here's an example.](https://github.com/mozilla-services/react-jsonschema-form#form-customization) But, to me it seems clunky and overkill for s

[2018-06-08 21:43] wanderingstan commented on #256
Hmm..we're wading into heavy territory here!

If these schemas are to represent a standard, the purist in me says English really doesn't belong there—this is supposed to be just the _schema_ for data. If someone in France decides to extend the schema, would they also be required to put the `defaultMessage` in English? (Good luck with that 😉)

I don't care super strongly as I'm sure we'll iterate o

[2018-06-08 22:05] jordajm commented on #256
Ok, fair enough. I'll split out the mapping of `id` with `defaultMessage` in separate files... seems to me that a sub-directory inside the `schemas` directory would make sense, with a mapping file that corresponds to each schema.

So it would be structured something like:

**schemas**
&nbsp;&nbsp;&nbsp;&nbsp;|_ announcements.json
&nbsp;&nbsp;&nbsp;&nbsp;|_ for-sale.json
&nbsp;&nbsp;&nbsp;&nbsp;|_

[2018-06-08 22:30] wanderingstan commented on #256
Yes, LGTM!

[2018-06-10 06:06] jordajm commented on #255
Will be completed by https://github.com/OriginProtocol/demo-dapp/issues/258

[2018-06-10 06:06] #255 closed

[2018-06-10 06:08] jordajm commented on #249
Completed by https://github.com/OriginProtocol/demo-dapp/pull/252

[2018-06-10 06:08] #249 closed

[2018-06-10 06:10] jordajm commented on #256
Created https://github.com/OriginProtocol/demo-dapp/issues/258 to track the work that was discussed here

[2018-06-10 06:10] #256 closed

[2018-06-10 16:08] jordajm commented on #258
It turns out that this can't be structured as I defined in the description because I was planning to use the `defineMessages` method of `react-intl`, but that method is run by babel in the compiling phase, not as part of the react app, so the messages object has to be defined in the react code that is compiled by babel, not in the `/public/schemas/schemaMessages` location that I originally propose

[2018-06-10 16:28] micahalcorn commented on #246
Done via #260 ✅

[2018-06-10 16:28] #246 closed

[2018-06-10 23:20] wanderingstan commented on #256
@joshfraser : would love a lookover of our localization strategy here as our listing schemas will be one of the biggest "interfaces" to Origin for the developer community.

Essentially, I steered @jordajm toward completely exorcising English from our schemas, leaving only ID's whose translations are defined elsewhere. E.g. instead of having `"Airplane Rentals"` in the json, instead we'd have `"sch

[2018-06-10 23:57] joshfraser commented on #256
@wanderingstan you have more experience dealing with localization issues than I do. This seems reasonable and I trust you if you think this is the way to go.

One question - Is there a reason we can't use "Airplane Rentals" as the key? A developer shouldn't have to think about localization stuff at all to get their custom "hello world" marketplace up and running. From my limited experience with lo

[2018-06-11 19:56] jordajm opened #263 "Localization - Integrate with Crowdin"
As a developer, I want an easy (automated if possible) way to push source strings to Crowdin and pull translated files into the DApp.

The Crowdin GitHub integration seems like the most efficient workflow for integration with them:
https://support.crowdin.com/github-integration/

After creating a [configuration file](https://support.crowdin.com/configuration-file/) and configuring some stuff on th

[2018-06-12 16:58] micahalcorn commented on #258
Done via #262 ✅

[2018-06-12 16:58] #258 closed

[2018-06-12 17:16] micahalcorn commented on #247
I believe that this is no longer applicable thanks to https://github.com/OriginProtocol/demo-dapp/pull/261/commits/ae39bc46848a6fc4eb40d14d7e603514dab3b218.

[2018-06-12 17:16] #247 closed

[2018-06-12 17:57] jordajm opened #264 "Store "then current language" when a listing is created"
@wanderingstan had the idea that we should start storing the "then current language" when a listing is created so that in the future we can sort listings by language.

We could either use the current language of the user who is creating the listing, or we could add an explicit language select in the form.

@wanderingstan @micahalcorn any opinions on whether we do this explicitly in the form or usi

[2018-06-12 23:00] wanderingstan commented on #264
@micahalcorn and I were just chatting about this after morning standup.

If it's not too hard, my pref would be that it's an explicit dropdown in the form, but with the user's language automatically selected. (They can then manually change it if they made the listing in a different language.)

---

Just to put it out there: Down the road (like not at all right now) we eventually would want to supp

[2018-06-12 23:19] wanderingstan commented on #256
@joshfraser - More research shows that even the JSON schema community is unsure on this! The last three comments on the localization thread (from Dec 2016!) are from JSON schema contributors who conclude that the standard is not clear:
https://github.com/json-schema-org/json-schema-spec/issues/53#issuecomment-264658073

@jordajm 's implementation of english-less ID's is working right now, so I say

[2018-06-12 23:52] joshfraser commented on #264
+1 for using an explicit dropdown with the user's language preselected.

[2018-06-13 08:05] kyriediculous commented on #73
@dagumak  https://github.com/OriginProtocol/identity-playground

[2018-06-13 13:07] micahalcorn commented on #73
No longer necessary due to https://github.com/OriginProtocol/demo-dapp/commit/cad14ffdfadd5139509dff9d29018958a57d5772 and https://github.com/OriginProtocol/mobile-app ✅

[2018-06-13 13:07] #73 closed

[2018-06-16 00:36] micahalcorn opened #269 "Add sticky alert inviting translators to contribute"
Once localization functionality has been deployed with machine translations, we need to show an alert that invites contributors to improve our translations. Our [Alert component](https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/alert.js) should be used for this, and it will probably require some modifications to meet our requirements:

- [x] Only render when English is not th

[2018-06-18 05:20] jordajm commented on #245
Done via https://github.com/OriginProtocol/demo-dapp/pull/270

[2018-06-18 05:20] #245 closed

[2018-06-20 23:12] micahalcorn commented on #194
We should probably have a similar one for [my-sales](https://github.com/OriginProtocol/demo-dapp/blob/master/src/components/my-sales.js#L133), also.

[2018-06-22 15:35] mek32390 opened #279 "Add new social links to footer and mimic company website"
There is a PR open on the company website that includes new social links. We need it on the DApp as well.

[2018-06-22 16:08] micahalcorn commented on #142
Done via https://github.com/OriginProtocol/origin-dapp/commit/d49e5135a3967f323f420a1c52c0f06cbbb98200 ✅

[2018-06-22 16:08] #142 closed

[2018-06-22 16:17] micahalcorn opened #280 "Wire Up Messages"
Once https://github.com/OriginProtocol/origin-bridge/issues/5 is done, the message-related components should be wired up to real data.

- [x] [messages dropdown](https://github.com/OriginProtocol/origin-dapp/blob/messaging/src/components/dropdowns/messages.js)
- [x] [messages page](https://github.com/OriginProtocol/origin-dapp/blob/messaging/src/components/messages.js)

[2018-06-22 21:38] mek32390 commented on #279
@matthewliu I made this issue after updating the company website footer. However, does it make sense for the DApp and the company website to have the same footer (like they currently do)? The company website is for marketing/business purposes, whereas the DApp is an application. Maybe a more simple footer with the copyright info would be more appropriate?

[2018-06-23 21:55] davecraige commented on #269
Copy pass: "You are viewing a machine translated version of this page. It probably has some mistakes. If you would like to assist us in fixing some of these errors please [click here](Google.com) for more information.

[2018-06-24 04:55] micahalcorn opened #286 "Appropriately Handle International Phone Numbers"
The bridge server uses Twilio for phone attestations. We currently tell the user that [we will send a verification code](https://github.com/OriginProtocol/origin-dapp/blob/7f3bba0f358154172af79abe2213cd42caa8a16b/src/pages/profile/VerifyPhone.js#L76). Depending on the country where the phone number is located, Twilio may be capable of sending an SMS message, make a phone call, or do neither. The b

[2018-06-24 05:24] micahalcorn opened #287 "Handle Uncaught Attestation Exceptions"
For example, if someone tries to verify a phone number for which Twilio cannot send SMS messages, an exception will be raised:

![screen shot 2018-06-23 at 10 20 21 pm](https://user-images.githubusercontent.com/273937/41816208-e91a5102-7733-11e8-8569-a8670d476737.jpg)

The DApp should render an alert instead of swallowing exceptions like this for each of the attestation services.

**Steps to Repro

[2018-06-24 07:57] micahalcorn opened #288 "Identicon is scary when no ETH address is present"
Our [identicon component has a default value of `'0x000000000000000000000000'` for its `address` parameter](https://github.com/OriginProtocol/origin-dapp/blob/master/src/components/Identicon.js). This results in a rather unpleasant element consisting of a big red square.

![screen shot 2018-06-24 at 12 51 13 am](https://user-images.githubusercontent.com/273937/41817107-51b50864-7749-11e8-9cea-07c6

[2018-06-25 19:54] micahalcorn commented on #248
No longer necessary thanks to https://github.com/OriginProtocol/origin-dapp/pull/271 🎉

[2018-06-25 19:54] #248 closed

[2018-06-25 20:03] micahalcorn commented on #63
Considered done with https://github.com/OriginProtocol/origin-dapp/issues/263 split into sub-tasks ✅

[2018-06-25 20:03] #63 closed

[2018-06-26 02:00] micahalcorn commented on #37
@wanderingstan we're currently not even showing the plan-text `location` value anywhere in the DApp, are we?

[2018-06-26 22:10] inkredabull commented on #228
https://github.com/OriginProtocol/origin-dapp/pull/290

[2018-06-27 13:57] micahalcorn commented on #269
This is currently living in the [translators-alert](https://github.com/OriginProtocol/origin-dapp/commits/translators-alert) branch. We need to decide whether or not we are going to do machine translations before committing to the copy. cc @jordajm

[2018-06-28 23:11] micahalcorn commented on #228
Done via #290 ✅

[2018-06-28 23:11] #228 closed

[2018-06-30 00:59] micahalcorn commented on #194
Done via #289 ✅

[2018-06-30 00:59] #194 closed

[2018-07-11 22:56] micahalcorn commented on #243
This was done awhile ago. 😐

[2018-07-11 22:56] #243 closed

[2018-07-11 22:57] micahalcorn commented on #279
Done via https://github.com/OriginProtocol/origin-dapp/pull/298 ✅

[2018-07-11 22:57] #279 closed

[2018-07-11 22:59] micahalcorn commented on #242
Considering this done 🤷‍♂️

[2018-07-11 22:59] #242 closed

[2018-07-13 20:54] mek32390 commented on #193
Should be done!

[2018-07-13 21:48] micahalcorn commented on #193
Done via #289 ✅

[2018-07-13 21:48] #193 closed

[2018-07-15 03:18] #288 closed

[2018-07-15 03:49] micahalcorn commented on #251
In order to do this using [web3 subscriptions](https://web3js.readthedocs.io/en/1.0/web3-eth-subscribe.html#subscribe-pendingtransactions), we will need to wait for [MetaMask to support them](https://github.com/MetaMask/metamask-extension/pull/4279).

[2018-07-15 04:08] micahalcorn commented on #288
Done via #297 ✅

[2018-07-18 23:14] franckc opened #300 "Standardize listing location format"
Currently when creating a new listing, the location is a free text field. Origin.js does not enforce neither any sort of standard formatting/schema for the location.

In order to be able to index the data and implement search based on listing location (ex: search for listings in a particular country, state or city, or within a given geographic radius), we need to standardize the location data. One

[2018-07-19 01:31] ambertch commented on #300
In terms of other services, I looked into using Open Street Maps as part of https://github.com/OriginProtocol/origin-dapp/issues/37

One nice thing about OSM is that it is an open source project and the server that runs the website/service/DB is open source.

However, testing against addresses showed lower lookup success rate than Google Maps API (OSM DB is populated and maintained by volunteers).

[2018-07-19 01:49] tomlinton commented on #300
I use Google Places for this in a production system. It's great most of the time, but some addresses can cause mayhem (mostly those with apartment numbers). I tested out OSM and like you say @ambertch the success rate isn't great in comparison.

I'm not sure if any of the listings will require exact addresses? If only surbub level resolution is required OSM should hopefully work!

[2018-07-20 03:41] tomlinton commented on #287
@sparrowDom I just saw in one of your recent commits that you've added supported for handling general errors like this (at least to the phone verification). It looks like your work on #152  is going to close this issue as well so I've unassigned myself for now. Happy to help out though if you'd like me to work on part of it.

[2018-07-20 06:36] sparrowDom commented on #287
Hey @tomlinton thanks for the heads up. Yeah looks like this ticket should be resolved along with issue https://github.com/OriginProtocol/origin-dapp/issues/152 like you mention. And thanks will let you know if I need some help.

I saw you cleared some stuff up and made better error reporting when doing https://github.com/OriginProtocol/origin-bridge/pull/113. Effort done there will help a lot wit

[2018-07-21 01:59] tomlinton opened #304 "Twitter window for attestation opens blank page if auth URL not set"
The auth URL for Twitter is requested [when the twitter attestation modal is opened](https://github.com/OriginProtocol/origin-dapp/blob/master/src/pages/profile/VerifyTwitter.js#L13-L19) but it is possible to click the continue button prior to the response. This will cause a [new window to open with a blank page](https://github.com/OriginProtocol/origin-dapp/blob/master/src/pages/profile/VerifyTwi

[2018-07-21 17:52] micahalcorn commented on #202
Editing this to limit the scope to daily 📆

[2018-07-21 17:54] micahalcorn opened #306 "Fractional Usage: Owner's HOURLY Calendar"
A new component needs to be added for a listing owner to manage the available times and pricing for a listing.

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5b1826bd16e713444156ae61

Related: #202

[2018-07-21 17:59] micahalcorn opened #307 "Fractional Usage: Wire Up Purchase Functionality"
A buyer should be able to complete a reservation using the daily and hourly calendars.

[2018-07-21 18:04] micahalcorn opened #308 "Fractional Usage: New API Integration"
With the addition of fractional usage listings and ongoing changes to the purchase stages, ~the purchase detail and purchase progress components~ basically everything will need to be updated to ~reflect the new purchase lifecycles~ use the new API.

☝️ Let me know if I can help with this since I created the existing mess.

[2018-07-21 18:18] micahalcorn opened #309 "Arbitration: Integrate Existing Components"
Once https://github.com/OriginProtocol/origin-js/issues/278 is completed, the purchase-detail and purchase-progress components (at least) will need to be modified to handle the creation and resolution of disputes.

[2018-07-21 18:39] micahalcorn opened #310 "Arbitration: Decrypt Messages"
Once a dispute is created, a buyer or seller should be able to initiate the decryption of any messages between the two parties for the benefit of the arbitrator/jurors.

**Edit**: This actually may happen entirely in [-js](https://github.com/OriginProtocol/origin-js/blob/develop/src/resources/messaging.js) and be triggered from some other explicit user action like "create dispute". Related: https:

[2018-07-21 18:41] micahalcorn opened #311 "Arbitration: Evidence"
Once a dispute is created, evidence should be both automatically included and potentially uploaded by each of the parties.

[2018-07-21 18:54] micahalcorn opened #312 "Search: Input Element"
An existing search input element has been added to the navbar [and then hidden](https://github.com/OriginProtocol/origin-dapp/commit/d8668380e992df356ce621a0410723e64958aaf9#diff-12e36ec8e5ae32b59f06724c9ed7f370R34). It should either be wired up or removed.

Related: https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5b51788f2ad605b11e38f756

[2018-07-21 18:56] micahalcorn opened #313 "Search: Results Page"
Once the designs are final(-ish), a search results page should be built.

See https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5b51788f2ad605b11e38f756

[2018-07-22 05:55] tomlinton commented on #286
Done by PR #301

[2018-07-22 05:55] #286 closed

[2018-07-22 06:40] tyleryasaka commented on #308
This should be done along with the contract refactor mentioned in https://github.com/OriginProtocol/origin-js/issues/281 . The current purchase stages are about to change completely.

[2018-07-22 17:03] micahalcorn opened #314 "Messaging: Listing/Purchase Context"
If a message is sent from a listing detail or purchase detail component, the relevant metadata should be included in the new message object and rendered above the conversation.

[2018-07-22 17:07] micahalcorn opened #315 "Messaging: Pending Conversation"
If user A enables messaging and then deletes her localstorage or changes browsers/devices, then messages from user B will not appear until a new private key is generated. User A should get some indication that there is a pending conversation from user B and be directed to generate a new key.

[2018-07-22 17:11] micahalcorn opened #316 "Messaging: Welcome"
As a proof of concept, we currently show a red indicator if messaging is not yet enabled, and we render "You need to enable Origin Messaging" in the dropdown. This negative experience should be replaced with a positive experience that includes a fake message from Origin welcoming the user and inviting them to enable messaging. The fake message should be "from" a real account that is managed by Ori

[2018-07-22 17:39] micahalcorn commented on #251
For future reference: https://ethereum.stackexchange.com/a/3009/42177

[2018-07-22 22:02] wanderingstan commented on #30
Hidelist and env detection is pretty set now.

Closing.

[2018-07-22 22:02] #30 closed

[2018-07-22 22:03] wanderingstan commented on #78
fixed.

[2018-07-22 22:03] #78 closed

[2018-07-23 22:07] micahalcorn opened #318 "Admin: Buttons For Listing Curation"
We currently hide listings by hard-coding their ids in a JSON file. We should conditionally render "Hide" buttons and "Feature" buttons for certain ETH accounts. The whitelist of these addresses should be managed in an environment variable.

Related: https://github.com/OriginProtocol/origin-bridge/issues/117

[2018-07-26 18:41] micahalcorn opened #322 "Messaging: Compact Message Log"
If several messages are from the same sender within a certain time threshold, only the message content should be shown. We currently show the avatar, name, and timestamp for every separate message regardless of the message that preceded.

[2018-07-31 20:54] davecraige opened #327 "DApp hangs on Coinbase Wallet iOS client"
We are currently having trouble successfully completing transactions with [Toshi wallet](https://toshi.org) and [Toshi dev wallet](https://developers.toshi.org/docs) on iOS.  The main Toshi app doesn't work on test nets at this time.

✅ We are able to log in to the Toshi developer app on the Ropsten network

🚫 We are unable to successfully create or buy a listing.  The app doesn't complete the pur

[2018-07-31 20:56] wanderingstan commented on #327
I think the only way to "See the console" for Toshi is to build the client from source in Xcode.

Github: https://github.com/toshiapp

[2018-07-31 20:58] micahalcorn commented on #327
Thanks @davecraige 😕 @wanderingstan I might try just modifying the DApp to show the real error in that modal and then deploy it to a Heroku instance.

[2018-08-01 00:00] davecraige opened #328 "Request: Test DApp on Chrome on a PC"
We would love your help testing the DApp on a PC with Chrome + Metamask extension.

Please report your findings below for the following:

- Log in to http://demo.orginprotocol.com
- Create an attestation
- Create a listing
- Purchase an item

Feel free to make PR to the [ReadMe test section](https://github.com/OriginProtocol/origin-dapp#browser--wallet-compatibility) with your results.

[2018-08-01 17:50] davecraige opened #329 "Request: Test DApp on Firefox on a PC"
We would love your help testing the DApp on a PC with Firefox + Metamask extension.

Please report your findings below for the following:
- Log in to http://demo.orginprotocol.com
- Create an attestation
- Create a listing
- Purchase an item

Feel free to make PR to the [ReadMe test section](https://github.com/OriginProtocol/origin-dapp#browser--wallet-compatibility) with your results.

[2018-08-01 17:54] davecraige opened #330 "Request: Test DApp on Brave on a PC"
We would love your help testing the DApp on a PC with the [Brave browser](https://brave.com).

Please report your findings below for the following:
- Log in to http://demo.orginprotocol.com
- Create an attestation
- Create a listing
- Purchase an item

Feel free to make PR to the [ReadMe test section](https://github.com/OriginProtocol/origin-dapp#browser--wallet-compatibility) with your results.

[2018-08-01 17:55] micahalcorn commented on #280
Done via https://github.com/OriginProtocol/origin-dapp/pull/325 ✅

[2018-08-01 17:55] #280 closed

[2018-08-01 17:56] micahalcorn commented on #251
Done via https://github.com/OriginProtocol/origin-dapp/pull/319 ✅

[2018-08-01 17:56] #251 closed

[2018-08-01 18:00] davecraige opened #331 "Request: Test DApp on Trust Wallet on Android"
We would love your help testing the DApp on an Android phone with [Trust Wallet](https://trustwalletapp.com).

Please report your findings below for the following:

- Log in to http://demo.orginprotocol.com
- Create an attestation
- Create a listing
- Purchase an item

Feel free to make PR to the [ReadMe test section](https://github.com/OriginProtocol/origin-dapp#browser--wallet-compatibility) wit

[2018-08-01 18:04] davecraige opened #332 "Request: Test DApp on Coinbase Wallet on Android"
We would love your help testing the DApp on an Android phone with [Toshi](https://toshi.org) and [Toshi developer app](https://developers.toshi.org).

*Note* : We don't believe the main app will work on testnets.  Please start with the developer app.

Please report your findings below for the following:

- Log in to http://demo.orginprotocol.com
- Create an attestation
- Create a listing
- Purchas

[2018-08-01 19:41] davecraige commented on #316
Copy pass

_"Hello and welcome [name]! We are glad you decided to join us. 😀 Please take a look around our new messaging system and please click the button below to enable it._

_I work on the core team here at Origin, so feel free to drop me a message any time if you ever have any questions. Thanks for being here!_

[2018-08-01 21:47] micahalcorn commented on #314
Done via https://github.com/OriginProtocol/origin-dapp/pull/325 ✅

[2018-08-01 21:47] #314 closed

[2018-08-01 21:54] micahalcorn commented on #316
Thx @davecraige 💬 We won't likely know the user's name, but that's a good start.

[2018-08-01 21:56] micahalcorn commented on #269
Hey, @pdandradeb, are you still working on this or can someone else pick it up?

[2018-08-01 21:59] micahalcorn opened #334 "Use consistent error message styling and placement"
https://github.com/OriginProtocol/origin-dapp/pull/303 adds a nice error experience to the profile attestations. We should be careful to consistently apply similar styles and be aware message placement everywhere that they appear.

[2018-08-02 16:36] jordajm commented on #334
Comments in PR review here:
https://github.com/OriginProtocol/origin-dapp/pull/303#pullrequestreview-142848934

[2018-08-02 20:03] tyleryasaka commented on #244
@kayyoo23 is on this one!

[2018-08-03 04:56] anshumanv commented on #329
Hey @davecraige I'm interested, can I take this up if no one's working on this?

[2018-08-03 04:58] micahalcorn commented on #329
Sure @anshumanv 🙏 I've added you as a collaborator, so just accept that invitation and I'll assign it to you.

[2018-08-03 04:59] anshumanv commented on #329
Hey @micahalcorn thanks for the quick response! :tada:
Accepted, please assign. :100:

[2018-08-03 05:09] joshfraser commented on #329
welcome @anshumanv. impressive track record there with your code contributions!

![image](https://user-images.githubusercontent.com/982234/43625195-8e0ea1f0-96a0-11e8-9256-79342db136f0.png)

[2018-08-03 14:20] vs77bb commented on #329
Howdy @joshfraser + @davecraige, Vivek from Gitcoin here. We asked @anshumanv to take a look around the interwebs for something interesting we might be able to bounty for him and, unsurprisingly, he found you all 🙂 would you mind if I post a small bounty Anshuman can claim for his work here?

Also have a bit of budget if you'd like Gitcoiner eyes on any other 'help wanted' issues. I see a few whic

[2018-08-03 17:31] davecraige commented on #329
Hi @vs77bb & @anshumanv 👋🏼

Thanks for swinging by. Would love your help.

Note: I'm not sure how paid bounties with Gitcoin + this simple Origin issue will work. I think maybe @micahalcorn or @joshfrasher might be able to give you more info on their approach to that.

Thanks for wanting to help out. Appreciate it!

[2018-08-03 18:50] joshfraser commented on #329
@vs77bb No objections here. Thank you. Will give us a good chance to see Gitcoin in action.

[2018-08-03 18:59] Natasha08 commented on #322
@micahalcorn I would like to work on this issue. Would you please assign it to me?

[2018-08-03 19:01] micahalcorn commented on #322
@Natasha08 certainly 😄 I've sent you an invitation to collaborate. Welcome!

[2018-08-03 19:03] Natasha08 commented on #322
Thanks 😄

[2018-08-03 19:05] micahalcorn commented on #322
✅ Be sure to branch ***from*** `develop` branch and then you can PR with it as your base. No need to fork. 🙏

[2018-08-03 19:07] davecraige commented on #329
Ok great.  Thanks @joshfraser!

@anshumanv feel free to begin if you would like.  You can also reach me by DM in [our Discord](www.originprotocol.com/discord) if you have any questions.

/ @vs77bb

[2018-08-03 19:08] anshumanv commented on #329
Hey @davecraige @joshfraser thanks for confirming, as I'm just starting to contribute I believe it would be good to start with a relatively simpler issue, will take up more issues progressively. :+1: :100:

[2018-08-03 19:16] davecraige commented on #329
No worries @anshumanv !  (feel free to DM me in Discord still if you would like, happy to help you get started on other issues in the future)

Thanks for being willing to help us.  It is appreciated!

[2018-08-03 20:09] wanderingstan commented on #322
Welcome @Natasha08 !

[2018-08-03 21:30] wanderingstan opened #340 "Chinese language variants not supported, language naming convention"
Currently the DApp only has [one Chinese translation](https://github.com/OriginProtocol/origin-dapp/tree/develop/translations/languages/Chinese), while we need to support both Traditional (`zh-Hant`, used in Taiwan) and Simplified (`zh-Hans`, used in China mainland).

Observations:
- On crowdin, we have both traditional and simplied translations. ([link](https://crowdin.com/project/originprotocol/

[2018-08-03 21:34] sparrowDom opened #341 "Fractional usage listing booking bug"
On `calendar_prototype` branch and create a housing/services listing.

When you try to book that listing as a buyer an error occurs.

[2018-08-03 23:50] jonhearty opened #342 "'When' field not working on Firefox when creating a 'Tickets' listing"
Using Firefox and trying to create a 'Tickets' listing but the 'When' field does not accept any input

http://demo.originprotocol.com/#/create

<img width="502" alt="screen shot 2018-08-03 at 4 46 44 pm" src="https://user-images.githubusercontent.com/3673242/43670102-4294e7be-973d-11e8-8626-6e84c93dbc9b.png">

[2018-08-04 02:31] davecraige commented on #329
Gitcoin, good to see you here.

So the bounty is $40 USD?  Am I reading that correctly above?  Who pays that?  Is there a fund @vs77bb has set up?  (And if the task only takes 6 minutes they still get paid?)

@Yapyap13, @marccx feel free to DM me on Discord if you would like and we can get started on a few of these issues. I believe they should be pretty simple at this time.  http://OriginProtocol

[2018-08-04 03:42] micahalcorn commented on #85
After talking with Stan today, I've come to a few conclusions on this. While we don't want to block the UI for up to several minutes while waiting for some number of blockchain confirmations, we also can't expect the user to do much else while waiting for their transaction to officially be complete or the results to [appear in](https://github.com/OriginProtocol/origin-dapp/issues/45) [the UI](http

[2018-08-04 04:34] jordajm commented on #340
@wanderingstan @coleman415 it looks like I no longer have access to configure the github integration on crowdin - could one of you please take a look?

[2018-08-04 07:00] anshumanv commented on #329
@davecraige

The bounty will be in the form of DAI which will be deposited in the Metamask Wallet.

Yes, he funded the issue from the gitcoin page.

Yes, as long as the issue is fulfilled and the maintainer is satisfied.

[2018-08-04 09:43] vikaskyadav commented on #329
I think the provided link is down. @joshfraser

[2018-08-04 10:54] vikaskyadav opened #344 "Tested Original Protocol on Chrome on Linux Ubuntu 16.04 LTS"
See the attached screenshot.  Qurioisty Labs listing is mine.
![originalprotocol2](https://user-images.githubusercontent.com/12607959/43675779-13b624dc-9803-11e8-8cd8-98cd648c073c.png)

[2018-08-04 11:00] vikaskyadav commented on #328
See https://github.com/OriginProtocol/origin-dapp/pull/345

[2018-08-04 15:13] davecraige commented on #329
Great fast work @vikaskyadav & @yayap13. Thank you.

I have made comments on your pull requests.

[2018-08-04 15:16] davecraige commented on #331
*shared this request in the #Android section of the Trust wallet Discord:
https://discord.gg/xScu7Rq

[2018-08-04 15:24] davecraige commented on #327
*requested assistance from Toshi on 7/11/18. cc’d @wanderingstan

https://twitter.com/davecraige/status/1017199308293189637?s=21

/ @micahalcorn

[2018-08-04 19:53] micahalcorn commented on #152
Done via #303 ✅

[2018-08-04 19:53] #152 closed

[2018-08-04 19:54] micahalcorn commented on #287
Done via #303 ✅

[2018-08-04 19:54] #287 closed

[2018-08-04 19:58] micahalcorn commented on #322
Hey, @Natasha08, I forgot to mention that we are planning to deploy our messaging feature for the first time on or around Wednesday (8/8). 🤞 It's _not_ critical that this task be completed before then, but I wanted to let you know in case you want to try to get a first PR accepted, merged, and shipped in under a week. 😁

[2018-08-04 20:27] micahalcorn opened #346 "Arbitration: UI Mockups"
Design UI and add it to [Zeplin](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9).

**Possible Elements**
- buttons and form(s) added to purchase detail page
- a user-facing resolution center
- an admin interface with evidence, conversation, form(s) and buttons

[2018-08-04 20:31] micahalcorn opened #347 "Arbitration: Build New Components"
As informed by #346 🎨

[2018-08-05 07:11] acal commented on #328
Testing Demo on Win10 with Chrome 68.0.3440.75 (Official Build) beta (64-bit). So far everything works BUT will a fair amount of lag/latency (~3-8 sec average and sometimes as much as a minute for "My Purchases" page) at page load or when updating a page or state after clicking a button. The lag is large enough that one might wonder if the server is working or if an extra button click or page relo

[2018-08-05 13:58] wanderingstan commented on #340
There isn't much to configure there except to select which branch to use and to authorize Crowdin to Github.
![image](https://user-images.githubusercontent.com/673455/43686548-136506ba-9885-11e8-9378-e4c98196acee.png)

Just guessing, might you be thinking of the settings for how files get merged? This is handled by double-clicking a folder/file here:
https://crowdin.com/project/originprotocol/sett

[2018-08-05 19:06] davecraige commented on #328
Thanks for your detailed feedback @acal. 🙏

[2018-08-05 22:44] anshumanv commented on #329
Sorry for jumping back late -
Listing - http://demo.originprotocol.com/#/listing/0xE0A25e1304cd01db72f2024592886e865054e146
User - http://demo.originprotocol.com/#/users/0x863ffF59F1112fDC6206F859090C3BdF2b7FC68a

Purchase -
![image](https://user-images.githubusercontent.com/21009455/43690846-02396f34-992f-11e8-9f54-9f7f607a2572.png)

Listings -
![image](https://user-images.githubusercontent.com/2

[2018-08-06 04:53] davecraige commented on #329
Thank you @anshumanv

[2018-08-06 19:55] vs77bb commented on #329
Hi @davecraige, we had a lot of interest on this issue after we posted it - really with the intention of @anshumanv working on it - likely because the price tag was pretty reasonable for the task at hand 🙂

Should you want to use Gitcoin on any of the other 'testing' issues, I bet Gitcoiners would love to help. For this one, I'll pay out @vikaskyadav / @yayap13 / @anshumanv for their work here (al

[2018-08-06 22:03] anshumanv commented on #342
It does seem to work when you paste a valid timestamp but not sure about other cases, how about we use a lightweight lib for date and time input(which will also make it consistent across browsers)?

cc @micahalcorn

[2018-08-06 22:05] micahalcorn commented on #342
@jordajm are you planning to use a datepicker in the fractional UI? I seem to recall that being one of Aure's action items: to get you a mockup for that element.

[2018-08-06 22:25] jonhearty opened #354 "Price box and 'back'/'done' buttons misaligned when reactively displayed for mobile"
Price box is unreadable when the window width is small enough to display reactive elements (when "ORIGIN" in header goes to "O"). "Back" and "Done" buttons are also misaligned. Using Firefox.
<img width="1915" alt="screen shot 2018-08-06 at 3 25 09 pm" src="https://user-images.githubusercontent.com/3673242/43743999-ef4a6eba-998c-11e8-899a-d485ebda5f28.png">
<img width="683" alt="screen shot 2018-0

[2018-08-06 22:27] sparrowDom commented on #341
Pull Request for this issue: https://github.com/OriginProtocol/origin-dapp/pull/353

[2018-08-06 22:29] sparrowDom commented on #334
Done via https://github.com/OriginProtocol/origin-dapp/pull/303

[2018-08-06 22:37] jonhearty opened #355 ""Add Listing" button doesn't work while in process of submitting listing"
Actual: While in step 2+ (create listing, preview listing, etc.) of submitting a listing, the "Add Listing" button in the header doesn't work.

Expected: Clicking "Add Listing" at any time always brings you back to Step 1 of http://demo.originprotocol.com/#/create

Using Firefox

[2018-08-07 03:15] jordajm commented on #355
I think this is because the "Add a listing" is just a link to the `/create` route and since the browser is already on the `/create` route, it doesn't make the workflow start over at step 1 of the "create listing" workflow.

[2018-08-07 05:03] davecraige commented on #329
@vs77bb thank you for all your great help with this. Note : I believe the Gitcoin slack link doesn't currently work for me.

Could you please drop me a line on our Discord. Thank you!  http://OriginProtocol.com/discord

[2018-08-08 00:32] micahalcorn opened #361 "Token: Update User Dropdown & Wallet"
Once token functionality is added, the wallet component and user dropdown components will need to be updated with the two separate balances, new styling, and dropdown menus.

See [dropdown](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b60249242b8cee63956d43d), [wallet (with menus)](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b602540ec2e4d0e846557f2), and [walle

[2018-08-08 00:38] micahalcorn opened #362 "Token: Onboarding Modal"
Selling with the Origin token will require a bit of onboarding. We will have a new style of modal with four stages:

- [ ] [overview](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b67f36ade8786511c3e59d7)
- [ ] [connect](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b67f36b1b81d5513af46a35)
- [ ] [learn](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/scree

[2018-08-08 00:41] micahalcorn opened #363 "Token: About Page"
Build an About page explaining Origin Tokens.

See https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b602542f0e886e30b9ff4c7

[2018-08-08 17:59] franckc opened #366 "Search location picker UI"
Build a UI component for search location picker, per mock here: https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b5178822f0b6de02778f914

[2018-08-08 18:00] franckc commented on #313
This includes:
- search bar
   - search box
   - listing type picker on left side of search box
   - price filter
   - availability filter for fractional usage listings
   - links with pre-defined filters/sorting on the right of the search box
  - sort by button (price low to high, most to least recent creation date, ...)
- displaying search results based on actions from search bar

Note: the "loc

[2018-08-09 03:12] micahalcorn commented on #322
Just a heads up @Natasha08 ✋ you may want to merge in a bunch of messaging tweaks when they get approved: https://github.com/OriginProtocol/origin-dapp/pull/369

[2018-08-09 23:20] wanderingstan opened #372 "Potentially non-localizable string"
For localization, we cannot be assembling sentences from component parts, as other languages' grammar/segmenting/ordering may not be like English, and they may have extra requirements around gender/case changes.

This code is used to create sentences like "In order to create a listing, you must install MetaMask":

[code]
([link](https://github.com/OriginProtocol/origin-dapp/blob/master/src/compone

[2018-08-09 23:23] wanderingstan opened #373 "String not localized"
When selected German, this english text still shows up:

<img width="1392" alt="screen shot 2018-08-09 at 5 06 44 pm" src="https://user-images.githubusercontent.com/673455/43930787-a7fddd94-9bf8-11e8-9198-7734fbb3da14.png">

The string is in translated, according to crowdin.
https://crowdin.com/translate/originprotocol/63/en-de#q=you+must+sign+in+to

[2018-08-09 23:39] wanderingstan opened #374 "Messaging button does nothing when on wrong network"
If you are on the wrong network (e.g. on Rinkeby when dapp is on private testing), then clicking the "Yes Please" button does nothing.

![image](https://user-images.githubusercontent.com/673455/43931287-f9925ed0-9bfa-11e8-9ea8-dd40b7010705.png)

[2018-08-09 23:41] wanderingstan commented on #374
Nevermind, it's just that MetaMask didn't pop to the front. Still not clear when/why it does that.

[2018-08-09 23:41] #374 closed

[2018-08-09 23:44] wanderingstan opened #375 "Messaging text not localized in popup"
Testing in German, the messaging popup shows English: "Unread Messages" and "View All"

![image](https://user-images.githubusercontent.com/673455/43931482-cb488544-9bfb-11e8-8149-84109d4183b4.png)

[2018-08-09 23:47] wanderingstan opened #376 "Various strings not translated"
Viewing DApp in German, http://localhost:3000/#/my-purchases shows in English.

![image](https://user-images.githubusercontent.com/673455/43931559-3d1d5906-9bfc-11e8-8865-cc88cd5177d0.png)

Also

![image](https://user-images.githubusercontent.com/673455/43931600-86257dd6-9bfc-11e8-82aa-e82b709cb8d5.png)

[2018-08-09 23:49] micahalcorn commented on #375
Fixed in https://github.com/OriginProtocol/origin-dapp/pull/369 ✅

[2018-08-09 23:49] #375 closed

[2018-08-10 00:00] micahalcorn commented on #376
All but the "Browse Listings" link appear to already be wrapped. The link is repaired by https://github.com/OriginProtocol/origin-dapp/pull/377.

[2018-08-10 04:12] jordajm opened #379 "Update translation status for all languages in README.md"
The README here:
https://github.com/OriginProtocol/origin/tree/master/origin-dapp/translations
contains a table that needs to be updated with the translation status of all supported languages based on crowdin completion percentage found here:
https://crowdin.com/project/originprotocol

Similar to the Origin website translations README found here:
https://github.com/OriginProtocol/origin-website/tr

[2018-08-10 05:11] micahalcorn commented on #340
Done via #348 ✅

[2018-08-10 05:11] #340 closed

[2018-08-10 05:12] micahalcorn commented on #341
Done via #353 ✅

[2018-08-10 05:12] #341 closed

[2018-08-10 05:17] #329 closed

[2018-08-10 06:14] micahalcorn commented on #376
Considering this done via #377 ☑️

[2018-08-10 06:14] #376 closed

[2018-08-10 11:55] vikaskyadav commented on #379
Can I push the relevant table in the readme?

[2018-08-10 14:27] jordajm commented on #379
Hi @vikaskyadav - yes, thanks! @micahalcorn can add you as a contributor so you don't have to PR from a fork. Let me know if you have any quesitons

[2018-08-10 14:53] micahalcorn commented on #379
@vikaskyadav I see that you are already a contributor, but your visibility is set to private. Please consider changing that to public. 😊 As for these changes, you won't be able to push them to master or develop, but please do create a pull request, thanks!

[2018-08-10 20:45] micahalcorn commented on #166
Done via #335 ✅

[2018-08-10 20:45] #166 closed

[2018-08-10 21:15] davecraige commented on #363
Happy to take a pass on copy when requested.

/ @aure

[2018-08-10 21:47] davecraige commented on #330
cc @acal

[2018-08-10 21:57] micahalcorn commented on #330
@acal should also make his membership in the GitHub organization public instead of private 😄 https://help.github.com/articles/publicizing-or-hiding-organization-membership/

[2018-08-10 21:59] wanderingstan opened #382 "Remove RTL languages in Dapp"
For release: Two more RTL languages should be removed.

`ms-MY` - Malay. Seems to be written in Arab Melayu
`ug-CN` - Uyghur ( [link](https://forum.joomla.org/viewtopic.php?t=363929) )

[2018-08-11 04:54] micahalcorn commented on #316
Done via #369 👬

[2018-08-11 04:54] #316 closed

[2018-08-11 05:08] micahalcorn opened #383 "Sort Conversation List Items"
In the messages dropdown and on the left side of the messages component, we show a list of conversations and include a truncated message for each. These should be sorted in descending order based on the last message received.

[2018-08-11 09:50] anshumanv commented on #208
Looking this up.

[2018-08-11 12:42] micahalcorn commented on #208
Thanks @anshumanv 😄Please also consider changing your membership in the GitHub organization to public instead of private. https://help.github.com/articles/publicizing-or-hiding-organization-membership/

[2018-08-11 19:04] anshumanv commented on #208
Ah forgot to do it, done @micahalcorn :+1: :100:

[2018-08-12 03:33] wanderingstan opened #384 "Messaging problem on Heroku (Release)"
[code]

Regression testing on Heroku shows that [this line in Aug 7 commit](https://github.com/OriginProtocol/origin-dapp/commit/70befb668a9b99f9b8f03bb1f2463ae05ca41d25#diff-abdd7930d6a864d7e1f8eba6732edeb8R72) is causing error.

In browser, error appears as:
[code]
![image](https://user-images.githubusercontent.com/673455/43998253-c1215fb4-9dae-11e8-97e8-054b92facb93.png)

...which indicates tha

[2018-08-12 04:01] dhruvkumar001 commented on #223
I am working on this issue.

[2018-08-12 07:00] acal commented on #330
I had no idea it was set to private! Not sure where to change that @micahalcorn. So Brave on PC is operational. The one difference in functionality is that Metamask does not pop up when conducting a transaction. Instead there is just a numerical indicator that appears next to the Metamask extension icon on the browser toolbar. So unless you think to look for that you are left waiting for the metam

[2018-08-12 07:00] #330 closed

[2018-08-12 08:36] acal opened #386 "Force MetaMask Intrusive Popup"
[micah] **Edit 9/24/2018**

We should investigate whether or not there is a way to force MetaMask to intrusively pop up unless explicitly dismissed by the user **_per transaction_** rather than display the number on the icon. This is particularly problematic in Brave and when we have back-to-back transactions such as enabling messaging for the first time.

-----
When using Brave / Win10 / Metamask

[2018-08-12 10:11] dhruvkumar001 commented on #223
Hi @ambertch,

The page should be refresh on Publish the profile or when user click on Continue button inside the popup?

[2018-08-12 12:39] wanderingstan commented on #384
I just woke up realizing the same thing; this would be using an old origin-stan.

I need to be modifying package.json to have it use origin.js direct from our github

[2018-08-12 14:31] micahalcorn commented on #223
@dhruvkumar001 a refresh should not be required at all. The user dropdown should reactively update to show the new attestations or profile attributes.

[2018-08-12 14:34] anshumanv commented on #208
Hey @micahalcorn @davecraige will it be fine if the gitcoin guys fund this issue? :sparkles: :smile:

[2018-08-12 16:40] dhruvkumar001 commented on #223
Okay will make it the way.

[2018-08-12 18:10] micahalcorn opened #387 "Add Messaging To Connectivity Dropdown"
The connection to the OrbitDB server should be represented in the connectivity dropdown. Since the `IPFS_SWARM` value is so long and complex, we should decide which components of this address should be extracted and shown.

[2018-08-13 18:31] #384 closed

[2018-08-13 18:43] micahalcorn opened #389 "Fractional Usage: General Availability"
For the hourly calendar:

- [ ] daily start time
- [ ] daily end time
- [ ] time zone
- [ ] hourly rate
- [ ] weekdays only vs every day

[2018-08-13 18:44] jordajm commented on #342
@micahalcorn a datepicker is no longer part of the initial fractional usage UI, but may be incorporated later

[2018-08-13 18:46] micahalcorn opened #390 "Fractional Usage: Default Cost"
For the daily calendar, add a default cost per night and maybe one price for weekdays and another for weekends.

[2018-08-14 00:57] wanderingstan opened #391 "Replace English "Please Wait" with image"
When the DApp is first loading, it shows "Please Wait".
https://github.com/OriginProtocol/origin-
dapp/blob/c8d6d0055ef45d8d5ee57987236d4db4960b7f8f/public/index.html#L10

This is bad for localization and the look is very different from teh rest of site.

I'd propose replacing this with a full screen of Origin dark-blue, with spinner in center:

https://github.com/OriginProtocol/origin-dapp/blob/m

[2018-08-14 03:25] micahalcorn opened #393 "Messaging: Disable If Web3 Is Not Present"
Similar to the way that we handle the buy button in Safari, messaging features should be disabled if an ETH account cannot be detected.

[2018-08-14 08:22] sparrowDom opened #394 "Airbnb attestation fails without error if bridge server unavailable"
Currenlty our demo evnironment [demo-dapp-testing](https://demo-dapp-testing.herokuapp.com/#/profile) does not have up to date bridge server deployed on [https://bridge.originprotocol.com/api](https://bridge.originprotocol.com/api). In this case the Airbnb attestation fails without error

[2018-08-14 10:05] sparrowDom commented on #394
Pull Request for this issue: https://github.com/OriginProtocol/origin-dapp/pull/395

[2018-08-14 14:17] #394 closed

[2018-08-14 14:18] sparrowDom commented on #394
@micahalcorn will someone also deploy the latest bridge-server code on https://bridge.originprotocol.com/api?

[2018-08-14 14:18] micahalcorn commented on #394
Yeah, I don't think we've gotten that far yet. 😕

[2018-08-14 16:30] jordajm opened #397 "Implement pseudo-localization"
When developing a new feature in the DApp, it may be helpful to be able to view the component with longer/taller strings to identify inflexible containers and make sure they can handle non-english strings. Otherwise, we have to wait until translators complete translation of the new strings, which will usually not be available until after the feature is released.

Inspired by this blog post from Ne

[2018-08-14 17:26] wanderingstan opened #399 "Add method for getting version of origin-js"

[2018-08-14 20:56] mek32390 commented on #363
@micahalcorn @matthewliu is there copy to add to this page?

[2018-08-14 20:57] micahalcorn commented on #363
@mek32390 the token UIs are not quite ready, but thanks for getting this one started. 😬

[2018-08-14 20:58] mek32390 commented on #363
no problem, I kinda figured that. It's ready for copy and video.

[2018-08-14 21:01] davecraige commented on #208
Not sure how that will work to be honest.

*dropped @vs77bb a note about this in the Gitcoin Slack.

[2018-08-14 22:19] jordajm opened #400 "Create "supported languages" list for translations script"
The script that we use to process translated string translated string is here:
https://github.com/OriginProtocol/origin-dapp/blob/develop/translations/scripts/processTranslatedMessages.js

We need to modify that script so that that it will only include supported languages in `translated-messages.json` instead of just pulling in whatever Crowdin sends in the auto-generated PRs.

This will prevent u

[2018-08-14 22:53] wanderingstan opened #402 "Re-create featured listings to enable localization"
Our current "Featured Listings" were created using an old (the first, in fact) version of our json-schema, which pre-dates localization.  Thus the section titles (e.g. "VACATION RENTALS") do not get translated.

![image](https://user-images.githubusercontent.com/673455/44122652-1695aac4-9fe2-11e8-9cf7-eeb71ee0804e.png)

(To be technical, the old jsonschema had literal english, while we now use ids

[2018-08-14 23:01] davecraige commented on #402
Happy to take a pass on recreating these listings.

[2018-08-14 23:14] davecraige commented on #386
Experiencing this as well.  The icon is very small and may be missed by a number of users.  Screenshot below:

![screen shot 2018-08-14 at 5 11 49 pm](https://user-images.githubusercontent.com/2782676/44123407-6ad004e2-9fe5-11e8-91cd-25eefbc32a27.png)

[2018-08-14 23:44] davecraige opened #403 "Consider expanding description section / allowing resizing"
Wondering if we should give users a bit more room to fill in long descriptions.  Example of a long listing that could use more space in the description section:

![screen shot 2018-08-14 at 5 31 56 pm](https://user-images.githubusercontent.com/2782676/44124254-7ef69d74-9fe9-11e8-8451-97129c56560c.png)

Also, any thought on maybe adding a resize handle to the bottom right like sites like Github and

[2018-08-15 02:32] davecraige commented on #402
Ok, here are the listings recreated:
http://demo.originprotocol.com/#/listing/0x37e35851854C575CF411A5c12D4716305A3dc651
http://demo.originprotocol.com/#/listing/0xab18b45E8d0a96bBD9b160b8f5e07fA71D3Bb14a
http://demo.originprotocol.com/#/listing/0x3a57F3a93539b9742ea84CB5f6411b6338276FFc
http://demo.originprotocol.com/#/listing/0x838FbAC4246d1e0EC52777D7b011c49aaD7eD2c1

And a chicken one too 🐓
ht

[2018-08-15 02:43] wanderingstan commented on #402
Thanks @davecraige !

Your additional points are all good, but we should keep this focussed on the issue at hand, "Re-create featured listings to enable localization".

Can you create a separate issue(s) with your other concerns so they can be discussed and fixed on a case-by-case basis?

We'll be closing out this issue as soon as we get your newly created listings featured, and I wouldn't want al

[2018-08-15 02:47] davecraige commented on #402
@wanderingstan sure!

(Do you by chance have any suggestions on the proper way to name the new issue?  Something like "DApp Chrome Desktop user experience notes" Or something?  Would love any feedback you have on that.)

[2018-08-15 02:50] micahalcorn commented on #244
Talk to @kayyoo23 😁

[2018-08-15 04:49] kayyoo23 commented on #244
Yesss I will finish this up tomorrow!

😂

On Tue, Aug 14, 2018 at 7:50 PM, Micah Alcorn <notifications@github.com>
wrote:

--
Kay Yoo
Finance & Operations
Origin Protocol <http://originprotocol.com>

[2018-08-15 13:06] concerned3rdparty commented on #304
i tried to reproduce this bug in develop branch but npm run start gives these errors :

    at MessagingProvider.componentDidMount (messaging-provider.js:47)
    at commitLifeCycles (react-dom.development.js:14361)
    at commitAllLifeCycles (react-dom.development.js:15462)
    at HTMLUnknownElement.callCallback (react-dom.development.js:100)
    at Object.invokeGuardedCallbackDev (react-dom.devel

[2018-08-15 13:13] concerned3rdparty commented on #304
i tried to reproduce this bug in develop branch but npm run start gives these errors :

messaging-provider.js:47 Uncaught TypeError: Cannot read property 'events' of undefined
    at MessagingProvider.componentDidMount (messaging-provider.js:47)
    at commitLifeCycles (react-dom.development.js:14361)
    at commitAllLifeCycles (react-dom.development.js:15462)
    at HTMLUnknownElement.callCallbac

[2018-08-15 13:16] micahalcorn commented on #304
Hi @concerned3rdparty 👋 it sounds like you may be trying to run the develop branch of this repo with the published package for origin-js or some combination of branches that don’t go well together. Can you confirm?

[2018-08-15 13:57] wanderingstan opened #405 "Long translations cropped/overlapping"
As is typical, German has über-long words which break some layout elements:

---

### In listing card

![image](https://user-images.githubusercontent.com/673455/44151604-4dd1337c-a060-11e8-9224-33373b1e3f0d.png)

Full word is "Verkauft".

---

### Footer
![image](https://user-images.githubusercontent.com/673455/44151662-77f95580-a060-11e8-8d5d-ac878e7e54e8.png)

[2018-08-15 14:07] wanderingstan opened #406 "Messaging Localization: Tom from MySpace only speaks English?"
![image](https://user-images.githubusercontent.com/673455/44152157-02c08340-a062-11e8-973a-f61b3f4dd4de.png)

The messaging "Welcome Message" is in English only. I don't think we want to imply that we can provide support in any language, but I think we can be more graceful about it. How about we get the standard welcome message translated, but then add an extra sentence saying something to the eff

[2018-08-15 14:14] wanderingstan commented on #406
Update: Looks like at least Japanese has the welcome message translated.

![image](https://user-images.githubusercontent.com/673455/44152582-243469c8-a063-11e8-8c01-b199150ae56a.png)

So is this merely a case of missing translations? @coleman415 @jordajm ?

[2018-08-15 14:16] concerned3rdparty commented on #304
origin.js version in package.json : "origin": "0.6.1"

[2018-08-15 14:54] micahalcorn commented on #406
This was a late addition so it may have come after the last round of machine translations.

[2018-08-15 14:54] #406 closed

[2018-08-15 14:58] micahalcorn commented on #304
Great, thanks @concerned3rdparty 👍 So we recommend running everything with [Origin Box](https://github.com/OriginProtocol/origin-box). It is currently configured to run all three repos on their `develop` branches. I can't promise that they are stable, since we are actively developing on those branches, but that should at least solve your issue of not finding the messaging resource.

[2018-08-15 15:37] wanderingstan commented on #406
Confirmed, we have the message translated:
https://crowdin.com/translate/originprotocol/63/en-de#q=Welcome+to+the+Origin+Protocol

@jordajm Can you get latest translations merged into release branch (and stretch goal: update the translations/README.md with info about the language whitelist functionality you added yesterday)

[2018-08-15 15:53] wanderingstan commented on #405
I confirmed that adding a "[soft hyphen](https://stackoverflow.com/questions/226464/soft-hyphen-in-html-wbr-vs-shy)" allows the word to get hyphenated here, and added to crowdin.

https://crowdin.com/translate/originprotocol/63/en-de#q=product+brief
[code]

![image](https://user-images.githubusercontent.com/673455/44157947-dbd8cd00-a070-11e8-8abc-fe029726edb4.png)

[2018-08-15 15:56] jordajm commented on #405
FWIW - this is the kind of thing we could catch during development if we do this:
https://github.com/OriginProtocol/origin-dapp/issues/397

[2018-08-15 16:06] wanderingstan commented on #397
Interesting.

Since we already have `react-intl` wired up, I think that putting the npm module in the DApp is not the right move; it doesn't "know" which strings have been wrapped for localization, and adds another dependency to the dapp.

Could we instead add the package to your `processTranslatedMessages.js` script, creating an additional "language" called "Pseudo Localization", build from our e

[2018-08-15 16:39] micahalcorn opened #407 "Messaging: Handle Decryption Failure"
I don't know if we want the DApp to do anything or not when a message arrives which cannot be decrypted. In most cases [this should be ignore and resolved](https://github.com/OriginProtocol/origin-js/issues/339), but it may be possible for a message to arrive for which there truly is no key. In that case, I'm not sure what good it does to tell the user that they have received a message but we can'

[2018-08-15 22:02] micahalcorn opened #409 "Messaging: Conditionally Autoscroll"
I removed the autoscroll because there are too many rerenders. It needs to be added back and conditionally fire or trigger an indicator that there are new messages below.

[2018-08-15 22:51] davecraige opened #410 "Provide Listing Image Size Guidance"
[micah] **Edit 9/24/2018**

In the future, [we will allow larger image uploads](https://github.com/OriginProtocol/origin-dapp/issues/489). Until then, we should provide more information to the user regarding their image(s) selection relative to the allowable limits. The user experience will be less frustrating if more information is available about the appropriate file size.

--------
It appears a

[2018-08-15 22:55] davecraige opened #411 "Taxonomy overlap"
+ I believe there may be a bit of an overlap when it comes to musical performances.  _For sale >> Tickets_ and _Tickets >> Music_ seem to basically be the same thing.  It may make searching less optimal in the future.

+ I wonder if other users will mix up the taxonomy a bit.  I accidentally clicked "For Sale" when I was supposed to relist the real estate in "Housing" for Stan (https://github.com/

[2018-08-15 23:16] micahalcorn commented on #410
Relevant: https://github.com/OriginProtocol/origin-dapp/pull/217

[2018-08-16 16:17] wanderingstan commented on #405
Just noticed in Japanese also:
![image](https://user-images.githubusercontent.com/673455/44221030-80c0dc00-a13d-11e8-8701-2ecd621b999e.png)

[2018-08-16 17:35] micahalcorn commented on #405
We certainly need to do a pass on the entire DApp, but I think that specifically in regard to that sold tag, Aure wants to scrap it in favor of something else.

[2018-08-16 21:49] kayyoo23 commented on #244
💪

On Thu, Aug 16, 2018 at 2:21 PM, Micah Alcorn <notifications@github.com>
wrote:

--
Kay Yoo
Finance & Operations
Origin Protocol <http://originprotocol.com>

[2018-08-17 13:50] micahalcorn opened #415 "Maintain Input Values In State"
The conversation textarea is an uncontrolled component because this was the easiest way to intercept the return key and force a form submission. As a consequence, the element's value is either maintained across all conversations until changed/submitted or [currently] it clears when a user toggles to a different conversation. If I type something in conversation A and then navigate to conversation B

[2018-08-17 16:32] wanderingstan opened #416 "Fix hidelist"
As part of the 0.7.0 release, I [hit a snag merging our completed release branch into _master_,](https://github.com/OriginProtocol/origin-dapp/commit/6ff71f6dc52733def8e919be08d65c2bfd0a9c40) because we (er...I) had [done a hotfix](https://github.com/OriginProtocol/origin-dapp/pull/231) to master months ago changing our hidelist strategy back to using listing indexes.

So right now on master we ha

[2018-08-17 16:43] jordajm commented on #415
@micahalcorn - I see how redux may be the right place to manage state for messaging but it might get somewhat messy to manage `react-jsonschema-form` state in redux. After some googling, it looks like it's possible, but it also looks like it can get kind of hacky and verbose. The main problem is that managing form state in redux is typically done with `onchange` events on form fields, and those ev

[2018-08-17 16:44] jordajm commented on #415
To prevent data loss from user navigation on the listing create form, we might want to add a message when the user tries to navigate away from the workflow that warns them that they may lose data if they don't complete the workflow.

[2018-08-17 16:45] micahalcorn commented on #415
@jordajm yeah, this one is messy and probably not a priority. I think you're probably on the right track with a prompt.

[2018-08-17 16:51] micahalcorn commented on #415
My instinct here was probably informed by my experience in Discord and also here on GitHub. I guess we could use `localstorage` and let people move freely about the app, but we don't need to do this anytime soon.

[2018-08-17 23:11] jonhearty opened #417 "Force HTTPS Redirect With Environment Variable"
Tried to click the "Enable messaging" CTA but nothing happened when doing so. Turns out it's because I wasn't on https://demo.originprotocol.com, but just demo.originprotocol.com -- need to change the UI to make it clear what's happening and/or redirect to https://

<img width="1469" alt="screen shot 2018-08-17 at 4 09 29 pm" src="https://user-images.githubusercontent.com/3673242/44292216-33756500

[2018-08-17 23:17] joshfraser commented on #417
Good catch @jonhearty.

We should always force the redirect to https.

[2018-08-18 01:32] micahalcorn commented on #403
Note that this is probably not just a simple HTML change; it probably stems from our JSON schema. But it should be a simple fix nonetheless +/- a CSS property.

[2018-08-20 18:51] Natasha08 commented on #393
@micahalcorn can you assign this to me?

[2018-08-20 18:52] micahalcorn commented on #393
@Natasha08 done thx 🙏

[2018-08-20 22:36] wanderingstan opened #419 "Form validation not localized"
Form validation in the DApp is not localized:

<img width="494" alt="screen shot 2018-08-20 at 4 31 43 pm" src="https://user-images.githubusercontent.com/673455/44370244-99f7be80-a496-11e8-923f-921e53ca0235.png">

Looks to be a known issue:
https://stackoverflow.com/questions/5392882/why-is-chrome-showing-a-please-fill-out-this-field-tooltip-on-empty-fields
https://drupal.stackexchange.com/questio

[2018-08-21 02:11] #208 closed

[2018-08-21 16:04] wanderingstan opened #420 "Page Title not Localized"
The HTML `<TITLE>` of the page is not localized—the one that appears in the browser tab.

![image](https://user-images.githubusercontent.com/673455/44413705-46828080-a529-11e8-9a0d-3b5011135c8c.png)

SO Answer:
https://stackoverflow.com/a/8660499/59913

[2018-08-21 16:09] wanderingstan opened #421 ""Next Step" not localized"
The text **Next Step** is not localized on my-sales page.

https://demo.originprotocol.com/#/my-sales

![image](https://user-images.githubusercontent.com/673455/44414064-1c7d8e00-a52a-11e8-832a-01f7ade19b92.png)

![image](https://user-images.githubusercontent.com/673455/44413705-46828080-a529-11e8-9a0d-3b5011135c8c.png)

[2018-08-21 16:46] micahalcorn commented on #417
Done via https://github.com/OriginProtocol/origin-dapp/commit/5baaf790d8d46fb95347c2a171277f8519eada2b ✅

[2018-08-21 16:46] #417 closed

[2018-08-21 18:29] mek32390 commented on #405
@wanderingstan to confirm, are you proposing that when we find an irregularly long word that breaks the layout, the correct step to take is to add/approve a translation of that word within crowdin that includes a soft hyphen?

[2018-08-21 19:58] wanderingstan commented on #405
Ugh, apparently not: The soft hyphen code isn't making it out of Crowdin:
![image](https://user-images.githubusercontent.com/673455/44425851-4e9ee800-a54a-11e8-887f-576e9b24bb10.png)

[2018-08-21 20:14] wanderingstan commented on #405
@jordajm  Do you know if html codes are being stripped by `react-intl`, and/or if there is some way to stop that? It looks like the html code `&shy;` is getting exported from crowdin and picked up by our json here:
https://github.com/OriginProtocol/origin-dapp/blob/a9348de77f62c9192a150c0531bf350e2305f825/translations/languages/de-DE/all-messages.json#L28

So the problem must be that it gets escap

[2018-08-21 23:35] micahalcorn opened #424 "Token: Seller Onboarding Modal"
Sellers will be guided through the process of enabling Web3, learning about commissions, and potentially acquiring tokens. The mocks are [here](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538aaf06c1b396e482090), and there are four states that the tutorial may be in:

- [x] [overview](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b67f36ade8786511c3e59d7)
- [x]

[2018-08-22 15:09] micahalcorn opened #425 "Increase Conversion Rate Fetch Frequency"
In an effort to solve [this issue](https://github.com/OriginProtocol/origin-dapp/issues/228), our currency conversion query was [cached for 30 minutes](https://github.com/OriginProtocol/origin-dapp/pull/290/files) in `localStorage`. Our new objective is to give users quasi-real-time, reactively updating estimates of ETH values converted to USD. In order to do this, we need to check the conversion

[2018-08-22 21:12] micahalcorn commented on #425
This should maybe only continue to poll if the user is viewing a relevant component.

[2018-08-22 21:56] davecraige opened #427 "Origin messaging on boarding feedback"
I've begun testing messaging with a few people.  I wanted to share a few user experiences and ideas if you don't mind. Feel free to give feedback on how you would like these issues formatted in the future ( don't want to make too many and overwhelm the issues section, but did want to begin keeping an eye on any parts of messaging that are challenging to use )

I believe the current challenges to m

[2018-08-23 21:52] tyleryasaka opened #1905 "Force one-to-one relationship between wallet and identity in user registry"
This is blocked by: https://github.com/OriginProtocol/origin-js/issues/369

We currently guarantee that a wallet owns a registered ERC725 identity. But we do not enforce that an identity is used by only one wallet. It would be possible for someone to register their own custom ERC725 implementation on our user registry, and then share that identity among an unlimited number of separate ethereum wal

[2018-08-23 22:45] mek32390 commented on #427
as mentioned in QA Testing channel on discord: Although I have already viewed the "welcome to messaging" message from Kay on one tab, whenever I open a new tab and visit the DApp in it (in the same Chrome window), I get the same  "welcome to messaging" message from Kay. Refreshing the tabs doesn't help, and the only way to get the notification to resolve is to view the messaging page again.

[2018-08-23 22:54] mek32390 commented on #427
also noticed that after changing my name on my profile, it is not being reflected in the profile drop down, however it does appear on the messaging and profile pages.

**Browser/Extension**
Chrome (Version 68.0.3440.106) using Metamask (Version 4.9.3)

**Platform/OS**
Mac/OS High Sierra (Version 10.13.16)

[2018-08-23 22:55] micahalcorn commented on #427
@mek32390 is the identity dropdown fixed after a refresh? It sounds like https://github.com/OriginProtocol/origin-dapp/issues/223.

[2018-08-23 23:06] mek32390 commented on #427
@micahalcorn it doesn't seem to be fixed by a refresh. I haven't seen it be fixed by any action taken on the DApp, yet. It still shows I am a "Unnamed User" in the dropdown.

[2018-08-24 01:44] mek32390 commented on #427
Some user-experience issues I identified while browsing through the DApp:

**Issue**: with attestations, we assume people don't understand the implications of publishing information on the blockchain. Should we assume the same in that people may not know it costs money + gas to publish data (transactions) on the blockchain? If so, we should provide additional context, just as we do with attestatio

[2018-08-24 16:27] devotebest commented on #379
https://github.com/OriginProtocol/origin-dapp/tree/develop/translations this branch doesn't exist.
@micahalcorn

[2018-08-24 16:28] micahalcorn commented on #379
Updated ✅ Thx @devotebest!

[2018-08-24 18:16] micahalcorn commented on #362
Duplicate of #424 🤦‍♂️

[2018-08-24 18:16] #362 closed

[2018-08-24 18:38] micahalcorn opened #432 "Token: Listing Creation Features"
The listing creation process now requires several updates.

**[Details](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538ac402bbf605c9afde5)**
- [x] description rendered as textarea
- [x] incremental photo UX
- [x] improved price field
- [x] currency conversion hint with explanation

[2018-08-24 22:43] jordajm commented on #403
@micahalcorn this can probably be closed b/c it's covered in https://github.com/OriginProtocol/origin-dapp/issues/432

[2018-08-25 13:45] LukaNarat commented on #332
Tested on Samsung Galaxy S9 (lollipop)

- Attestation (email): https://demo.originprotocol.com/#/users/0xf72afd50850666dbc886c648938116b24205c018
- Listing Created: https://demo.originprotocol.com/#/listing/0xF36C55ea9986dCC1884FBAc2BD6538494A37Ad98
- Item purchased: https://rinkeby.etherscan.io/tx/0x738cc725001631cc8fadf8316d7ff64448c3fe2dffcacefb0f4c028725c316a9

Couldn't test Toshi developer ap

[2018-08-25 14:42] LukaNarat commented on #330
Can reconfirm @acal's findings here. Didn't notice it was tested already. Should  README.md be updated @davecraige ?

just for reference:

Attestation: https://demo.originprotocol.com/#/users/0xDfCe568AA6BA3dbF98E9F05667Ff59c204851582

Listing Creation: https://demo.originprotocol.com/#/listing/0xa5655d90Ac0fC8B2551C1Db2a69a86F79ce5D3dB

Item Purchase: https://rinkeby.etherscan.io/tx/0xcc152e89e05