[2019-10-03 17:21] micahalcorn opened #3628 "Handle Telegram Bot Replies"
#3627 will likely result in users attempting to converse with our Telegram bot. Let's not get too crazy with building out functionality to handle this, but let's at least be aware of these replies. We should alert ourselves to any replies by sending an email to the support account and then store the replies in the database since they are otherwise inaccessible after 24 hours. If we see anything th

[2019-10-03 18:53] #3625 closed

[2019-10-03 19:41] nick commented on #3619
I think this is a result of the new Payment page. I had exposed a `suggestedToken` prop via the `WithPrices` component which suggests the default payment method to use based on your current balances and what payments are accepted on the listing. It will always suggest Eth if the listing accepts both Eth and Dai.

@shahthepro perhaps we can use that prop in the new payment flow?

[2019-10-03 19:43] nick commented on #3359
Closing this as a fresh account does indeed take me to onboarding on that listing

[2019-10-03 19:43] #3359 closed

[2019-10-03 21:34] sparrowDom commented on #3611
@micahalcorn messaging keys are stored as cookies, so they aren't affected by the localStorage clearing itself.

Though if you reinstall the app on the phone the cookies don't survive that

[2019-10-03 21:36] sparrowDom commented on #2965
I am reproducing / debugging this on 0.25 right now.

[2019-10-03 23:11] mikeshultz opened #3631 "GraphQL block polling goes sideways"
Just happened on Rinkeby.  Dapp was polling for a block number from the graphql services, and graphql was responding with the same outdated block number repeatedly. This would prevent the `NEW_BLOCK` events from firing, preventing receipt fetches(endless spinner).

The only errors output by the graphql service were IPFS fetch errors:

    Error retrieving IPFS data for 0x5668f0664fe4f6015c10e3c1ad

[2019-10-03 23:14] mikeshultz commented on #3631
I just saw those same IPFS errors in the recreated instance of graphql service and block number polling is working fine.  Seems unrelated.

[2019-10-03 23:21] micahalcorn opened #3632 "Canceled Rewards"
![382E191D-C943-49DD-841A-1F83852B8400](https://user-images.githubusercontent.com/273937/66170556-89060000-e5f9-11e9-90e8-6f80fe94380a.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/originprotocol/origin#zenh

[2019-10-04 00:36] micahalcorn commented on #2932
Just saw this and thought it was relevant:

![0B46C3E8-85DF-47EC-A850-6B88719DFFE0](https://user-images.githubusercontent.com/273937/66173276-35e57a80-e604-11e9-9a3e-8c2b3abad0be.jpeg)

[2019-10-04 00:54] micahalcorn opened #3634 "Mobile App Reward Dead End"
As an Origin Rewards user with the mobile app, I see the correct state of 100 OGN reward.

- [ ] The "Featured" badge should have some margin below it to avoid a near-collision with the text.

![image0 (1)](https://user-images.githubusercontent.com/273937/66173654-1fd8b980-e606-11e9-8a10-8afe9a70f5b5.png)

- [ ] It should not be clickable, as it leads to a problematic redirect.

![image1](https://

[2019-10-04 01:33] kayyoo23 commented on #2932
Yes.👌

On Thu, Oct 3, 2019 at 5:36 PM Micah Alcorn <notifications@github.com>
wrote:

--
Kay Yoo
Business Operations & Strategy at Origin <http://originprotocol.com>

@kayyoo23 | Join our Discord <http://originprotocol.com/discord> and
Telegram <http://t.me/originprotocol.com>

[2019-10-04 02:25] micahalcorn commented on #2875
This would also be helpful for OAuth attestations where the user is redirected to a login page within the webview, such as Kakao. 😩

[2019-10-04 12:01] sparrowDom commented on #2965
Sorry I have confused this ticket with another one. (my mind was on vacation) Ignore my last message closing this as done correctly by @micahalcorn

[2019-10-04 12:01] #2965 closed

[2019-10-04 12:06] sparrowDom commented on #3631
If this is going to happen on production we might want to bump this to `P1` since the users are going to be stuck on the endless spinner indefinitely.

[2019-10-04 14:47] sparrowDom commented on #3497
I like your proposal that instead of building a catalog of error meanings we just fix / convert errors to human readable / actionable along the way.

And maybe internally set a rule that any exception that is to be expected should be translated to a human readable (and actionable when applicable) one.

[2019-10-04 14:48] sparrowDom commented on #3616
fixed via: https://github.com/OriginProtocol/origin/pull/3638

@franckc when we deploy this to staging/production. Could you please update the October rules on growth?

[2019-10-04 14:48] #3616 closed

[2019-10-04 16:31] sparrowDom opened #3639 "Accounts title bar Android"
Accounts page in settings in Origin Marketplace on Android seems to have broken layout not displaying plus icon in top right
![Screenshot_20191004-182804](https://user-images.githubusercontent.com/579910/66224000-1ff3ba80-e6d5-11e9-857d-904f13cec9fd.jpg)

[2019-10-04 17:05] franckc commented on #3616
@sparrowDom Awesome ! You are so fast. I don't think we need to update the rules in the DB. We just need to deploy the code to prod. I can do a prod deploy today...

[2019-10-04 17:35] DanielVF opened #3640 "Invaildate listings / offers with missing IPFS data"
We need to mark listings or offers as invalid if IPFS data is missing.

--

Here's a view of our current event based blockchain/IPFS architecture, building up to the current state of something, say a listing+offers:

<p align=center><img src="https://user-images.githubusercontent.com/837/66227324-f4f47100-e6aa-11e9-8784-55622628c604.png" height=400></p>

The "state" of a listing/offer is essential

[2019-10-04 17:57] DanielVF commented on #3393
Here's an execution trace of that transaction.

![image](https://user-images.githubusercontent.com/837/66228611-db085d80-e6ad-11e9-886d-576436f0da16.png)

It doesn't actually create a proxy, which means the old code must have set this high gas even though it wouldn't be needing it at all. And indeed, the [old code](https://github.com/OriginProtocol/origin/blob/a716c6753618759fffbb25e948c492b027942

[2019-10-04 21:25] tomlinton commented on #3639
Haven't seen this one before, does it happen every time or is it intermittent? It looks like you have two accounts, so it must have been around at some point, or did you add it in an older version?

[2019-10-04 21:49] micahalcorn commented on #3108
Resolved by https://github.com/OriginProtocol/origin/pull/3171 👏

[2019-10-04 21:49] #3108 closed

[2019-10-04 21:49] micahalcorn commented on #3614
I believe this is resolved by https://github.com/OriginProtocol/origin/pull/3171 🤞

[2019-10-04 21:49] #3614 closed

[2019-10-04 22:04] franckc commented on #3616
Prod deployed with the fix and rules updated in the prod DB.
So this should not happen anymore in prod...

[2019-10-07 17:21] sparrowDom commented on #3639
It is always happening... on 0.25 version (built from Android Studio). Interestingly a similar non centred title layout can be found on currencies and Languages:
![Screenshot_20191007-191632](https://user-images.githubusercontent.com/579910/66333456-4fa1fd00-e937-11e9-9483-9142a591f9d6.jpg)
![Screenshot_20191007-191637](https://user-images.githubusercontent.com/579910/66333457-4fa1fd00-e937-11e9-9

[2019-10-07 18:37] mikeshultz opened #3657 "GraphQL Query error - field hidden on Listing"
Seen in logs on staging:

    ERROR: {
        "message": "Cannot query field \"hidden\" on type \"Listing\".",
        "locations": [
            {
                "line": 52,
                "column": 3
            }
        ],
        "extensions": {
            "code": "GRAPHQL_VALIDATION_FAILED",
            "exception": {
                "stacktrace": [
                    "GraphQLError: Can

[2019-10-07 19:25] mikeshultz commented on #3312
I think this is probably fixed.  I'm not really sure how we can confirm this or not without a detailed transaction analysis of historical relayer transactions.  If someone things that's worth it, I can spend some time on it.  For now, I'm going to close this unless we hear of this happening again.

[2019-10-07 19:25] #3312 closed

[2019-10-07 19:57] sentry-io[bot] opened #3659 "TypeError: Cannot read property 'message' of undefined"
Sentry Issue: [ORIGIN-DAPP-H4](https://sentry.io/organizations/origin-protocol/issues/1252275512/?referrer=github_integration)

[code]

[2019-10-07 19:59] mikeshultz commented on #3659
This appears to have been introduced in #3535.  I didn't think a non Error object would be provided here, but it needs to be dealt with.

[2019-10-07 20:01] sentry-io[bot] opened #3660 "Error: NotFoundError: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child o..."
Sentry Issue: [ORIGIN-DAPP-DJ](https://sentry.io/organizations/origin-protocol/issues/1212054026/?referrer=github_integration)

[code]

[2019-10-07 20:02] mikeshultz commented on #3660
Happens at least `/rewards/banned` and `/campaigns`.  Might be mulitple issues.

cc @franckc

[2019-10-07 20:03] mikeshultz commented on #3275
closing this in favor of the other two issues.

[2019-10-07 20:03] #3275 closed

[2019-10-07 20:04] #3199 closed

[2019-10-07 20:05] mikeshultz commented on #3179
I think #3532 should get rid of the vast majority of these issues.

[2019-10-07 20:05] #3179 closed

[2019-10-07 20:05] mikeshultz commented on #3460
I think #3532 should get rid of the vast majority of these issues.

[2019-10-07 20:05] #3460 closed

[2019-10-07 20:08] franckc commented on #3660
Interesting. Not sure what's going on here. I looked at a few accounts for which this happened and there are both some Active and Banned accounts...

[2019-10-07 20:21] franckc opened #3661 "[Growth] Featured listings title should not be translated"
Per a discussion on the #translation channel on Discord, it would be preferable to not translate the listing titles on the campaign purchase page: https://shoporigin.com/#/campaigns/purchases

Reasons:
 - The listings themselves are in various languages, not only english and translator get confused. For example we featured a listing from Venezuela with a spanish title "Perros Calientes La eleganci

[2019-10-07 20:21] franckc commented on #3661
CC @micahalcorn @sparrowDom

[2019-10-07 20:49] sentry-io[bot] opened #3663 "Error: cancelled"
Sentry Issue: [ORIGIN-DAPP-3C](https://sentry.io/organizations/origin-protocol/issues/1047052120/?referrer=github_integration)

[code]

[2019-10-07 22:34] #3659 closed

[2019-10-08 15:24] mikeshultz opened #3668 "Add multi-marketplace support to consistency checker"
Add support for multiple marketplace contracts to the consistency checker.

[2019-10-08 22:22] mikeshultz commented on #3412
Interestingly, seen something similar in the origin-cron container.  Unsure if related:

    (node:80) UnhandledPromiseRejectionWarning: FetchError: invalid json response body at https://graphql.staging.originprotocol.com/graphql reason: Unexpected token < in JSON at position 0
        at /app/node_modules/node-fetch/lib/index.js:272:32
        at process._tickCallback (internal/process/next_tick.

[2019-10-08 22:25] mikeshultz commented on #3283
@micahalcorn it's time to test again, please and thank you!

[2019-10-08 22:25] mikeshultz commented on #2714
This done now?  Rumor has it @shahthepro released pagination.

[2019-10-08 22:26] mikeshultz commented on #3412
I'm cheating and marking this as a p2 since we have no reports of this affecting anything.

[2019-10-08 22:49] micahalcorn commented on #2714
I think so. 🤞

[2019-10-08 22:49] #2714 closed

[2019-10-08 22:52] micahalcorn opened #3676 "Retain Messaging Pagination"
If I cause /messages to load more conversations and then drill down into one of them, I will only see ten conversations when I go back from the conversation detail. This is particularly problematic if I'm a power user with 50+ conversations. ⬇️

Related: #3303

-----

If you need help, please ask in our [#engineering channel on Discord](http://www.originprotocol.com/discord). If you want to file a

[2019-10-08 23:31] #3668 closed

[2019-10-09 08:55] sparrowDom opened #3679 "Recovery phrase display"
User **djfunny28** reported on Discord that he deleted the marketplace app and was frustrated because that meant loosing OGN and access to a listing he was selling. He felt that recovery phrase should be present as part of the on-boarding.

I know we don't want to introduce extra steps to already somewhat lengthy on-boarding process. Perhaps we could show the recovery phrase once a user has someth

[2019-10-09 08:56] sparrowDom commented on #3679
@micahalcorn just recording the experience from Discord. Will let you decide what (if anything) to do about this issue.

[2019-10-09 09:01] 9racoin commented on #3679
Thanks for raising this issue. It's painful to lose access to listings as I'm not aware I need to recover account by private keys

[2019-10-09 09:24] sparrowDom commented on #3679
Closing this for now, since @micahalcorn says we already have mockups for this and is in the funnel to be created.

[2019-10-09 09:24] #3679 closed

[2019-10-09 15:50] sparrowDom commented on #3660
I was inspecting stack trace, but it isn't much help, since the error happens in react's compiled JS code and the stacktrace truncates before I could trace it to our dapp's code.

Couldn't reproduce it with a blocked account on mainnet.

[2019-10-09 16:02] sparrowDom commented on #3305
Franck could you see if you can reproduce the error using the default mnemonic:
`candy maple cake sugar pudding cream honey rich smooth crumble sweet treat`

then going to staging dapp:
- and navigating to active listings
- and trying to [edit the listing with id 4-000-127](https://dapp.staging.originprotocol.com/#/listing/4-000-127/edit/details)

[2019-10-09 17:39] mikeshultz opened #3682 "Relayer: purse still doesn't detect incoming funds after balance reaches 0"
Purse still doesn't appear to detect incoming balance transfers when the balance hits 0.  this is probably related to the `eth_getBalance` reduction work.  When balance is low, it should continually check the master balance until it's funded again.

    2019-10-09T17:12:49.01614999Z [WARN]  relayer: Master account is low @ 0.0019299 Ether. Add funds soon!
    2019-10-09T17:12:50.220953062Z [DEBUG]

[2019-10-09 21:44] sparrowDom opened #3684 "Error modal get console logs"
Currently when an error happens inside the dapp an error modal pops up and users can click on the "console" text to retrieve the last error.

We can add a guide (or link to a guide) on that modal for the user to explain how to:
- turn on `Screen console`
- try to reproduce the error
- see screen console results and report them to us

[2019-10-09 21:44] sparrowDom commented on #3684
@micahalcorn ☝️

[2019-10-09 21:50] sparrowDom commented on #3684
Thinking a bit more about it, we might consider how other companies deal with this issue. Usually the reporting of the error steps are a lot more automatic. Users just need to click on "send report" and sometimes they are asked to write down what they were trying to achieve before the error happened.

We could hold the last X console logs in memory (not surviving refreshes) without performance imp

[2019-10-09 22:55] micahalcorn commented on #3684
Agreed @sparrowDom 👍 This felt a bit misguided to me. We basically need an extension of https://github.com/OriginProtocol/origin/issues/3346 for exceptions.

[2019-10-10 03:29] shahthepro opened #3686 "Website Attestation crashes the app"
Seems like clicking on "Download" under Website attestation causes the app to crash on Android.

![Screenshot](https://media.discordapp.net/attachments/478623204210901002/631693681329438739/image0.jpg)

This was reported by Mila on Discord.

[2019-10-10 09:27] sparrowDom commented on #3684
@micahalcorn seems to me that https://github.com/OriginProtocol/origin/issues/3346 would be a better one for error reporting. Have added an item to the list of:
[code]

Closing the issue in favour of https://github.com/OriginProtocol/origin/issues/3346.

[2019-10-10 09:27] #3684 closed

[2019-10-10 16:05] mikeshultz opened #3695 "ipfsHash not returned by Identity query"
Identity query doesn't return `ipfsHash` when it's included in the requested params of the Identity/SkinnyIdentity queries.

[2019-10-10 16:38] franckc commented on #3695
Yes I noticed that too when testing yesterday. I'll take a stab at it since I'm anyway looking at this identity stuff...

[2019-10-10 19:50] #3682 closed

[2019-10-11 00:47] sparrowDom commented on #3305
I think I have gotten closer to the root of the problem. First of all this can only be reproduced with mobile device and rinkeby config combination - local config on mobile and rinkeby on desktop work fine.

Editing the listing above causes the `tx_helper` to send the transaction without proxy enabled with justification [no proxy specified](https://github.com/OriginProtocol/origin/blob/master/pack

[2019-10-11 17:44] mikeshultz commented on #3305
Adding for reference, on an `eth_sendTransaction` RPC call, hooked wallet should call `processTransaction`.

https://github.com/MetaMask/web3-provider-engine/blob/e28d4417bf0a6bfc4a0aea9035d71ddc6dc2ae2e/subproviders/hooked-wallet.js#L113-L119

[2019-10-14 07:36] lucadgtrip opened #3706 "Phone offline, insert PIN: no feedback"
When the phone is offline and you try to enter the PIN to start the app (because you don't realize it's offline), there is no alert about the phone being offline.
I tried a few times before realizing this.
An alert "you are offline" would be great.

[2019-10-14 07:42] lucadgtrip opened #3707 "App Browsing: back brings you back to the top of search"
- browse the listings search results
- visit a listing
- go back to all listings
- **you are sent back the top of search listings** and you have to scroll down again to continue.
As a result browsing is uncomfortable.

[2019-10-14 08:30] micahalcorn commented on #3707
Thx @lucadgtrip 👍 I'm going to close this in favor of https://github.com/OriginProtocol/origin/issues/3303.

[2019-10-14 08:30] #3707 closed

[2019-10-14 12:02] #3628 closed

[2019-10-14 12:03] shahthepro commented on #3102
Closed via #3667

[2019-10-14 12:03] #3102 closed

[2019-10-14 12:42] shahthepro commented on #3627
Closed through #3667

[2019-10-14 12:42] #3627 closed

[2019-10-14 12:49] shahthepro commented on #3568
@micahalcorn I couldn't reproduce this either on the same listing. Is this still happening?

[2019-10-14 15:50] micahalcorn commented on #3568
Last seen 17-18 days ago 🤷‍♂️

[2019-10-14 17:50] mikeshultz opened #3712 "Reviews error on dev"
Seen on dev with reviews query.  User may have one review or none, I can't remember.

    Error: "GraphQL error: Cannot return null for non-nullable field User.id."
        t bundle.esm.js:63
        getCurrentResult bundle.esm.js:159
        getQueryResult react-hooks.esm.js:245
        getExecuteResult react-hooks.esm.js:71
        execute react-hooks.esm.js:88
        u react-hooks.esm.js:344

[2019-10-14 17:53] mikeshultz commented on #3712
Results when run on playground:

    {
      "errors": [
        {
          "message": "missing trie node b3b172f68297e3e4ce229513c5a3361ba652e5fa31e39aaf870fd6537d012911 (path )",
          "locations": [
            {
              "line": 5,
              "column": 7
            }
          ],
          "path": [
            "marketplace",
            "user",
            "reviews"
          ],

[2019-10-14 22:26] sparrowDom commented on #3360
@tomlinton like you predicted a pretty ugly workaround was required here. Pull request here:
https://github.com/OriginProtocol/origin/pull/3715

[2019-10-14 22:50] sentry-io[bot] opened #3716 "Error: QuotaExceededError: Failed to execute 'setItem' on 'Storage': Setting the value of 'capturedLogs'..."
Sentry Issue: [ORIGIN-DAPP-JY](https://sentry.io/organizations/origin-protocol/issues/1273169792/?referrer=github_integration)

[code]

[2019-10-14 22:51] mikeshultz commented on #3716
CC @sparrowDom This appears to be related to the console capture stuff?

[2019-10-15 10:10] #3516 closed

[2019-10-15 10:10] #3615 closed

[2019-10-15 10:10] #3676 closed

[2019-10-15 10:36] sparrowDom commented on #3716
Yeah this is actually my ip. When debugging yesterday I seem to have logged stuff to console that exceeded the localStorage size limitation.
Since we store maximum of 15 logs in that field that should not be a problem for the usual console logs/errors.

[2019-10-15 10:36] #3716 closed

[2019-10-15 14:16] shahthepro commented on #3358
Fixed with #3709

[2019-10-15 14:18] shahthepro commented on #3281
It happened on staging. Looks like Telegram's updates on Webhook doesn't always have `message` in the body payload. Have added a check (and a debug statement) for that in #3667

[2019-10-15 14:18] #3281 closed

[2019-10-15 14:20] shahthepro commented on #3109
Signature validation for Twitter is done and deployed to staging. The problem with the previous implementation was related to the body parser. Taking the hash of the raw body (instead of doing `JSON.stringify(req.body)`) worked.

Related PR: #3667

[2019-10-15 17:07] sparrowDom commented on #3305
[This pull request](https://github.com/OriginProtocol/origin/pull/3725/files) fixes the transaction not hitting the `processTransaction` on our mobile provider. The result is that the:
- transaction signature confirmation UI pops up on the mobile device
- the transaction hash is received by the txHelper. But the transaction is not recorded on the chain.

Example transaction hash received on Rinkeb

[2019-10-15 17:19] franckc commented on #3305
@sparrowDom Sorry for I took so long to get back to you :( Yes, I was able to reproduce on iOS mobile app v0.24.3, using the truffle account and editing the listing 4-000-127.

[2019-10-15 17:28] franckc commented on #3346
@mikeshultz and I chatted yesterday to clarify if the upcoming txWatcher service would provide the instrumentation we want. Our conclusion was that it won't since:
 1. it will collect data only once there is a tx hash available. so anything that happens before would not get tracked
 2. it will focus on tracking a single tx and won't provide a way to link the data in case multiple txs were involved

[2019-10-15 18:59] mikeshultz commented on #3346
We could probably build this into the tx watcher, but I'm finding it hard to come up with a good argument for it.  For instance, we could generate a unique UUIDv4 at the start of a purchase flow and just associate the transactions with it.

But I think this is more of an analytics and reporting issue.  From reading the initial post of this issue, I think having a "report" button that sends all thi

[2019-10-16 00:46] mikeshultz commented on #3631
I don't think this has been seen in prod yet

[2019-10-16 07:02] lucadgtrip commented on #37
a less flattering take of the What3Words solution:
https://news.ycombinator.com/item?id=21184505

[2019-10-16 11:24] micahalcorn commented on #3235
This is still quite confusing.

<img width="756" alt="Screen Shot 2019-10-16 at 4 22 27 AM" src="https://user-images.githubusercontent.com/273937/66915025-e53f2b80-efcc-11e9-8ba6-116ac086d42b.png">

[2019-10-16 11:32] micahalcorn commented on #3150
Still relevant ☑️

[2019-10-16 11:33] micahalcorn commented on #3283
I'm a dummy and had to test this with a new offer. Rejecting it worked fine, so I'm going to consider this resolved. Thanks @mikeshultz 👊

[2019-10-16 11:33] #3283 closed

[2019-10-16 20:07] tomlinton commented on #3422
This issue is still occurring, as per the demo on engineering meeting today. In that demo it kicked me back to the name entry rather than the email flow.

[2019-10-16 23:30] franckc commented on #3501
Here is the URL for that page: https://shoporigin.com/#/campaigns , then click on "Past Campaign" on top right.
To access the page, the user must first enroll in Origin Rewards.

Also note that this issue is specific to mobile screens, when viewing the DApp thru the Origin Marketplace ios/android app or any other mobile wallet. Though it is easy to reproduce it by using Chrome on desktop and [simu

[2019-10-17 12:54] sparrowDom commented on #3305
Fixed via: https://github.com/OriginProtocol/origin/pull/3725

[2019-10-17 16:58] #3109 closed

[2019-10-17 16:58] #3150 closed

[2019-10-17 16:58] #3353 closed

[2019-10-17 16:58] #3480 closed

[2019-10-17 16:58] #3503 closed

[2019-10-17 16:58] #3619 closed

[2019-10-17 16:58] #3686 closed

[2019-10-18 02:30] tomlinton opened #3741 "Android URL refresh breaks back history"
Pull to refresh on Android injects date into the URL to force a refresh e.g.:

`https://shoporigin.com/#/onboard/email` to `https://shoporigin.com/?1571365480005#/onboard/email`

This causes an issue with the history, the `props.history.goBack()` call in the onboarding modal (i.e. back arrow) in the DApp will go from:

`https://shoporigin.com/?1571365480005#/onboard/email` to `https://shoporigin.c

[2019-10-18 09:42] tomlinton commented on #1017
Closed, no longer relevant!

[2019-10-18 09:42] #1017 closed

[2019-10-18 09:44] tomlinton commented on #3360
Fixed by the above PR!

[2019-10-18 09:44] #3360 closed, assigned to sparrowDom

[2019-10-18 15:55] micahalcorn opened #3749 "Mobile App Installation Reward in the Dashboard"
We show [a special banner in the rewards dashboard](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5cfeb22619680119d06b3238) to encourage users to install our mobile app.

- [ ] This should never be displayed when using the app that it references (Origin Marketplace).

Once the reward is earned, we currently show [an updated state](https://app.zeplin.io/project/59fa2311bac7acbc8d953

[2019-10-18 19:24] #3712 closed

[2019-10-21 09:08] shahthepro commented on #3426
This should not happen since #3667. Closing this for now.

[2019-10-21 09:08] #3426 closed

[2019-10-21 21:25] #3393 closed

[2019-10-22 01:46] micahalcorn opened #3761 "Single Accepted Currency"
If only one currency is accepted for a given listing, there is no indication for what is accepted. I think we should potentially just skip this screen if the buyer has sufficient funds and cannot make any selection here. We will still need to show this screen in cases where there is no selection for the buyer to make but she has insufficient funds.

![77721556-AF02-40E0-A2A6-CEC1A945BC28](https://

[2019-10-22 01:59] micahalcorn opened #3762 "Cannot Confirm Purchase"
This confirm purchase screen sticks with a "Loading..." button in our mobile app. 😕

https://dapp.staging.originprotocol.com/#/listing/4-000-383

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/originprotocol/origin

[2019-10-22 02:06] shahthepro commented on #3762
@micahalcorn Just tested it on iOS as well as on desktop. Works fine for me. I cannot seem to reproduce this. :/

https://dapp.staging.originprotocol.com/#/purchases/4-000-383-0
https://dapp.staging.originprotocol.com/#/purchases/4-000-383-1

[2019-10-22 02:08] micahalcorn commented on #3568
Seen just now on [this listing](https://dapp.staging.originprotocol.com/#/listing/4-000-209) when selecting 10/22 (tomorrow) during 19:07 PDT 😩

[2019-10-22 02:11] shahthepro commented on #3761
@micahalcorn Can you share the listing ID on which you could reproduce this? I want have a quick look on the IPFS hash. Unless you don't have the `acceptedTokens` field in the IPFS data, you should see the tokens listed here on this screen.

[2019-10-22 02:12] micahalcorn commented on #3762
![A28EF460-3B5F-4EF9-96E5-3B8532FDD4FE](https://user-images.githubusercontent.com/273937/67255396-c1e60780-f436-11e9-8f3f-c5c2ae3ea340.png)

[2019-10-22 02:13] micahalcorn commented on #3762
This is what I get both on and off WiFi. ☹️

[2019-10-22 02:19] tomlinton commented on #3568
I made an offer fine with the parameters below.

<img width="706" alt="Screen Shot 2019-10-22 at 3 16 56 PM" src="https://user-images.githubusercontent.com/489202/67255568-28266500-f4df-11e9-85d9-f66dadc158a4.png">

I think what is important here is that @micahalcorn is still in a timezone where it is the 21st, and for me (and probably more importantly UTC) it is now the 22nd.

[2019-10-22 02:32] micahalcorn commented on #3761
I think this was https://dapp.staging.originprotocol.com/#/listing/4-000-383 @shahthepro. 😐

[2019-10-22 02:49] shahthepro commented on #3761
@micahalcorn

Yep, it doesn't have the `acceptedTokens` array set as I suspected. Could be a really old listing. Updating the listing should fix this.

<img width="738" alt="Screenshot 2019-10-22 at 8 17 31 AM" src="https://user-images.githubusercontent.com/10547529/67256403-6f433480-f4a4-11e9-96bb-2a88981ce0eb.png">

As for skipping the screen when the user has sufficient funds and seller accepts

[2019-10-22 03:52] franckc commented on #3762
@micahalcorn Any error in the console ?

[2019-10-22 04:54] micahalcorn commented on #3762
@franckc none in the mobile "screen console" as far as I can tell. It's a bit difficult to confirm because I am in a nested route when this happens and can't access the hamburger menu without navigating backward a few steps. 🍔

[2019-10-22 05:01] micahalcorn commented on #3761
I've confirmed that updating the listing resolves the funky visuals. For the record, updating it does not resolve https://github.com/OriginProtocol/origin/issues/3762. 😐

[2019-10-22 05:05] micahalcorn commented on #3761
Deprioritizing this one for now 👎 I think it's debatable whether or not we should show this step in the simple case of the seller only accepting one and the buyer having enough of it. Ideally, we also would be backward-compatible with this screen so that older listings work as intended, but it's not a big deal.

[2019-10-22 16:56] mikeshultz commented on #3762
To add a bit of info: The staging relayer appears to have seen zero traffic since the deploy at 3:50PM PST yesterday.

[2019-10-22 17:16] franckc commented on #3762
As a data point, I just tested on Desktop with metamask and it works fine for me...

[2019-10-22 17:22] franckc commented on #3762
Tested on iOS with v0.24.3 of the mobile app and was able to reproduce. Got stuck on the"Loading..." button on the Confirm Purchase page...
After a couple min waiting I navigated back to home page and checked the console. It was empty.

Anyone knows what the DApp is waiting on when showing that "Loading..." button on the Confirm Purchase page ?

[2019-10-22 17:26] mikeshultz commented on #3762
Should be noted that that console that was added is for the dapp, not the mobile app.  So if there is an error, it's on the mobile app side.

I was able to repro:

![loading-purchase](https://user-images.githubusercontent.com/1048089/67312500-ab838e80-f4be-11e9-958b-2b163eb6aa4b.png)

[2019-10-22 20:26] franckc opened #3767 "DApp analytics data by wallet"
Currently we have no data in terms of what wallets are used: Origin Mobile app vs Metamask vs Coinbase vs IMToken, etc. This prevents us from making informed prioritization decisions when it comes to supporting those various different wallets.

We should try to detect what wallet is being used when the DApp loads and log that as a tag in Google Analytics.

[2019-10-22 20:27] franckc commented on #3767
CC @micahalcorn @matthewliu @DanielVF

[2019-10-22 20:28] micahalcorn commented on #3767
Yes, please do 👍 I've been wondering about this, but also want to be careful about making decisions based on a small amount of early usage. If we believe strongly that our app is the right experience to prioritize, then we shouldn't worry too much about which wallet vendor is generating the most traffic. Either way, more information is better.

[2019-10-23 00:02] sparrowDom commented on #3762
@shahthepro I am able to reproduce the bug (debugging right now). The above fix didn't solve the problem for me.

[2019-10-23 10:43] micahalcorn opened #3774 "Tiny/Missing User Activation Wallet Step Vendor Logos"
This seems to be caused by certain screen widths.

![mobile-no-logos](https://user-images.githubusercontent.com/273937/67385069-314b1c80-f547-11e9-8fa4-2c7e9b3ef679.png)

<img width="424" alt="Screen Shot 2019-10-23 at 3 34 07 AM" src="https://user-images.githubusercontent.com/273937/67385082-34dea380-f547-11e9-909f-7a8038f7edf3.png">

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to

[2019-10-23 11:04] micahalcorn opened #3775 "Wallet Not Detected in IMToken"
According to this report, it's likely that we're unable to properly detect Web3 in some instances of IMToken on Huawei devices. This may be a bug on their end, or it may be a consequence of their EIP 1102 implementation. I would expect us to have a similar problem in iOS if it were our issue, and I can't reproduce it there. In late 2018, we had a similar problem with IMToken not setting a value to

[2019-10-23 11:49] micahalcorn commented on #3762
Confirmed: resolved ✅

[2019-10-23 11:49] #3762 closed

[2019-10-23 11:52] #3305 closed

[2019-10-23 18:20] micahalcorn opened #3778 "Broken Onboarding in Brave"
[Brave seems to have implemented a built-in wallet that is a fork of MetaMask](https://github.com/brave/brave-browser/issues/718). As a result, we are mistakenly telling users to sign in to MetaMask "on the top right" of their browsers when there is no wallet. This is presumably because we a relying on the presence of `ethereum._metamask` for wallet detection.

Interestingly, I'm _**not**_ able to

[2019-10-23 23:44] micahalcorn opened #3779 "OGN Single Payment Method Not Autoselected"
On this listing, the buyer has to explicitly click OGN as the payment method even though it is the only one that the seller accepts. This is a brand new listing. 🔵

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/or

[2019-10-24 00:37] micahalcorn commented on #3779
It seems that the user can actually click Continue without selecting the one currency. So this may just be visual bug. 🧿

[2019-10-24 00:38] micahalcorn commented on #3779
Correction: if no selection is made, then the payment will involve ETH even though the seller does not accept it. 😬

[2019-10-24 11:25] micahalcorn commented on #3229
@sparrowDom in the mobile wallet apps, we're not able to detect when the signature prompt is actually displayed to the user, are we? We only know that we have asked the wallet to request a signature and then we eventually see that the user clicked one of the two buttons? 🖱

[2019-10-24 21:05] micahalcorn opened #3783 "Responsive Email Templates"
Our emails don't render so well on a lot of screens and we haven't invested much time in perfecting them. As we all know, email markup and styling is archaic and difficult. Let's explore converting our templates to use [mjml](https://mjml.io/) or something similar.

I'm not sure where all we would want to do this, but the best place to start would probably be our transactional [notification emails

[2019-10-25 20:07] mikeshultz opened #3788 "nginx-ingress error"
There appears to be an nginx-ingress deployment issue.  Some chart seems to have changed on a version upgrade, and the IP setting has disappeared.  Haven't really dug into it yet, but doesn't seem to be having a serious effect just yet:

    dev-ingress                 59          Fri Oct 25 12:54:34 2019    FAILED      nginx-ingress-1.24.4            0.26.1      dev
    [...snip...]
    prod-ingr

[2019-10-26 02:16] DanielVF commented on #3767
We should probably have the origin mobile wallet easy to spot in GA, since that's a number we really care about.

[2019-10-26 19:35] micahalcorn opened #3790 "Missing Verification Success"
After publishing my profile, I should see that step in the completed section of my Verifications in the dashboard. Currently, it’s missing and there is no padding below the horizontal rule.

![1037AF07-36B3-4951-9094-4E8429EB1A53](https://user-images.githubusercontent.com/273937/67624978-e18d7f00-f7ec-11e9-9a58-4ba27425e7c4.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage

[2019-10-26 19:39] micahalcorn commented on #3422
This affected me again today too. 😞

[2019-10-26 19:41] micahalcorn commented on #3790
Under some circumstances, there is no "Completed" heading at all. I'm not sure how to reproduce it, but I've seen it several times. Also, the phone number verification has the same problem as profile verification (not showing up under completed). 👎

[2019-10-26 19:46] micahalcorn opened #3791 "Can’t Navigate Backward After Twitter Verification"
![4DAF7D0B-1934-41D4-8C96-C04351E8DFED](https://user-images.githubusercontent.com/273937/67625111-7fce1480-f7ee-11e9-91db-86670ff4e6c9.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/originprotocol/origin#zenh

[2019-10-26 19:48] micahalcorn commented on #3790
I think the missing completed section is an issue for a few seconds when the page is first rendered and there is some loading going on. It eventually appears. 😕

[2019-10-26 19:49] micahalcorn commented on #3790
Twitter is also not appearing after completion. 👻

[2019-10-26 20:01] micahalcorn opened #3792 "Telegram Verification Confusion"
After `/start`, I manually return to the Origin app.

![B6506959-7606-4872-ABF9-68325DD3524E](https://user-images.githubusercontent.com/273937/67625263-a8570e00-f7f0-11e9-8916-00283d7db2b2.png)

There I see a timeout, which doesn't make a lot of sense because I don't think I sat on the Telegram app for very long at all.

![45203054-DE6E-43D0-8B96-E8DE0F06EC66](https://user-images.githubusercontent

[2019-10-26 20:14] micahalcorn opened #3793 "Can't Earn Reward If Already Following"
As a user who is already in the Telegram group, I can't earn the reward for joining unless I leave the group again and then join it in the middle of the DApp workflow. The same is also true for following on Twitter. ☹️

Can we check for existing status and reward on that basis @shahthepro @franckc?

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and prod

[2019-10-27 00:27] franckc opened #3794 "Twitter share reward calculation is broken"
User with address 0xf82a63dbf88922350e9556eed63fc2e5b70f5a17 reported that twitter share reward calculation is broken. It always shows 0. This is a recent regression due to not saving the twitter profile in the identity.data column anymore.

There is also see to be a bug in the listener where for that owner address 0xf82a63dbf88922350e9556eed63fc2e5b70f5a17 there is no proxy row... Not sure what c

[2019-10-27 00:42] micahalcorn commented on #3483
We should also change any use of the word "attestation" to be "verification". 😕

[2019-10-28 09:26] sparrowDom commented on #3229
@micahalcorn yup exactly.

Though the time between when we ask for the signature to be displayed and when it actually is - is according to my testing very small. The delay that was initially reported in this ticket was due to our client side code doing stuff before handing the signature off to the wallet

[2019-10-28 17:33] micahalcorn opened #3799 "Unable To Proceed w/Rewards"
Here is a report of a user whose verifications are not detected when he signs up for Origin Rewards.

I've inferred that the identity address is likely 0xa17456c07fad4b1764345af62f4fa26b3102b00a.

He subsequently republished his email address and it didn't change anything.

![Screen Shot 2019-10-28 at 10 25 52 AM](https://user-images.githubusercontent.com/273937/67701936-1543e280-f96e-11e9-98f3-89

[2019-10-28 22:59] franckc commented on #3799
Should be fixed by #3801
The listener had a bug causing the proxy table to not get updated. That would then cause the identity to not be able to find the attestations (since those are key off by proxy address).

[2019-10-28 22:59] #3799 closed

[2019-10-28 23:00] franckc commented on #3794
Fixed by #3801

[2019-10-28 23:00] #3794 closed

[2019-10-28 23:05] franckc commented on #3793
Couple reasons for that behavior:
1. We did not backfill the data so if you joined the Telegram group prior to the Telegram reward feature being launched we have no record in the growth_event table that you joined.
2. Currently the campaign is setup to ignore events that occurred prior to the campaign start date.

We could run a backfill for 1. (I'd estimate that at 2 to 3 days of work) and update

[2019-10-28 23:17] franckc commented on #3661
@sparrowDom If you have some cycles would be great to fix this since we have an important partner in November that will have featured origin rewards listings with titles in chinese...

This issue applies to both the title and description of the featured listing.

I think the fix would be to get the title directly from the campaign config and not wrap it in a fbt call in the DApp. Though we have to

[2019-10-29 02:10] shahthepro commented on #3793
@micahalcorn @franckc

This is because Telegram Bot API cannot be used to get all the existing members in a group. We can use mtproto to do that. But that's a lot of work.

The thing is Telegram doesn't follow or have REST API standards. They have their own protocol called mtproto that has its own standards and restrictions. I'd say a lot more work would be involved to do this. Can take longer tha

[2019-10-29 02:13] shahthepro commented on #3793
@micahalcorn

This should no longer be the case, if you already did the attestation with the account. Once you have done the attestation, you can join the group using that account anytime anyway to get the reward. It doesn't have to be from the DApp.

If the attestation isn't done before joining the group, it is impossible for us to know the ETH address of that user. So, the bridge drops that even

[2019-10-29 02:15] shahthepro commented on #3793
Also, adding to my previous replies, while back-filling is possible with Twitter, it has API rate-limiters.

[2019-10-29 14:28] sparrowDom commented on #3661
On it, yeah I like the `c)` option the most also. Seems the most clean and versatile.

[2019-10-29 22:05] tomlinton commented on #3073
Closing this as all the blocking things are complete.

[2019-10-29 22:05] #3073 closed

[2019-10-29 22:57] franckc opened #3811 "Add redis and postrgres connectivity to the origin-scripts pod"
Currently the [origin-scripts](https://github.com/OriginProtocol/origin/blob/master/devops/kubernetes/misc/origin-scripts.yaml) pod does not have redis and postgres access. Those are required to be able to run any sort of offline scripts.

CC @mikeshultz

[2019-10-30 06:49] micahalcorn opened #3813 "Non-USD Pricing Currency Default"
Users in China are reporting that their DApps are defaulting to Chinese language but USD prices. This is apparently happening in IMToken and standard browsers. Let's confirm that the currency default matches the country of the user. 🌐

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.z

[2019-10-30 18:54] micahalcorn commented on #3286
Considering this done ✅

[2019-10-30 18:54] #3286 closed

[2019-10-30 18:57] micahalcorn commented on #2465
Considering this done via https://github.com/OriginProtocol/origin/pull/3688 ✅

[2019-10-30 18:57] #2465 closed

[2019-10-30 18:57] micahalcorn commented on #3437
Considering this done ✅

[2019-10-30 18:57] #3437 closed

[2019-10-30 19:15] micahalcorn opened #3816 "Exchange Partner Payment Method"
As directed by Matt, add a fourth ERC-20 payment currency option.

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/originprotocol/origin#zenhub](https://github.com/originprotocol/origin#zenhub).

[2019-10-31 16:44] micahalcorn commented on #3761
@shahthepro here are the rules that I think we should follow:

- Only one accepted currency: it should be auto-selected, this screen should be displayed, and the buyer should have to click continue (one click).
- More than one accepted currency: no auto-selection should be made regardless of whether or not the buyer has sufficient funds for any particular one (two clicks).

🤔

[2019-10-31 19:55] micahalcorn opened #3828 "Invalid Login Token"
When I try to reuse an expired, single-use token, I'm not presented with a very friendly path to access my account from a different device (or from the same one a second time). Since I did not navigate directly to the Investor Portal, I don't think I should be expected to know how to do that. I only know of my invitation email as my primary point of entry for accessing this app. I should be given

[2019-10-31 20:00] micahalcorn opened #3829 "Tether Payment Method"
Add [USDT](https://tether.to/) as a supported payment currency option. See https://zpl.io/VqnlQjY. 😐

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/originprotocol/origin#zenhub](https://github.com/originprotocol/o

[2019-10-31 20:59] micahalcorn opened #3830 "Navigation Struggles"
If I click "Withdrawal History" in this menu, I get the expected screen. If I then click the back button, I'm routed to [/bonus](https://investor.dev.originprotocol.com/#/bonus) (which happens to be broken). I should return to the dashboard.

<img width="250" alt="Screen Shot 2019-10-31 at 1 56 50 PM" src="https://user-images.githubusercontent.com/273937/67985670-99a09a80-fbe6-11e9-85c4-7c62a175ed

[2019-10-31 21:17] micahalcorn opened #3831 "Lockup Validation"
I should not be able to submit this form with a non-zero value.

<img width="579" alt="Screen Shot 2019-10-31 at 2 15 08 PM" src="https://user-images.githubusercontent.com/273937/67986744-f309c900-fbe8-11e9-8553-0c046ae22f20.png">

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhu

[2019-10-31 21:21] micahalcorn opened #3832 "Lockup Reward Rounding"
We should probably round to max-five-digit precision (and not have trailing 0s) or something to avoid this:

<img width="590" alt="Screen Shot 2019-10-31 at 2 19 00 PM" src="https://user-images.githubusercontent.com/273937/67986985-8c38df80-fbe9-11e9-9b99-e908e2bfd542.png">

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Downloa

[2019-10-31 21:27] micahalcorn opened #3833 "Max Lockup"
There should be a link encouraging me to lock up all of my available tokens. Similarly, we should validate that the inputted value is not greater than the available balance, which goes hand-in-hand with #3831.

➡️ https://zpl.io/Vk7OqDG

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www

[2019-10-31 21:40] franckc opened #3834 "[Identity] Backfill failed for 55 rows"
Out of the 12,848 identity rows, 55 did not get processed by the backfill for migrating the data to be zippy identity compatible.
Not clear yet what caused those rows to fail processing.

To get the list of rows:
[code]

[2019-11-01 18:24] micahalcorn commented on #3422
Closing this with the assumption that it's irrelevant with zippy identity 🤐

[2019-11-01 18:24] #3422 closed

[2019-11-01 20:58] fabioemoutinho commented on #3607
https://pastebin.com/zWGSADUi
seems to come from Kaspersky products

[2019-11-03 01:13] Zero-1729 opened #3841 "URL in deprecated 'origin-js' repo description points nowhere"
It doesn't look like the issues in the now deprecated [origin-js](https://github.com/OriginProtocol/origin-js) repo are responded to anymore. So for the sake of not having a better place to open this issue, I decided to just open it here.

![Screen Shot 2019-11-03 at 1 39 54 AM](https://user-images.githubusercontent.com/23586626/68078723-b1417400-fddc-11e9-8774-4413fb95f7f7.png)

It seems the URL

[2019-11-03 06:20] #3788 closed

[2019-11-03 23:53] micahalcorn commented on #3841
Resolved, thx @Zero-1729 ✅

[2019-11-03 23:53] #3841 closed

[2019-11-04 16:13] micahalcorn opened #3844 "Maximum Update Depth in Onboarding"
From ShopOrigin.com on Brave desktop with MetaMask installed...

1. Click the avatar in the top right
1. Be told to log in to MetaMask
1. Log in to MetaMask
1. See "MetaMask Connected"
1. Click "Continue" (from `/onboard/metamask`)
1. Get this screen (at `/onboard/email`)

<img width="1440" alt="Screen Shot 2019-11-04 at 8 04 38 AM" src="https://user-images.githubusercontent.com/273937/68136397-0d

[2019-11-04 17:48] #3813 closed

[2019-11-04 18:26] franckc opened #3848 "Onboarding broken with zippy identity"
The onboarding flow seems broken when zippy identity is enabled.
Tested on desktop with MetaMask:
 - create a new metamask account with no previous identity associated with it
 - got to https://dapp.staging.originprotocol.com/#/
 - go through the onboarding flow
 - the identity gets correctly saved in the back-end
 - but at the end of the flow, the identity does not get refreshed. It looks as if t

[2019-11-04 18:26] franckc commented on #3848
CC @micahalcorn @sparrowDom

[2019-11-04 18:43] micahalcorn opened #3850 "Category-Specific Listing Creation Sequence"
The listing creation steps should be conditionally presented in a different order depending on which type of listing is being created.

See [this diagram](https://www.figma.com/file/trMJcsAGfqRBiovsKiO3dX/Listing-Location-Logic?node-id=0%3A1) 🍝

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](htt

[2019-11-04 19:05] micahalcorn opened #3851 "Coinbase Wallet Crashing"
On Coinbase Wallet with an existing identity, my app crashes hard immediately after the first screen of listing creation is rendered on ShopOrigin.com as well as on some listing details.

My app version is 19.10.357 but @franckc's 19.8.350 works fine. 😕

I'll try to report it to them and see if we hear anything.

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering

[2019-11-05 00:56] sparrowDom commented on #3848
fixed via: https://github.com/OriginProtocol/origin/pull/3853/files

[2019-11-05 01:03] franckc commented on #3848
Thanks so much! Will test on staging once it is up...

[2019-11-05 01:56] #3830 closed

[2019-11-05 01:56] #3831 closed

[2019-11-05 01:56] #3832 closed

[2019-11-05 01:56] #3833 closed

[2019-11-05 06:19] micahalcorn commented on #3508
Resolved by #3562 ✅

[2019-11-05 06:19] #3508 closed

[2019-11-05 18:23] sparrowDom commented on #3661
fix here: https://github.com/OriginProtocol/origin/pull/3853

[2019-11-05 18:28] franckc opened #3867 "[Nov. Rewards] Twitter share verification failure"
User with account 0xf82a63dbf88922350e9556eed63fc2e5b70f5a17 is reporting that Twitter sharing verification is broken.

I checked the user's Twitter account and they did tweeted the content. See [tweet](https://twitter.com/hodlecs/status/1191653530223947779).

I checked the bridge logs and I see that the DApp made multiple requests to verify the content. All of them failed.

Here is a sample of th

[2019-11-05 18:31] franckc commented on #3867
@shahthepro Do you think we are having an issue again with the Twitter firehose API breaking?
It's been fairly unstable.

I wonder if we should consider switching to doing an API call to Twitter per verification. I understand we might hit the rate limits but currently our verification volume is so low that I don't think we would hit that limit anytime soon... Let's discuss.

[2019-11-05 18:53] sparrowDom commented on #3848
Have tested on staging, works now.

[2019-11-05 18:53] #3848 closed

[2019-11-05 19:02] franckc commented on #3661
ah yes, thanks a bunch for fixing this @sparrowDom
Closing this now

[2019-11-05 19:02] #3661 closed

[2019-11-05 21:00] mikeshultz opened #3870 "Dapp Creator Server Error"
Creator server is currently stuck in a crash loop.

    Error: Cannot find module '@babel/polyfill'
        at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
        at Function.Module._load (internal/modules/cjs/loader.js:562:25)
        at Module.require (internal/modules/cjs/loader.js:692:17)
        at require (internal/modules/cjs/helpers.js:25:18)
        at Object.

[2019-11-05 21:43] #3870 closed

[2019-11-05 23:59] franckc commented on #3867
CC @sparrowDom since we briefly discussed about this.

[2019-11-06 02:02] shahthepro commented on #3867
@franckc Will look into this

[2019-11-06 02:13] shahthepro commented on #3867
@franckc @sparrowDom This seems to be a misconfiguration problem. Somehow, we missed to add links to the tweet contents. The bridge filters content based on the link it has. So, it ignored all the tweets without a link.

Have opened a PR for this #3873

[2019-11-06 02:26] tomlinton opened #3874 "T3 email template links not padded correctly"
See e.g.

![unnamed](https://user-images.githubusercontent.com/489202/68262964-a707ca00-00a9-11ea-8eb2-c64419b2c608.png)

[2019-11-06 04:05] #3779 closed

[2019-11-06 17:00] franckc commented on #3867
I updated the November rules in prod to pick up the changes made in #3873

@shahthepro @sparrowDom Could you please test in prod to make sure this works now? I'll do some testing as well this morning when I get in the office... Thanks :)

[2019-11-06 18:36] franckc commented on #3867
FYI - Verified with my account in prod and worked for me.

[2019-11-06 18:55] sudheerDev commented on #3844
@micahalcorn i ran into this while fixing another issue and made a PR https://github.com/OriginProtocol/origin/pull/3882

[2019-11-06 19:02] micahalcorn commented on #3844
Nice, thx @sudheerDev 👍

[2019-11-07 00:42] tomlinton opened #3887 "T3 balance checking loophole"
It is possible to queue multiple withdrawals/lockups before confirming them via email. The available balance is not correctly checked at confirmation time allowing a user to withdraw/lockup a value greater than their balance.

[2019-11-07 02:27] tomlinton opened #3891 "T3 TOTP codes don't expire in specified time"
T3 TOTP codes don't expire after 30 seconds. I tried several minutes after and an old code appears to work.

[2019-11-07 04:14] #3867 closed

[2019-11-07 04:52] micahalcorn commented on #3816
Consdering this done ☑️

[2019-11-07 04:52] #3816 closed

[2019-11-07 18:36] #3891 closed

[2019-11-07 18:41] micahalcorn opened #3898 "Can’t Make Offer"
I'm getting two separate errors when attempting to purchase [this listing](https://shoporigin.com/#/listing/1-000-3145) in separate environments.

**Case 1**

Account: `0x96FEb7b6F808dd2BBd09c9E5ccdE77caBd58d019`
Environment: Origin Marketplace `0.24.3` (Mainnet)
Experience: Click purchase on the confirmation screen and never get a native confirmation prompt

![E502B8DF-1D8A-4F23-96CE-988FC04B1010

[2019-11-07 18:52] micahalcorn commented on #3898
In the second case (IMToken), I was using the wrong Ethereum node (Rinkeby, Infura). I was not told by the DApp to change networks, so it took me a while to figure that out. 😕

[2019-11-07 18:54] mikeshultz commented on #3898
The first is weird.  The only part of our codebase that mentions `words` is the new mobile dictionary(CC @tomlinton) but I don't expect that should have anything to do with this...

https://github.com/OriginProtocol/origin/blob/db6060c48fc3ba44513873ab6e371d8827fddced/infra/bridge/src/utils/dictionary.js

[2019-11-07 18:57] micahalcorn commented on #3898
Switching nodes in IMToken produced a different but not expected result.

![74695838-0A7E-4D2E-A8CD-B7CB47984D8C](https://user-images.githubusercontent.com/273937/68418380-fa7f2400-014c-11ea-920c-81f0fc94c0d7.png)

Despite this error, I later received a push notification from IMToken indicating that my Ether had been sent. I followed that notification to https://cn.etherscan.com/tx/0xee2cbf57e38d4

[2019-11-07 19:06] franckc commented on #3898
Datapoint: I was not able to reproduce on desktop+metamask - I bought listing 1-000-3145 on Mainnet without seeing any error. I used account 0xD85A569F3C26f81070544451131c742283360400

[2019-11-07 19:13] franckc commented on #3898
Here is the newBlockHeader error Micah ran into in Sentry: https://sentry.io/organizations/origin-protocol/issues/1321350415/?project=1402589&query=is%3Aunresolved

[2019-11-07 19:27] tomlinton commented on #3898
Succeeded on mobile 0.24.3 after a few goes, ran into this https://github.com/OriginProtocol/origin/pull/3882 and I suspect a few of the other errors in Sentry like the one above. They seem to be releated to updating blocks. 😞

[2019-11-07 20:11] mikeshultz commented on #3898
This is the subscription init for `newBlockHeaders`:

https://github.com/OriginProtocol/origin/blob/master/packages/graphql/src/contracts.js#L481

[2019-11-07 20:34] micahalcorn commented on #3898
Regarding the block headers subscription:

![2AAEA0B2-93C6-425C-AAC6-FC7B66792779](https://user-images.githubusercontent.com/273937/68425437-f22de580-015a-11ea-80bf-c3e0db3a88f5.png)

[2019-11-08 00:23] franckc commented on #3898
I deployed to prod PR #3900 that disables the websocket provider.
I installed ImToken wallet, created an identity, got 5 USD in my wallet.
Then I tried to purchase listing 1-000-3145 and I got a different kind of error. Blank page with message "Error! Please refresh the page"
The console in in the app shows:
[code]

[2019-11-08 01:47] tomlinton commented on #3844
Relevant Sentry errors https://sentry.io/organizations/origin-protocol/issues/1321436492/events/25fa11d4f8644a5ab33dcfe8cb037b96/?project=1402589

[2019-11-08 01:47] tomlinton commented on #3844
Bumping this up to a `P0`.

[2019-11-08 01:48] micahalcorn commented on #3844
Do we just need to merge and deploy #3882 @tomlinton? 😐

[2019-11-08 11:17] shahthepro commented on #3844
Adding one more thing that I noted about this issue. It is reproducible only if you go through onboarding when you already have a deployed identity.

[2019-11-08 14:53] #3844 closed

[2019-11-08 18:17] franckc commented on #3898
Good news. I just tested on mainnet with imtoken wallet and my onboarding issue that was causing the error "Error! Please refresh page" when clicking on the purchase button is fixed. #3910 must have fixed it.

[2019-11-08 19:57] sparrowDom opened #3914 "Docker auth_server broken"
Somthing is wrong when [this part of code](https://github.com/OriginProtocol/origin/blob/master/packages/auth-utils/src/helpers/index.js#L21-L24) is trying to encrypt the payload.
<img width="793" alt="Screenshot 2019-11-08 11 53 08" src="https://user-images.githubusercontent.com/579910/68506471-92007780-021e-11ea-8a17-f1737fdc570b.png">

Have generated a fresh set of certificates, but couldn't fi

[2019-11-08 23:15] franckc opened #3918 "[DApp] Editing profile redirects to onboarding"
To reproduce:
 - setup a profile
 - go to home page
 - click on profile icon on top right, the profile menu unrolls
 - click on profile picture to edit the profile
 - DApp goes to https://shoporigin.com#/profile briefly then redirects to the onboarding page

This is reproducible in prod and also on local.

The culprit seems to be this line of code: https://github.com/OriginProtocol/origin/blob/mas

[2019-11-08 23:16] franckc commented on #3918
CC @shahthepro

[2019-11-09 05:05] shahthepro commented on #3914
Thanks @sparrowDom for reporting. It was an issue with newlines in environment variable. Apparently `\n` within double quotes doesn't work. Had to use '|' operator. Will have a PR up now

[2019-11-09 05:16] #3914 closed

[2019-11-09 06:07] franckc commented on #3918
Fixed in #3921
I verified the fix works in prod.

[2019-11-09 06:07] #3918 closed

[2019-11-10 01:59] micahalcorn commented on #3775
Can't reproduce 😕

[2019-11-10 01:59] #3775 closed

[2019-11-10 02:40] micahalcorn commented on #3898
I'm downgrading this since the second case is resolved. I believe that purchases are still not possible using our app. 🙁

[2019-11-10 05:08] tomlinton commented on #3898
My guess here is something to do with the messaging/encryption of shipping address. One thing I noted is that when you hit the purchase button an error is generated in the messaging logs: `participant is not a proxy!`. This doesn't happen on desktop. The `words` referenced in the error might be part of the encryption.

[2019-11-10 06:11] tomlinton commented on #3898
`e.words` is most likely `key` in this call https://github.com/OriginProtocol/origin/blob/master/packages/messaging-client/src/Messaging.js#L1201.

The key here is `const key = convObj.keys[0]` so that messaging request failure is probably the cause here.

Sentry shows the following POST prior to this error:

`https://messaging.originprotocol.com/messages/0x522731a061e896B5Db9dDff9234fB5461A533710

[2019-11-10 06:47] shahthepro commented on #3898
@tomlinton

Yes, can confirm that `e.words` error is related to messaging. It gets thrown when there is no encryption key in the messages.

No, AFAIK, nothing has been changed wrt messaging.

I'll check this out.

[2019-11-10 07:00] tomlinton commented on #3898
Thanks shah, I have been hunting around for what might have changed but no luck yet. Another possibility is this has just never worked.

[2019-11-10 08:50] sparrowDom commented on #3914
Nice @shahthepro I have gotten that far to remove the new line characters. But that didn't fix it for me, and that is when I gave up :)

[2019-11-10 09:07] #3212 closed

[2019-11-10 16:53] franckc opened #3927 "Can't edit a listing"
Tested in prod using chrome+metamask.

Clicking on "Edit Listing" on listing details page causes the UI to go in an infinite loop where it keeps going back and forth between the #/onboarding and the #/signin routes.

This is likely related to the recent SignIn changes...

[2019-11-10 16:54] franckc commented on #3927
CC @shahthepro @micahalcorn

[2019-11-10 19:45] lucadgtrip opened #3928 ""Unread Messages" but all messages are read"
from the pc, I log in into https://shoporigin.com and it shows
![Screenshot 2019-11-10 at 21 38 51](https://user-images.githubusercontent.com/34341206/68549631-16135480-0403-11ea-855e-992cbf9b4d86.png)

but when I click on View Messages, there are no new ones.
It happens consistently.

[2019-11-11 01:26] micahalcorn opened #3931 "Unable to Sign In"
**Browser**: Brave (desktop), shields down
**Network**: Mainnet
**DApp**: ShopOrigin.com
**Account**: 0x96FEb7b6F808dd2BBd09c9E5ccdE77caBd58d019
**Wallet**: MetaMask

Here is the console after two attempts 👇

<img width="488" alt="Screen Shot 2019-11-09 at 4 08 01 AM" src="https://user-images.githubusercontent.com/273937/68554708-ccb10e00-03de-11ea-88ec-8865f1c398cc.png">

-----

At Origin, we use

[2019-11-11 03:24] micahalcorn commented on #3931
Clearing cookies and localStorage resolves this in my experience 😕

[2019-11-11 03:29] micahalcorn opened #3936 "FaceID Permissions Not Quite Accurate"
Minor confusion 🙂

With FaceID enabled as an authentication method in Origin Marketplace, click the toggle switch to disable the setting. The FaceID prompt will appear. Cause it to fail (face not recognized). Be told that _"...you have FaceID disabled. You will need to enable it in the settings..."_, which isn't quite accurate.

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage

[2019-11-11 03:36] micahalcorn opened #3937 "Require Changed PIN Code Confirmation"
When changing the PIN code in Origin Marketplace, entering the old PIN is required. But the new PIN only needs to be entered once, which is inconsistent with creating a PIN from scratch. We should require confirmation to reduce the likelihood of the user mistakenly entering a PIN that won't be remembered. ⛑

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks

[2019-11-11 03:46] micahalcorn opened #3938 "Subtle Back Button"
The back arrow styling is such that it’s difficult to see and find a way backward from the new native onboarding screens. Compare to [this mockup](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5d7bcc873838ff49745a2a68).

![9524EDE7-CCE9-4A07-8ECC-2B12D0C27C2F](https://user-images.githubusercontent.com/273937/68559553-4a324980-03f2-11ea-917e-891815c86bad.png)

-----

At Origin, we u

[2019-11-11 05:09] #3931 closed

[2019-11-11 05:28] franckc opened #3940 "Listener fails to process OfferCreated events"
The listener is crashing when processing OfferCreated events.
The following stacktrace is found in the logs:
[code]

Note: I haven't confirmed whether this is specific to OfferCreated events or also happens for other type of marketplace event.

The impact is that users won't receive a notification and email when there is activity on a listing they purchased.

[2019-11-11 06:59] franckc commented on #3940
Fixed.

[2019-11-11 06:59] #3940 closed

[2019-11-11 21:36] #3938 closed

[2019-11-11 22:38] micahalcorn opened #3948 "Generalized Partnership Referral Funnel"
We want to implement an onboarding funnel that shepherds users from another platform through app installation and Origin Rewards signup. Here are the steps that a user would experience:

1. See banner ad or link in partner marketing
1. Click partner referral link
1. See a dynamic landing page on originprotocol.com containing the relevant partner's logo and a call-to-action for downloading our app

[2019-11-11 23:42] tomlinton commented on #3937
Closed by #3902.

[2019-11-11 23:42] #3937 closed

[2019-11-11 23:42] tomlinton commented on #3936
Closed by #3902.

[2019-11-11 23:42] #3936 closed

[2019-11-11 23:45] tomlinton commented on #3927
Closed by #3941.

[2019-11-11 23:45] #3927 closed

[2019-11-11 23:49] tomlinton commented on #3828
Closed by #3904.

[2019-11-11 23:49] #3828 closed

[2019-11-12 00:55] micahalcorn commented on #300
Resolved (for Housing listings) by https://github.com/OriginProtocol/origin/pull/3797 ✅

[2019-11-12 00:55] #300 closed

[2019-11-12 00:55] micahalcorn commented on #37
Resolved (for Housing listings) by https://github.com/OriginProtocol/origin/pull/3797 🗺

[2019-11-12 00:55] #37 closed

[2019-11-12 00:57] micahalcorn commented on #366
No longer relevant per https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/dashboard?seid=5d4ca9dc6986389b1e310c77 😐

[2019-11-12 00:57] #366 closed

[2019-11-12 01:05] micahalcorn opened #3949 "Listing Discovery by Location"
We made some decisions a few months ago about how to handle basic listing discovery with location data across all listings categories in the same interface. We need to decide how we want to move forward with this and implement a way for buyers to filter and/or sort listings based on location.

See [these designs](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5d4ca9dc6986389b1e310c77)

[2019-11-12 03:05] IncentiveLoop commented on #3381
Hey @micahalcorn I'd like to pick this up if possible.

Would you like pagination to function similar to the my-listings page (infinite scroll) or click to load more?

[2019-11-12 09:35] shahthepro commented on #3774
Closed via #3910

[2019-11-12 09:35] #3774 closed

[2019-11-12 16:42] lucadgtrip commented on #1439
on the App I am selecting:
- in 13 Nov
- out 16 Nov
and the UX is confusing as it appears I have selected 4 nights and 4 prices.

![Screenshot_20191112-164822_XRecorder](https://user-images.githubusercontent.com/34341206/68690757-3f56f080-057b-11ea-9ba1-4a80153114dd.jpg)

the price is calculated correctly but we need some UX clues to confirm I am selecting 3 nights.
Some ideas:
- write "3 nights"

[2019-11-12 16:45] lucadgtrip commented on #1439
![Screenshot_20191112-184311_Airbnb](https://user-images.githubusercontent.com/34341206/68691510-885b7480-057c-11ea-83c9-5fc8698889f4.jpg)

[2019-11-12 16:47] lucadgtrip opened #3958 "Gas Price: 0 € or something?"
![Screenshot_20191112-164834_XRecorder](https://user-images.githubusercontent.com/34341206/68691624-b8a31300-057c-11ea-8641-6c222499c471.jpg)
![Screenshot_20191112-164854_XRecorder](https://user-images.githubusercontent.com/34341206/68691625-b8a31300-057c-11ea-83ee-7b12c395f301.jpg)

Did I pay some ETH or not?
There is a gas price in both cases but the total displayed in € is zero.
So, it's not cl

[2019-11-12 16:50] lucadgtrip opened #3959 "Price displayed in Offer not relevant"
![Screenshot_20191112-164906_XRecorder](https://user-images.githubusercontent.com/34341206/68691835-15063280-057d-11ea-8639-4f673a873831.jpg)

75 € here is probably the base price, which is not real in this transaction, nor relevant.
The real price was different every day.
So I think this is confusing.
I user will probably expect the total price there.

[2019-11-12 17:56] #3887 closed

[2019-11-12 18:39] mikeshultz commented on #3948
I'm not really sure this is possible without permissions changes and code changes to our mobile app.  Also, writing to clipboard, at least on Chrome, may require requesting permissions(not silent).

Going to do some more research and see if I can put together a test to quickly confirm that this will or willn't work as designed.  Maybe see if I can come up with any alternatives as well.

[2019-11-12 20:14] micahalcorn commented on #3948
@mikeshultz we will certainly need mobile app code changes, but I'm not aware of any permission requirements associated with the clipboard. 🤔

In addition to the requirements listed above, we want @coleman415 to be able to configure new instances of the _website_ landing page for prospective partners that he is talking to. He should be able to add a logo image to a directory along with a reward am

[2019-11-12 20:31] mikeshultz commented on #3948
I'm putting together the tests now to test this.  Looks like we can read with react-native just fine.  Not sure about in a webview but I doubt it(also probably not what we want).  Trying to figure out writing now.  Seems this isn't super consistent between browsers.  Will update when I know more.

[2019-11-12 20:40] micahalcorn commented on #3948
I don't think we need to read from a webview and writing will require a click as described in 4️⃣ above.

[2019-11-12 21:21] mikeshultz commented on #3948
For mobile, [react-native Clipboard](https://facebook.github.io/react-native/docs/clipboard.html) tested as working, no permissions required on Android(not sure about iOS).

[Support for the Clipboard API is weak](https://caniuse.com/#feat=mdn-api_clipboard) (`navigator.clipboard.writeText('text to write')`). Tested as working on Chrome and Firefox on Android(only works over HTTPS, local tests ove

[2019-11-12 21:25] micahalcorn commented on #3948
I think we should use a library like [copy-to-clipboard](https://www.npmjs.com/package/copy-to-clipboard#browser-support) and not worry too much about it. 😕

[2019-11-12 21:28] mikeshultz commented on #3948
I'm just leaving notes here.

[2019-11-12 23:16] franckc opened #3962 "Run static analyzer on contract changes"
Whenever a code change is made to one of our contract, it would be nice to automatically trigger running a static code analyzer such as [slither](https://github.com/crytic/slither).

I attempted to do so by integrating our github repo with the [crytic](https://crytic.io/) tool.
But I ran into several limitations:
- it did not work well with our mono-repo since the tool could not find the directory

[2019-11-13 00:25] franckc commented on #3874
I'll look into this.

[2019-11-13 02:49] micahalcorn commented on #3381
Thanks for asking @IncentiveLoop 👊 Let's avoid the horizontal scroll there and do a clickable link. This change should be made on the public user profile linked above and also on the listing detail page containing "Other listings by this seller".

[2019-11-13 03:00] micahalcorn commented on #3958
I can confirm that the same is true for USD when making an offer using DAI. The gas cost for the allowance approval should be around $0.10, I believe. 🙁

[2019-11-13 19:21] micahalcorn commented on #3372
Designs for reference (on hold) 🙁

- [Single-Transaction Purchase](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/dashboard?seid=5d9788db28056b6246ddc735)
- [Double-Transaction Purchase](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/dashboard?seid=5db0d7eaff8f512c3f44d5cd)
- [Listing Creation](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/dashboard?seid=5db7082f9021d0238a

[2019-11-13 19:22] micahalcorn commented on #3596
Deprioritizing this for now 🙁

[2019-11-13 19:24] micahalcorn commented on #3346
Deprioritizing this for now 🙁 Related: #3372

[2019-11-13 19:28] micahalcorn commented on #3898
Considering this resolved in regard to case 2 ✅ If case 1 is still a problem in the next build, we can open a separate issue.

[2019-11-13 19:28] #3898 closed

[2019-11-13 19:41] tomlinton commented on #3898
I don't believe case 1 is related to mobile builds at all, it is DApp side.

[2019-11-13 19:55] micahalcorn opened #3970 "Undefined is not an object (words)"
From #3898 🔽

Account: `0x96FEb7b6F808dd2BBd09c9E5ccdE77caBd58d019`
Environment: Origin Marketplace `0.24.3` (Mainnet)
Experience: Click purchase on the confirmation screen and never get a native confirmation prompt

![E502B8DF-1D8A-4F23-96CE-988FC04B1010](https://user-images.githubusercontent.com/273937/68417614-9314a480-014b-11ea-894a-4ca9593f58f7.png)

-----

At Origin, we use [ZenHub](https://

[2019-11-13 20:04] micahalcorn commented on #2409
Putting this on the back burner ♨️

[2019-11-13 20:05] tomlinton commented on #3970
Following on from that failed key request to the messaging server - a likely culprit or cause of this is the state of messaging between the buyer and the seller, i.e. whether they have any open conversations. This looks like it alters the key request.

[2019-11-13 20:06] micahalcorn commented on #2344
Taking this off of @tomlinton's plate 🍽

[2019-11-13 20:07] micahalcorn commented on #808
Taking this off of @tomlinton's plate 🍽

[2019-11-13 20:13] franckc commented on #3294
According to Sentry this error hasn't occurred since Oct 28th.

Closing.

[2019-11-13 20:13] #3294 closed

[2019-11-13 20:19] franckc commented on #2944
Sentry tells me this hasn't happened in the last couple weeks.

Closing.

[2019-11-13 20:19] #2944 closed

[2019-11-13 20:23] micahalcorn commented on #3834
Taking this off of @franckc's assiette 🍽

[2019-11-13 23:33] franckc commented on #3874
I can't reproduce on gmail with Chrome (see screenshot below).

@tomlinton do you remember which email client you were using?

<img width="978" alt="Screen Shot 2019-11-13 at 3 32 26 PM" src="https://user-images.githubusercontent.com/945910/68813515-e3e43b80-062a-11ea-8eaf-6ab8676bf37a.png">

[2019-11-13 23:34] tomlinton commented on #3874
I didn't experience this one personally, I believe it was @matthewliu?

[2019-11-14 14:11] shahthepro commented on #3568
Played around with this. It happens when you select a start date but not an end date. I was not able to reproduce it initially since I selected two date by instinct.

The "Save" button should be disabled if both dates are not selected. Looks like I somehow messed up the constraint that disables the button. Will include the fix in `shahthepro/bug-fixes` branch

[2019-11-14 15:10] shahthepro commented on #3970
@micahalcorn

Spent some time on debugging this and had a look at all encrypted keys/messages on the DB. Everything looks good to me. I can get the native tx screen (with a different account).

The only way to reproduce this is if `convObj.keys[0]` is undefined. `convObj.keys` will be an empty array only [if this line fails for all keys](https://github.com/OriginProtocol/origin/blob/master/package

[2019-11-14 16:52] micahalcorn commented on #3970
@shahthepro one thing that I just noticed (and may or may not have been true before): on an existing offer detail page involving this same buyer, seller, and listing, I see "Could not decrypt shipping address".

[2019-11-14 17:00] micahalcorn commented on #3970
@shahthepro I can confirm that sending a message from this buyer to this seller fails silently. There is no error in the console and the modal messaging form just resets itself. 🙁

[2019-11-14 17:05] micahalcorn commented on #3568
I'm fairly certain that I was selecting an end date when I reported this. I may be wrong, so we'll consider it resolved by d277d2e5634fae2d45ad15364dfbbc6dd959e5d7 until we see it again. 🤞

[2019-11-14 17:05] #3568 closed

[2019-11-14 17:06] micahalcorn commented on #2029
I agree that this is isn't great, but closing it out for now 😔

[2019-11-14 17:06] #2029 closed

[2019-11-14 17:10] micahalcorn commented on #3958
This is a significantly bigger problem than I realized. It seems that no ETH conversions to USD are accurate.

![31BC8E14-0DFF-431E-985E-D020E0DC361D](https://user-images.githubusercontent.com/273937/68879605-8dc0d800-06be-11ea-8898-2db5970de939.png)

[2019-11-14 17:16] micahalcorn commented on #3874
While mobile isn't a priority, I know that the emails look less-than-desirable on small screens. That's probably the easiest way to reproduce any issues. 📲

[2019-11-14 17:22] #2007 closed

[2019-11-14 17:23] #2398 closed

[2019-11-14 17:32] micahalcorn opened #3978 "Mobile Modal Disclaimer"
We made a conscious decision not to spend time and effort refining the small-screen experience for 𝕿𝟥. We should, however, tell users that they should use a large screen so that they don't think we're incompetent. Let's do two things:

1. Include something in the invitation email that tells them to access 𝕿𝟥 from a desktop machine
1. When 𝕿𝟥 is loaded onto a small screen for the first time, displa

[2019-11-14 20:23] mikeshultz commented on #3948
@micahalcorn I added the "Configurable Parameters" section in your original post.  Can you edit it if it needs additions/removals?

[2019-11-14 21:51] franckc commented on #3874
This should be fixed by the migration to use mjml as email template framework. See PR #3980

[2019-11-14 21:51] #3874 closed

[2019-11-15 01:19] #3978 closed

[2019-11-15 02:16] sentry-io[bot] opened #3984 "Error: Objects are not valid as a React child (found: Error: GraphQL error: Failed to fetch)."
Sentry Issue: [ORIGIN-DAPP-NE](https://sentry.io/organizations/origin-protocol/issues/1317411767/?referrer=github_integration)

[code]

[2019-11-15 02:17] micahalcorn commented on #3984
This matches the timestamp and device characteristics of a complaint from Ramdhanisaefulloh in #bug-reports. 😕

[2019-11-15 06:02] #3829 closed

[2019-11-15 22:35] mikeshultz commented on #3948
@micahalcorn question above and also:

- Will the reward amount be changing per partner or will it be fixed by campaign month?
- Are any of the designs final enough to start implementing?
- Do I just ping you/Aure via Zeplin for assets?

[2019-11-16 00:45] micahalcorn commented on #3948
I think the config looks good @mikeshultz. The reward amount will potentially be different for various partnerships, which I think is included in the config (at least for the website). We're aware that the rules will need to be changed by engineering for it to actually take effect in the DApp and growth server. The designs should be good to go. 🚀

[2019-11-18 04:35] shahthepro commented on #3984
@micahalcorn Any steps to reproduce this?

[2019-11-18 09:45] #3749 closed

[2019-11-18 09:45] #3351 closed

[2019-11-18 09:45] #3958 closed

[2019-11-19 20:07] franckc opened #4025 "Twitter share verification failures"
A couple users reported that after sharing a tweet he did not get a reward.
User 1:
 - account: 0xDB59B63738E27E6d689C9d72c92C7a12f22161Bb
 - tweet: https://twitter.com/freakslot777/status/1196512931531415554
User 2:
 - account 0x58B61d71A801BEffe49Ed1A8E01A908be965Ca1B
 - https://twitter.com/Gozing21/status/1196736929389256704

I checked the bridge logs and I'm seeing verification failure errors

[2019-11-19 20:08] franckc commented on #4025
@shahthepro Any idea what could be wrong?

[2019-11-20 08:33] #3970 closed

[2019-11-20 08:39] #3433 closed

[2019-11-20 08:40] #3620 closed

[2019-11-20 08:40] #3761 closed

[2019-11-20 08:40] #3928 closed

[2019-11-20 08:56] micahalcorn commented on #3984
<img width="697" alt="Screen Shot 2019-11-20 at 12 56 16 AM" src="https://user-images.githubusercontent.com/273937/69223942-9a1aba00-0b30-11ea-88f2-2c5a6eca3902.png">

[2019-11-20 16:53] mikeshultz commented on #3790
Since this is expected for my project and completed items are always missing for me, I'll poke at this a bit.

[2019-11-21 07:13] franckc commented on #4025
Another user complained so I took another quick look.

In the bridge prod logs, I don't see any logs starting with "[TWITTER] Pushed" since Nov 13th. This leads me to think the bridge webhook is not called by Twitter for new event related to the OriginProtocol account... I recall this happened before...

@shahthepro How do you reset this subscription again?

[2019-11-21 07:14] shahthepro commented on #4025
@franckc We may have to revoke access from Twitter and reauthorize.

[2019-11-21 08:47] lucadgtrip opened #4038 "Booking flow: New message empty"
this is a comment on the booking flow for this booking I am doing in Rome.
https://etherscan.io/tx/0xfb0beb7b6eccf4b1e5f436159ee4cc0b7ddb6015124a3cee3e120f3f354b7041

1) I made an offer
2) I got this email
![Screenshot 2019-11-21 at 09 31 55](https://user-images.githubusercontent.com/34341206/69320801-2b2d8600-0c42-11ea-8565-5d436da5605f.png)
and I was expecting a message but there was none.
I ask

[2019-11-21 18:00] franckc commented on #4025
@shahthepro Please ping me when you wake up and let's reconfigure this together. I'll write down the steps so that next time anyone can do this...

[2019-11-21 19:03] mikeshultz commented on #3948
Relevant PRs:
https://github.com/OriginProtocol/origin-website/pull/445
https://github.com/OriginProtocol/origin/pull/3996

[2019-11-21 19:10] mikeshultz commented on #3948
@micahalcorn so is 10 supposed to replace [this welcome page](https://shoporigin.com/#/welcome) or send users to it?

[2019-11-21 19:14] micahalcorn commented on #3948
@mikeshultz it is for these users (and eventually those referred by friends), but we still want people to be able to navigate to the old welcome landing page. 👍

[2019-11-21 21:15] micahalcorn opened #4039 "Stuck on Loading Payment Method"
With our mobile app, I created a new wallet and attempted to purchase [this listing](https://shoporigin.com/#/listing/1-000-3145). I don't see anything in the DApp console nor in Sentry.

![D75F96BF-15FC-4AA2-9509-D05AE9DD2166](https://user-images.githubusercontent.com/273937/69377153-853d4400-0c60-11ea-9457-d498d2b6639e.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage ou

[2019-11-22 02:00] shahthepro commented on #4025
@franckc I just revoked the permission and reauthorized it. Here are the steps:
1. Login to Twitter with `@OriginProtocol` account
2. Goto https://twitter.com/settings/applications
3. Find OriginProtocol app and click on it and then on `Revoke Access`
4. Hit this URL to reauthorize: https://bridge.originprotocol.com/hooks/twitter/__init

I'm looking at the Telegram issue from mobile. Will add this

[2019-11-22 03:24] micahalcorn commented on #3984
I got this just now @shahthepro. It crashes the webview in our mobile app when I click "Continue" for the first time on "Verify Account" for Telegram. It does, however, open the bot URL in Safari. Then I'm redirected to the Telegram app, click start, and then get stuck with a broken webview. 😬

[2019-11-22 04:35] #3984 closed

[2019-11-22 05:02] franckc commented on #4025
Great! Thanks a bunch @shahthepro - you are a pro! :)

[2019-11-22 05:02] #4025 closed

[2019-11-22 06:34] #3381 closed

[2019-11-22 06:36] micahalcorn commented on #3235
Likely resolved by https://github.com/OriginProtocol/origin/pull/3987 🤞

[2019-11-22 06:36] #3235 closed

[2019-11-22 22:17] micahalcorn opened #4051 "Confusing Redirect After Referred User Activation"
I clicked on Kay's referral link on desktop. I was taken to the welcome page and I clicked the appropriate button to proceed. I went through the expected user activation flow using MetaMask. After seeing the congratulations screen and clicking the button, I was redirected to https://shoporigin.com/#/welcome/continue/1d8b0a69469, which didn't make any sense. I was also presented with the prompts to

[2019-11-25 22:25] mikeshultz commented on #3948
PR for the forced dapp onboarding: https://github.com/OriginProtocol/origin/pull/4055

Other than anything-that-comes-from-testing, the only outstanding task is that completed rewards are not displaying on the campaigns page.

[2019-11-25 22:59] franckc opened #4057 "Origin Rewards mobile signup attribution"
Currently we only attribute signups to a referrer if the referee signs up on desktop.
The flow is as follow:
 - Referrer gets their referral link from https://shoporigin.com/#/campaigns/invitations It looks like this: https://shoporigin.com/#/welcome/d85400fe30
 - Referrer shares their referral link via the built-in email tool or via social media, etc...
 - New user clicks on the link and lands on

[2019-11-25 23:03] franckc commented on #4057
@micahalcorn @matthewliu I created this issue to track the work related to fixing the Origin Rewards mobile referral flow.

@mikeshultz Thanks for looking into this! Please let me know any question regarding the current referral flow.

[2019-11-26 15:29] #190 closed

[2019-11-26 16:02] mahamat commented on #3563
Hey @micahalcorn, is this issue still valid ? cause on Firefox desktop, i am not seeing grey space. Thanks
<img width="335" alt="Screen Shot 2019-11-26 at 19 01 25" src="https://user-images.githubusercontent.com/511262/69650214-528bb500-107f-11ea-80fc-337e105407a7.png">

[2019-11-26 18:32] micahalcorn commented on #4057
Thanks @franckc 👍 Relevant mockups are [here](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/dashboard?seid=5db8adc457bcf62c39604baf).

[2019-11-26 19:59] micahalcorn commented on #3563
Yep, this seems to have resolved itself, thx 😁

[2019-11-26 19:59] #3563 closed

[2019-11-27 01:42] micahalcorn opened #4061 "@origin/bridge did not return xrate for USDT."
Seen when declining an offer 😕 I think the transaction was successful, but the DApp lost it.

-----

If you need help, please ask in our [#engineering channel on Discord](http://www.originprotocol.com/discord). If you want to file an issue for a feature, bug, or discussion, please make an attempt to confirm that it does not already exist here in GitHub.

At Origin, we use [ZenHub](https://www.zenh

[2019-11-27 02:31] shahthepro commented on #3792
Considering this closed with #4054

[2019-11-27 02:31] #3792 closed

[2019-11-27 11:17] #3790 closed

[2019-11-27 18:41] mahamat commented on #4039
Hey @micahalcorn , debugging this bug, it happens on desktop when site is not connected on Metamask, or when i do not connect to Metamask and chose Cancel button. For example:
https://shoporigin.com/#/listing/1-000-2832 and https://shoporigin.com/#/listing/1-000-2832 are stuck in `Loading` state.

Debugging the code, it seems it is using this query, ```export default gql`
  query WalletStatus {

[2019-11-29 10:12] micahalcorn opened #4066 "Can't Click Purchase Button"
I'm stuck in this state for several minutes on the appropriate network with MetaMask fully connected on [this listing](https://shoporigin.com/#/listing/1-000-255) with no console output.

Possibly related: https://github.com/OriginProtocol/origin/issues/4039

<img width="545" alt="Screen Shot 2019-11-29 at 2 09 19 AM" src="https://user-images.githubusercontent.com/273937/69861639-9df3be00-124d-11e

[2019-11-29 10:23] micahalcorn commented on #4039
Yes @mahamat, there isn't really any concept of "connecting" the wallet in our app. There is no EIP 1102 privacy, and the wallet signs an authentication token prior to reaching this screen.

I just tried to reproduce it though and I wasn't able to. 😕

[2019-11-29 13:40] mahamat commented on #3211
Hi @franckc , this #4050 should fix this issue. Could you verify it, so that the issue can be closed. Thanks.

[2019-11-29 18:56] micahalcorn commented on #4061
Thanks @mahamat 👏

[2019-11-29 18:56] #4061 closed

[2019-11-30 00:30] franckc commented on #3211
Awesome! Nice work @mahamat. Thanks for fixing this :)

[2019-11-30 00:30] #3211 closed

[2019-12-02 17:50] franckc commented on #4066
The issue was that the messaging server was crashing due to the domain whitelist I added to Alchemy...
Should be fixed now (@tomlinton undid the whitelisting for now).

[2019-12-02 17:50] #4066 closed

[2019-12-03 18:17] sentry-io[bot] opened #4080 "TypeError: i is null"
Sentry Issue: [ORIGIN-DAPP-Q8](https://sentry.io/organizations/origin-protocol/issues/1324763323/?referrer=github_integration)

[code]

[2019-12-03 18:18] mikeshultz commented on #4080
This occurred when doing a Google account verification.  I reproduced on staging but Sentry suggests this is also seen on Prod.

[2019-12-03 22:42] sentry-io[bot] opened #4081 "Error: GraphQL error: Sending of message failed"
Sentry Issue: [ORIGIN-DAPP-SZ](https://sentry.io/organizations/origin-protocol/issues/1350010970/?referrer=github_integration)

[code]

[2019-12-04 00:15] mikeshultz commented on #4081
This appears to be occurring when the recipient has not enable messaging.  I thought enabling of messaging was now required to make an offer.

@shahthepro, I think you know most about messaging and onboarding lately.  Can you think of any exceptions to the above?

[2019-12-04 22:14] #3223 closed

[2019-12-05 05:09] #3184 closed

[2019-12-06 03:37] micahalcorn opened #4092 "Under-the-hood rewards signing"
When a user of our app signs up for Origin Rewards, there should be no prompt to sign the statement using the wallet. It should be sufficient for the user to check the box in the webview agreeing to the terms and then we should sign without requesting explicit confirmation. 📝

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Downl

[2019-12-08 09:01] sentry-io[bot] opened #4101 "TypeError: undefined is not an object (evaluating 'n.props.settings')"
Sentry Issue: [ORIGIN-MOBILE-66](https://sentry.io/organizations/origin-protocol/issues/1377703937/?referrer=github_integration)

[code]

[2019-12-08 09:03] micahalcorn commented on #4101
This is me clicking Continue on the partner-branded welcome screen using 0.28.1 on iPhone. The app crashed and I sent an error report when prompted. 💀

[2019-12-08 09:26] tomlinton commented on #4101
Bug here https://github.com/OriginProtocol/origin/blob/420683dfeaa75d4a9fc1b93589fbdf215a14886e/mobile/src/screens/marketplace.js#L82, should be `prevProps.settings.referralCode` not `prevProps.props.settings.referralCode`. I can fix it up tomorrow and push a new build to TestFlight.

[2019-12-08 16:17] micahalcorn commented on #4101
Thanks @tomlinton 🙏

[2019-12-08 18:48] mikeshultz commented on #4101
That's what I get for shunting this line of code during testing.  Thanks for IDing the issue, @tomlinton.  PR incoming.

[2019-12-08 19:44] #4101 closed

[2019-12-09 05:34] micahalcorn opened #4104 "Partner Welcome Screen Changes"
- The reward view isn't quite centered.
- We should change the reward view background color to `#f0f6f9` and make the text `#000000` or make both of them configurable.
- Let's change the text to "Welcome! We see you’re a `{config.partner.name}` customer. Click continue to create your account and join Origin Rewards."

![8D056322-C459-4A42-A382-99157761AE84](https://user-images.githubusercontent.co

[2019-12-09 17:11] micahalcorn commented on #3358
I’m still getting this pretty consistently. 😕

[2019-12-09 17:58] mikeshultz commented on #4104
Maybe instead of "Click continue" it could tell the user the general actions we expect of them.  In fact, there's really no other option other than clicking continue.

Will have a PR up shortly.

[2019-12-09 18:58] micahalcorn opened #4108 "Misguided Back Button"
After completing the Facebook verification (for example), clicking the back button goes to the Facebook screen, which creates a loop or a dead end. The button should lead to whichever DApp screen I was on prior to this one. This is basically the same as https://github.com/OriginProtocol/origin/issues/3375.

![A3EB6F4C-FB16-4940-9714-2A92BB8ABD78](https://user-images.githubusercontent.com/273937/70

[2019-12-09 23:42] #4104 closed

[2019-12-11 23:58] #3358 closed

[2019-12-11 23:58] #4092 closed

[2019-12-12 17:22] sentry-io[bot] opened #4130 "Error: GraphQL error: Variable "$wallet" got invalid value undefined; Expected non-nullable type String!..."
Sentry Issue: [ORIGIN-DAPP-T5](https://sentry.io/organizations/origin-protocol/issues/1350308312/?referrer=github_integration)

[code]

[2019-12-12 17:23] mikeshultz commented on #4130
Showed up in the last ~24

[2019-12-12 17:23] sentry-io[bot] opened #4131 "Error: GraphQL error: Unexpected error value: { message: "Can not fetch invite code for user: 0xB7967466..."
Sentry Issue: [ORIGIN-DAPP-10G](https://sentry.io/organizations/origin-protocol/issues/1384782980/?referrer=github_integration)

[code]

[2019-12-12 17:24] mikeshultz commented on #4131
This is more common than the linked Sentry issues leads to believe.  The address makes them look unique.

CC @micahalcorn @franckc

[2019-12-12 17:48] mikeshultz commented on #4131
Ref: https://github.com/OriginProtocol/origin/pull/4118/files#diff-5ed8aae2f109525c75779461aae4cc3dR85

[2019-12-12 18:31] #4131 closed

[2019-12-12 21:32] #4057 closed

[2019-12-12 21:32] #3948 closed

[2019-12-12 22:05] micahalcorn opened #4136 "Completed Partner Reward Missing"
![6F0BAEA1-391A-40B4-B78C-CA99BCAED5F3](https://user-images.githubusercontent.com/273937/70752876-5f97dd80-1ce8-11ea-9825-7ac062bd9438.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/extension) and check out our open workspace at [github.com/originprotocol/origin#zenh

[2019-12-12 22:09] micahalcorn commented on #4051
No longer an issue ☑️

[2019-12-12 22:09] #4051 closed

[2019-12-12 22:10] micahalcorn commented on #4081
Leaving a note here that this is still a mystery but not a top priority 🔮

[2019-12-12 22:35] micahalcorn opened #4137 "Inaccurate Signing Prompt"
This screen is not followed by a signing prompt in our app. If we are supposed to be getting an explicit signature from the user, we should bring that back. Otherwise, we should skip this modal in our app.

![IMG_0509](https://user-images.githubusercontent.com/273937/70754565-5c9eec00-1cec-11ea-8e6e-a018034660df.PNG)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our enginee

[2019-12-12 22:41] micahalcorn opened #4138 "Referral Onboarding Flickering"
When a referred user lands on the DApp in our app, the onboarding screens flicker, sometimes asking for auth, email, email again, etc. It resolves itself in a matter of a second or two, but it's not a great look. I think @shahthepro has an idea for how this might be fixed. I'm not sure if it would help, but I think there are reasons to make [this screen](https://app.zeplin.io/project/59fa2311bac7a

[2019-12-14 06:23] #4108 closed

[2019-12-14 06:23] #4137 closed

[2019-12-17 22:34] franckc opened #4157 "Listener on Rinkeby issues very large volume of web3 requests"
We had an instance on Rinkeby of the listener issuing 195 qps worth of web3 requests (mostly eth_getBlockByNumber and eth_blockNumber calls).

Here is an excerpt of the logs at the time it was happening:
![Screen Shot 2019-12-17 at 2 30 34 PM](https://user-images.githubusercontent.com/945910/71039792-e0384e80-20d9-11ea-8e9e-f34563708426.png)

Restarting the process fixed it and the web3 calls volu

[2019-12-17 22:34] franckc commented on #4157
CC @mikeshultz in case he has any insights into this...

[2019-12-17 23:05] franckc commented on #4157
Actually after further investigation it could have been that the testing we did on T3 caused this. Still looking...

[2019-12-18 04:26] franckc commented on #4157
Was a bug in T3 distribution. And Alchemy stats have a delay which is why shutting down T3 did not immediately get reflected in the stats making me think it was not the culprit.
Closing for now.

[2019-12-18 04:26] #4157 closed

[2019-12-18 04:45] franckc commented on #3783
For another project (T3) we have been using mjml and I would highly recommend we use it...
See https://github.com/OriginProtocol/origin/tree/master/infra/token-transfer-server/src/templates and https://github.com/OriginProtocol/origin/blob/master/infra/token-transfer-server/src/lib/email.js

[2019-12-18 14:14] rembrandtreyes commented on #3783
Perfect. I can use MJML.

[2019-12-27 15:21] micahalcorn opened #4177 "Empty Profile Strength Bar"
After having verified multiple accounts, the profile strength bar does not show any progress.

![91F2A122-60D4-4E3B-A3E1-7BCB31CF1A93](https://user-images.githubusercontent.com/273937/71522409-3780b080-288a-11ea-8bf1-8a9556350ad4.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.z

[2020-01-02 18:35] DanielVF opened #4185 "Dapp spamming eth_getCode"
I loaded up the shoporigin dapp on rinkeby, and it's spamming about one request a second to alchemy, doing a call to eth_getCode. Always for the same eth address.

![image](https://user-images.githubusercontent.com/837/71684776-5f798380-2d64-11ea-9f63-0737713bacdd.png)

[2020-01-02 19:46] franckc commented on #4185
That's weird...
Any idea what this address is?
I don't see it in our [config](https://github.com/OriginProtocol/origin/blob/master/packages/contracts/build/contracts_rinkeby.json) and [etherscan](https://rinkeby.etherscan.io/address/0x9c81e4EC27fe3d1446559a9504D83C0300cDf07D) doesn't show anything for it neither....

[2020-01-02 20:54] DanielVF commented on #4185
I'm guessing it's a calculated proxy address for my new testing eth address, and there is not matching proxy.

[2020-01-03 04:58] franckc commented on #4185
@nick or @mikeshultz Any idea what could be causing this?
Low priority since it is not eating much of our Alchemy quota at all.
But would still be interesting though to understand better what's going on in case it starts causing more trouble...

[2020-01-05 22:24] micahalcorn opened #4192 "Misleading Promotion Success"
If I'm promoting Origin to earn rewards and I click "Share this on Twitter", then cancel from within Twitter, I see "You earned 0 OGN" when I return to the Origin app. I'm not sure where the 0 comes from because I'm led to believe that I will earn 25 for sharing it. I don't know if we're able to detect whether or not it was actually shared.

Related: If I click "Share this on Facebook" and then ca

[2020-01-06 03:46] micahalcorn opened #4194 "Broken Rewards Welcome on Desktop"
When a new user clicks on "Sign up now" at https://shoporigin.com/#/welcome on desktop, it produces some DApp screen without a navbar. During the onboarding flow, it ultimately breaks with an exception on a button. I'm not sure yet whether we want to fix this or replace the welcome page itself. 🤔

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and produc

[2020-01-06 17:47] micahalcorn opened #4197 "Invalid Params Making Offer"
When I try to make an offer on this listing from our mobile app, it fails with this error message. I'm able to do it on desktop with MetaMask.

![IMG_0615](https://user-images.githubusercontent.com/273937/71836719-74f2f400-3069-11ea-9d05-fdb2c703e35c.PNG)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser ext

[2020-01-06 17:57] micahalcorn opened #4198 "Unable to Submit Offer on Mobile"
When I try to make an offer on [this listing](https://shoporigin.com/#/listing/1-000-624), the native prompt is stuck with a loading button forever. I couldn't find any console errors.

![IMG_0616](https://user-images.githubusercontent.com/273937/71837041-52ada600-306a-11ea-90b4-3c7f635aa06c.PNG)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and produc

[2020-01-06 18:54] mikeshultz commented on #4185
@DanielVF probably hit the nail on the head.  And "zero responses" are explicitly not cached because there were constant issues when proxy contracts were finally deployed and the dapp still falsely thinks it hasn't.

That said, that doesn't really mean the dapp needs to be polling this every second for new users.  So perhaps that should still be investigated but these proxy checks are basically ev

[2020-01-06 19:07] mikeshultz commented on #4197
Ref(@micahalcorn's would be the latter but they're related):
https://sentry.io/organizations/origin-protocol/issues/1350010970/?project=1402589&query=is%3Aunresolved+receipt&statsPeriod=14d
https://sentry.io/organizations/origin-protocol/issues/1350354535/?project=1402589&query=is%3Aunresolved+receipt&statsPeriod=14d

[2020-01-06 19:11] #3499 closed

[2020-01-06 19:16] mikeshultz commented on #4197
This is #3411 ongoing.

[2020-01-06 19:22] franckc commented on #4185
I wonder why we are not seeing the same behavior on Mainnet?

[2020-01-06 19:26] mikeshultz commented on #4185
Maybe the accounts/users in question already have proxies deployed.

[2020-01-07 01:29] mikeshultz commented on #4198
I think this is probably a temporary network error.  This isn't very reproducable, correct @micahalcorn?

Probably these:
https://sentry.io/organizations/origin-protocol/issues/1252257192/events/1533dffa500f4ef19cb7607eb94ea94c/?project=1402589&statsPeriod=14d
https://sentry.io/organizations/origin-protocol/issues/1317325357/?project=1402589&query=is%3Aunresolved+user.id%3A0x96FEb7b6F808dd2BBd09c9

[2020-01-07 06:32] franckc commented on #4185
I'm seeing the same behavior on Mainnet. For my account 0x428A1442113e833134CC564599C39Ab309ed565D it is querying ethGetCode for address 0xbeb7d9fd59e142e284fe096091502b3feeb56459

[2020-01-07 06:33] franckc commented on #4185
Bumped up the priority since it is not Rinkeby only and could ultimately lead to some queries getting rate limited by Alchemy.

[2020-01-07 06:44] mikeshultz commented on #4185
`0xBEb7d9fD59e142e284fE096091502B3fEEb56459` is the predicted proxy address for `0x428A1442113e833134CC564599C39Ab309ed565D`. It's some kind of identity query and you don't have a proxy yet.

[2020-01-07 06:51] franckc commented on #4185
Yep. With the new identity implementation that does not require a blockchain write, most users won't have a proxy (until they make an offer or create a listing). So this will likely impact large majority of new users.

[2020-01-07 08:29] franckc opened #4208 "Track additional signals upon Origin Rewards signups on mobile"
Currently on mobile we only track a UUID.
We'd like to capture the following additional signals:
 - OS type and version
 - Screen resolution
 - UserAgent of the webview
 - Language

[2020-01-07 08:39] franckc commented on #4208
CC @DanielVF Tracking signals we discussed this afternoon in this issue...

[2020-01-07 10:49] lucadgtrip opened #4209 ""Make Offer" step: wrong currency value displayed"
I am trying to make a booking and this is what I get:

![Screenshot_20200106-153255_Origin](https://user-images.githubusercontent.com/34341206/71889851-bc51b100-314b-11ea-92ea-47c4fadf8ccd.jpg)

here above the price is correct: 189 €
On the next step the value changes to 212 €, but it's probably 212 USD

![Screenshot_20200106-153303_Origin](https://user-images.githubusercontent.com/34341206/718899

[2020-01-07 16:38] franckc opened #4211 "DApp performance: Home page and Listing details page slow under load"
Last night after the OGN announcement, we experienced some slowness on the DApp. We saw the following:
 - home page tsking tens of seconds to load. As a data point, I experienced over 30sec load time from desktop. This is due to the client waiting on the graphql server response to the AllListing query. Sometimes it take over 60 sec and timeout because nginx would kill it (we have a 60sec limit on

[2020-01-07 16:41] franckc commented on #4211
Note: last night as a short-term measure we scaled up the number of graphql back-end instances from 1 to 3. It seemed to have helped a bit but after that change I was still seeing some long load times.

[2020-01-07 16:50] mikeshultz commented on #4211
It's not shocking we saw this last night but does this warrant an open issue(is it still occurring for you)?  Why is scaling up graphql back-end instances short term?

[2020-01-07 17:46] franckc commented on #4211
Did a quick test. Wiped our all my storage data. Currently DApp is fairly responsive for me (loads within 3 sec).

But I'm worried that when Asia wakes up we'll see again the same performance issues. At least I'd love to get better instrumentation in place quickly so that we can diagnose the root cause of the issue next time it occurs.

[2020-01-07 22:14] micahalcorn commented on #4198
Likely a network error since I wasn't able to reproduce after some time passed 😕

[2020-01-07 22:14] #4198 closed

[2020-01-07 22:19] micahalcorn commented on #4209
@lucadgtrip any chance that this is an older listing? That is our current theory before doing any investigation. 🤔

[2020-01-08 00:33] shahthepro commented on #4185
On the DApp, we poll the wallet query every second.

https://github.com/OriginProtocol/origin/blob/master/dapps/marketplace/src/hoc/withWallet.js#L11

The query also requests proxy address.

https://github.com/OriginProtocol/origin/blob/master/dapps/shop/src/queries/Wallet.js#L15

That's the reason `getCode` gets called every second.

[2020-01-08 00:36] shahthepro commented on #4185
I don't think MetaMask and a few other providers notify wallet address change through an event or subscription. That might be the reason polling was added. Not sure but @nick could confirm this.

[2020-01-08 02:50] sentry-io[bot] opened #4215 "Error: GraphQL error: Network request failed"
Sentry Issue: [ORIGIN-DAPP-H2](https://sentry.io/organizations/origin-protocol/issues/1252257192/?referrer=github_integration)

[code]

[2020-01-08 02:52] micahalcorn commented on #4215
This is a cause of the profile and wallet balances not loading in our DApp. 🙁 I hit this one and verified the IP address in Sentry.

[2020-01-08 05:01] #4185 closed

[2020-01-08 06:33] lucadgtrip commented on #4209
@micahalcorn it was created a couple of days ago https://shoporigin.com/#/listing/1-001-227-9234936

[2020-01-08 07:19] micahalcorn opened #4217 "Invalid Attestion(s)"
We're getting quite a few reports of this with Telegram. I haven't been able to find a way to reproduce it.

![invalid](https://user-images.githubusercontent.com/273937/71958060-301fa800-31a4-11ea-8a45-cc1c761de968.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser extension](https://www.zenhub.com/exten

[2020-01-08 20:46] micahalcorn commented on #4211
Closing this for now 🤞

[2020-01-08 20:46] #4211 closed

[2020-01-08 22:34] mikeshultz commented on #4215
This is @micahalcorn on desktop: https://sentry.io/organizations/origin-protocol/issues/1252257192/events/91806f3f3e4c480b8dafb7653fd61baf/?project=1402589

This is @micahalcorn  on mobile: https://sentry.io/organizations/origin-protocol/issues/1252257192/events/0894b3d6cd3c44c5abf427a3270fceb1/?project=1402589

This appears not limited to service, nor specific query.  I've been running HTTP GET t

[2020-01-08 22:37] mikeshultz commented on #4215
Here's the stats:

    --- https://graphql.originprotocol.com/graphql ping statistics ---
    1404 connects, 1403 ok, 0.07% failed, time 1686840ms

That's an average of a 1.2s response time.  Not great, but they are legit HTTP 200 responses.

[2020-01-09 00:13] mikeshultz commented on #4215
Wrote a script to throw queries at the graphql service.  Looks fine still.  Continuing to try to figure out what triggers this issue.

    Success: 2490   Failure: 0   (failure rate: 0%)
    Run time: 2492277ms

[2020-01-09 00:15] mikeshultz commented on #4215
Looks like rate limiting.  Here's a quick test with a 1ms interval between requests:

    Success: 132   Failure: 207   (failure rate: 163.76811594202897%)
    Run time: 8784ms

[2020-01-09 00:25] franckc commented on #4215
Very possible... Alchemy dashboard shows "Client Mainnet" app = used by the DApp had over 300k rate limited requests... :(

We could ask Alchemy to raise the limits. Though I'm still very confused as to why the DApp still makes so many requests to web3? Except when user makes transactions (ex: creates a listing or an offer), the DApp should exclusively talk to the GraphqQL backend and not generate

[2020-01-09 00:31] mikeshultz commented on #4215
I don't think this has anything to do with Alchemy rate limiting.

[2020-01-09 00:42] mikeshultz commented on #4215
graphql is configured for 10rps

https://github.com/OriginProtocol/origin/blob/master/devops/kubernetes/charts/origin/templates/graphql.ingress.yaml#L19

[2020-01-09 00:50] mikeshultz commented on #4215
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#rate-limiting

I think the users in question may be sharing wifi with other interested users(e.g. the Origin SF office).  I'd vote on doubling these limits at least for both graphql and growth.  Do you have opinions on this you want to share, @tomlinton or @franckc?

[2020-01-09 04:40] sentry-io[bot] opened #4225 "Error: PollingBlockTracker - encountered an error while attempting to update latest block:"
Sentry Issue: [ORIGIN-DAPP-S7](https://sentry.io/organizations/origin-protocol/issues/1348332040/?referrer=github_integration)

[code]

[2020-01-09 04:44] sentry-io[bot] opened #4226 "Error: Returned error: Your app has exceeded its requests per second capacity. If you have retries enabl..."
Sentry Issue: [ORIGIN-DAPP-122](https://sentry.io/organizations/origin-protocol/issues/1397262030/?referrer=github_integration)

[code]

[2020-01-09 04:46] sentry-io[bot] opened #4227 "Error: Non-200 status code: '429'"
Sentry Issue: [ORIGIN-DAPP-NP](https://sentry.io/organizations/origin-protocol/issues/1317856377/?referrer=github_integration)

[code]

[2020-01-09 04:47] micahalcorn commented on #4227
Related: #4225 😐

[2020-01-09 04:50] micahalcorn commented on #4081
@mikeshultz this appears to be ramping up in Sentry and a user just reported it in Discord. 😐

[2020-01-09 04:53] sentry-io[bot] opened #4228 "Error: Returned error: Your app has exceeded its requests per second capacity. If you have retries enabl..."
Sentry Issue: [ORIGIN-DAPP-132](https://sentry.io/organizations/origin-protocol/issues/1415878928/?referrer=github_integration)

[code]

[2020-01-09 04:54] micahalcorn commented on #4228
Duplicate of https://github.com/OriginProtocol/origin/issues/4226 ✌️

[2020-01-09 04:54] #4228 closed

[2020-01-09 05:06] sentry-io[bot] opened #4229 "SyntaxError: Unexpected token < in JSON at position 0"
Sentry Issue: [ORIGIN-DAPP-15](https://sentry.io/organizations/origin-protocol/issues/1022303570/?referrer=github_integration)

[code]

[2020-01-09 05:12] micahalcorn commented on #4229
From Discord #bug-reports:

![504](https://user-images.githubusercontent.com/273937/72039884-90255580-325b-11ea-9d5d-8aa8c217d83b.png)

[2020-01-09 07:13] sparrowDom commented on #4194
Solved via https://github.com/OriginProtocol/origin/pull/4221

[2020-01-09 07:13] #4194 closed

[2020-01-09 09:35] micahalcorn opened #4233 "Spinning White Screen of Death"
Many users are reporting that the webview never loads after native onboarding. It is a white screen with an endless spinner. All of the reports that I have seen involve Android devices, but there's a slim chance that this is only due to the fact that the vast majority of our usage is coming from Android. The IP addresses that I have tried to match in Sentry reveal no errors at all. @tomlinton theo

[2020-01-09 16:50] sentry-io[bot] opened #4235 "Error: Failed to generate auth token"
Sentry Issue: [ORIGIN-DAPP-RZ](https://sentry.io/organizations/origin-protocol/issues/1348099347/?referrer=github_integration)

[code]

[2020-01-09 16:57] micahalcorn commented on #4235
This occurs when people try to sign in to the DApp. It has been reported by a handful of people in #bug-reports. 🙁

[2020-01-09 17:43] shahthepro commented on #4235
@micahalcorn I checked the logs, it seems like the timestamp (in the signed payload) is at least 10 mins ahead of current time. At present, we have an offset of 5 mins to account for the clock differences among client. i.e. The sign will be considered valid even if it is 5 mins in future. I can increase this to something like 15 mins

[2020-01-09 17:43] micahalcorn commented on #4235
@shahthepro thanks, any consequence to doing that? 🤔

[2020-01-09 17:48] shahthepro commented on #4235
@micahalcorn Shouldn't be, since 15 minutes isn't that long in the future. I just opened a PR for that

[2020-01-09 17:50] micahalcorn commented on #4235
Considering this done 🤞

[2020-01-09 17:50] #4235 closed

[2020-01-09 18:44] micahalcorn commented on #3410
I think people are sometimes unable to complete attestations as a result of this one. 🤔

[2020-01-09 20:06] micahalcorn commented on #4229
Tentatively resolved by moving IPFS to SSD 🤞

[2020-01-09 20:06] #4229 closed

[2020-01-10 00:58] micahalcorn commented on #4235
@shahthepro @tomlinton I haven't reproduced this issue, but I just noticed that, in our app, my clock in my status bar in Origin Marketplace is completely wrong. It never seems to change from 1:41 and my time is currently 16:57. That probably has nothing to do with this issue since the reports are coming from non-Origin environments. And for what it's worth, users are reporting that their clocks a

[2020-01-10 01:18] tomlinton commented on #4235
Screenshot? I don't see a clock in the status bar at all, are you looking at Android?

[2020-01-10 03:11] micahalcorn commented on #4235
@tomlinton bizarre 😳 I don't see one now either. It must have been a glitch on my phone.

[2020-01-10 03:29] shahthepro commented on #4235
@micahalcorn @tomlinton After #4237, I see this less frequent on the logs. But the ones that still do happen have timestamp that exactly an hour behind. Not sure if DST has anything to do with this.

[2020-01-10 05:29] sentry-io[bot] opened #4241 "Error: PollingBlockTracker - encountered an error while attempting to update latest block:"
Sentry Issue: [ORIGIN-DAPP-N6](https://sentry.io/organizations/origin-protocol/issues/1317325357/?referrer=github_integration)

[code]

[2020-01-10 10:23] sparrowDom commented on #4225
Might be related to this one:
https://github.com/OriginProtocol/origin/issues/2775

[2020-01-10 11:25] #4130 closed

[2020-01-10 11:27] shahthepro commented on #4208
This is done but we need to release a new version of the app. Leaving this open until we do that.

cc @tomlinton

[2020-01-10 13:10] sparrowDom opened #4246 "Error after cancel purchase"
Using Origin mobile app and trying to purchase a listing on mainnet. In the purchase flow when the react native Make Offer - sign transaction mobile pops cancel is pressed instead of confirm. Dapp throws an error:
![CancelPurchase](https://user-images.githubusercontent.com/579910/72155200-e062fb80-33b2-11ea-9dd1-105926c0efcb.jpg)

[2020-01-10 15:29] sparrowDom commented on #4209
Fix for this here: https://github.com/OriginProtocol/origin/pull/4248

[2020-01-10 15:35] sparrowDom commented on #4225
Also could be related to this issue: https://github.com/OriginProtocol/origin/issues/4226 Alchemy might be pooling us. Since 429 http code means too many requests

[2020-01-10 15:40] sparrowDom commented on #4217
I can't reproduce it either

[2020-01-10 16:36] mikeshultz commented on #4241
The PollingBlockTracker error should only be temporary and shouldn't be an issue except when Alchemy is rate limiting, but this Sentry error seems to encompass a bunch of different network error events.  I did some spot checks but they all just look like random network issues and I think we can expect to see this kind of thing ramp up along with usage naturally.

[2020-01-10 17:08] mikeshultz commented on #4197
Related: #4130

Only one user appears to have seen this over the last 24: https://sentry.io/organizations/origin-protocol/issues/1350354535/events/b6c26bc6214c47db87688434acf948d7/?project=1402589&statsPeriod=14d

[2020-01-10 18:08] sparrowDom commented on #4039
So there are 2 problems here that cause this:
- User is on desktop and not logged in to Metamask (like pointed out by @mahamat)
- User has on a previous listing selected a purchase method (let say OGN) and then opens another listing that doesn't offer that purchase method.

Fixes for that here: https://github.com/OriginProtocol/origin/pull/4249

[2020-01-10 22:21] franckc opened #4250 "Self referrals should not be allowed"
In the prod database, I'm seeing ~300 entries in the growth_referral table where referrer and referee are identical.

This query shows the accounts:
select * from growth_referral where referrer_eth_address = referee_eth_address;

I'm not sure how this could happen since the only place we write to growth_referral is in the method makeReferralConnection and it does have [a check](https://github.com/

[2020-01-10 22:23] franckc commented on #4250
@sparrowDom I have been staring at this code for 10 minutes and I don't see how this could be happening... any idea? :)

[2020-01-11 05:47] lucadgtrip commented on #4038
Keeps happening.
I am getting now test messages from the new users.
On mobile I see:
1) An icon signalling  the new message
![Screenshot_20200111-074127_Origin](https://user-images.githubusercontent.com/34341206/72199569-6e3bf680-3446-11ea-8afa-494eaa7abbf9.jpg)

2) An empty message.
![Screenshot_20200111-074120_Origin](https://user-images.githubusercontent.com/34341206/72199575-7bf17c00-3446-11ea

[2020-01-11 16:52] micahalcorn commented on #4233
Getting more reports of this on Android 7. 😕

[2020-01-12 16:17] micahalcorn opened #4255 "Can't Delete Listing"
I seem to recall this being an issue related to the listing having been created without the proxy account or something. This certainly isn't a problem across all listings. [Here](https://etherscan.io/tx/0xf87e3a52e06f923972b45b375af3f4c4fdc109e0567ff8aa06ec9768fd280880) is the reversion and [this is the listing](https://shoporigin.com/#/listing/1-000-3118). 😕

-----

At Origin, we use [ZenHub](htt

[2020-01-13 04:30] franckc opened #4259 "Campaigns home page crash when there is no active campaign"
We just announced we'll be ending the January campaign sooner than anticipated (tomorrow).
That means that until the new February campaign starts, there won't be any active campaign.

I updated staging to end the January campaign and the [rewards home page](https://dapp.staging.originprotocol.com/#/campaigns) crashes. The console has the following error:
``` TypeError: Cannot read property 'action

[2020-01-13 04:31] franckc commented on #4259
@sparrowDom Would you mind taking a look at this when you wake up tomorrow?

@micahalcorn Please provide feedback regarding what the UI should say when there is no active campaign.

[2020-01-13 10:32] sparrowDom commented on #4259
On it 👍

[2020-01-13 12:15] sparrowDom opened #4261 "Sign in to Dapp token validation"
When a user signs into the Dapp the authentication token is created. And it is only valid for the network user is currently on. If the user switches networks the token is no longer valid (from Rinkeby to Mainnet for example), but Dapp still shows user as signed in. Services that verify the token (like growth server) will fail all the requests.

When the Dapp loads it should verify the stored token

[2020-01-13 14:34] sparrowDom commented on #4259
Fix for this here: https://github.com/OriginProtocol/origin/pull/4263

[2020-01-13 15:59] #4217 closed

[2020-01-13 18:27] sparrowDom commented on #4250
This is a weird one. After debugging I've found 2 issues with referral codes:
- we store the referral code in [navigations package](https://github.com/OriginProtocol/origin/blob/288423f3d582fd0746096988799bbe4c13114f17/infra/notifications/src/app.js#L282) and there are no checks there. This must be the reason for the bug
- after debugging in local docker environment, the whole `enrol` endpoint in

[2020-01-13 19:38] mikeshultz opened #4266 "Tests broken"
Bunch of test suites throwing this:

    (node:120) UnhandledPromiseRejectionWarning: Error: Given parameter is not bytes: "NOT_UPLOADED"
        at SolidityTypeBytes.formatInputBytes [as _inputFormatter] (/home/circleci/origin/node_modules/web3/node_modules/web3-eth-abi/src/formatters.js:56:15)
        at SolidityTypeBytes.SolidityType.encode (/home/circleci/origin/node_modules/web3/node_modules/

[2020-01-13 19:40] mikeshultz commented on #4266
Related: https://github.com/OriginProtocol/origin/blob/f9a111cf1db14e614d7bf395232fae9bbad06a78/packages/graphql/src/mutations/identity/deployIdentity.js#L151

@franckc seems somewhat related to your IPFS changes

[2020-01-13 20:26] mikeshultz commented on #4255
Revert is actually `Must be depositManager`

Listing shows this:

    seller: '0xEdd31fBe930f851D551873cfe4d1def1fE97Cc75',
    deposit: '0',
    depositManager: '0x468e625dFD7a1aeb3F4F8B4544a7cA9A8Ad81f00'

user addresses:

    from:  0x468e625dFD7a1aeb3F4F8B4544a7cA9A8Ad81f00
    proxyAddress:  0xEdd31fBe930f851D551873cfe4d1def1fE97Cc75

Your recollection appears correct.  It's sending via the p

[2020-01-13 20:31] franckc commented on #4266
ah yes. sorry. I'll fix when I have a minute...

[2020-01-13 20:38] franckc commented on #4250
oh... yes I totally missed that referrals are also inserted from the notification server. that must be it.
excellent catch sir!

[2020-01-13 20:51] micahalcorn commented on #4255
@mikeshultz is there anything we can do about it, if even manually for this one listing? 😐

[2020-01-13 21:31] mikeshultz commented on #4255
You can try running this in the console:

    Marketplace.methods.withdrawListing(3118, '0x468e625dFD7a1aeb3F4F8B4544a7cA9A8Ad81f00', '0x17a7d0b206f30acd861773aace102ab35f41d2a0916aef975b2809d0b3ced1a8').send({ from: '0x468e625dFD7a1aeb3F4F8B4544a7cA9A8Ad81f00' })

`send()` might need some other parms, so hmu in discord if that fails.

[2020-01-13 22:06] #4259 closed

[2020-01-13 22:11] micahalcorn commented on #4255
Making a note and closing this with the manual fix ❌

[code]

[2020-01-13 22:23] tomlinton commented on #4233
Same as #2344.

[2020-01-13 22:33] mikeshultz commented on #4255
Maybe this should stay open to track the fix for graphql/dapp?

[2020-01-14 14:41] lucadgtrip opened #4275 "Pagination: doubles listings"
If you scroll down in the browser (laptop), after about 100 listings, you start to see double, triple and more listings.

![Screenshot 2020-01-14 at 16 30 54](https://user-images.githubusercontent.com/34341206/72353297-7e74ff80-36ec-11ea-9665-5ee8ef153c31.png)
![Screenshot 2020-01-14 at 16 31 22](https://user-images.githubusercontent.com/34341206/72353298-7e74ff80-36ec-11ea-9c68-bb54048cc85c.png)

[2020-01-14 15:34] jonathansampson commented on #4266
I did a fresh pull (now on master 186c39138), and I am still seeing this when I run `yarn start` from within `dapps/shop`:

[code]

[2020-01-14 16:26] sparrowDom commented on #4250
Fix here: https://github.com/OriginProtocol/origin/pull/4277

[2020-01-14 16:28] franckc commented on #4266
@jonathansampson Ah yes good catch! Thanks for reporting this. I'll fix it. In the meantime if that blocks you for your local development, update the code to have the IPFS hash uploaded regardless of the environment: https://github.com/OriginProtocol/origin/blob/master/packages/graphql/src/mutations/identity/deployIdentity.js#L153

[2020-01-14 20:40] micahalcorn commented on #4275
I'm seeing this two two ✌️

[2020-01-15 02:49] micahalcorn commented on #4233
@tomlinton how confident are we about that? I couldn't prove that it was happening on 7️⃣ but received more than one report indicating that it might be happening there too. Would it affect both?

[2020-01-15 02:53] micahalcorn commented on #2344
FAQ article [here](https://help.originprotocol.com/hc/en-us/articles/360041319274-Why-does-my-app-just-spin-and-never-load-) ❓

[2020-01-15 02:54] micahalcorn commented on #4233
FAQ article [here](https://help.originprotocol.com/hc/en-us/articles/360041319274-Why-does-my-app-just-spin-and-never-load-) ❓

[2020-01-15 02:56] tomlinton commented on #4233
Yea the Android version isn't the important bit, it's the version of WebView that shipped with those Android releases. I can't find a list of the versions anywhere but I'm confident it is the same thing.

[2020-01-15 03:00] micahalcorn commented on #4233
Got it, that makes sense. ☑️

[2020-01-15 03:00] #4233 closed

[2020-01-15 08:34] #4208 closed

[2020-01-15 08:35] #4215 closed

[2020-01-15 08:37] micahalcorn commented on #4241
Closing this until we see it again 🚪

[2020-01-15 08:37] #4241 closed

[2020-01-15 08:59] #4209 closed

[2020-01-15 19:36] franckc commented on #4266
Should be fixed now.

[2020-01-15 19:36] #4266 closed

[2020-01-15 19:44] micahalcorn commented on #2819
Taking this off of @mikeshultz's plat for now 🍽

[2020-01-15 20:44] micahalcorn commented on #4197
Taking this off of @mikeshultz's plate for now 🍽

[2020-01-15 21:19] sparrowDom commented on #4250
fixed via https://github.com/OriginProtocol/origin/pull/4277

[2020-01-15 21:19] #4250 closed

[2020-01-16 16:58] micahalcorn commented on #4275
This issue applies also to offers. 🙁

[2020-01-16 17:50] micahalcorn commented on #4039
This is currently happening at https://shoporigin.com/#/listing/1-000-140/payment and not producing any errors in Sentry. 😕

[2020-01-16 17:53] micahalcorn opened #4286 "Rewards Redirect Interrupting Transaction Flow"
If I'm not signed in to the DApp when I initiate a purchase, I get redirected to onboarding (as intended). Once I sign in, I'm presented with the Origin Rewards signup invitation. Regardless of how I answer this, the congratulations page leads me to the campaign dashboard. This should not happen if I'm in the process of buying or selling something. I should only go to the rewards section if I was

[2020-01-16 19:17] micahalcorn commented on #4227
141 occurrences over the past two days vs our one-day peak of 82,770 cc @franckc 📉

[2020-01-16 19:18] micahalcorn commented on #4226
Not seen since the peak of the traffic on January 13 😅

[2020-01-16 19:18] #4226 closed

[2020-01-16 19:19] micahalcorn commented on #4225
Not seen since the peak of the traffic on January 13 😅 cc @franckc

[2020-01-16 19:19] #4225 closed

[2020-01-17 09:55] sparrowDom commented on #4039
Interesting there seems to be another issue preventing the purchase button. The reason seems to be that for some reason on some listings the accepted seller's payment methods don't load up. Will investigate why

[2020-01-17 11:22] sparrowDom commented on #4039
@micahalcorn have prepared a fix for this: https://github.com/OriginProtocol/origin/pull/4288

The problem is that some listings are wrongly stored [see Json](https://pastebin.com/6nH5aqh9) as if they accept no payment methods at all. The fix (if you agree is ok and will not enrage sellers) is that we add an ETH payment option on those listings.

[2020-01-18 09:28] micahalcorn commented on #4039
Thanks @sparrowDom 😕 Do we know how they are getting wrongly stored in the first place?

[2020-01-18 09:29] #4039 closed

[2020-01-18 13:25] sparrowDom commented on #4039
@micahalcorn I tried to reproduce it on production. But with new listing creation or editing a listing I didn't have any success.

[2020-01-25 10:51] lucadgtrip opened #4302 "Systems asks to leave a review, but I did it already"
Purchase https://shoporigin.com/#/purchases/1-000-2760-0 for which I left a review long ago

https://shoporigin.com/#/listing/1-000-2760
![Screenshot 2020-01-25 at 12 50 00](https://user-images.githubusercontent.com/34341206/73119954-39b15a00-3f71-11ea-973c-932cfa9f0384.png)

I came back to check and I am offered the chance to review again.

![Screenshot 2020-01-25 at 12 50 32](https://user-images

[2020-01-25 10:58] lucadgtrip opened #4303 "Purchases Sorting Order"
I am not sure how past purchases are ordered, but it seems not in chronological order as I would expect

![Screenshot 2020-01-25 at 12 55 59](https://user-images.githubusercontent.com/34341206/73120066-42566000-3f72-11ea-93cd-4d44ec8e83e4.png)

[2020-01-25 20:26] tomlinton opened #4304 "USDT incorrectly configured"
Example GraphQL query result for a USDT balance:

[code]

USDT should be 6 decimals and not 18. It is most likely the settings in the network files in `packages/graphql/src/configs/`.

[2020-01-28 11:18] sparrowDom commented on #4286
fix here: https://github.com/OriginProtocol/origin/pull/4307

[2020-01-28 21:46] micahalcorn opened #4308 "Log Downgraded Mode"
A change was recently made to catch growth server connection failures that occur in China and swallow them to avoid displaying an ugly error. As a result, these users are unable to participate in Origin Rewards. We should consider logging these events if we're not already so that we have some sense for how often they are occurring.

👎

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to

[2020-01-28 21:47] #4286 closed

[2020-01-28 22:41] #4304 closed

[2020-01-29 22:48] micahalcorn opened #4314 "Purchase Confirmation Issues"
![Screen Shot 2020-01-29 at 2 46 55 PM](https://user-images.githubusercontent.com/273937/73404433-5c5fad80-42a6-11ea-988f-19745633a36e.png)

![Screen Shot 2020-01-29 at 2 47 39 PM](https://user-images.githubusercontent.com/273937/73404409-536edc00-42a6-11ea-9b62-b15bd5c7fc9e.png)

-----

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [D

[2020-02-11 21:10] saim1286 opened #4331 "#bug-reports"
-----

If you need help, please ask in our [#engineering channel on Discord](http://www.originprotocol.com/discord). If you want to file an issue for a feature, bug, or discussion, please make an attempt to confirm that it does not already exist here in GitHub.

At Origin, we use [ZenHub](https://www.zenhub.com/) to manage our engineering tasks and product development. [Download their browser exte

[2020-02-11 22:03] tomlinton commented on #4331
Not sure what this is so closing.

[2020-02-11 22:03] #4331 closed

[2020-02-19 05:53] #4177 closed

[2020-02-19 19:42] #3506 closed

[2020-02-20 05:50] #3783 closed

[2020-02-20 14:27] lucadgtrip opened #4359 ""A review has been left on your transaction" email sent to reviewer"
I left a review and then got this message

![Screenshot 2020-02-20 at 16 23 50](https://user-images.githubusercontent.com/34341206/74943856-c0851580-53fd-11ea-8012-c0a086136335.png)

which seems strange as it's telling me something I know.

[2020-02-21 20:50] rembrandtreyes commented on #3149
@micahalcorn Looks like this issue is still relevant for Safari browsers. I'll tackle this.

[2020-02-24 23:36] franckc commented on #3149
Fixed in #4364

[2020-02-24 23:36] #3149 closed

[2020-02-24 23:39] #3182 closed

[2020-02-24 23:45] franckc commented on #4359
The logic deciding what emails to send is [here](https://github.com/OriginProtocol/origin/blob/master/infra/notifications/templates/messageTemplates.js).

We should review it to make sure it makes sense.

[2020-02-26 00:16] rembrandtreyes commented on #4359
@franckc Yeah looks like we have it reversed. We should flip this to the seller side. Or for two-way visibility, we change the language of this email to be something like, "Your review has been posted to the seller's listing."

I'll review the other email flows to make sure they all make sense.

[2020-03-24 19:32] tomlinton opened #4402 "Kubernetes 1.16 requires some Helm chart changes"
Several Kubernetes APIs are being deprecated, we'll need to replace them in our charts before this upgrade.

https://cloud.google.com/kubernetes-engine/docs/release-notes#deprecated-apis-1-16
https://cloud.google.com/kubernetes-engine/docs/deprecations/apis-1-16

[2020-03-24 23:34] franckc commented on #4402
It was not clear to me by when we need to do this?

[2020-03-25 05:19] tomlinton commented on #4402
The email just said "later this year" but a reminder will be sent out before it happens.

[2020-03-25 05:43] franckc commented on #4402
Sounds good - thanks for alerting us. Hopefully by then we'll have deprecated the DApp :)

[2020-04-06 14:33] fedealconada commented on #4359
I'll grab this one if possible @rembrandtreyes

[2020-04-10 18:52] mikeshultz commented on #4402
Dapp depreciation won't get rid of this requirement.  We have other important services running on the kube cluster that other things depend on.  IPFS especially.

[2020-05-19 13:57] mikeshultz opened #4469 "SyntaxError: The string did not match the expected pattern."
Originally reported in Discord.  Error occurred during during edit of listing

![A961-AB93-AE1-C-4-FA8-B72-F-EE3-CF39-A1410](https://user-images.githubusercontent.com/1048089/82335069-0a05e200-99a6-11ea-96b7-dcb7513ed668.png)

Appears to be [this error in Sentry](https://sentry.io/organizations/origin-protocol/issues/1080998416/events/41031a1034a0414482f071def39f14cc/?project=1402589&statsPeriod=1

[2020-05-28 06:35] lucadgtrip commented on #1837
![Screenshot 2020-05-28 at 09 33 27](https://user-images.githubusercontent.com/34341206/83107187-7bd8dc80-a0c6-11ea-8d8f-6f342d1bf4ba.png)

Happened again today.

[2020-05-28 06:37] lucadgtrip commented on #4038
![Screenshot_20200528-085525_Origin](https://user-images.githubusercontent.com/34341206/83107287-a7f45d80-a0c6-11ea-8737-e99e32c0f1da.jpg)
![Screenshot_20200528-085535_Origin](https://user-images.githubusercontent.com/34341206/83107291-a88cf400-a0c6-11ea-9316-2b939b59a211.jpg)

Happened again today on mobile app.
I restarted and switched account but nothing.
I then saw it on Chrome on Desktop.
Wen

[2020-05-28 07:04] gullible1 opened #4474 "Add "Origin App v2 is coming" top bar to Origin Marketplace"
As we are still receiving feedback and support requests from the community regarding Origin Marketplace, we should add a top bar with clear messaging saying that we will be collecting feedback but will not be implementing any changes to the existing version.

This should show on every screen for users browsing the Marketplace app or shoporigin.com.

**Copy for top bar:**
A new version of the Origi

[2020-06-01 19:54] franckc opened #4478 "Listener on rinkeby issues a large number of eth_getLogs requests"
I think due to the fact that we haven't had traffic on the rinkeby dapp for a while, the listener event-cache ends up querying very large ranges of block (100 of thousands of blocks) for logs. See the listener logs:
[code]

This causes a fairly large volume of requests to Alchemy (~6qps). Unfortunately those requests are fairly expensive and they are chewing our quota quite quickly.

As a stopgap,

[2020-06-03 04:14] #4474 closed

[2020-06-09 19:17] TheFausap opened #4481 "Auth-server encrypted private key password"
Hello,

is there any place where I can specify the password used to encrypt the private key? (auth-server configuration)

thanks

[2020-06-10 05:11] franckc commented on #4481
@TheFausap That is not supported currently. But feel free to look at the code [here](https://github.com/OriginProtocol/origin/blob/master/packages/auth-utils/src/helpers/index.js) and submit a PR... Thanks!

[2020-06-11 21:32] mikeshultz opened #4482 "Alchemy eth_getLogs block window changes"
Alchemy is enforcing a largest block window of 1000 blocks for `eth_getLogs` requests.  Right now, it looks like EventCache defaults to 10000.

This probably requires a code change.  Change needs to be made and deployed before 6/22/2020.

CC: @franckc

[2020-06-11 21:39] mikeshultz commented on #4482
https://github.com/OriginProtocol/origin/blob/77923e9e636ebc61fda9eb639ec53e971af6571b/packages/event-cache/src/EventCache.js#L33
https://github.com/OriginProtocol/origin/blob/77923e9e636ebc61fda9eb639ec53e971af6571b/packages/event-cache/src/EventCache.js#L196

[2020-09-25 09:41] phyninja commented on #1521
Hi @lucadgtrip,

I'm interested in solving this issue. I'm trying to replicate it on my end, but I'm not sure how. If you wouldn't mind, could you clarify what platform one needs to be on to see the issue themselves?

[2020-09-25 14:29] lucadgtrip commented on #1521
Hi @phyninja
This was on the desktop app, I think it's been deprecated? I am not sure.
@micahalcorn knows for sure.
I was using it on a Mac, can't remember the browser, but I think it was happening on all of them.

[2021-05-29 22:01] renovate[bot] opened #4550 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: husky, Invalid configuration option: name, Invalid configuration option: packageRules[0].lerna, Invalid confi

[2021-05-30 03:53] #4550 closed

[2021-10-20 07:25] renovate opened #4610 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency chart.js to v2.9.4 [SECURITY]](../pull/4628)
 - [ ] [Pin dependencies](../pull/4523) (`@babel/plugin-proposal-class-propert

[2022-05-01 16:55] micahalcorn opened #4667 "Localization issues"
https://www.originprotocol.com/ru is throwing a 500 and other languages have some metadata showing up in the body of the homepage.

https://www.loom.com/share/5a89e9b69cb041d58ebaa2ed7545c47d