[2018-08-25 14:59] acal commented on #330
With latest release the other day of Origin-js and DApp it needs to be retested @LukaNarat . I did find yesterday that with Brave I could not create a listing or update my profile. Recommend this be reopened here or as a new issue.

[2018-08-25 15:30] LukaNarat commented on #330
The above results are from today, PC+brave, worked fine.
(the modal not appearing from metamask is still present, as you described. Otherwise worked fine)

[2018-08-25 18:30] davecraige commented on #332
Nice work on this Luka 🙏

[2018-08-25 18:36] davecraige commented on #330
Nice work on this @acal and @lukanarat. 😀 I can touch base with Stan and Micah soon about this.

[2018-08-25 20:27] micahalcorn commented on #403
Now tracked by https://github.com/OriginProtocol/origin-dapp/issues/432 ☑️

[2018-08-25 20:27] #403 closed

[2018-08-26 02:46] fredfortier opened #433 "Recursion is resolving"
I followed this local development guide: http://docs.originprotocol.com/

I ran `npm run start` on the `origin-js` project but it's trying to install `origin@0.7.1` in my `/usr/lib` so I ran `sudo npm install -g origin@0.7.1` in addition.

I was able to run `npm run install:dev` from `origin-dapp` without a problem. However, I get this error on `npm run start`.

[code]

[2018-08-26 19:14] micahalcorn opened #434 "Token: Boost Listing"
A step needs to be added to the listing creation process for optionally boosting the listing.

The component requires the following:

**No OGN**
- [x] [expandable alert](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7baa2d3d5d132236e085ec)

**With OGN**
- [x] [explanation tooltip](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538af34bc6308a88e5406)
- [x] [adjus

[2018-08-26 19:16] micahalcorn opened #435 "Token: Review Listing"
The listing review step should be redesigned to include the boost level as shown [here](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538b2e2372d21ec0ff3ec).

[2018-08-26 19:18] micahalcorn opened #436 "Token: Purchase Detail"
The purchase detail component should be updated to include new badges and sale status as depicted [here](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538b2636eb55062e639b2).

[2018-08-26 19:43] micahalcorn opened #437 "Token: Listing Detail"
The listing detail component needs to be updated with badges and improvements to the buy box as depicted [here](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7bb6e588af9c21b6d1a1de).

[2018-08-27 20:52] LukaNarat commented on #331
Tested on 2 separate android devices (lollipop / oreo), both not loading the app at all from within the Trust Wallet browser.

Repro:
- Install latest Trust Wallet via playstore
- Generate wallet
- Navigate to browser tab & open http://demo.orginprotocol.com
- see loader icon (clock)
- white screen remains (nothing loads)

Needs to be looked in to further.

Sidenote: testnets don't seem to be supp

[2018-08-27 21:46] LukaNarat opened #439 "App not loading in Android Trust Wallet"
Tested on 2 separate android devices (lollipop / oreo), both not loading the app at all from within the Trust Wallet browser.

Repro:
- Install latest Trust Wallet via playstore
- Generate wallet
- Navigate to browser tab & open http://demo.orginprotocol.com
- see loader icon (clock)
- white screen remains (nothing loads)

Sidenote: testnets don't seem to be supported at this time as well. However

[2018-08-27 23:48] tyleryasaka opened #443 "Fix hidelist in `master`"
In the current `master`, our hidelist functionality is a bit awkward. Hidden listings are not accounted for in the pagination, thus there is whitespace in place of hidden listings in the grid. We should filter out hidden listings in the list *before* pagination to avoid this issue.

[2018-08-28 16:55] micahalcorn opened #445 "Repair Origin.js-DApp Integration"
This is an evolving list of issues with the API consumption in the DApp.

- [x] reference to sellers' and buyers' addresses
- [ ] listing sold status
- [ ] listing/purchase heading in conversation

[2018-08-28 17:40] jordajm commented on #432
Completed by https://github.com/OriginProtocol/origin-dapp/pull/441

[2018-08-28 17:40] #432 closed

[2018-08-28 21:26] davecraige commented on #331
Thank you Luka for looking into this.  Appreciate your help 🙏.

Hope we can get it working in the not too distant future.

[2018-08-28 22:30] davecraige commented on #439
Thank you for taking a look at this @LukaNarat.

_Note_: mobile usage is not a high priority at this time.  You can see [the priorities](https://dzwonsemrish7.cloudfront.net/items/0K0Z1b100v013I3H0B2q/image0-1.jpg) in engineering notes.

*shared this issue to Trust's Discord in the #Android section.

[2018-08-30 20:48] LukaNarat commented on #427
I've also noticed that after making attestations and changing my name as well as adding some user information, it has now been lost and I only see the default "unnamed user" view, when viewing my profile (using the same eth address and Chrome Version 68.0.3440.106 (Official Build) (64-bit).

<img width="791" alt="unnameduser" src="https://user-images.githubusercontent.com/5909745/44878297-c685b480

[2018-08-30 23:42] matthewliu commented on #427
Mitch, thanks for filing these. If it's not too much trouble, please file
issues as separate Github issues vs. a collection of them. There's no good
way to prioritize fixes/have discussion if it's a long running list of
issues.

On Thu, Aug 30, 2018 at 1:48 PM, Luka Narat <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/origi

[2018-08-31 15:49] jordajm commented on #434
Done by https://github.com/OriginProtocol/origin-dapp/pull/450

[2018-08-31 15:49] #434 closed

[2018-08-31 21:08] micahalcorn opened #452 "Security Deposits"
In conjunction with the fractional usage features, we will support [security deposits](https://github.com/OriginProtocol/origin-js/issues/375) in the listing creation process and when displaying listing prices.

- [ ] mock up designs (@micahalcorn)
- [ ] build components (?)
- [ ] wire up components (?)

[2018-08-31 21:33] jordajm commented on #435
Done by https://github.com/OriginProtocol/origin-dapp/pull/453

[2018-08-31 21:33] #435 closed

[2018-08-31 23:56] mek32390 commented on #427
@matthewliu noted, will do.

[2018-09-02 06:28] jordajm commented on #437
Pushed updates to `token-ui` branch that completed this

[2018-09-02 06:28] #437 closed

[2018-09-02 17:35] concerned3rdparty commented on #328
Selecting a different language from the footer dropdown has no effect, it reselects its default language , in my case it is Turkish.

[2018-09-04 20:27] micahalcorn opened #457 "Get OGN"
[Several elements in the DApp](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538aa755a0b576b86c981) call for enabling a user to obtain tokens. I suspect that in v1 we will just link to an exchange or something, but in the future we may want to route the user to [earn tokens within the DApp](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b602540ec2e4d0e846557f2) o

[2018-09-05 07:59] micahalcorn opened #459 "Token-Related Strings Translation"
In the upcoming token UI PR, we have intentionally left out `FormattedMessage` wrappers for most of the new strings. This is because much of the content is placeholder text or very much in flux. Once the copy is all settled for the Q3 launch, we will need to wrap the strings at that point in order for CrowdIn to handle the translations.

[2018-09-05 15:03] micahalcorn commented on #457
These need to be added to the UI and commented out.

[2018-09-05 15:14] micahalcorn opened #461 "Transaction History Modal"
We will eventually need a [transaction history modal](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b7538b4897a3f757d56b704) built to render logs for ETH and OGN. Until then, we will link to Etherscan.

[2018-09-05 15:27] micahalcorn commented on #443
Resolve by https://github.com/OriginProtocol/origin-dapp/pull/438 ✅

[2018-09-05 15:27] #443 closed

[2018-09-05 15:29] micahalcorn commented on #424
First iteration resolved by https://github.com/OriginProtocol/origin-dapp/pull/460 ✅

[2018-09-05 15:29] #424 closed

[2018-09-05 15:32] micahalcorn commented on #436
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/460 ✅

[2018-09-05 15:32] #436 closed

[2018-09-05 15:35] micahalcorn commented on #416
Duplicate of https://github.com/OriginProtocol/origin-dapp/issues/443 ❓

[2018-09-05 15:35] #416 closed

[2018-09-05 18:06] DanielVF opened #1906 "📙 Discovery - need way to create and maintain elasticsearch mapping files"
Currently we are letting elasticsearch automatically create indexes and their mappings.

This is not a good long-term solution because every field ever sent will get its own index created.

We need something like a database migration tool that keeps creates and keeps up-to-date our index mapping as needed.

@franckc

[2018-09-05 22:35] mek32390 opened #463 "Provide context to users regarding "paying for gas" on DApp"
with attestations, we assume people don't understand the implications of publishing data on the blockchain. Should we assume the same in that people may not know it costs gas to publish data  on the blockchain? If so, we should provide additional context before we ask users to pay gas, explaining what gas is and why it's needed, just as we do with attestations.

This could be done inside the modal

[2018-09-05 22:37] micahalcorn commented on #363
I'm going to consider this done and reserve copy work for a separate issue. ☑️

[2018-09-05 22:37] #363 closed

[2018-09-05 22:37] mek32390 opened #464 "Tell users we are sponsoring their gas fees"
we may want to indicate and provide more context to users when we sponsor gas fees for certain transactions. For those used to Metamask, this could make it hard to determine if they are experiencing a bug or feature while using the DApp.

No design has been made, as this was just a suggestion I had while reviewing the DApp.

This is an issue I separated from #427

[2018-09-05 22:38] micahalcorn commented on #346
Considering this done for v1 ✅ We'll have other issues for more advanced UI.

[2018-09-05 22:38] #346 closed

[2018-09-05 22:45] mek32390 opened #465 "Register functions with MetaMask to provide more context to users"
![image](https://user-images.githubusercontent.com/7400892/44557025-78464380-a6f1-11e8-9c67-6c9ea7d8cfc4.png)

Relating to the above screen shot, if the `UNKNOWN FUNCTION` was [registered](https://github.com/MetaMask/metamask-extension/issues/2847#issuecomment-414769467) and [(here too)](https://github.com/parity-contracts/signature-registry) and even better, provided context on the transaction, i

[2018-09-05 22:56] mek32390 opened #466 "Create FAQ/Help page on DApp"
A help/FAQ page in the DApp would be very useful IMO. It would help users bridge the gap between decentralized and centralized apps, and provide context on what Origin is and why we use different technologies than centralized apps. It's also a great place to explain the use of OGN.

- [ ] Explain what Origin is and why it's better
- [ ] Explain what Meta Mask is and why it's needed
- [ ] Explain h

[2018-09-06 02:12] micahalcorn opened #467 "Arbitration: Purchase Detail Modals"
The [purchase progress and associated state management components should be updated](https://github.com/OriginProtocol/origin-dapp/issues/309) to support arbitration. This issue tracks just the development of the associated modals.

- [x] https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b8daa53d689023457883226
- [x] https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b8db2

[2018-09-06 21:45] mek32390 opened #472 "Disable "View All" button on messaging dropdown if messaging has not yet been enabled by user"
if a user clicks "View all" in the messaging dropdown, without having enabled messaging, it still directs them to the messaging page, and displays a blank placeholder where no information is provided. Is there a point in letting a user reach this page without having enabled messaging? If not, maybe we don't let them by removing the button entirely or disabling it.

![image](https://user-images.git

[2018-09-06 21:47] micahalcorn commented on #472
And/or design a "no messages" state. 👍

[2018-09-07 14:43] sparrowDom opened #475 "Create core filters"
Create and configure core filters in GraphQl and Elastic search and connect them with Dapp.
Selection of filters:
- Category
- SubCategory
- Price

[2018-09-07 16:14] micahalcorn commented on #347
Related: https://github.com/OriginProtocol/origin-dapp/issues/467

[2018-09-09 00:47] micahalcorn opened #477 "Rich Message Content"
#476 provides functionality for users to upload a single image file as message content and for it to render in an existing conversation thread - the bare minimum requirement to support supplying photographic evidence to arbitrators once a dispute has been initiated. This issue tracks additional functionality, UX improvements, and other considerations.

1. A conversation must already exist between

[2018-09-10 12:59] micahalcorn commented on #312
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/396 ✅

[2018-09-10 12:59] #312 closed

[2018-09-10 12:59] micahalcorn commented on #313
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/396 ✅

[2018-09-10 12:59] #313 closed

[2018-09-11 21:00] franckc opened #482 "Implement showing reviews on profile page"
The code on the DApp side for fetching and showing reviews on the user profile page hasn't been implemented yet: https://github.com/OriginProtocol/origin-dapp/blob/master/src/pages/user/User.js#L30

[2018-09-11 21:39] crazybuster commented on #477
Couple of points...
1) Storing image data is good, because it allows for auditing without the possibility of the image disappearing. We should probably disallow linked images.

2) Should probably have enforcement of the size of messages on both the client and the persistence server side so that users can't be bombed by large data blobs.

2) Should probably have a separate field the schema for link

[2018-09-11 23:08] micahalcorn commented on #482
Seems to have been lost [awhile ago](https://github.com/OriginProtocol/origin-dapp/commit/95931b92fd9ca6a83cc4871e38806cfdaf3f43ac#diff-851b5ff79682a04c9b053d34a5cba5ddR28) 😕

[2018-09-12 00:31] micahalcorn opened #487 "Message Object Size"
As [recommended by @crazybuster ](https://github.com/OriginProtocol/origin-dapp/issues/477#issuecomment-420434698), we should validate the size of the message object before storing it in OrbitDB since we are now supporting the inclusion of image data. I'm assuming that this should happen at the DApp layer since this is where we are doing the same for listings?

[2018-09-12 04:30] franckc commented on #487
@tomlinton I believe on the IPFS node used for listings, upload limit is set to 2MB.
Is it the same on the messaging IPFS node ?

[2018-09-12 04:40] franckc opened #489 "Relax max upload size for listing"
Currently:
- the DApp sets a limit on the listing form data upload size at 2MB. Thats is the combined size of listing data + images.
- Our IPFS node is configured with a limit of 2MB per object.

We made some code changes to upload images as separate objects (they used to be all stored as data URL along with the listing data).

So we could set [MAX_UPLOAD_SIZE](https://github.com/OriginProtocol/or

[2018-09-12 04:42] franckc commented on #487
Sort of related to #489

[2018-09-12 04:57] tomlinton commented on #487
It is the same for both at the moment I believe, it is enforced by the nginx proxy running in front of the IPFS nodes. The values might need to be changed to make them more suitable (at least for listings). The size limit needs to be enforced at the nginx proxy level because it will be easily circumvented in the DApp, but the DApp should also enforce it to provide better feedback/user experience.

[2018-09-12 20:05] davecraige opened #490 "Messages not displaying in chronological order"
It appears as though some individual messages get moved around and are not being displayed chronologically. Note the timestamps for this conversation with Kay (Micah):

<img width="877" alt="screen shot 2018-09-11 at 2 21 20 pm" src="https://user-images.githubusercontent.com/2782676/45449828-4434c180-b6a4-11e8-9bc0-c671f4a4f3bd.png">

Here is another example from a conversation with Luka.  Note ho

[2018-09-12 23:19] micahalcorn opened #492 "Listing Creation: Silent Failure Without Listing Type Selection"
If a user clicks "Next" without first selecting a listing type, there is an unhandled console error. This should be repaired and a proper error message should be displayed.

[2018-09-13 04:56] joshfraser opened #494 "Facebook OAuth failing"
Facebook attestations in the DApp are currently failing as reported in #328.

The app is currently doing the OAuth handshake using client id=179007166076828 (the one @nick initially setup then deleted) instead of 124441901753956 as defined in EnvKey. @tomlinton any idea why this variable isn't getting passed through correctly?

[2018-09-13 06:08] tomlinton commented on #494
In the Heroku setup a bunch of environment variables (Settings/Reveal Config Vars in the Heroku dashboard) are defined in addition to EnvKey. The environment variables are [processed after EnvKey](https://github.com/OriginProtocol/origin-bridge/blob/016edc1495f5301bb3a0541f1e2afea19fc4c107/config/settings.py#L64-L65) so they'd overwrite them (in the new production setup I'm building we are strictl

[2018-09-13 06:34] joshfraser commented on #494
Aha! Updated and seems to be working again. Thanks @tomlinton!

[2018-09-13 06:34] #494 closed

[2018-09-13 12:45] micahalcorn opened #495 "Listing Creation: Silent Failure With Announcement Listing Type"
When attempting to create a listing, the "Next" button fails silently if "Announcement" is selected as the listing type. The console produces `Error: [React Intl] An `id` must be provided to format a message.`.

[2018-09-13 13:05] micahalcorn opened #496 "Listing Creation: Prevent Accidental Form Unload"
We need to warn users before they lose their listing creation progress by accidentally unloading the multi-step/component form. For example, a user might think that the back button will take her from step 3 to step 2. But because everything is maintained in component state on a single route, she will return to the previous route and everything will be lost.

- [x] Back button
- [x] Clicking a rout

[2018-09-13 13:19] sparrowDom opened #497 "Get started selling origin modal issues"
The modal dialog saying `Get started selling origin` prevents user input in the following cases:
- as long as dialog is shown clicking on `general search input` does not work.
- if user opens a webpage and clicks on `notification bell icon` -> `view all button` -> `back` using browser navigation. The modal blocks clicking anywhere on the page and shows a semi transparent white backgorund (see imag

[2018-09-13 17:46] wanderingstan commented on #309
Zeplin UI here: https://zpl.io/2GOw8zj

[2018-09-14 17:48] davecraige commented on #490
Thanks @micahalcorn 🙏

[2018-09-14 18:58] Natasha08 commented on #393
@micahalcorn is this the solution you're referring to for Safari? ![image](https://user-images.githubusercontent.com/17957496/45569782-d6aca080-b81d-11e8-92de-c9df9fd67e90.png)

[2018-09-14 20:55] micahalcorn opened #504 "Handle Contract Errors"
Once https://github.com/OriginProtocol/origin-js/issues/457 is completed, more informative errors should be surfaced to end-users.

[2018-09-14 21:39] davecraige commented on #489
Also just a quick note that maybe we should instruct the user what the limit is.

I believe the current error message simply says “file too large” and doesn’t provide any additional context.

[2018-09-15 02:37] micahalcorn commented on #467
Resolved by #498 ✅

[2018-09-15 02:37] #467 closed

[2018-09-15 02:48] micahalcorn commented on #497
Resolved by #502 ✅

[2018-09-15 02:48] #497 closed

[2018-09-15 12:46] matthewliu commented on #489
I like Franck's proposal and Dave's comment. We want to encourage multiple
images per listing. Having a single image in our current viewer looks
silly. I myself have run into the upload problem multiple times and been
very frustrated (even knowing there is a limit).

On Sat, Sep 15, 2018 at 6:39 AM, Dave Craige <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.co

[2018-09-17 01:08] micahalcorn commented on #393
Resolved by #506 ✅

[2018-09-17 01:08] #393 closed

[2018-09-17 23:50] micahalcorn commented on #477
Resolved by #476 ✅

[2018-09-17 23:50] #477 closed

[2018-09-18 00:00] micahalcorn commented on #310
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/507 ✅

[2018-09-18 00:00] #310 closed

[2018-09-18 00:07] micahalcorn opened #508 "Message Auditing UI"
As a part of https://github.com/OriginProtocol/origin-js/issues/453, the messages between buyer and seller need to be displayed in our temporary arbitration component.

[2018-09-18 00:12] micahalcorn opened #509 "Enable Ruling"
As a part of https://github.com/OriginProtocol/origin-js/issues/453, the arbitration component needs to be wired up to `resolveDispute`. It should include the ability to set an amount for the refund.

[2018-09-18 00:16] micahalcorn opened #510 "Show All Disputes"
The arbitrator needs the ability to see all offers that are in dispute and click through to them. There should probably be a page at /arbitration, which validates the matching ETH account and then displays a list of links to /arbitration/:offerId. This may require some work in origin-js to enable the querying of all such disputes. But it doesn't need to be particularly performant, so perhaps not.

[2018-09-18 00:31] micahalcorn opened #511 "Configurable Discovery Service"
Enable the DApp to choose which discovery service it connects to.

[2018-09-18 00:37] micahalcorn opened #512 "Localize Search Filters"
Ensure that search filters can be translated and displayed in various languages.

[2018-09-18 02:24] micahalcorn opened #513 "Listing Creation: Unfortunate Validation Failure"
Listing creation seems to fail validation if the currency conversion cannot be calculated. This can be reproduced by running a local blockchain offline. When attempting to create a listing, it produces two validation errors in different parts of the form, neither of which are very helpful.

<img width="1440" alt="screen shot 2018-09-17 at 7 20 21 pm" src="https://user-images.githubusercontent.com/

[2018-09-18 13:34] Natasha08 commented on #496
@micahalcorn can you assign this to me?

[2018-09-18 15:47] micahalcorn commented on #496
Resolved by #515 ✅

[2018-09-18 15:47] #496 closed

[2018-09-18 18:29] sparrowDom opened #516 "Search Pagination"
When searching listings through the Dapp pagination should be implemented.

**Dependant Pull Requests:**
- https://github.com/OriginProtocol/origin-dapp/pull/520
- https://github.com/OriginProtocol/origin-js/pull/487

[2018-09-19 05:45] jordajm commented on #513
Fixed by https://github.com/OriginProtocol/origin-dapp/pull/522

[2018-09-19 05:45] #513 closed

[2018-09-19 06:34] micahalcorn commented on #482
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/523 ✅

[2018-09-19 06:34] #482 closed

[2018-09-19 15:54] wanderingstan commented on #382
Removed long ago, but also in https://github.com/OriginProtocol/origin-dapp/pull/521#pullrequestreview-156884113

[2018-09-19 15:54] #382 closed

[2018-09-19 17:36] jordajm opened #526 "Update Crowdin locale directory name"
Per @wanderingstan, Crowdin has a better set of locale abbreviations known as `%osx_locale%`, which returns the base language code like `en` unless there's a need for the full locale code like `en-US`. We should update Crowdin to use `%osx_locale%` as the directory name that it uses for its auto-generated PRs.

We can then probably simplify or remove the util that tries to find the best match for

[2018-09-19 21:30] davecraige commented on #490
One additional note, I believe messages should be ordered chronologically with the most recent person you spoke to at the top.  This is the heuristic used by other messaging apps such as Facebook and Twitter.

<img width="286" alt="screen shot 2018-09-19 at 3 28 40 pm" src="https://user-images.githubusercontent.com/2782676/45782673-de56b580-bc20-11e8-9f46-37500e266674.png">
(note: I just sent a me

[2018-09-19 21:45] davecraige opened #529 "Purchased items not showing in chronological order"
It appears as though purchased are not being displayed chronologically in both the "pending" and "all" sections . Note the timestamps for these purchased items below.  I believe users will want to see their most recent purchases at the top similar to the heuristic used by marketplaces such as Amazon, eBay and others.

https://demo.originprotocol.com/#/my-purchases

<img width="1088" alt="screen sh

[2018-09-19 21:47] davecraige commented on #529
Somewhat related issue where messages also are not yet displayed with the most recent message first.  https://github.com/OriginProtocol/origin-dapp/issues/490

[2018-09-19 21:57] micahalcorn commented on #490
Yes 👉 https://github.com/OriginProtocol/origin-dapp/issues/383

[2018-09-19 22:02] micahalcorn commented on #508
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/528 ✅

[2018-09-19 22:02] #508 closed

[2018-09-19 22:13] micahalcorn opened #530 "Fulfillment Checklist"
When a seller accepts an offer, we will display [a checklist](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b9fd84cb410852d3e622cc3) to suggest what she should probably do to fulfill her obligations to the buyer. This should probably be handled in the schemas similarly to the way we handle listing type examples in the creation form. However, this won't need to be rendered as a for

[2018-09-19 22:26] jordajm commented on #530
@micahalcorn is there a to-do list for each listing type that exists somewhere? Or should I just kinda make it up as I go along (if I promise not to talk about chickens)?

[2018-09-19 22:27] micahalcorn commented on #530
Just throw some distinct placeholders in there for now. Don't spend too much time on the copy.

[2018-09-19 22:40] davecraige commented on #490
Oh nice.  You are already on top of that.  Good stuff!

[2018-09-19 22:42] joshfraser opened #531 "Swap out "Kay from Origin" with a generic "Origin Support" name and profile picture"
While I was the original person to propose having our own version of Tom from Myspace, in practice I think it's a bit weird to have multiple people on our team impersonating Kay. We should update that account before mainnet.

[2018-09-19 22:48] micahalcorn commented on #531
Updated ✅ Maybe at some point it's worth revisiting with a fake persona.

![cat-support](https://user-images.githubusercontent.com/273937/45786022-6938af80-bc23-11e8-88ac-8c46b967d8a9.gif)

[2018-09-19 22:48] #531 closed

[2018-09-20 10:05] sparrowDom commented on #475
Done via: https://github.com/OriginProtocol/origin-dapp/pull/503

[2018-09-20 10:05] #475 closed

[2018-09-20 10:06] sparrowDom commented on #516
Done via: https://github.com/OriginProtocol/origin-dapp/pull/527

[2018-09-20 10:06] #516 closed

[2018-09-20 13:45] sparrowDom opened #533 "Category naming consistency"
In the codebase for the most part we use terms `Category` (For Sale, Housing, ...) and `Sub Category` (Vacation & Rentals, Baby & Kid Stuff....). See inconsistencies where DApp once refers to SubCategory as Category and another time as SubCategory:
<img width="491" alt="screenshot 2018-09-20 15 38 01" src="https://user-images.githubusercontent.com/579910/45822506-edef0080-bceb-11e8-9b6b-9c8ba7ce88

[2018-09-20 13:45] sparrowDom commented on #533
Might be interesting to @jordajm @franckc @micahalcorn @DanielVF

[2018-09-20 13:47] sparrowDom opened #534 "Query category & subcategory as untranslated strings"
Recently we have changed that category and subcategory get stored in GraphQL index non translated ( https://github.com/OriginProtocol/origin-dapp/pull/525 ). We need to modify search filters to conform to that change, or filtering by Category & SubCategory won't work.

[2018-09-20 13:50] sparrowDom commented on #512
@micahalcorn  The UI part of the filters is already configured with translation.
There is one similar ticket with search filters and translations that needs to be done before the freeze though: https://github.com/OriginProtocol/origin-dapp/issues/534

[2018-09-20 13:50] #512 closed

[2018-09-20 22:32] franckc commented on #533
Yes, we should clean this up since it is very confusing. I'd vote for using same terminology in DApp as in origin-js: category and subCategory.

[2018-09-21 17:24] sparrowDom opened #547 "Error publishing profile"
When you change your profile information and/or attestations and try to publish them the following error with no metamask confirmation is thrown:
[code]

(this happens on staging environment on Rinkeby)

[2018-09-21 17:27] franckc commented on #547
@nick @tyleryasaka Any idea what the issue could be ?

Also CCing @micahalcorn

[2018-09-21 17:28] tyleryasaka commented on #547
web3's `estimateGas` method doesn't return sufficient estimates for attestations, so we are currently hard coding the gas amounts. Perhaps we just need to increase these amounts a bit.

https://github.com/OriginProtocol/origin-js/blob/master/src/contractInterface/users/v00_adapter.js#L130

[2018-09-21 18:01] sparrowDom opened #548 "Email Verification code expired"
On staging environment the email attestation throws `Verification code has expired` when entering the code sent via email.

Code that checks this: https://github.com/OriginProtocol/origin-bridge/blob/b231dbcd76898c25c848f2f7a71da3881054b22a/logic/attestation_service.py#L238-L239

Could it be that the server's local time is off?

[2018-09-21 18:12] sparrowDom opened #549 "Search returns no results"
When search ( along with search filters ) results in an empty set (no items match criteria) we should display at least the string "0 Listings"

[2018-09-21 18:52] franckc commented on #547
@tyleryasaka: @sparrowDom is done for the day since it is already late in Europe... Would you be ok working on a fix this afternoon ? thanks in advance.

[2018-09-21 19:14] tyleryasaka commented on #547
Ok I don't think it's the problem I suggested in the previous comment.

Confirmed the error is coming from this line: https://github.com/OriginProtocol/origin-js/blob/staging/src/contractInterface/users/v00_adapter.js#L159

[2018-09-21 19:29] tyleryasaka commented on #547
Reading through the issue @sparrowDom linked to, I'm not sure what we can do about this. We could roll back web3 to beta.34 but that would introduce breaking changes.

This is not a bug on our end. This is what happens when we try to use beta software in production. 😬

[2018-09-21 19:31] tyleryasaka commented on #547
The other possibility is that we can change our event signature to not have all indexed parameters. See https://github.com/ethereum/web3.js/issues/1916#issuecomment-422805852

[2018-09-21 20:12] franckc commented on #547
This fix should help with this issue: https://github.com/OriginProtocol/origin-js/pull/530

[2018-09-21 20:13] franckc commented on #548
@tomlinton any idea on this one ?

[2018-09-21 20:16] franckc commented on #548
From Tom: "It's because we have multiple bridge servers and no sticky sessions and the verification codes are stored in sessions"

[2018-09-21 21:44] davecraige commented on #489
Continuing to test out image upload sizes on
https://demo.staging.originprotocol.com.

I believe:
✅ 425kb works.
🚫 1mb does not.
🚫1.5mb does not.

Here are three images in different sizes that you can use to test it out if you would like.  They are also available in [this zip file](https://cl.ly/340fe67a3cbb).

![1 5 mb](https://user-images.githubusercontent.com/2782676/45907312-b009df00-bdb4-11e8

[2018-09-21 22:00] davecraige opened #551 "Pending transactions not chronological"
Would this be clearer if the most recent transaction in progress was at the top? (Note how it is currently progressing but at the very bottom of the list)

<img width="618" alt="screen shot 2018-09-21 at 3 58 57 pm" src="https://user-images.githubusercontent.com/2782676/45907938-5a830180-bdb7-11e8-9f92-b18f110e2b95.png">

[2018-09-21 22:34] jordajm commented on #530
Done by https://github.com/OriginProtocol/origin-dapp/pull/543

[2018-09-21 22:34] #530 closed

[2018-09-21 23:02] davecraige opened #552 "Quickly return to view listing from purchased page"
Wanted to share a user experience issue I am having.  After purchasing an item I would like to be able to revisit the item and see what I bought.  (and when I list an item I would like to sometimes just check and see what I wrote) Is there any though on having a way for the user quickly return to the item's original listing page from the purchased page.

Here is an example of a mockup with a few s

[2018-09-21 23:07] davecraige commented on #386
This issue is happening frequently on https://demo.staging.originprotocol.com

[2018-09-21 23:30] tomlinton commented on #548
Fixed in https://github.com/OriginProtocol/origin-box/pull/74.

[2018-09-21 23:30] #548 closed

[2018-09-21 23:45] sparrowDom commented on #548
Works for me on staging 👍

[2018-09-22 19:19] DanielVF opened #554 "🐃 Buyers can easily arbitrate their own purchases processes"
Currently, you can do this from the DAPP:

- Buyer makes an offer on a 12ETH watch
- Seller accepts offer, delivers watch.
- Buyer had set the offer arbitrator to an account he controls
- Buyer opens a dispute
- Buyer rules in his own favor, ending up with the watch and the 12ETH.

The biggest weakness we have to cover in our distributed, negotiated arbitrator setup is that we give the tools and U

[2018-09-22 19:33] davecraige opened #555 "DApp has many issues when logging in from second computer"
I am beginning to test logging in and using the DApp on a second computer.  I am seeing many issues such as:

- Notifications for offers are not showing
- Items that have been sold are still shown as available
- Newly created listings are not showing

[2018-09-23 06:00] jordajm commented on #492
Fixed by https://github.com/OriginProtocol/origin-dapp/pull/558

[2018-09-23 06:00] #492 closed

[2018-09-23 06:01] jordajm commented on #495
Fixed by https://github.com/OriginProtocol/origin-dapp/pull/558

[2018-09-23 06:01] #495 closed

[2018-09-23 06:13] jordajm commented on #421
Fixed by https://github.com/OriginProtocol/origin-dapp/pull/559

[2018-09-23 06:13] #421 closed

[2018-09-23 06:23] jordajm opened #560 "Arbitration: Wire up "enable messaging" button"
When a user clicks "report a problem", if they haven't enabled messaging previously, they are presented with a modal that contains a button that says "enable messaging".

Clicking this button causes an alert that says "to do".

This button needs to be wired up to actually enable messaging.

<img width="493" alt="screenshot 2018-09-23 00 21 09" src="https://user-images.githubusercontent.com/5402813

[2018-09-23 07:01] #547 closed

[2018-09-23 19:36] micahalcorn commented on #223
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/561 ✅

[2018-09-23 19:36] #223 closed

[2018-09-24 04:03] micahalcorn commented on #560
Resolved by #562 ✅

[2018-09-24 04:03] #560 closed

[2018-09-24 09:09] sparrowDom commented on #534
Fixed via: https://github.com/OriginProtocol/origin-dapp/pull/535/files

[2018-09-24 09:09] #534 closed

[2018-09-24 13:13] DanielVF opened #563 "🐃 Invalid IPFS offer file causes never ending error popups"
If you make an offer to someone with invalid IPFS data, then the seller sees a grey popup with an error message about it, over and over and over again.

[2018-09-24 15:35] DanielVF opened #564 "🐃 "From" and "To" fields on purchase transaction history show wrong addresses"
The columns labeled "From" and "To" on the purchase transaction history show the "buyer" and "seller" in the actual data rows. However the offer transactions are initiated by different parties and so these addresses often have the wrong "from" and "to" label.

I'm also not sure we event need a "To" column at all - it's sufficient to know who initiated each transaction.

![image](https://user-image

[2018-09-24 15:55] DanielVF commented on #563
This also happens for offer amounts that are too low:

![image](https://user-images.githubusercontent.com/837/45963256-c2705c80-bff0-11e8-8a52-17c0ee14fa2b.png)

[2018-09-24 16:10] DanielVF commented on #554
We'll need origin.js support to fix this:

https://github.com/OriginProtocol/origin-js/issues/537

[2018-09-24 17:41] franckc commented on #563
@DanielVF Can you confirm this only happens if someone creates an offer by interacting directly with IPFS/contracts rather than using origin-js, correct ?

[2018-09-24 18:00] DanielVF commented on #563
You can do it with origin.js - just set the offer price lower than the listing price.

[2018-09-24 19:45] wanderingstan commented on #263
I'm gonna say this is done. :)

[2018-09-24 19:45] #263 closed

[2018-09-24 19:56] wanderingstan opened #566 "English specific phrase contractions"
We assemble an English phrase, e.g. "Finalized on Sep 9, 2019" by swapping in the verb and date and concatenating:

https://github.com/OriginProtocol/origin-dapp/blob/master/src/components/my-purchase-card.js#L107

In many languages this will be unlocalizable. We should assemble the entire sentence (and substitute in the date) where we currently select the verb, e.g. here:
https://github.com/Origi

[2018-09-24 21:42] micahalcorn commented on #410
Editing this title and opening comment... 🛠

[2018-09-24 21:46] franckc opened #568 "Browse page: fetch listingIds from back-end rather than web3"
This improve dramatically performance of the browse page on Mainnet.

**TODO:**
- [x] read listings from discovery server
- [x] create devops script that uses index aliases, reindexing

Devops script Pull Request: https://github.com/OriginProtocol/origin/pull/844
Implement hidden/featured listings in Apollo PR: https://github.com/OriginProtocol/origin/pull/890

[2018-09-24 21:50] franckc opened #569 "Fetch listingIds for my-purchases page from back-end rather than web3"

[2018-09-24 21:52] franckc opened #570 "Fetch listingIds for Selling/MyListings and Selling/MySales from backend rather than web3"

[2018-09-24 22:00] franckc opened #571 "DApp modal does not go away after saving profile"
From @micahalcorn: Transaction goes thru on blockchain but DApp doesn't know. So it sticks on "Confirm transaction Press "Submit" in MetaMask window" and the form doesn't reset. I suspect that some previously-available return value is no longer surfacing.

[2018-09-24 22:00] micahalcorn commented on #386
Editing this title and opening comment... 🛠

[2018-09-24 22:01] sparrowDom opened #572 "Indexing Category & Subacategory"
Currently Category and Subcategory fields are not translated when the listing is indexed. The keys for Category and Subcategory are indexes as untranslated and we need them that way in order for Search Filters to work.

Besides untranslated fields (for search filters) we should also index them as translated.

So when there is a listing entry under subCategory `Cars & Trucks` the search query will

[2018-09-24 22:02] sparrowDom commented on #572
Might be interesting to @DanielVF and @franckc

[2018-09-24 22:06] sparrowDom commented on #568
@franckc thanks for creating this.

@tomlinton since we will be relying on search more from now on (the listings on home-page are going to be queried using elasticsearch) are there any devops tools that you would critically require for launch? Perhaps something like:
- script that deletes the listing index
- script that applies (like database migrations) the mappings/ index schema
- something else

[2018-09-24 22:08] micahalcorn opened #573 "MetaMask Call-To-Action"
Since [MetaMask does not reliably pop up](https://github.com/OriginProtocol/origin-dapp/issues/386) and intrusively engage the user, we need to ensure the following:

- [ ] a blocking modal appears for every instance of a method call that triggers MetaMask
- [ ] the modals consistently refer to MetaMask rather than generally stating that something is processing

[2018-09-24 22:08] sparrowDom commented on #572
Closing duplicate of: https://github.com/OriginProtocol/origin-js/issues/538#event-1864291253

[2018-09-24 22:08] #572 closed

[2018-09-24 22:42] micahalcorn opened #574 "Etherscan Transaction History"
We will eventually need a [transaction history modal](https://github.com/OriginProtocol/origin-dapp/issues/461) built to render logs for ETH and OGN. Until then, we will link to Etherscan.

[2018-09-24 23:10] micahalcorn commented on #487
This has become more of a priority because naive actors will upload images that will lock up their own browser and that of their recipients. A bad actor could easily spam and ruin every messaging-enabled DApp user's experience.

[2018-09-24 23:58] wanderingstan commented on #410
...also relevant, going back to freakin _**January**_: https://github.com/OriginProtocol/origin-dapp/issues/44

What resizing tool are we using in #217? Something like [this js](https://stackoverflow.com/a/47398705/59913)?

[2018-09-25 00:01] micahalcorn commented on #410
@wanderingstan I was just mentioning this to @franckc earlier today: a scaled back version of https://github.com/mosch/react-avatar-editor#readme

[2018-09-25 00:18] micahalcorn commented on #309
Considering the first iteration of this to be done 😁

[2018-09-25 00:18] #309 closed

[2018-09-25 00:18] micahalcorn commented on #347
Considering the first iteration of this to be done 😁

[2018-09-25 00:18] #347 closed

[2018-09-25 00:19] micahalcorn commented on #311
Considering the first iteration of this to be done 😁

[2018-09-25 00:19] #311 closed

[2018-09-25 01:17] wanderingstan commented on #311
Great work on getting images into messaging!

[2018-09-25 08:18] tomlinton commented on #568
@sparrowDom yes if we want to change the indexes post launch we'll need something to handle that. A way to do migrations would be amazing, but I'm not too sure what is available with elasticsearch. Initially a script that would deletes an index and recreates it would probably be fine. I started putting together a script that creates the indexes based on what you added to the elasticsearch dockerfi

[2018-09-25 12:52] DanielVF commented on #564
I'll change this one over to showing just the from, and using the correct values. @micahalcorn could take it from there, if there's more.

[2018-09-25 13:10] micahalcorn commented on #564
@DanielVF yeah, there is also a "to" concept in [the blockchain transaction confirmations](https://github.com/OriginProtocol/origin-dapp/blob/master/src/components/transaction.js#L60-L91), which isn't always intuitive or particularly necessary.

[2018-09-25 14:58] #564 closed

[2018-09-25 15:17] sparrowDom commented on #571
The cause of the delay seems to be because transactions takes more time to mined on Rinkeby network comparing to localhost. I got transaction approved (running on Rinkeby) after 40 seconds of waiting:
<img width="1920" alt="screenshot 2018-09-25 11 22 14" src="https://user-images.githubusercontent.com/579910/46022923-d34dca80-c0e3-11e8-99e4-6a65a5bbedf9.png">

I have seen some discussion on Discor

[2018-09-25 19:56] davecraige commented on #410
@micahalcorn thanks for the update.

_Note_: feel free to edit any of my issues, titles or comments anytime.  I appreciate your succinct and focused writing style. (And one thing I want to keep improving is how to write very clear issues going forward)

[2018-09-25 20:15] davecraige commented on #327
Note: I briefly mentioned this to Emre at Coinbase and he said he was aware of the issue being on his end and that it should be fixed in the future:

![screen shot 2018-09-25 at 2 13 39 pm](https://user-images.githubusercontent.com/2782676/46040358-47c93f00-c0cd-11e8-8dfa-650f0d973b6e.png)

[2018-09-25 21:36] davecraige opened #579 "Contradictory copy after transaction approval"
After a seller approves a listing this copy is provided that seems to say two contradictory things.  It says that the seller should ship the item _and_ it says to also wait on the buyer.

(Thanks @DanielVF for noticing this with me)

![screen_shot_2018-09-25_at_2 45 35_pm](https://user-images.githubusercontent.com/2782676/46044679-acd66200-c0d8-11e8-86bc-510fb5a090d3.png)

[2018-09-25 21:44] davecraige opened #580 "Correct copy on status of items in /my-listings page"
When an item moves to the next stage of the sales funnel we could possibly update the status in the top right corner.

In this screenshot below you will see that it says "Active" in the corner, however both of these items have been sold to @DanielVF and have been approved by me.  I believe the correct status may be something like "Payment received, waiting for seller to ship item'

![screen shot 2

[2018-09-25 21:52] davecraige opened #581 "User experience challenge - my listings/ my sales"
I believe the two separate sections for listings ( /my-listings and the /my-sales) are somewhat confusing.  Aren't users going to be confused by the differences in sales states between these two sections?  How are they going to know to go to /my-sales to see an update of their sales process?

I made this mistake myself a number of times and was checking /my-listings to see state changes of the ite

[2018-09-25 21:55] davecraige commented on #580
Oh wait, we do have this.  It is in a different section, the /my-sales section however.

![screen shot 2018-09-25 at 3 53 58 pm](https://user-images.githubusercontent.com/2782676/46045543-3e46d380-c0db-11e8-8035-f1b6e0fb1bd8.png)

I have filed an user experience issue about this if that is ok.  I believe many users are going to be confused by these dual sections.

✅ https://github.com/OriginProtoc

[2018-09-25 22:02] davecraige opened #582 "Lack of consistent copy when offer is withdrawn"
When an offer is withdrawn there is a lack of copy explaining to the users what happened.
Here is a screenshot of the buy side.  Note how it says the item is "sold" and yet it also says that the listing is still "active".  It also says "pending" at the top as well. It doesn't mention that the offer has been withdrawn and the buyer’s item is actively for sale again.

![screen shot 2018-09-25 at 4 0

[2018-09-25 22:03] davecraige commented on #582
Additionally, the copy in the Next Steps section is blank.

![screen shot 2018-09-25 at 4 00 28 pm](https://user-images.githubusercontent.com/2782676/46045951-86b2c100-c0dc-11e8-9277-aad938586d43.png)

[2018-09-25 22:51] mek32390 commented on #581
I believe the confusion stems from the very limited functionality of the "My Listings" page. This page seems to be the predecessor of a "Manage Listings" page, where users could edit their listings. Without this functionality though, the page is confusing because it provides very little utility to the user, yet is the top item of the nav dropdown. However, the functionality to make listings inacti

[2018-09-25 22:56] tomlinton opened #583 "Update supported network detection"
Detection of supported networks needs to be updated for mainnet. Right now we'll generate an error if PRODUCTION_DOMAIN is set and we are [not on one of the testnets](https://github.com/OriginProtocol/origin-dapp/blob/9b5cb614eeb94bfe8e030a06bd7e7ffcdf88a2db/src/components/web3-provider.js#L26).

Perhaps a separate environment variable should be added to determine if we are in staging vs productio

[2018-09-26 03:33] wanderingstan commented on #402
We can close it... we can now close an important chapter in Origin history, and say goodbye to Ms. Swift, that '77 jeep thing, zinc housing, and our dreams of Hawaiian mansion living.

![giphy](https://user-images.githubusercontent.com/673455/46055733-977a2b80-c10a-11e8-8f9b-2b072eec7203.gif)

[2018-09-26 03:33] #402 closed

[2018-09-26 05:03] micahalcorn commented on #383
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/587 ✅

[2018-09-26 05:03] #383 closed

[2018-09-26 05:43] micahalcorn commented on #410
Resolved by #586 with a fix to #489 on the way ✅

[2018-09-26 05:43] #410 closed

[2018-09-26 06:03] micahalcorn commented on #573
Resolved by #584 ✅

[2018-09-26 06:03] #573 closed

[2018-09-26 08:40] sparrowDom commented on #568
Hey @tomlinton yeah that is a good start, the only downside is that this causes downtime every time we need to alter indexes. As part of the solution to this issue I will prepare a script that creates index aliases. So the steps for index mutation would be:
- create an alias for listings index
- when index mutation is required create a fresh index with the updated mappings schema
- reindex all the

[2018-09-26 08:54] tomlinton commented on #568
Yep that is a much better approach if you think it is achievable. Go for it. :+1:

[2018-09-26 16:17] wanderingstan commented on #583
Looking at this.

We currently determine production based on env var `NODE_ENV`:
https://github.com/OriginProtocol/origin-dapp/blob/master/webpack.config.js#L10

[2018-09-26 18:06] micahalcorn commented on #583
@wanderingstan I think I was using `PRODUCTION_DOMAIN` in the past so that my Heroku URL would behave like the production environment. But that's probably not necessary.

[2018-09-26 19:03] tomlinton commented on #487
Because nginx limits the size you can't drop anything larger than 2mb into a message or it drops the connection. The user experience isn't great because it looks like the image was successfully sent and there are no warnings about any failures, but at least a malicious actor shouldn't be able to spam huge images.

Given that, do we still need the `p0` tag? There are a lot of improvements to be mad

[2018-09-26 19:21] DanielVF commented on #487
It's easy to increase nginx's limits.

[2018-09-26 19:30] tomlinton commented on #487
For someone who wants to send a bunch of huge images? As far as I know there is no way to bypass the nginx setting.

[2018-09-26 19:38] DanielVF commented on #554
Tyler has made a PR that makes origin.js throw and error if the arbitrator is anything other than the official origin address. I don't think this is the long term way of handling it, but it certainly solves the security problem for now.

https://github.com/OriginProtocol/origin-js/pull/549

[2018-09-26 19:38] #554 closed

[2018-09-26 20:01] DanielVF commented on #487
We are talking about the maximum POST upload size in nginx?

client_max_body_size?

https://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size

[2018-09-26 20:02] DanielVF commented on #487
That said, I think a 2mb limit is a good sane limit for image uploads.

[2018-09-26 20:16] tomlinton commented on #487
You are right, it is easy to bypass. So it should only help with accidental cases.

[2018-09-26 21:41] matthewliu commented on #581
I think there were several reasons we kept them separate, and that these reasons might pop back up again.

Not for v1, but:

1. I can create a listing for tickets. I can then sell 100 of these.
2. I can create a listing for a house, rent it out 10 times, then update my listing (though I'm unsure if we will ever do this or just create a new listing). We did talk about preserving state.

I agree the

[2018-09-26 21:58] davecraige opened #591 "Autodetect links in messaging"
It may be a bit early but just wanted to mention this idea.  Any thoughts on autodetecting links so they are clickable in messages?  It may make the customer experience smoother if people are able to chat with each other and share clickable URL's.

Screenshot:
<img width="531" alt="screen shot 2018-09-26 at 3 56 44 pm" src="https://user-images.githubusercontent.com/2782676/46111591-d0ff7500-c1a4-1

[2018-09-26 22:40] davecraige commented on #489
One additional note: We should probably show the error message for images that are too large *before* showing the uploaded image preview.

It is a strange user experience when it says your image is too big but there is a preview of that image on the page. (There is no “delete image” or X in the corner to remove the image before uploading a smaller one)

[2018-09-27 00:06] micahalcorn commented on #44
This should handle adding AND removing one image at a time in both the listing creation form and the messaging form.

[2018-09-27 01:27] micahalcorn commented on #487
@tomlinton @DanielVF I'll remove the `p0` from this and create a separate issue for the case where someone circumvents the persistence layer and injects larger data.

[2018-09-27 01:36] micahalcorn opened #593 "Messaging: Avoid Large Images"
We currently [refuse to render message data that is not an "`image`"](https://github.com/OriginProtocol/origin-dapp/blob/master/src/components/message.js#L78-L84) but we don't prevent large images from rendering and locking up the browser. We should validate the size and/or improve the rendering performance somehow. And so that we don't frustrate naive senders of large images, we need to also vali

[2018-09-27 01:52] micahalcorn opened #594 "Temporary: Featured Listings"
We need a temporary solution for manually featuring listings. This will require adding the listing ids to an environment variable or file on GitHub (like our original hidelist). We will also need to add back the featured flag to the listing cards and details.

- [x] store an array in a place that can be easily updated without a deployment
- [x] display the badge in the UI

Pull Requests for this i

[2018-09-27 01:55] micahalcorn opened #595 "Invalid Netword Redirect"
If a user's Web3 provider is connected to the wrong network, we currently render a blocking modal and suggest that she change it. Instead, we should redirect her to the environment that will work with her selected network.

[2018-09-27 02:01] micahalcorn opened #596 "Settings/Config Page"
Some variables are subject to user configuration, and they should be listed on a separate route.

**Possible Cases**
1. Language select
1. Manage notifications
1. Browse without an indexing server
1. "Log out" of messaging
1. Disconnect mobile wallet

[2018-09-27 02:11] joshfraser commented on #596
Also letting people choose their own:

- IPFS gateway
- Ethereum node
- Bridge server

[2018-09-27 14:31] micahalcorn opened #599 "Seller Onboarding Modal Changes"
The smaller, bottom-right modal should be changed as follows:

- [x] appear with a slide-up animation rather than drop-down 👈 priority
- [x] render only after a one-second delay 👈 priority
- [x] underlap any open dropdown menus in the navbar

The larger, multi-step modal should be changed as follows:

- [x] only store "fully-completed" in local storage rather than current step
- [x] allow clicking

[2018-09-27 16:40] jordajm commented on #489
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/597

[2018-09-27 16:40] #489 closed

[2018-09-27 16:45] wanderingstan commented on #583
PR here: https://github.com/OriginProtocol/origin-dapp/pull/601

[2018-09-27 17:30] micahalcorn opened #603 "Listing Images After Step Completion"
After listing images are added in step 2️⃣, they cannot be edited by returning from steps 3️⃣ or 4️⃣. This should be handled, probably in conjunction with https://github.com/OriginProtocol/origin-dapp/issues/44.

[2018-09-27 17:38] micahalcorn commented on #425
Closing this thanks to #604 and opening a separate issue for real-time reactivity ✅

[2018-09-27 17:38] #425 closed

[2018-09-27 18:01] davecraige commented on #581
Ahh I see.  Thanks for the additional context @matthewliu.  I understand that better now.

It is great to see you planning so far into the future for the growth of Origin.

[2018-09-27 18:17] #574 closed

[2018-09-28 01:32] micahalcorn opened #1760 "Reviews Incentives & Finalization"
In today's UX review, it became clear that we still are not completely settled on how to incentivize both buyers and sellers to leave reviews, protect the buyer from mistakenly releasing funds, and also minimize gas costs.

In our original purchase states, the review step was combined with each the buyer's confirmation of receipt and the seller's withdrawal of funds. As a result, both parties were

[2018-09-28 03:53] DanielVF opened #613 "Listing Creation: Location Field"
[micah] **Edit** 9/27/2018

The location field should not appear in step 2️⃣ of the listing creation form.

-------------
The "Location" field on new listings is not being saved to IPFS. Are we getting rid of this field?

[2018-09-28 04:00] franckc commented on #613
Correct - we decided location will be handled after V1 because we could not agree on a proper schema for handling location... Also we did not have enough time to implement google maps API integration for address auto-complete and standardization...

Now I think we might still be showing the text input box for Location when creating some listing types in the DApp ? We should remove it because that

[2018-09-28 04:10] jordajm commented on #342
I dug into this one a little more and found that `react-jsonschema-form` uses `<input type="datetime-local" />` to render their datepicker elements, which is not supported by firefox:
https://caniuse.com/#feat=input-datetime

So, I think we'll need to build a custom datepicker widget (probably using the datepicker lib we're already including in the dapp: https://github.com/airbnb/react-dates) and

[2018-09-28 04:12] micahalcorn commented on #342
Thanks @jordajm 😔 I don't think this should be blocking for now. cc @franckc

[2018-09-28 05:39] micahalcorn commented on #613
Editing this title and opening comment 🛠

[2018-09-28 13:02] #613 closed

[2018-09-28 14:45] wanderingstan commented on #595
Looking into this now...

[2018-09-28 15:48] cuongdo opened #616 "No way for buyer to get refund if seller withdraws listing after accepting an offer"
Steps:
1. Seller: create a listing
2. Buyer: make an offer
3. Seller: accept the offer
4. Seller: withdraw the listing
5. Buyer: visit "My Purchases" and click on the purchase for the withdrawn listing

At step 5, as the buyer, I expect to see a page that lets me withdraw the offer, so I can get my offer refunded to me. Even better would be an automatic refund when the seller withdraws a listing w

[2018-09-28 15:48] cuongdo commented on #616
cc @micahalcorn @nick

[2018-09-28 16:30] franckc commented on #595
@wanderingstan Our Rinkeby DApp is at https://demo.staging.originprotocol.com.

[2018-09-28 16:53] franckc commented on #616
Is that a DApp UI change only or does this require a contract change as well ?

Quickly looking at the contract code, the [withdrawOffer](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/marketplace/v00/Marketplace.sol#L264) reads the listing from storage but when a listing is withdrawn, it does get deleted it from storage... See [code](https://github.com/OriginProtocol/

[2018-09-28 16:55] franckc commented on #616
Marking as P0 for close tracking until we decide course of action.

[2018-09-28 17:28] cuongdo commented on #616
The contract supports refunding the buyer in this scenario.

[2018-09-28 17:31] micahalcorn commented on #616
One question is whether or not sellers should be able to withdraw listings that are subject to current offers. Right now, that is their only option to remove listings from public view. In the future, we will probably want the ability for a seller to update a listing with a new quantity available but leave it intact for future availability.

More generally, I don't think that buyers are supposed to

[2018-09-28 18:53] nick commented on #616
Yea the offer will still work if the listing is withdrawn.  A buyer can withdraw an offer a) if it has not yet been accepted or b) if it *has* been accepted, but the listing has been withdrawn. So it's not in the seller's interest to withdraw a listing unless any outstanding offers have been finalized.

On withdrawing a listing... right now that is only doable by the depositManager - but for versi

[2018-09-28 19:37] davecraige opened #619 "Notification of profile update not appearing"
When I publish my profile, I am not seeing any properly named notification to show me that it is being updated even though the modal said I would be seeing it.

Screenshot of my notifications:
![screen shot 2018-09-28 at 1 35 43 pm](https://user-images.githubusercontent.com/2782676/46229649-8e17db80-c323-11e8-8917-a525665559f7.png)

[2018-09-28 19:41] davecraige opened #620 "Should the user see 1 unread message on first login"
To encourage more people to click the "enable messaging" should we show the user one unread message? (The one coming directly from Origin's welcoming account).  Currently it shows 0.

Current screenshot:
![screen shot 2018-09-28 at 1 39 52 pm](https://user-images.githubusercontent.com/2782676/46229843-34fc7780-c324-11e8-8ff8-72e87b3179d5.png)

/ @auregimon

[2018-09-28 19:44] franckc commented on #619
@sparrowDom Could you take a look ?

[2018-09-28 19:45] sparrowDom commented on #619
Yup on it :)

[2018-09-28 20:02] davecraige opened #621 "Use smaller images previews on "review listing" page"
One usability and visual improvement we could potentially make is smaller previews on the "review listing" page.  Right now we use large images and often the first one overtakes the whole page.

/ @auregimon

Screenshot ![screen shot 2018-09-28 at 2 00 36 pm](https://user-images.githubusercontent.com/2782676/46230828-0a5fee00-c327-11e8-96d4-774624bbe2b6.png)

[2018-09-28 20:11] davecraige commented on #621
@auregimon seems to agree:

![screen shot 2018-09-28 at 2 10 45 pm](https://user-images.githubusercontent.com/2782676/46231217-54959f00-c328-11e8-82a5-25a0dea48bc3.png)

[2018-09-28 20:41] davecraige opened #622 "Allow users to upload multiple images one at a time"
I believe some users will get confused they can't click the upload image button multiple times to add more pictures. I believe allowing the "select photos" button to be able to add more images would be helpful.

▶️  Here is a video I shared with John to explain: https://www.useloom.com/share/f529689288084848bd047e8d74850cf9

[2018-09-28 21:04] davecraige opened #623 "Double error message on new listing creation with short description"
When a user makes a new listing with a short description there are a few errors:

- Error message shows up twice
- Copy could be fixed a bit.  Could say " Descriptions must be at least 10 characters or more.  Please write a longer description."

Screenshot:
![screen shot 2018-09-28 at 3 01 34 pm](https://user-images.githubusercontent.com/2782676/46233339-6d558300-c32f-11e8-8b2b-0f78ba6ae387.png)

[2018-09-28 21:16] davecraige opened #624 "Allow line breaks on listings"
Just a quick note, line breaks don't seem to work on new listings.
Example listing: https://demo.originprotocol.com/#/listing/4-000-12

Screenshot of when I made the listing:
![screen shot 2018-09-28 at 3 11 38 pm](https://user-images.githubusercontent.com/2782676/46233747-105acc80-c331-11e8-821c-6ae8db3bec5b.png)

Listing up on the DApp, note the lack of formatting and line breaks:
![screen shot

[2018-09-28 21:37] joshfraser commented on #620
Yeah, my original idea for the welcome message is that it would show up as 1 unread message as a motivation to get people to enable it to see what it says.

[2018-09-28 22:34] sparrowDom commented on #619
Fix for this located here: https://github.com/OriginProtocol/origin-dapp/pull/625

[2018-09-28 22:38] jordajm opened #626 "New design for selected listing in "Create Listing" workflow"
The current design of the selected listing causes the "next" button to be pushed below the fold. Aure designed a new way of showing examples of the selected listing and we need to update the styling to match the new designs:

![create_listing_design](https://user-images.githubusercontent.com/5402813/46236561-b233e680-c33c-11e8-9e73-acfa83721965.png)
![create_listing_design_2](https://user-images.g

[2018-09-28 22:44] davecraige commented on #626
And a quick props to @andrewhyde for his idea about improving this.

[2018-09-28 22:54] davecraige opened #627 "Clearer copy on how much the buyer offered (lower priority)"
Note: this may be a P1 or P2 priority but wanted to share it after a discussion and encouragement from @jordajm .

On the offer page, there is no visual indication above the fold of what the offer was.  Even if it was the listed amount, should we include some copy to visually show in the "accept/reject" box the price that the buyer is sending us for a listing? Example copy "The buyer has offered y

[2018-09-28 23:03] jordajm commented on #627
@micahalcorn I think this could be a P1 - totally confusing from a seller's point of view and would be an easy fix. Also - it says "Sold to unnamed user" when the offer hasn't been accepted.

[2018-09-28 23:11] davecraige opened #628 "Previous notifications not displaying on /notifications"
Previous notifications are currently not displaying for me on the /notifications page.

Screenshot:
![screen shot 2018-09-28 at 5 09 40 pm](https://user-images.githubusercontent.com/2782676/46237392-77807d00-c341-11e8-8daa-c9f99cc9bf02.png)

[2018-09-28 23:14] sparrowDom opened #1904 "Apollo server unit tests"
Create unit/integration tests for Apollo server

[2018-09-28 23:41] sparrowDom opened #1903 "Event listener unit tests"
Create unit/integration tests for event listener

[2018-09-29 01:34] #619 closed

[2018-09-29 01:37] micahalcorn commented on #623
@jordajm we shouldn't have the summary at the top summarizing all invalid fields.

[2018-09-29 03:05] micahalcorn opened #630 "Beta Modal"
The big warning modal has been added via https://github.com/OriginProtocol/origin-dapp/pull/614 but there are a few small changes that would be nice to have.

- [x] 1. Get the `modal-backdrop` class to work so that there is a translucent, white background in the blocked portion of the UI just like many of our others
- [ ] 2. ~Highlight by strengthening some words as depicted [here](https://app.zep

[2018-09-29 18:57] micahalcorn opened #632 "Reviews & Arbitration"
_This question is not for v1 and should not block the release._

Are we intending for the buyer and/or seller to be able to leave a review after arbitration is completed? It is unlikely that either will be motivated to do so, but right now we don't enable it at all in the UI. For now, I am abandoning the finalization and review steps once a dispute is created.

**Disputed**

![disputed](https://us

[2018-09-29 20:08] micahalcorn opened #633 "Offer Event Translation"
I'm bringing back some long-lost tooltips, and don't have time to figure out the translation. There is a similar timestamp on this card that is subject to the same issue.

![purchase-card](https://user-images.githubusercontent.com/273937/46250096-7eae9600-c3e8-11e8-8ebc-c19d3b12b372.png)

[2018-09-30 01:02] micahalcorn commented on #620
Repaired by https://github.com/OriginProtocol/origin-js/pull/578 ✅

[2018-09-30 01:02] #620 closed

[2018-09-30 16:19] micahalcorn commented on #616
@nick in my experience testing this, the funds do not get released to the seller as I would expect.

**Steps To Reproduce**

1. Create Listing (User A)
1. Make Offer (User B)
1. Accept Offer (User A)
1. Close Listing (User A)
1. Complete Sale (User B)

In this scenario, with a listing price of 1.00000 ETH, User B's wallet balance is reduced by 1.00000 ETH + some gas and User A's wallet balance is

[2018-09-30 16:33] wanderingstan opened #636 "Update instructions link / make configurable"
Currently if metamask isn't configured right, we offer a "Full Instructions" link that goes to a [Medium post from January](https://medium.com/originprotocol/origin-demo-dapp-is-now-live-on-testnet-835ae201c58). Obviously not relevant to Mainnet beta.

I suggest we make this an env var so that we can modify easily even post-launch without a full dapp redeploy.

❓We might want to also add this link

[2018-09-30 18:54] micahalcorn commented on #616
Due to the current UX confusion with statuses - close, [in]active, sold, pending, offered, accepted, disputed, etc - I think it’s reasonable to expect people to withdraw them in an effort to prevent other purchases or remove their listings from the home page.

I haven’t confirmed, but it sounds like our UI might also be broken in the event that a finalized offer’s listing is withdrawn.

[2018-10-01 04:32] franckc commented on #616
Since we are getting super close from our launch, I'd be inclined to go for the simplest option proposed by @nick which is to [not delete a listing from blockchain storage](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/marketplace/v00/Marketplace.sol#L171) when a seller withdraws.

It means the seller will have to pay a little bit more gas to withdraw the listing (sin

[2018-10-01 04:46] franckc opened #639 "After publishing profile, status remains "Not Published""
Steps to reproduce:
 - Go to profile page
 - Edit first/last name and description
 - Click publish
=> The status at bottom of the page remains "Not published".
=> A transaction shows up under the "Pending Blockchain Transaction" dropdown, but it remains stuck at 0% and never completes. So it looks like we are not receiving the confirmation callbacks from web3.

This might be a Metamask issue. I re

[2018-10-01 04:48] franckc commented on #639
@sparrowDom Creating this issue to track this bug we discussed over the week-end.

Also CC @micahalcorn and @wanderingstan in case they have any idea/experience dealing with Metamask related weirdness....

[2018-10-01 04:51] franckc opened #640 "If Metamask not installed, browsing to dapp.originprotocol.com redirects to staging"
If I go to https://dapp.originprotocol.com but I don't have metamask installed, I get redirected to https://demo.staging.originprotocol.com/#/

Is that what we want ? I would think we want to show a message prompting the user to install metamask ?

[2018-10-01 04:51] franckc commented on #640
CC @micahalcorn

[2018-10-01 04:55] micahalcorn commented on #640
@franckc probably need to set `PROVIDER_URL` env var to not have a Rinkeby subdomain on the https://dapp.originprotocol.com/? 🤔

[2018-10-01 05:04] franckc commented on #640
Wow. Great catch @micahalcorn !
Indeed, checking https://dapp.originprotocol.com/#/dapp-info shows:
`PROVIDER_URL=https://rinkeby.infura.io/emIXjs9eDuy57IlTYsIP`

Let me send a PR to fix the prod deployment... Thanks !

[2018-10-01 05:04] #640 closed

[2018-10-01 05:07] franckc commented on #640
PR here: https://github.com/OriginProtocol/origin-box/pull/98

[2018-10-01 05:15] cuongdo commented on #616
Not deleting the listing sounds good to me.

[2018-10-01 05:18] matthewliu commented on #639
@franckc Upon page refresh is the data available or no? Just want to isolate that it's actually not on chain vs. it being a timing issue.

[2018-10-01 05:54] jordajm commented on #623
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/641

[2018-10-01 05:54] #623 closed

[2018-10-01 06:10] micahalcorn opened #642 "Analytics Event Tracking"
We need to track a ton of click events. I haven't had a chance yet to think of all of them, but the top priorities would be steps in user journeys such as seller onboarding, listing creation, identity profile/attestations, etc. Does anyone have experience with [react-ga](https://github.com/react-ga/react-ga) or know of a way that we can bootstrap the over-collection of valuable data and filter it

[2018-10-01 06:34] #593 closed

[2018-10-01 06:34] franckc opened #643 "Basic support for featuring and hiding listings"
For the V1 launch, we need a primitive way to:
- Feature listings on the browse page. Those listings should have a badge and show up at the top of the page (it's ok if it breaks pagination, e.g. if a larger than page size total number of listings are displayed on the first page due to featured listings being added on top).
 - Hide listings on browse and search page. This is to remove potentially o

[2018-10-01 06:35] franckc commented on #643
CC @micahalcorn @matthewliu

[2018-10-01 06:56] micahalcorn opened #644 "Profile UX Improvements"
- [ ] 1️⃣

The attestations naturally result in a "success" modal:

![verified](https://user-images.githubusercontent.com/273937/46273686-671bfe00-c50b-11e8-8094-9f3040f000ed.png)

When adding profile information - names, photo, description - there is provisional success modal encouraging the user to publish the changes. This should be added.

- [ ] 2️⃣

The unload modal currently only renders if

[2018-10-01 07:14] sparrowDom commented on #594
Changing the priority label of this to `p1` since we have decided to implement a simpler solution for V1 launch: https://github.com/OriginProtocol/origin-dapp/issues/643#event-1875878859

[2018-10-01 16:32] nick commented on #616
Pushed OriginProtocol/origin-js#581 to address this.

[2018-10-01 16:54] wanderingstan commented on #487
On the UX side, we really should be resizing images _in the browser_, so even naive users don't have to think about file sizes. E.g. they could upload a 10GB image and have it automatically scaled down to under 2MB.

We already do this for the avatar image (via the npm package we're using).

See the ancient issue #44 , especially [HTML5 image uploading](https://hacks.mozilla.org/2011/01/how-to-dev

[2018-10-01 17:29] joshfraser commented on #487
+1 for in-browser resizing

[2018-10-01 18:52] franckc commented on #644
@micahalcorn Is that truly a p0 that must be fixed before release ?

[2018-10-01 18:54] micahalcorn commented on #644
It came out of the war room sessions. I don't know how to decide which of 100+ things are or are not p0. My plan is to just do as many as possible. 😓

[2018-10-01 18:56] matthewliu commented on #644
P1 it

[2018-10-02 06:11] franckc commented on #616
Fixed by origin-js PR 581.

[2018-10-02 06:11] #616 closed

[2018-10-02 17:16] franckc commented on #639
@sparrowDom Any update on this ? Do you need help/consulting on best way to fix ? I'm sure @wanderingstan would be happy to share his wisdom on this topic :)

[2018-10-02 17:42] wanderingstan commented on #639
Just tested locally, and got "Error - See the console for more details", with console showing `MetaMask - RPC Error: Error: Error: [ethjs-rpc] rpc error with payload {"id":1029462959570,"jsonrpc":"2.0","params":["0xf91976188477359400831a65d08080b9192260...` and pages of hex.

[2018-10-02 17:42] sparrowDom commented on #639
Yeah that was probably when deploying a contract (saving profile for the first time?). Can you also try to create a listing?

[2018-10-02 17:45] wanderingstan commented on #639
Ok, I was able to reproduce locally using the steps above, setting first, last, and description. Status stays at 0% complete.

At least this will make it easier to poke at it and test things!

[2018-10-02 18:03] sparrowDom commented on #643
Solved via:
- https://github.com/OriginProtocol/origin-dapp/pull/645
- https://github.com/OriginProtocol/origin-dapp/pull/654

[2018-10-02 18:03] #643 closed

[2018-10-02 18:03] wanderingstan commented on #639
@sparrowDom this looks relevant, but would indicate that we should see things _fixed_ in the latest MetaMask...🤔

https://github.com/trufflesuite/truffle/issues/1254#issuecomment-419198255

[2018-10-02 18:09] sparrowDom commented on #639
Yeah this does seem relevant. Especially because when it crashes my local ganache it crashes because of this line:
https://github.com/trufflesuite/ganache-core/blob/develop/lib/webSocketServer.js#L126
with the error can not read `connection` from `undefined`. Which I think it means some event/notification can not be pushed to some websocket connection because it is not present in `connectionsBySub

[2018-10-02 18:31] wanderingstan commented on #639
Strange, now after an hour I'm now seeing my profile update as "8% Completed".
BUT, if I make a purchase, it's completed in a few seconds.

Is there something fundamentally different about identity contracts vs marketplace?

![image](https://user-images.githubusercontent.com/673455/46369100-b7dc4580-c636-11e8-82ef-e4779c9f1497.png)

[2018-10-02 18:41] franckc commented on #643
Nice work @sparrowDom !

[2018-10-02 18:42] franckc commented on #639
For additional context, here is a change we made recently to contract-service.js:deploy
https://github.com/OriginProtocol/origin-js/pull/546

My understanding is that attestation saving exercises this code whereas offer creation does not.

[2018-10-02 18:43] joshfraser commented on #624
Looks like the line breaks are getting stripped out before the blobs are being saved to IPFS.

At a minimum, we should make sure the line breaks survive, and then replace them with <br>'s when we display them to the end user.

As a stretch goal, it might be nice to support markdown or another standard to allow *minimal* formatting of listings. I don't want to open it up to allow all sorts of color

[2018-10-02 18:53] wanderingstan commented on #639
Continued strange behavior on my side. At some point (after a origin-js restart?) the attestations started working fine again. 🤷‍♀️

Updated MetaMask to 4.12.0 and now I'm getting failure locally again, and origin-js/ganache crashing with
[code]

Which I think means I'm caught up to your state, @sparrowDom .

[2018-10-02 19:08] micahalcorn commented on #624
Depending on how the come out of IPFS, we can potentially just use CSS.

https://www.w3schools.com/cssref/pr_text_white-space.asp

[2018-10-02 21:15] sparrowDom commented on #639
@wanderingstan is this
[code]
also the root cause of your crash?

Thanks for reminding @franckc will check if that change has any effect on this error.

[2018-10-02 21:47] micahalcorn opened #661 "Seller with 0 ETH Onboarding"
If a user has no (or not enough) ETH to create a listing, we don't currently prompt her before she gets to the end of the process only to find out that it's not possible. Then, of course, all of her work is lost. We should do one or more of the following:

- suggest funding the wallet
- ~store the listing creation inputs in Redux and/or `localStorage`~ https://github.com/OriginProtocol/origin/issu

[2018-10-02 21:48] matthewliu commented on #661
Renaming this issue to be more explicit. Broke user could be broken user experience.

[2018-10-02 21:49] micahalcorn commented on #661
Indeed it is. 😑

[2018-10-02 22:52] davecraige commented on #621
Looks way better.  Props to the engineer that worked on this

![screen shot 2018-10-02 at 4 51 23 pm](https://user-images.githubusercontent.com/2782676/46381423-7910b480-c663-11e8-852e-5e0f126d2663.png)

[2018-10-02 23:45] joshfraser opened #663 "Simplify DApp footer"
It doesn't need to match the corporate website. Let's simplify & instead use the footer space to:

- Explain that you're using a decentralized application
- Better feature the language selector
- Link to the Origin website (via our logo)
- Link to the Github (maybe via an icon)
- Link to an FAQ (once we have it)

We can cut everything else.

[2018-10-02 23:47] micahalcorn commented on #663
I think Aure was looking for direction on this, so I've relayed the message to him.

[2018-10-03 00:28] davecraige commented on #621
close

[2018-10-03 00:28] #621 closed

[2018-10-03 04:06] franckc commented on #639
As an extra data point, I tested on Mainnet with Chrome an Metamask 4.12.0
I ran into the same issue. My profile did get saved but upon publish the profile page showed an error and also in the pending blockchain transaction dropdown, the "your updated your profile" transaction remained stuck at 0%.
Attached a screenshot, notice the JS console with error message "TypeError cannot read property 'blo

[2018-10-03 09:47] sparrowDom commented on #639
At least it is consistently failing 😥

[2018-10-03 14:46] micahalcorn opened #669 "Phone Attestation Country Options"
Add country options as supported by Twilio 📞

![phones](https://user-images.githubusercontent.com/273937/46418186-1e696e00-c6e0-11e8-8c92-da873696c909.png)

[2018-10-03 14:51] vivekag66 opened #670 "Publishing Profile"
Sir/Madam,
After publishing profile one time.
Every time I login to Origin Mainnet Beta from same ETH address showing Status:NOT PUBLISHED.
Kindly help me
Thankyou

[2018-10-03 14:54] micahalcorn commented on #670
Hi @vivekag66 👋 What updates did you publish to your profile? Were they name(s), photo, and description, or were they verifications like phone, email, etc? Are they visible on your profile after refreshing despite the "Not Published" message?

[2018-10-03 18:35] franckc opened #673 "DApp error when creating listing with Metamask 4.12.0"
When creating a listing on Mainnet with Metamask 4.12.0, I get an error (see screenshot).
Note the that listing does get published but it is a failure related to confirmation callback.

<img width="1488" alt="screen shot 2018-10-03 at 11 30 53 am" src="https://user-images.githubusercontent.com/945910/46431236-20432980-c700-11e8-919f-94e9cbb55a7c.png">

[2018-10-03 18:35] franckc commented on #673
CC @wanderingstan @sparrowDom

[2018-10-03 18:38] wanderingstan commented on #673
The errors are:
[code]
^ Seems to happen _inside_ metamask.

[code]

[2018-10-03 20:31] jordajm commented on #642
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/657 and https://github.com/OriginProtocol/origin-dapp/pull/662

[2018-10-03 20:31] #642 closed

[2018-10-03 23:56] micahalcorn opened #678 "Listing Types Not Localized"
This probably isn't blocking, but should likely be prioritized over other localization quirks. Did I break this?

<img width="1440" alt="screen shot 2018-10-03 at 4 51 15 pm" src="https://user-images.githubusercontent.com/273937/46445694-1388fa80-c72d-11e8-8224-18ec5bb58666.png">

[2018-10-04 00:20] micahalcorn opened #679 "Boost-Related Localization"
Not all of the boost-related strings have been localized. Here I will keep a list of any that I find.

- [levels and descriptions](https://github.com/OriginProtocol/origin-dapp/blob/master/src/utils/boostUtils.js#L6-L32)

[2018-10-04 00:29] micahalcorn commented on #678
Secondarily, [this injection of the translated type](https://github.com/OriginProtocol/origin-dapp/blob/master/src/components/listing-create.js#L352) should be replaced with multiple formatted messages; one for each listing type.

[2018-10-04 18:33] franckc opened #682 "Have separate read vs write web3 provider"
During testing on Mainnet, we saw an issue where the latest listing that had been created did not show up on the Browse page and their associated listing details page also failed loading.

The issue went away after using the "Reset account" Metamask option and is very likely caused by Metamask caching.

We should strongly consider using 2 separate providers:
 - Use our own web3 provider that talks

[2018-10-04 18:33] franckc commented on #682
CC @nick @DanielVF @micahalcorn

[2018-10-04 18:34] micahalcorn commented on #682
@franckc this should be done at the [-js](https://github.com/OriginProtocol/origin-js/) level though, right?

[2018-10-04 18:39] franckc commented on #682
Yes, most of the work is in origin-j. There would only be a small bit to change in DApp to properly call the origin-js constructor with both a read and write web3. I filed this bug in DApp because it manifests in the DApp. Feel free to file under origin-js if it is easier for tracking.

[2018-10-04 18:40] micahalcorn commented on #682
No big deal, just confirming 👍

[2018-10-04 19:19] micahalcorn opened #683 "Handle Lengthy Translations"
Several elements are overflown with some languages. The max heights or widths should be relaxed to avoid this. Here is a relatively high-priority example:
![german](https://user-images.githubusercontent.com/273937/46497427-5c918b00-c7cf-11e8-8e3d-fe5f1d736d34.png)

[2018-10-05 05:31] tomlinton commented on #669
@micahalcorn I've added all the countries in the `tomlinton/phone-att-countries` branch. The massive dropdown causes some CSS havoc though. You mentioned you might be able to take a look? :grin:

I've got some further checking to do on the countries I've added so the list isn't final.

[2018-10-05 05:48] micahalcorn commented on #669
Will do @tomlinton, thx 👍

[2018-10-05 15:26] micahalcorn opened #687 "Better Country Code Selection UX"
Once https://github.com/OriginProtocol/origin-dapp/issues/669 is completed, there will be a lot of countries to scroll through. We could move the "popular" countries to the top for convenience, but ideally we would have a search field or some other way for a user to quickly select the appropriate country.

[2018-10-05 19:45] micahalcorn commented on #490
Let me know if this isn't fixed by https://github.com/OriginProtocol/origin-dapp/pull/672. 🤞

[2018-10-05 19:45] #490 closed

[2018-10-05 20:05] davecraige opened #689 "Linked Message Avatar & Name"
**Edit** 10/16/2018 [micah]: There also appears to be a bug, as "Unnamed User" should appear when the user has not added a name. It, the avatar, and the ETH address should all link to the public profile but none of them should be colored `var(--clear-blue)`.

---

When chatting with a user, it would be helpful to be able to click their avatar or name to be able to go to their profile and see their

[2018-10-05 21:04] franckc commented on #673
Changed priority to p1 since Metamask 4.13 was released and it does not have this issue.

[2018-10-05 21:05] franckc commented on #639
Downgraded priority to p1 since Metamask v4.13 is now available and it fixes this issue.

[2018-10-05 21:06] davecraige opened #692 "Outdated copy on mobile modal"
The mobile modal has copy that is a bit outdated.  Toshi has been renamed "Coinbase Wallet" and I believe all development has ceased on Cipher browser since April 13.  Not sure if we want to include that one or not since there is no active development to fix bugs and help with security issues.

Screenshot:
![img_0277](https://user-images.githubusercontent.com/2782676/46560245-d432e900-c8a7-11e8-9f

[2018-10-05 21:17] davecraige commented on #623
Thanks @jordajm!

[2018-10-05 22:42] DanielVF commented on #689
As it is, if someone has not uploaded a profile with a name, there's no way to click to go to their profile.

![image](https://user-images.githubusercontent.com/837/46563250-60f09d80-c8ce-11e8-81de-e62e88d5c825.png)

[2018-10-05 23:01] DanielVF commented on #682
Sounds like a good idea, as long as we fallback in a way that not everyone using origin.js has to give two providers.

[2018-10-05 23:20] davecraige commented on #490
Nice, working really well for me now.  Thanks Micah 😀.

[2018-10-07 20:04] austinaryain commented on #399
It looks like this has been resolved and can be closed.

[2018-10-07 20:04] micahalcorn commented on #399
Thx @austinaryain 👊

[2018-10-07 20:04] #399 closed

[2018-10-08 08:17] sparrowDom commented on #673
This pull request solves the issue with MetaMask 4.12.0  listing creation ( https://github.com/OriginProtocol/origin-js/pull/599 ). It suppresses that specific error and implements a workaround.

We have yet to decide if we want to implement the workaround or just not support the broken version of Metamask.

[2018-10-08 13:16] cuongdo commented on #682
I'll take a look at this.

[2018-10-08 16:27] micahalcorn opened #695 "Invalid Network NON-Redirect"
Instead of forcing a redirect when a user has her MetaMask or mobile wallet set to the "wrong" network we should display a modal suggesting that she switch it or click a link to change URLs.

[2018-10-08 17:42] micahalcorn opened #696 "Testnet Beta Warning"
The warning banner at the top of the DApp should include the name of the current network in place of "Mainnet". Also, the beta modal should not appear unless on Mainnet.

[2018-10-08 18:24] franckc commented on #682
@cuongdo reminds me of when you added support for read-only replica back in the days at the tube... :)

[2018-10-08 20:05] cuongdo commented on #682
@franckc “History doesn't repeat itself but it often rhymes.” 😄

[2018-10-08 20:23] davecraige opened #698 "Images are difficult to side scroll on mobile"
Listing images on the mobile DApp listing page carousel currently require multiple swipes to get to the next image. They do not snap yet with one swipe like on other mobile sites.

Screenshot showing how you have to swipe multiple times to advance the image:
![img_0431](https://user-images.githubusercontent.com/2782676/46633811-acd85800-cb03-11e8-8a2b-409307b132d4.PNG)

[2018-10-08 23:36] joshfraser opened #699 "Tighten up the BETA header on mobile"
The warning header takes up way too much vertical space on mobile devices. We can tighten up the language by changing "You're currently using the Origin Mainnet Beta" to "Welcome to Origin's Mainnet Beta"

We can also hide the beta icon on small width devices if needed.

I know that we have a long list of things that we need to improve for the mobile experience, but we can at least improve the fir

[2018-10-09 19:01] micahalcorn opened #705 "Encourage Profile Publishing On Prevented Route Change"
Thanks to https://github.com/OriginProtocol/origin-dapp/pull/702, we now prompt the user to publish her provisional profile changes before changing the route. If she were to attempt a full page reload, we would also display our [custom "unload" modal](https://github.com/OriginProtocol/origin-dapp/blob/master/src/pages/profile/ConfirmUnload.js) that supplements the native browser dialog. Ideally, w

[2018-10-09 19:03] micahalcorn commented on #644
Resolved by #702 ✅

[2018-10-09 19:03] #644 closed

[2018-10-09 19:05] micahalcorn commented on #687
Resolved by #690 ✅

[2018-10-10 16:20] cuongdo commented on #682
I've taken a look at this, and there's no reasonably clean way to do this. I created a [proof of concept](https://gist.github.com/cuongdo/b5388cb4adea4be78d852bd5d8ad5c8a) that added another `web3` instance to `contractService` just for reads. The problem is that we don't funnel all contract calls through `contractService.call()`, which makes this a somewhat invasive change. I'm postponing my effo

[2018-10-10 16:24] micahalcorn opened #715 "Link To Social Profiles"
Once https://github.com/OriginProtocol/origin-js/issues/609 is completed, verified badges for social profiles should link to the user's Facebook, Twitter, or Airbnb account.

[2018-10-10 21:51] jordajm opened #717 "Edit profile form doesn't pre-populate with saved data"
Steps to reproduce:
1) Fill out name, description, etc
2) Publish profile
3) Refresh page
4) Click edit profile button

Notice that edit profile form isn't pre-populated with saved data

[2018-10-11 03:24] davecraige opened #719 "Mobile modal is popping up on desktop"
I believe I am seeing the mobile modal pop up on desktop.  Seeing this when I click both "buying" and also "my listings."

Screenshot:
![screen shot 2018-10-10 at 9 22 39 pm](https://user-images.githubusercontent.com/2782676/46778858-c4197000-ccd2-11e8-8b05-31899c6b2acd.png)

[2018-10-11 03:34] davecraige opened #720 "String not translated "Contact Seller""
I believe the "Contact Seller" string is not properly translated

Screenshot:

![screen shot 2018-10-10 at 9 32 26 pm](https://user-images.githubusercontent.com/2782676/46779329-874e7880-ccd4-11e8-972a-8893a95b9e75.png)

/ @mek32390

[2018-10-11 03:35] davecraige commented on #720
Also quick note: I don't believe categories are either.  But not sure if that is beyond the current scope at this time

[Uploading Screen Shot 2018-10-10 at 9.34.33 PM.png…]()

[2018-10-11 13:32] riverfor commented on #420
Is this issue resolved? Can I try to fix it as my good first issue please ?

[2018-10-11 13:49] micahalcorn commented on #420
@riverfor please do, thanks 🙏

[2018-10-11 14:36] micahalcorn commented on #720
[Waiting on another round of machine translations](https://github.com/OriginProtocol/origin-dapp/blob/master/src/components/user-card.js#L162-L165) and https://github.com/OriginProtocol/origin-dapp/issues/678 😐

[2018-10-11 14:36] #720 closed

[2018-10-11 17:42] #719 closed, assigned to nobody

[2018-10-11 18:02] davecraige commented on #719
Thanks @micahalcorn 🙏

[2018-10-11 18:03] davecraige commented on #692
This has been fixed.  Thank you @micahalcorn.

[2018-10-11 18:05] davecraige commented on #720
Ok great, thank you 🙏

[2018-10-11 21:38] davecraige opened #725 "Users often unable to see contact button on profile pages"
I believe the contact button only appears for logged in users.

New users are not able to clearly see the contact button on the profile pages.

This issue came up today when a Telegram user wanted to test messaging and tried to send me a message over Trust wallet but was unable to do so.

Screenshot.  Note the lack of contact button below the ETH address.  I believe he was even logged in as well.

[2018-10-11 21:42] davecraige commented on #725
And screenshot from desktop.  Same issue:

![screen shot 2018-10-11 at 3 42 20 pm](https://user-images.githubusercontent.com/2782676/46835721-46a23e00-cd6c-11e8-9f26-3f3cfa57c242.png)

[2018-10-11 21:46] whytecleon commented on #725
I encountered this issue, didn’t see the contact button while using chrome browser on my mobile device.

[2018-10-11 23:22] tomlinton opened #726 "Use a single method for performing database migrations"
We currently have database migrations being run by both `origin-bridge` and `origin-discovery` using `flask-migrate` and `db-migrate`. Soon we'll add a third migration method into the mix in `origin-mobile` using `Sequelize`.

I think this could get confusing and it makes sense to just use one method because we have a single database. All migrations could live in a directory at the top level of th

[2018-10-11 23:29] tomlinton commented on #669
Done by #690.

[2018-10-11 23:29] #669 closed

[2018-10-12 18:11] davecraige opened #734 "Buyers don't see how much money they are charged on final page"
The final stage of the checkout process is a little challenging to the buyers I believe.  There is no place on the page above the fold that actually tells the buyer how much he or she is now sending out.  This especially is important for our power users who have many listings.

I believe it would be good to clearly show in the modal exactly how much money is being sent from the buyer's wallet.

Sc

[2018-10-12 23:43] franckc opened #742 "[DApp] Pagination broken on search page"
Tested on the mainnet:  Clicking on search icon, without any search terms returns a page with results but does not show bottom pagination to go to next page, even though the back-end server returned totalNumberOfItems=61

URL to reproduce: https://dapp.originprotocol.com/#/search?search_query=&listing_type=all

[2018-10-12 23:43] franckc commented on #742
CC @micahalcorn @sparrowDom

[2018-10-12 23:48] franckc commented on #742
Here is request to the server:
[code]
Here is the response from the server:
`{"data":{"listings":{"nodes":[{"id":"1-000-55"},{"id":"1-000-25"},{"id":"1-000-35"},{"id":"1-000-30"},{"id":"1-000-57"},{"id":"1-000-56"},{"id":"1-000-64"},{"id":"1-000-74"},{"id":"1-000-6"},{"id":"1-000-2"},{"id":"1-000-13"},{"id":"1-000-18"}],"offset":0,"numberOfItems":12,"totalNumberOfItems":61,"stats":{"maxPrice":1000

[2018-10-13 00:14] micahalcorn commented on #742
@franckc only 12 results, and 3 of them are hidden. So the 9 that are showing is what I would expect. 😕

[2018-10-13 00:17] micahalcorn commented on #742
So I don't think this is a pagination issue. I think it's a consequence of either listings not getting indexed or somehow not being send in the `search` result object.

[2018-10-13 02:32] tomlinton opened #743 "Nginx ingress causing websocket connections to drop on messaging server"
There is an intermittent issue with nginx where it drops websocket connections randomly every ~30 seconds. It shouldn't be causing too many issues at this stage because the messaging code has reconnect logic.

I think it is because the Kubernetes deployment is reloading the nginx configuration because it thinks a change has occurred (it hasn't).

[2018-10-13 09:01] simibac opened #745 "International Airbnb Accounts"
When I tried to connect my Airbnb account it didn't accept the URL is not .com here in Switzerland (.ch). Now sure if everyone is aware that they can easily change it to .com and it still is a link to their account. So maybe you want to change that.
<img width="733" alt="bildschirmfoto 2018-10-13 um 10 45 08" src="https://user-images.githubusercontent.com/15369592/46903572-4c686280-ced7-11e8-81c3-

[2018-10-13 19:08] davecraige commented on #745
Thanks for catching this @simibac 🙏. We will take a look.

[2018-10-13 22:17] joshfraser commented on #745
Related issue https://github.com/OriginProtocol/origin-bridge/issues/136

[2018-10-15 03:35] tomlinton commented on #743
This is fixed by #749.

[2018-10-15 03:35] #743 closed

[2018-10-15 04:34] riverfor commented on #661
Does anybody work on this, can I work on this ?

[2018-10-15 04:41] franckc commented on #742
The back-end only returns 12 listings because that is what is specified in the query via the "numberOfItems" field. But note that the response includes the field totalNumberOfItems set to 61 which indicates there are more listings to fetch. I verified by going to the graphQL UI at https://discovery.originprotocol.com/ and I then issued queries with offset 0, 12, 24, etc... and back-end returned al

[2018-10-15 04:59] franckc commented on #742
I suspect the issue is here:
https://github.com/OriginProtocol/origin/blob/master/origin-dapp/src/components/listings-grid.js#L76

If renderMode is search, shouldn't this be using listingsLength ?
`const resultsCount = search.listingsLength`

[2018-10-15 05:07] micahalcorn commented on #742
@franckc yep, blame me, sorry. I think it should be more like `resultsCount = search.listingsLength - hiddenListingIds.length` for the search mode and still `resultsCount = listingIdsNotHidden.length` for the other. But that screws up the pagination again.

[2018-10-15 05:09] franckc opened #751 "Search price filter is unusable due to listing with outlier max price"
On mainnet, the price filter shows max value as $206,770 (see screenshot below).
Couple of things:
1.  - This is incorrect by a factor of about 10. I checked in the index and the max price for items is 100 ETH which is about $20,000.
2.  - We should probably put a cap on the max filter or use the p95 or p99 percentile of prices from listings. Otherwise a few listings with a ludicrous value will ca

[2018-10-15 05:15] franckc commented on #751
It is not a DApp but a back-end issue: back-end is returning maxPrice as 1,000 ETH:
<img width="1051" alt="screen shot 2018-10-14 at 10 12 43 pm" src="https://user-images.githubusercontent.com/945910/46931131-a3b52280-cffe-11e8-929b-4b252954f90a.png">

[2018-10-15 06:16] franckc commented on #751
Actually my bad about 1. above. There is a hidden listing (https://dapp.originprotocol.com/#/listing/1-000-5) with a price of 1,000 ETH. So the back-end is returning the correct max value.

But I think 2. above is valid... that single listing with a 1,000 ETH price makes the price filter unusable.
ElasticSearch does support percentiles. So perhaps we use that... thoughts ?

Here is an example:
[co

[2018-10-15 11:29] sparrowDom commented on #742
Sorry for seeing this issue a bit late. I see @micahalcorn has figured out the problem and prepared a solution for it.

[2018-10-15 16:21] #695 closed, assigned to Natasha08

[2018-10-15 16:57] franckc commented on #751
I was just thinking that as opposed to using max price, we would pick a single percentile. Perhaps the 99th percentile (currently 99th is a bit high but as more listing get added it should go down) ?

[2018-10-15 17:28] micahalcorn commented on #699
Resolved by https://github.com/OriginProtocol/origin/pull/747 per @Natasha08 ✅

[2018-10-15 17:28] #699 closed

[2018-10-15 18:06] micahalcorn opened #754 "Ability To Like/Save Listings"
One of our investors suggested a feature for liking a listing in order to save it for future reference. He wants to consider several purchases and potentially come back to the listings.

This could also be tied to the ability to "watch" a listing once we have notifications in place. That would be helpful when dealing with multi-units listings, for example, where you might want to know when the ava

[2018-10-15 18:14] micahalcorn opened #755 "Smart Seller Onboarding"
Our seller onboarding modal is currently oblivious to the following states:

- degree of identity verification
- messaging enabled or not
- web3 presence and provider vendor
- notifications permitted or not
- wallet balances (ETH, OGN, etc)

I suspect that we will eventually prioritize a different onboarding experience that isn't seller-focused. Otherwise, our current modal should display differen

[2018-10-15 18:15] micahalcorn commented on #599
Removed a couple of the checkboxes in favor of https://github.com/OriginProtocol/origin/issues/755 😐

[2018-10-16 12:56] DanielVF commented on #624
Looks like @wanderingstan did this in #658!

Yay!

[2018-10-16 12:56] #624 closed

[2018-10-16 14:58] wanderingstan opened #760 "Translation duplicates / string identifiers"
(@micahalcorn this may be something to cover in a bigger discussion of localization issues, but just want to get this down.)

Looking through `all-messages.json` it seems we are being overly prolific with string identifiers, making the identifiers unique to the specific page/component. E.g. the word "continue" will almost certainly be translated the same in all cases. So there is no reason to have

[2018-10-16 15:29] micahalcorn commented on #760
Yes, this is part of what @crazybuster and I would like to solve across the various monorepo directories as well. I seem to recall there also being some kind of hiccup with needing unique component-specific identifiers throughout the DApp with our current implementation per @jordajm.

[2018-10-16 16:02] jordajm commented on #760
A few thoughts on this @wanderingstan and @micahalcorn ...

- Yes, I was surprised by `react-intl` not allowing duplicated IDs across components

- However, it's a best practice for a reason, and I tend to agree with it because when I tried to reuse message IDs across components, it got very confusing trying to keep track of the global IDs as in, "wait, do I have this message already defined globa

[2018-10-16 16:40] micahalcorn commented on #760
The issue that Yu Pan and I are concerned about is having the same string translated differently across -dapp, -js, -tbd-notifications-thing, etc. Now that they are all under the same repo, hopefully CrowdIn will save us from having conflicting translations across projects @jordajm?

[2018-10-16 16:55] jordajm commented on #760
Yes, I think Crowdin can help us prevent different translations of the same strings across the repos. I just confirmed that we have enabled the Crowdin feature which lets the translation memory be shared across projects:
https://crowdin.com/resources#translation-memory

[2018-10-16 18:37] davecraige commented on #624
Awesome, thanks @wanderingstan 🙏

[2018-10-16 22:46] micahalcorn opened #766 "Notifications Modal"
Build a modal inviting the user to enable push notifications.

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bc6691840563d18f3a4ad35

Different iterations of this may appear in various parts of the UX if the user has not yet given permission. We may also want to make the copy stronger since notifications will be so critical.

[2018-10-16 22:50] tomlinton opened #767 "Configure X-Forwarded-For headers for bridge ingress"
When we record data for attestations the remote IP address is incorrectly recorded because nginx isn't sending the correct headers. Only the internal Kubernetes IP of the nginx proxy is being recorded.

[2018-10-16 23:00] micahalcorn commented on #696
Resolved by #704 ✅

[2018-10-16 23:00] #696 closed

[2018-10-16 23:54] tomlinton opened #769 "Add second Ethereum mainnet node and load balance with existing"
We've got one Ethereum mainnet node running and synced. A second node should be added in a different availability zone and load balanced with the existing node. This will provide a stable setup for when we move off Infura.

[2018-10-17 19:25] auregimon opened #772 "Hide/Archive old chat threads"
Over time, the chat will get cluttered with threads that are not longer relevant. It would be great to figure out a way to not show them to the user.

[2018-10-17 21:15] jonhearty opened #773 "Long strings bleed into profile"
When there is a link with a really long length, it bleeds into the profile section of the listing page.

Examples:

https://dapp.originprotocol.com/#/listing/1-000-99
https://dapp.originprotocol.com/#/listing/1-000-98

<img width="1163" alt="screen shot 2018-10-17 at 9 58 31 am" src="https://user-images.githubusercontent.com/3673242/47116632-06810680-d217-11e8-9c3d-d704a27a1bd7.png">
<img width="1

[2018-10-17 22:14] micahalcorn commented on #773
Should just be a matter of setting a CSS property to get the text to wrap 👍

[2018-10-18 00:53] tomlinton opened #774 "Configure sticky sessions and two replicas for origin-bridge"
The deployment is only running a single replica with origin-bridge. It needs to be updated to use two replicas to enable rolling updates. It was changed to a single replica because sticky sessions weren't configured which caused an issue with attestations that used sessions for storing codes.

[2018-10-18 21:30] tomlinton opened #779 "Record wallet address for successful attestation"
Right now we are only recording the address of the identity contract on a successful attestation request. We also want to store the users wallet address. This will need changes to:

- attestation saving in `origin-bridge` and a database change
- the attestation api in `origin-js` and how it is called in `origin-dapp`

The address of the identity contract is saved in the database as `eth_address`.

[2018-10-18 23:03] tomlinton opened #780 "Separate repo for deployment state"
The state of the deployments is recorded in the monorepo by [committing deployed image tags every time a deployment happens](https://github.com/OriginProtocol/origin/commit/643e957c207650e018cd10f8bb016b1afd283d27). We are doing this manually, but it will be automated when the CI/CD stuff happens. I'd like to break out this stuff into a separate repository for a few reasons:

- Reduce commit spam.

[2018-10-19 01:00] joshfraser commented on #780
We can't have private repos without paying for every single contributor (already quite expensive at our current levels). We could open a new Github account that's private but I'd prefer to keep everything open unless there's a very compelling reason. It makes a big difference being able to say we're 100% open-source vs. mostly open-source.

[2018-10-19 01:42] tomlinton commented on #780
I did not think about that - so scratch the private repo idea. I think the key thing I'm getting at is that using git as a key value store is awkward. Perhaps there is an alternative place to store this data. I will have a look around for some other solutions.

[2018-10-19 01:46] joshfraser commented on #780
Can we store a single key on each environment and then pull everything else from EnvKey?

[2018-10-19 01:56] tomlinton commented on #780
Yea that is a cool idea, I'll see if its workable. It would be nice to have everything in one place. I didn't know you were such a fan of centralisation. :grin:

[2018-10-19 01:57] riverfor commented on #420
Thank your for accepting this PR.

[2018-10-19 01:57] #420 closed

[2018-10-19 02:02] joshfraser commented on #780
Scratch that, let's publish all our passwords on the blockchain.

[2018-10-19 02:09] tomlinton commented on #420
Thank you @riverfor!

[2018-10-19 02:47] micahalcorn commented on #630
Considering this done ☑️

[2018-10-19 02:47] #630 closed

[2018-10-19 02:49] micahalcorn commented on #661
Sure, thanks @riverfor 🙏

[2018-10-19 02:52] micahalcorn commented on #387
Though not pretty, this was done in Q3 ✅

[2018-10-19 02:52] #387 closed

[2018-10-19 03:00] micahalcorn opened #783 "Expired Messaging Key Prompt"
We are now expiring the ephemeral private messaging key. Upon expiration, we should prompt the user to reenable messaging and explain why it has been disabled. See also https://github.com/OriginProtocol/origin/issues/315, which is very much related.

[2018-10-19 04:16] riverfor commented on #661
It's my pleasure,

I have submitted the [pull request](https://github.com/OriginProtocol/origin/pull/784) already, please have a look when you are free.

[2018-10-19 04:52] franckc commented on #780
Yes, storing all secrets in EnvKey could be good since we are already using it anyway.

For the image tags, it would be nice to have history. Ideally, we would keep track a history of what image got pushed at what time and by who. This is good for 2 reasons: auditing and also making it easier to rollback (side note: I'm a huge fan of rollback capabilities to allow our team to move fast: in case a

[2018-10-19 20:29] franckc opened #787 "[Marketplace] Re-cycling offerId can cause loading incorrect offer data"
All this came up because I was looking into storing offer data in the database and needed a unique  ID...

Looking at the getOffer(offerId) method:
https://github.com/OriginProtocol/origin/blob/master/origin-js/src/contractInterface/marketplace/resolver.js#L65

Given that we are re-using offerId to save on gas (see https://github.com/OriginProtocol/origin/blob/master/origin-js/contracts/contracts/

[2018-10-19 20:32] micahalcorn opened #788 "Monorepo-Friendly Heroku Deployment Button"
We should bring back the one-click Heroku button that has been removed from [the origin-dapp README](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/README.md) if it's possible to make it work from a subdirectory.

![heroku](https://user-images.githubusercontent.com/273937/47242341-470d8b00-d3a3-11e8-9335-bf388a6769a9.png)

[2018-10-19 20:35] franckc commented on #787
CCing @nick @wanderingstan @DanielVF @cuongdo @jordajm since you are all on the list of engineers working on listing types in Q4...

[2018-10-19 20:39] nick commented on #787
Hmm a new offer will generate a new ID... it shouldn't be possible to reuse the same ID. [This line](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/marketplace/v00/Marketplace.sol#L199) essentially increments the offerID every time makeOffer is called.

[2018-10-19 20:46] franckc commented on #787
ohhh. deleting from an array in solidity does not change the array's length ! got it. my bad - I'm still not versed into solidity's specifics. thanks @nick !

[2018-10-19 20:46] #787 closed

[2018-10-20 04:49] tomlinton opened #794 "Trailer: X-Stream-Error headers being returned from IPFS"
IPFS is returning `Trailer: X-Stream-Error` headers for me when uploading anything from the DApp. As far as I can tell the IPFS server responds with a 200 status code and begins streaming, but for whatever reason it thinks the streaming failed before it completes and so adds that header. The response actually looks fine and I don't think this causes any issues anywhere. Except for some load tests

[2018-10-22 03:30] riverfor commented on #237
Is it fixed ? I will work on this.

[2018-10-22 03:31] riverfor commented on #237
Is it fixed ? I will work on this.

[2018-10-22 03:34] riverfor commented on #237
Is it fixed ? I will work on this.

[2018-10-22 15:58] Natasha08 opened #797 "OriginJS testing"
Based on the discussion in [this PR](https://github.com/OriginProtocol/origin/pull/776), there testings issues for origin.js:

- [ ] Better error handling & testing around this
- [x] update schema validation to handle fractional listings

[2018-10-22 19:47] tomlinton commented on #237
@riverfor please do!

[2018-10-22 20:44] micahalcorn opened #799 "Couldn't decode address from ABI: 0x"
Several of us are seeing this error intermittently on Mainnet. It affects notifications and "my sales".

[2018-10-22 20:59] micahalcorn commented on #799
In at least some instances, this error stems from [listing 1-000-37](http://localhost:3000/#/listing/1-000-37).

[2018-10-22 21:57] micahalcorn commented on #799
For some reason, Infura is returning a bad response seemingly randomly:
[code]
**Request Payload**
[code]
However, a matching `curl` request produces a valid result:
[code]
[code]
@nick suggests possibly catching an retrying these requests in Origin.js if we intend to support blockchain queries without an indexing server.

Another option might be querying data from our own full node.

If we are go

[2018-10-22 23:02] tomlinton commented on #745
Fixed in #748.

[2018-10-22 23:02] #745 closed

[2018-10-23 03:30] micahalcorn commented on #799
As discovered by @nick, MetaMask appears to be including the "latest block number" in its requests to Infura. And, by chance, some requests are probably served by a node that has not yet reached that block number. We should be able to avoid this issue by passing `'latest'` as the parameter to the contract methods, but MetaMask overrides it.

We could resolve the issue by [using a separate provider

[2018-10-23 04:11] micahalcorn commented on #772
This might be accomplished by setting a timestamp in a user's `localStorage` and hiding any conversations that have not been appended since then.

Another option - if it's not a privacy violation - might be to actually record a meta-message in the conversation that effectively tells all participants, "This conversation is now archived until someone revives it". 🤷‍♂️

[2018-10-23 14:59] cuongdo commented on #799
I can look into [using a separate web3 provider for reads](https://github.com/OriginProtocol/origin/issues/682) again, but I'm not clear on our plans for using indexed data and whether that will reduce the urgency for separate provider by making it redundant. On the other hand, separating out the read provider would allow us to perform better should someone choose not to use an indexing server. @f

[2018-10-23 15:33] cuongdo commented on #682
I previously created a partial PoC for the following solution:

**Reads:**
- By default, have all `Contract` objects point use a new provider that reads directly from Infura. This provider cannot sign transactions (unless we add direct support wallet too).
  - This addresses the reads that the resources sometimes issue directly to Contract objects. ([example](https://github.com/OriginProtocol/orig

[2018-10-23 18:46] franckc commented on #799
@cuongdo I'm thinking we should prioritize first using indexed data (Domen and I are working on this). Then after that we can decide priority of

- implementing separate read/write providers
- running our own nodes

I'd be happy to drive this decision process. Does that sound good ?

[2018-10-23 19:02] cuongdo commented on #799
@franckc SGTM

[2018-10-23 20:59] tomlinton commented on #799
We have a fully synced node but there is a bit of engineering work to do to get to the point where I'd be comfortable using our own nodes. I want some redundancy and some better health checking. Nodes are heavy and there can be quite a long setup time. Probably around two weeks warning before we intend to switch would be good!

[2018-10-23 21:03] micahalcorn commented on #799
Jon is now getting a similar error on an offer:

[2018-10-23 21:10] micahalcorn commented on #799
Jon is now getting a similar error on an offer:

**Note**
He has this problem with MetaMask 4.16 in Chrome but not in MetaMask 4.8 with Firefox.

[2018-10-23 21:12] franckc commented on #682
Thanks for adding all these details, super useful to capture in this issue.

Regarding handling writes using the provider from the DApp, I wonder if this approach would be ok: construct a contract object using the read provider, then determine if the specific call to the contract is a read or a write, and then
- if it is a read use the already constructed contract object to issue the call
- if it

[2018-10-23 21:33] micahalcorn commented on #799
Filed an issue 🦊 https://github.com/MetaMask/metamask-extension/issues/5588

[2018-10-23 22:52] micahalcorn opened #805 "Push Notification Message Strings"
This issue tracks the establishment of string messages to use for push notifications.

[2018-10-23 22:54] micahalcorn opened #806 "Notifications: Browser Push"
https://github.com/OriginProtocol/origin/pull/795 is a proof-of-concept for implementing browser-based push notifications. This issue tracks the remaining concerns and to-do items.

|Concern/Task|Issue|DApp|Worker|Server|Database|Other|
|---|---|---|---|---|---|---|
|the message strings|~https://github.com/OriginProtocol/origin/issues/805~|-|-|✅|-|-|
|storing and queueing events||-|-|||-|
|CORS ru

[2018-10-24 04:12] riverfor commented on #237
@tomlinton

Yes, I am working on it. It looks like a little bit complex.

[2018-10-24 06:39] micahalcorn opened #808 "Notification Localization"
https://github.com/OriginProtocol/origin/commit/be0d17ab14b1d7137e497e874b168e0f5b6f1b29 adds a handful of English strings for the offer-related events that we convert to push notifications. These should be translated.

There are complications:

1. Our existing localization code lives in the DApp (on the client). These strings live on [the server](https://github.com/OriginProtocol/origin/blob/mast

[2018-10-24 06:55] micahalcorn opened #809 "Mobile Web Messaging UI"
The current messaging UX on mobile web is, well, less than good. 😇 The relevant components should be improved according to this design:

<img width="932" alt="mobile-messaging" src="https://user-images.githubusercontent.com/273937/47411877-effb1380-d71e-11e8-8edc-90a880700b74.png">

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5be22863287c293f87e7ada9
https://app.zeplin.io/project

[2018-10-24 07:00] micahalcorn commented on #766
Resolved by https://github.com/OriginProtocol/origin/pull/795 ✅

[2018-10-24 07:00] #766 closed

[2018-10-24 16:09] micahalcorn opened #810 "Consistent Event Notifications, Properly Documented"
[This](https://github.com/OriginProtocol/origin/blame/master/origin-docs/source/includes/resources/marketplace.md#L158-L170) isn't quite accurate. I believe that [on-demand, derived notifications only include `offerCreated`, `offerFinalized`, and `offerAccepted`](https://github.com/OriginProtocol/origin/blob/master/origin-js/src/contractInterface/marketplace/v00_adapter.js#L494-L525). We should ex

[2018-10-24 16:41] wanderingstan commented on #808
At least in iOS, it looks like there is a solution: you can pass multiple strings along with the notification payload. Then the notification will be shown _in the language of the device_. I.e. if user's phone is set to Chinese, they see notification in chinese. If set to English, they see in English.

See * Send a localization string with the notification payload* headline in this SO anser:
https:

[2018-10-24 18:10] roschler commented on #386
This issue I posted may have some helpful debugging info:

https://github.com/MetaMask/metamask-extension/issues/5594

[2018-10-24 18:12] micahalcorn commented on #386
Thanks @roschler 😐

[2018-10-24 18:14] Natasha08 opened #811 "Mobile Navigation Bar"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [x] Should be easy to change mobile padding so the navigation bar doesn’t end up being two lines
- [ ] Bizarre rendering error when tapping on blockchain transactions (haven’t been able to reproduce)
- [ ] Transactions dropdown doesn’t actually show any meaningful information e.g. Does not show any transaction

[2018-10-24 18:23] Natasha08 opened #812 "Mobile Responsiveness"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [ ] The DApp freezes with use (and on initial load).
  - Is it a performance issue for the DApp or Coinbase Wallet?
  - Maybe messaging resources is locking up the DApp
- [ ] Generally Sluggish scrolling. Is there a 300ms delay for certain touch actions in the browser?
- [ ] Very laggy scrolling in the messagin

[2018-10-24 18:37] Natasha08 opened #813 "Mainnet beta modal"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [ ] In some cases the modal does not dismiss on 'Proceed' and the screen scrolls behind the modal.
- [ ] Verify that all modals are not allowing for scrolling behind the modal

[2018-10-24 19:02] Natasha08 opened #814 "Mobile Seller Onboarding Modal"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

When a user is on mobile without wallet functionality they cannot create listings or verify their identities. Even when a user does have a mobile wallet, the onboarding mobile blocks the messaging UI.

- [x] For mobile browsers hide the seller onboarding modal.

[2018-10-24 19:13] Natasha08 opened #815 "Mobile Messaging UI"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [x] text input box needs to be bigger
- [ ] ~~the address should be below the user name, and date below that. Everything left aligned will fix the truncation issues.~~
- [x] css to make messaging more usable (padding and font size changes)

[This Issue](https://github.com/OriginProtocol/origin/issues/812) will

[2018-10-24 21:23] Natasha08 opened #817 "Mobile Photos"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [x] Problem uploading iPhone X photos (increase the current 1.5MB limit?) [Fixed here](https://github.com/OriginProtocol/origin/pull/731)
- [ ] Error message on file upload size runs through divs. (Try uploading an unsupported file type)
  - [ ] Font size is too large for error message

[2018-10-24 21:43] Natasha08 opened #818 "Mobile Profile page"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [ ] Minor alignment issue for edit profile CTA
- [ ] Account balance more info buttons do not reveal view

[2018-10-24 21:47] Natasha08 opened #819 "Edit profile modal"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [ ] (mobile) Window scrolls behind the modal [Should be fixed with jQuery removal](https://github.com/OriginProtocol/origin/issues/813)
- [ ] Image upload bleeds through the cropped rounded squares

[2018-10-24 22:09] Natasha08 opened #820 "Mobile Phone and Email Attestation"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

On mobile when a user is adding a phone number and when they are entering verification codes for an attestation, the keyboard should default to a numerical keyboard.

![image](https://user-images.githubusercontent.com/17957496/47464486-8de5f100-d7a6-11e8-8ee1-922f7140eed7.png)
![image](https://user-images.githubu

[2018-10-24 22:17] Natasha08 opened #821 "Mobile Publish modal"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [x] Padding is off compared to other modals
- [x] The icons for attestation types are center-aligned, which works great if they are on the same line but looks terrible if it runs to two or three lines.
  - To reproduce this add several attestations (i.e. phone, email, google)

[2018-10-24 22:31] Natasha08 opened #822 "Network Loading"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

The app usually takes a long time to load -- both on desktop & mobile. On mobile, the connectivity dropdown takes up the entire screen.

On desktop:
- [ ] Implement rotating messages under the spinner that say "Connecting to the Ethereum Mainnet", "Connecting to IPFS", etc.
- [ ] the connectivity dropdown should

[2018-10-24 22:44] micahalcorn commented on #822
Let's remove the connectivity dropdown entirely from mobile screens. Aure is working on a general overhaul of the navbar as well.

[2018-10-25 09:00] tomlinton commented on #774
Done by #826.

[2018-10-25 09:00] #774 closed

[2018-10-25 10:53] sparrowDom opened #827 "Problems with staging deployment 10/25/2018"
When testing I have encountered a couple of problems on staging:
1. Deploying a new profile (contract service deploys a contract) triggers Metamask popup after 1-2 minutes. (seems IPFS related. The popup only happens after the request to IPFS timeouts)
2. Twitter and Aribnb attestations return 500 error in the second phase of confirming attestation. (this could be related to IPFS. Are `IPFS_DOMAIN

[2018-10-25 10:55] sparrowDom commented on #827
@franckc (just to trigger notification to you inbox 😈 )

[2018-10-25 15:06] Natasha08 opened #828 "Mobile Photo Upload"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- [x] photos were oriented incorrectly coming from the iPhone camera

This issue exists in:
  - profile photos
  - conversation photo uploads
  - listing photos

NB: One culprit could be rotation metadata in the image not being read. I.e. the phone doesn't actually rotate the pixels, it just sets metadata for the

[2018-10-25 15:11] Natasha08 opened #829 "Mobile Confirmation for Created Listing"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

The DApp said the listing was created. There is a bug when trying to view it on My Listings or in Browse: `Couldn’t decode address from ABI: 0x`

Potentially caused by:
- Something is being malformed as it’s being written to the contract
- Could also be a Coinbase issue? Although in this case our DApp thinks the

[2018-10-25 15:14] Natasha08 opened #830 "Mobile Purchase Listing"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

A User cannot purchase a listing because transaction fails. This may be a Coinbase issue.

[2018-10-25 15:17] Natasha08 commented on #817
https://github.com/OriginProtocol/origin/pull/731 addresses the problem with uploading iPhone X photos

[2018-10-25 16:30] franckc commented on #827
Here are the logs for bridge on staging: https://gist.github.com/franckc/b166416e179976cdccb7b35944d3a204

It does look like a failure to connect to IPFS which would happen if the IPFS_DOMAIN or IPFS_PORT would not be set correctly.

Let me check ENVKEY settings for bridge...

[2018-10-25 16:52] franckc commented on #827
Checked ENVKEY setup. For staging:
IPFS_DOMAIN=ipfs.staging.originprotocol.com
IPFS_PORT=80

Now for some reason in the bridge container for staging, ENVKEY key is the production one... This needs to be fix, though there is likely another issue since the staging bridge server should not fail connecting to prod IPFS.

[2018-10-25 16:52] franckc commented on #827
CC @tomlinton in case he has ideas...

[2018-10-25 17:13] franckc commented on #827
I think I figured why the bridge staging deployment uses prod ENVKEY key. It turns out I ran deploy.sh from a repo I had used before where there was an existing (but old) values/secrets-staging.yaml which was still pointing to the prod ENVKEY (I had fixed as part of PR #764).

@tomlinton To prevent this from happening in future, I wonder if deploy.sh should delete values/secrests-[dev|staging|prod

[2018-10-25 17:43] micahalcorn commented on #599
Resolved by #831 ✅

[2018-10-25 17:43] #599 closed

[2018-10-25 17:56] franckc commented on #827
Thanks @tomlinton

Bridge staging deployment now has the correct ENVKEY key (separate note: I noticed the dev bridge ENVKEY is not set to proper value in secrets - I will submit a PR for that).

I spawned a python interpreter in the bridge container and tried to make the add_json call that is used by attestation code. I got a 500 back from the ipfs server:
[code]

Here are the logs of what I did:

[2018-10-25 18:02] franckc commented on #827
Based on #794, I think the ?stream-channels=true param is what's causing the issue... checking ipfs python client to see if we can disable it.

[2018-10-25 18:10] franckc commented on #827
stream-channels=true is [hardcoded](https://github.com/ipfs/py-ipfs-api/blob/3c2d8f67ec934efae3ea11286ab5ae20fef9b50b/ipfsapi/http.py#L236) in the python client

But actually re-reading bug report #794 this could be a red-herring: on the bridge we get a 500 back. In the DApp we get a 200 but X-Stream-Error headers.

@tomlinton ping me on Discord when you start your day in your shiny new co-working

[2018-10-25 18:13] davecraige commented on #830
*last spoke to Coinbase team about this on 8/28/2018

https://github.com/OriginProtocol/origin/issues/327

[2018-10-25 19:46] #827 closed, assigned to nobody

[2018-10-25 19:52] Natasha08 opened #833 "Create a Listing 404"
When I go to 'My Listings' and click on an inactive listing => then click on 'Create a Listing', I am on a 404 page with the route `/listings/create`

[2018-10-25 21:45] tyleryasaka opened #835 "Support Metamask Breaking Change: No Accounts Exposed by Default"
See: https://medium.com/metamask/https-medium-com-metamask-breaking-change-injecting-web3-7722797916a8

We need to use the new technique by November 2 to remain compatible with Metamask, without users having to disable privacy mode. (Which would be bad! Privacy is good!)

[2018-10-26 01:51] micahalcorn opened #837 "Friendly Resource URLs"
Our current unique identified in our listing URL, for example, is not very informative.

https://dapp.originprotocol.com/#/listing/1-000-73

Some ideas to improve this:

- use a slug based on the title appended by a unique identifier
- replace "1" with "mainnnet", etc
- replace the entire hyphenated number sequence with a deterministic alpha-numeric string

[2018-10-26 02:58] DanielVF commented on #837
Or add a dash, and then a urlized, hyphenated listing title:

https://dapp.originprotocol.com/#/listing/1-000-73-small-hickory-hammer

(If someone came without the listing title, then we'd update the url in browser to the correct one)

[2018-10-26 05:31] matthewliu commented on #837
2 francs are worth a lot more than 2 cents...

On Thu, Oct 25, 2018 at 10:25 PM Franck <notifications@github.com> wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-10-26 17:44] micahalcorn commented on #44
This should also handle re-ordering the images, probably via drag-and-drop or something.

[2018-10-27 19:31] micahalcorn commented on #773
Resolved by #839 ✅

[2018-10-27 19:31] #773 closed

[2018-10-28 03:01] micahalcorn opened #840 "Require Messaging"
Prior to creating a listing or making an offer, a user should be required to enable messaging. If messaging is not enabled, a modal prompt should appear immediately prior to the MetaMask/web3 approve/reject prompt. The design and copy for the modal should be similar to the case where a user attempts to contact another user without having messaging enabled.

[2018-10-28 18:29] stenflo commented on #472
I'm marking this issue as closed because in the current build the "View All" button no longer goes to a blank page. I didn't provide any changes, but just noticed this appears to be resolved. Here is a screenshot:

<img width="1015" alt="screen shot 2018-10-26 at 11 11 57 pm" src="https://user-images.githubusercontent.com/23533467/47620149-78294200-daac-11e8-9414-d284b3606306.png">

[2018-10-29 16:58] sparrowDom commented on #568
@tomlinton in [this branch](https://github.com/OriginProtocol/origin/tree/sparrowDom/esIndexMigration) I have prepared a script that should make index migrations easier and without downtime. The script is located here: `development/scripts/elasticsearch/migrationTool.sh` and this is how the functionality looks like:
![screenshot 2018-10-29 17 46 10](https://user-images.githubusercontent.com/579910

[2018-10-29 17:41] tomlinton commented on #568
Looks great @sparrowDom. I'm wondering if this script will ever need to be run non-interactively (i.e. by a CI tool). My thinking is that index changes probably won't happen very often and we can just take care of each one by hand using this script. What do you think?

cc @franckc.

[2018-10-29 18:10] wanderingstan opened #841 "Origin Identicon does not match MetaMask"
When MetaMask is set to use Blockies for identicons, the resulting icon does not match Origin even though we are also using a similar looking identicon.

![image](https://user-images.githubusercontent.com/673455/47670097-061b3080-db72-11e8-8420-af8e36770903.png)

A goal of Identicons is to know at glance if accounts are the same, so something is awry.

- We are using [identicon.js](https://github.

[2018-10-29 18:47] matthewliu commented on #841
Good catch. The identicon is useless unless it is consistent.

On Mon, Oct 29, 2018 at 7:15 PM Stan James <notifications@github.com> wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-10-29 23:06] sparrowDom commented on #568
I guess when (or if ever) index migrations become more frequent we should include it as part of the CI. Until that happens I agree that doing it manually should be ok.

(of course then I will do the modifications so that script can be ran with arguments non-interactively)

[2018-10-30 16:58] sparrowDom opened #850 "Docker-compose stability"
Soon we shall be reading listings from elasticsearch and that will require functioning of `event-listener`, `origin-discovery` and `elasticsearch` containers. Running origin locally without docker might not be practical anymore.

The purpose of this ticket is to discuss what changes we could incorporate in order to make it easier for people to use docker containers. Once we decide on the change (i

[2018-10-30 16:58] sparrowDom commented on #850
this might be interesting to: @franckc @tomlinton @micahalcorn

[2018-10-30 17:02] sparrowDom commented on #850
One of the things that we could improve IMHO is the way we define environmental variables. Some are defined in `docker-compose.yml` ( [example](https://github.com/OriginProtocol/origin/blob/master/docker-compose.yml#L16) ) and some are mounted into the container using the .env file  ( [example](https://github.com/OriginProtocol/origin/blob/master/docker-compose.yml#L169) ). I think it would be bet

[2018-10-30 18:14] franckc opened #852 "[EventListener] Add persistence for continue file"
A. Currently the event listener uses a local "continue" file on disk to save the last block it processed.
Because we are not using persistent volume, every time we deploy the event-listener, it restarts at the initial "Origin epoch block" and it takes about 30min to 1 hr to catch up to latest block (that will degrade over time as the blockchain gets longer). This implies an indexing delay of up to

[2018-10-30 19:37] tomlinton opened #854 "Better handling of origin-js dependencies"
The [package.json](https://github.com/OriginProtocol/origin/blob/master/origin-js/package.json) for `origin-js` has both dependencies (production) and devDependencies. When we publish the package and someone does an `npm install origin-js` they'll end up with all the production dependencies installed, which is unnecessary because the package includes a bundle generated by webpack which no longer h

[2018-10-30 20:08] tomlinton commented on #850
Thanks for raising this @sparrowDom!

The intention was for the env vars that are in `docker-compose.yml` to be those settings that are only related to Docker Compose. Anything that is DApp specific and has nothing to do with Docker Compose should live in the `.env` file. Modifying settings should require a `docker-compose down && docker-compose up`.

99% of the Docker Compose issues we are having

[2018-10-30 20:57] franckc commented on #854
CC @nick @DanielVF @wanderingstan to leverage their incommensurable experience dealing with npm...

[2018-10-30 21:51] jpvajda commented on #466
@mek32390 if this is still a problem that needs solving I can take a crack at the content of the FAQ, as a newbie to Origin it would give me the opportunity to work through the product and learn more about it. If the output is a markdown file, will that work to help seed the page once implemented? or would you prefer it in HTML?

[2018-10-31 02:11] DanielVF commented on #852
An option to store the listener block state in a DB/redis makes plenty of sense, since that's one less addtional persistence system we need to deal with.

However! I think that not sending duplicate messages should be the responsibility of the notification server, not the listener. We gain a lot of robustness to external chaos on the listener side by not guaranteeing once-only-delivery. Particular

[2018-10-31 13:05] DanielVF commented on #854
I think Vue has all its dependencies under `devDependencies` because all of those are real dev dependencies - I see test packages, build packages, compile packages. Nothing required for running.

It seems very strange to have our NPM package contain a single js script with all third party dependencies included. You are right that doing both this and having them as `dependencies` doesn't make much

[2018-10-31 16:36] franckc commented on #852
Yes good point that strong guarantees about only-once delivery on the event-listener side will be hard...

Indeed, we could have the notification server making sure it does not send duplicate notifications. That means we'll need a way to keep track what events sent by the event-listener have already been processed in the past by the notifier. Options for that could be storing some sort of unique e

[2018-10-31 17:09] Natasha08 commented on #813
There is a bug in Bootstrap 4 (Search for `<body> with overflow:hidden CSS is scrollable on iOS` [here](https://getbootstrap.com/docs/4.0/browser-bugs/)). I have tried quite a few strategies, but have not found a solution yet.

[2018-10-31 19:19] wanderingstan commented on #854
If Stack Overflow searching and blind trial-and-error count as "experience," then yeah, sure.. ;)

Perhaps related: Earlier this week @nick and @crazybuster and I were discussing our `webpack.config.js` and thinking we could remove `babel-polyfill` ([here](https://github.com/OriginProtocol/origin/blob/master/origin-js/webpack.config.js#L8)), since that is something done deal with old browsers. And

[2018-11-01 17:07] Natasha08 commented on #813
Additionally, because we are using Bootstrap4 (and therefore JQuery) to render the modals, React does not know about these DOM updates. Particularly the `modal-open` class is often times removed from the DOM.

[2018-11-01 17:09] jordajm commented on #603
resolved by https://github.com/OriginProtocol/origin/pull/731

[2018-11-01 17:09] #603 closed

[2018-11-01 17:11] jordajm commented on #307
Resolved by https://github.com/OriginProtocol/origin/pull/744

[2018-11-01 17:11] #307 closed

[2018-11-01 17:12] jordajm commented on #308
Resolved by https://github.com/OriginProtocol/origin/pull/744

[2018-11-01 17:12] #308 closed

[2018-11-01 17:12] #334 closed

[2018-11-01 17:14] jordajm commented on #44
This is mostly resolved by https://github.com/OriginProtocol/origin/pull/731, but we would need to pull images out into its own step to make it work like Aure's designs. I'm thinking we should close this ticket and create a new one if/when we decide to do that...

[2018-11-01 17:14] #44 closed

[2018-11-01 22:08] tomlinton opened #867 "Expose dashboard to public"
We have a dashboard running on an internal IP on Google Cloud. We want to expose this publicly. It uses Metabase which is a software package that generates dashboards from SQL data. This means that it has access to our databases which poses a risk if we expose it publicly. Some options:

1. Write a small script that runs on the Metabase server that scrapes the dashboard and publishes a static page

[2018-11-01 22:45] joshfraser commented on #867
I'm comfortable with option 2. We'll probably end up with 4 or 5 dashboards in Metabase that we'll want to share (website, dapp, social, dev stats, etc). Most will be public, but we may choose to keep a few more private. I think your scheme still works for this. We can just append the specific dashboard that we want to the URL (ie. `dashboard.originprotocol.com/dapp`) or fall back to the default.

[2018-11-02 16:50] lucadgtrip opened #871 ""Returned Values aren't vaild, did you run out of gas?""
Trying to access My Listings
https://dapp.originprotocol.com/#/my-listings
connected to Metamask with about 16 U$ in ETH (Mainnet)
The page got stuck as per attachment.

It happened 3 times and on last refresh it worked.

Os X, Chrome.
ETH Address:
0xce73904422880604e78591fD6c758B0D5106dD50
![screenshot 2018-11-02 at 18 45 28](https://user-images.githubusercontent.com/34341206/47928863-1879cf00-de

[2018-11-02 16:58] franckc opened #872 "[Notifications] Missing and non standardized data in the push_subscription DB table"
While inspecting the data saved in the push_subscription DB table, I noticed the following:
- expiration_time column is not populated. Is that expected ? what is expiration_time for ? (I did not see it referenced in the server code).
- account are storing checksummed ETH addresses. I'd like to propose we standardize on using lowercase when saving any address in the DB. Otherwise I'm worried it wil

[2018-11-02 16:59] franckc commented on #872
@micahalcorn Pls lmk your thoughts on the above...

[2018-11-02 17:49] micahalcorn commented on #871
Potentially related to [this](https://github.com/OriginProtocol/origin/issues/799) 🤞

[2018-11-02 17:54] micahalcorn commented on #872
@franckc yes, expiration was intended to be null. I didn't think much about the consequence of adding the row without immediate plans to use it. 😐 I don't have an opinion on address case, but I certainly agree that we need a plan for it across the various apps in our repo. Don't we prefer checksum elsewhere?

[2018-11-02 21:14] franckc opened #875 "[Notifications] Implement mechanism to prevent sending duplicates"
For context, see #852
Since the event-listener does not guarantee only-once delivery, the notifications server should implement a mechanism to keep track of notifications already sent in order to avoid sending duplicates. Suggestion is to use Redis for storing that data.

[2018-11-02 21:15] franckc commented on #852
Closing this issue.
- Implemented listener DB persistence in PR #874
- Filed separate issue #875 for notifications server to not send duplicates.

[2018-11-02 21:15] #852 closed

[2018-11-03 11:51] micahalcorn opened #877 "Notifications Analytics"
Here is a non-exhaustive list of the notification-related events that we should probably track:

- [x] [`push`](https://developer.mozilla.org/en-US/docs/Web/API/PushEvent): the [service worker](https://developer.mozilla.org/en-US/docs/Web/API/PushEvent) receives data from the server
- [ ] [`pushsubscriptionchange`](https://developer.mozilla.org/en-US/docs/Web/Events/pushsubscriptionchange): the br

[2018-11-03 12:03] micahalcorn opened #878 "Error Tracking"
Should we implement error tracking now that we're live with a Mainnet DApp? I recall some discussion earlier this year about using [Sentry](https://sentry.io/) for the website, but don't remember if we ever did anything about that. My only concern was that we don't want just a bunch of noise coming from `localhost` and random browser extensions. I'm also not suggesting that we try to reproduce and

[2018-11-03 20:50] tomlinton commented on #878
I like Sentry. You can do good filtering on to remove `localhost` and stuff that happens from browser extensions. It gives you a good idea of how often specific errors are being seen by real users.

[2018-11-04 11:37] gauravsavanur07 commented on #875
hey my name is @Geek Blocks I would love to work on prevent duplicates event listener issue.

[2018-11-04 11:41] gauravsavanur07 commented on #840
Hey I would like to work on This issue as my first commit

[2018-11-04 18:57] lucadgtrip opened #880 "Links to show on list creation: see listing"
After creating a listing I am presented with two buttons:
- create another listing
- see all listings
but want I really usually want is to see the listing I just created.
Maybe we could add that button too.

[2018-11-05 03:39] franckc commented on #875
@gauravsavanur07 Did you send an email saying you would be interested in working on this ? For some reason it did not get recorded in this issue...

Anyway, if you did, here are a few pointers/ideas, in terms of how I could imagine this would work to get you started:
 - Define a scheme to create uid for messages received by notifications servers from the event-listener via webhook. The tuple (bloc

[2018-11-05 03:48] franckc commented on #878
Yes, sentry is pretty good. Looks like they have good JS support: https://sentry.io/for/javascript/
We could either use their SAAS product (I know people there and could probably get us some free trial) or just set it up ourselves (it is open source) - I would vote for the latter: it would be one less thing for us to run ourselves.

Probably not a huge priority right now given our very low user vo

[2018-11-05 10:01] sparrowDom commented on #878
I don't have experience with Sentry but I am all for error tracking. Like pointed out it should be a pretty straight-forward implementation. Noise shouldn't be a problem since we can have an configuration for [different environments](https://docs.sentry.io/learn/environments/?platform=javascript). So we can focus and differentiate between staging and production.

[2018-11-05 10:29] sparrowDom commented on #850
Currently it is possible to develop `origin-js` + `origin-dapp` locally with only those 2 repos, but once we are reading listings from the backend the `listener`, `discovery` and `elasticsearch` containers will be a required for the environment to function. I suppose everyone will need to run containers from docker.

As for `docker-compose` environment variables [these](https://github.com/OriginPr

[2018-11-05 12:16] cuongdo commented on #878
I used Sentry for my previous job, which was an open-source Go project. We used the SaaS version, and it worked well in that instance and helped to prioritize bugs partly based on frequency. It seemed to do a reasonable job of combining similar stack traces. I’m not sure how well Sentry does with JS, but it seems like a good thing to try.

[2018-11-05 14:04] micahalcorn commented on #840
Hi @gauravsavanur07 🙏 I've added you to the GitHub organization. So once you accept that invitation, you will be able to push your own branch instead of forking. Please feel free to work on this one. Let me know what other information you need, thanks!

[2018-11-05 14:06] micahalcorn commented on #872
You got it 🔡🔠

[2018-11-05 14:12] micahalcorn commented on #880
Thanks for the suggestion @lucadgtrip 👍 I suspect that we originally were only presenting the "see all listings" option because the newly-created listing would be at the top of the page. But now with featured listings, slower confirmation times, and potentially more competing listings as we scale, the newly-created listing is surely below the fold and likely not on the first page of results. I thi

[2018-11-05 21:04] tomlinton commented on #850
I don't have any problem with moving the env variables around, but the container doesn't need to be removed for changes in `environment:` to take effect. It only has to be restarted. You can verify with a minimal `docker-compose.yml` like:

[code]

e.g.

[code]
If you are seeing some issue where the environment variables aren't matching what you set there is problem some other configuration issue

[2018-11-06 10:21] sparrowDom commented on #850
@tomlinton you are right, I am getting to know docker better :) I though `docker-compose down/up` just stops/starts all the containers. Seems that it does a bit more (Stop and remove containers, networks, images, and volumes).

So container restart does not pickup the environment variables, but down/up does. Thanks for that info!

As to local development, we were just discussing this with @franckc

[2018-11-06 14:47] micahalcorn commented on #880
Yes, we should just assume that a transaction hash equates to a successfully-created listing and keep all of the relevant data in Redux until we replace it with indexed data. This is covered by p3 focus area "optimistic ui", which is related to @franckc's performance efforts.

[2018-11-06 20:44] tyleryasaka commented on #327
I just tested out identity creation on coinbase wallet. I got an email attestation. https://demo.staging.originprotocol.com/#/users/0x33DE3048434933998E704965c0832FBA91BF3789

I was also able to purchase a listing! https://demo.staging.originprotocol.com/#/purchases/4-000-115-1

*Plenty* of UI bugs - won't even bother listing them - but it technically works.

I'm on a Google Pixel (Android).

[2018-11-06 20:50] Natasha08 commented on #878
I've used Sentry previously as well, and using JS. It's great for tracking frequency of bugs and you can send it information about the state of the DApp with the error.

[2018-11-06 21:07] tomlinton commented on #867
Had a bit of a chat with @matthewliu about this. There are a couple of options on the public/private spectrum:

- Network restricted (i.e. issue VPN certificates and only people on the VPN can access them which is what is happening with the office dashboard now)
- Publicly available but with a URL that is not publicly known, e.g. `dashboard.originprotocol.com/b116e092-2ed4-40a3-9625-cbe4e45528c0`

[2018-11-08 14:05] micahalcorn opened #895 "Listing Image Upload Improvements"
The current state of the listing image upload feature leaves the cropping to the user and prevents multiple selection of files. We should re-enable the selection of multiple files to encourage multiple images and save the user from the cognitive load and extra clicks associated with uploading them individually. As a result, it won't make sense to require cropping each image, so they should be auto

[2018-11-08 14:23] micahalcorn opened #896 "Profile Image Upload"
The profile image upload experience should be improved to use `react-beautiful-dnd` and `react-image-crop` as included in #731. This will allow us to remove `react-avatar-editor` and related dependencies. I think that the user should be prompted to crop the image in this case since it is only a single image.

[2018-11-08 14:39] micahalcorn opened #897 "Message Image Upload Improvements"
We should use `react-image-crop` with the image upload functionality in the conversation UI to automatically resize images. Let's not expose the crop feature in this case and let's not enforce a particular aspect ratio. Users should be able to upload images that we do not edit other than reducing the overall size to fall under our maximum threshold.

Related: https://github.com/OriginProtocol/orig

[2018-11-09 15:59] jpvajda commented on #466
@micahalcorn Mind if I work on this one?  see my above comment. I'd love to contribute.

[2018-11-09 16:38] jpvajda commented on #466
@micahalcorn Going through the initial setup with MetaMask, I can see how adding a lot of FAQs that could help users better understand the App and it's use. Just let me know if it's something you still need help with.

[2018-11-09 23:48] sparrowDom commented on #568
Solved via https://github.com/OriginProtocol/origin/pull/890 and https://github.com/OriginProtocol/origin/pull/844

[2018-11-09 23:48] #568 closed

[2018-11-11 17:00] micahalcorn opened #905 "Missing Localized Strings: en-US"
This has been mentioned a few times in Discord, so I'm recording it here for posterity. It seems like it might be looking for "translated" English strings rather than recognizing that English is equal to the defaults. I don't know that there is any real consequence here unless it is contributing to the twice-reported issue of users in other countries being unable to select English. Either way, we

[2018-11-11 17:10] micahalcorn opened #907 "Invalid Address Error From web3-eth-abi"
This error seems to be throwing when we try to interact with a contract without an ETH address, for example, when the user's browser is not web3-enabled or she is not signed in to MetaMask (aka when `web3.eth.getAccounts()` returns `[]`). I suspect that the same error may occur prior to receiving the user's [permission to access her account](https://github.com/OriginProtocol/origin/pull/836).

`Er

[2018-11-11 17:34] micahalcorn commented on #907
I think this is coming from [here](https://github.com/OriginProtocol/origin/blob/master/origin-js/src/contractInterface/users/v00_adapter.js#L50). cc @tyleryasaka

[2018-11-11 18:01] micahalcorn commented on #636
I think this can be closed per #637, but...

1) should it be added [here](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/dev.env)?
2) should there be [a fallback](https://github.com/OriginProtocol/origin/commit/d2525d26b2861e2b4be06b39006d098b48124282#diff-3c3b42c902b1aab458ca8225ba8112aaR19)?
3) did we end up with a [blog post](https://github.com/OriginProtocol/origin/pull/637#i

[2018-11-11 18:27] micahalcorn opened #908 "Detect Web3 Installation"
If possible, we should dismiss any relevant modals and reload any components that are web3-dependent once a user installs MetaMask, Origin Wallet, etc.

[2018-11-11 22:47] micahalcorn commented on #908
Related: https://github.com/OriginProtocol/origin/issues/215

[2018-11-11 23:23] micahalcorn opened #909 "Delay Web3 Permission Request"
Now that we're [requesting the user's permission for account access](https://github.com/OriginProtocol/origin/pull/836), we should refrain from doing so immediately upon loading the DApp. This will be the first of several activation steps that we will present once a user expresses intent to create or purchase a listing, contact another user, etc.

[2018-11-12 02:09] micahalcorn commented on #810
I started to work on this, but [`getNotifications` relies on `getListing`](https://github.com/OriginProtocol/origin/blob/master/origin-js/src/contractInterface/marketplace/v00_adapter.js#L495), which [excludes withdrawn/rejected offers](https://github.com/OriginProtocol/origin/blob/master/origin-js/src/contractInterface/marketplace/v00_adapter.js#L255). I'm not sure what consequences there would b

[2018-11-12 17:03] franckc opened #912 "Integration with Protocol Labs IPFS cluster"
The ProtocolLabs team has setup a cluster, exposed at this [URL](https://origin.infra.ipfscluster.io:9094), that we can use to pin Origin's IPFS content in order to replicate it.

The recommended way for integrating is to use the [API client](https://godoc.org/github.com/ipfs/ipfs-cluster/api/rest/client). Note that the client is written in Go so we'll either need to port it to JS (hopefully we ca

[2018-11-12 21:13] sparrowDom opened #915 "Handle IPFS 504 error"
There are occurrences where a listing file is not located in IPFS and that prevents /#/my-listings page from loading (it gets stuck at loading)

<img width="1920" alt="screenshot 2018-11-12 22 12 14" src="https://user-images.githubusercontent.com/579910/48375375-0c5bf180-e6c8-11e8-8325-ee8ba84852c2.png">

[2018-11-13 03:50] tomlinton commented on #912
Another option I'd like to throw in there is [Google Cloud Functions](https://cloud.google.com/functions/). It might be good here because this integration isn't something that should live in our core code. We'd still have to use something like [Cloud Pub/Sub](https://cloud.google.com/pubsub/docs/overview) to trigger the function though.

[2018-11-13 04:01] tomlinton commented on #726
Closed thanks to @franckc and his work moving everything to `Sequelize`. We still have `origin-bridge` using `flask-migrate` but it's a different language. We can make it conform when someone replaces it with a Javascript implementation. 🙈

[2018-11-13 04:01] #726 closed

[2018-11-13 15:43] micahalcorn commented on #840
@gauravsavanur07 were you able to work on this or should someone else pick it up?

[2018-11-13 15:56] micahalcorn opened #919 "Draft Listings"
We had a good discussion about this yesterday in our product working session. Thanks to @riverfor for [surfacing some questions about how to handle this](https://github.com/OriginProtocol/origin/pull/784).

Here is what we would like to do for a first version:

- Consider a listing in draft status once a form field changes in step 2; simply selecting a listing type should not constitute a draft li

[2018-11-13 16:33] gauravsavanur07 commented on #840
There r some debugging to be done in the issue I'm working on

On 13-Nov-2018 3:43 PM, "Micah Alcorn" <notifications@github.com> wrote:

@gauravsavanur07 <https://github.com/gauravsavanur07> were you able to work
on this or should someone else pick it up?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/OriginProtocol/origin/

[2018-11-13 16:35] micahalcorn commented on #840
Thanks @gauravsavanur07 👍 Let me know if I can help debug. It would be great to get this done soon.

[2018-11-13 16:38] micahalcorn commented on #835
I just noticed this in IMToken 👇

![img_5806](https://user-images.githubusercontent.com/273937/48428235-6a67f380-e71f-11e8-9594-4f496188e585.PNG)

[2018-11-13 17:57] franckc commented on #912
Yes, that could be an option. Which component of our stack would you envision enqueues the messages that get processed by Google Cloud Functions ?
 - The ipfs-proxy could do that since it already processes all content being stored in our IPFS cluster. On the other hand that would add a dependency and could make ipfs-proxy less reliable.
 - The event-listener is another option but the drawback is t

[2018-11-13 20:56] tomlinton commented on #912
The event-listener seems like a better place because there is less of a performance concern. Is there plans for the event-listener to listen for identity/profile events? If so we could just do that work first. If not then ipfs-proxy is probably better.

Adding a general option for the event-listener to use Cloud Pub/Sub might be good. We could then implement a few different things as Cloud Functio

[2018-11-13 21:11] kyriediculous commented on #915
I took a quick look at it.
Seems like origin-js is using a gateway?

If so the issue is related to this open issue: https://github.com/ipfs/go-ipfs/issues/4157
"gateway hangs instead of returning 404"

So until that issue is closed I propose hacking around it by racing promises.
[code]

Will submit a PR in just a second.

[2018-11-13 21:14] tomlinton commented on #780
Just thought I'd bump this as everyone has probably seen the `Update deployed image tags - OriginCI` commits on the repository now that the CI/CD is starting to work. If they are annoying we can break out to a separate infrastructure repo.

@franckc Helm provides that rollback functionality, it maintains its own database and every time we update a release it increments an ID and you can use the He

[2018-11-13 21:22] tomlinton commented on #915
The reason IPFS doesn't return a 404 is that if you query an IPFS node for a file that it doesn't have it will go looking amongst its peers. It doesn't really know if a file exists or not. So we'll have to deal with it on our end like @kyriediculous suggests. It is fairly safe to assume that if our IPFS node doesn't have it then it doesn't exist anywhere for Origin related content so as long as th

[2018-11-13 21:37] franckc commented on #780
@tomlinton Thanks for pointing our helm's rollback capabilities - I think it totally meets our needs for now. Regarding the CI commits on the repo they haven't been problematic to me. But I let other chime in...

[2018-11-13 21:52] franckc commented on #912
Yes, I wanted to update the event-listener to listen to identity events since I think it will be useful anyway to store that data in the back-end (for ex. for analytics purposes). Was more like a P2 in Q4 but should not be more than couple days of work so we could definitely prioritize it.
And yes, agreed would be good to decouple event-listener so that it only listens for events and does not do t

[2018-11-14 00:28] micahalcorn commented on #239
I vote for replacing raw addresses with ENS when available.

[2018-11-14 00:31] micahalcorn commented on #239
It would be great to abstract this into Origin.js so that the ENS name is returned as an attribute on a user. I think it's fine for a proof-of-concept to start out at the DApp level, if necessary.

[2018-11-14 11:07] sparrowDom opened #928 "Creating a listing fails"
After the clicking `continue` on image cropper the DApp throws an error.

**PR that solves the problem**: https://github.com/OriginProtocol/origin/pull/882
<img width="1920" alt="screenshot 2018-11-14 12 05 36" src="https://user-images.githubusercontent.com/579910/48478834-be4d0800-e805-11e8-992d-02948e03bdba.png">
<img width="1920" alt="screenshot 2018-11-14 12 05 42" src="https://user-images.git

[2018-11-14 11:08] sparrowDom commented on #928
@jordajm perhaps you know why this might happen?

[2018-11-14 16:51] jordajm commented on #928
I'm not totally sure what triggered this change - maybe an update to the `react-beautiful-dnd` library? But I have a fix for it here: https://github.com/OriginProtocol/origin/pull/882
Hopefully that PR will get merge this morning - if not I can pull out that fix and put it in a separate PR.

[2018-11-14 16:53] sparrowDom commented on #928
Nice! There is no rush, at least from my side.

[2018-11-14 16:58] franckc commented on #928
This is only happening on localhost and not in prod, correct @sparrowDom ?

[2018-11-14 17:02] jordajm commented on #928
I just confirmed that it is not happening on prod @franckc. I think it must be related to the latest release of the drag/drop library or something. We should be safe to wait for #882 to be merged.

[2018-11-14 17:03] sparrowDom commented on #928
yup @franckc like @jordajm says only on localhost

[2018-11-14 20:05] franckc commented on #928
Excellent. Thanks @jordajm @sparrowDom !

[2018-11-14 20:11] franckc commented on #928
Oh actually. So that means we need to deploy #882 to fix this... hmm.. that complicates things a bit :)
Because I was hoping to first test the performance mode in prod/staging (and that requires deploying master), before deploying #882.... Any chance we could put a quick fix for this issue in master ?

[2018-11-14 20:29] jordajm commented on #928
Yes, I'll put up a separate PR just for this fix

[2018-11-14 20:49] jordajm commented on #928
Here it is:
https://github.com/OriginProtocol/origin/pull/929

[2018-11-14 21:33] jordajm commented on #928
Resolved by https://github.com/OriginProtocol/origin/pull/929

[2018-11-14 21:33] #928 closed

[2018-11-14 23:52] franckc opened #930 "[Markeplace contract] withdrawListing can be called more than once"
There is no check preventing a listing from being withdrawn more than once:
https://github.com/OriginProtocol/origin/blob/master/origin-contracts/contracts/marketplace/v00/Marketplace.sol#L166

This is a regression caused by removing the code that used to delete a listing from storage when it listing was withdrawn.

The impact is that the deposit amount would get sent twice to the affiliate.

A po

[2018-11-15 15:44] micahalcorn commented on #905
Resolved by https://github.com/OriginProtocol/origin/pull/932 🎉

[2018-11-15 15:44] #905 closed

[2018-11-15 16:18] micahalcorn opened #933 "Mobile-Friendly Profile/Identity"
The profile/identity experience is currently not great on small screens. The following designs have been mocked up to improve this:

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bd66f264ac6b11e002aba27
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bd6714490d58d09c85c51ca
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bd66f266ab2640ac58f18e0
https:

[2018-11-15 16:27] micahalcorn opened #934 "Mobile-Friendly Warning Banner"
The current persistent Mainnet Beta warning banner is too large for small screens. It should include a toggle carat to allow showing and hiding of much of the text. It should also be styled to consume less of the screen real estate.

See the following designs:

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bd24ee31311fc09c26a2484
https://app.zeplin.io/project/59fa2311bac7acbc8d953

[2018-11-15 16:42] micahalcorn opened #935 "Mobile-Friendly Navigation"
The current navbar does not work well on small screens. The following designs have been mocked up to improve this and also affect the browsing and searching experience:

https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bd24ee31311fc09c26a2484
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bd24ee613f4bb09f4dfbdfe
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/s

[2018-11-15 16:45] micahalcorn commented on #935
In the interest of `git` sanity, work on this issue should probably wait for https://github.com/OriginProtocol/origin/pull/834 to be merged.

[2018-11-15 16:53] micahalcorn commented on #933
This will require nesting at least one view (the edit form) in the navigation. Something similar is being done in [this branch](https://github.com/OriginProtocol/origin/tree/natasha/mobile-messaging-ui) to solve [this issue](https://github.com/OriginProtocol/origin/issues/809), so there should be some coordination on that implementation.

[2018-11-15 16:54] micahalcorn commented on #935
This will require nesting views in the navigation. Something similar is being done in [this branch](https://github.com/OriginProtocol/origin/tree/natasha/mobile-messaging-ui) to solve [this issue](https://github.com/OriginProtocol/origin/issues/809), so there should be some coordination on that implementation.

[2018-11-15 17:22] wanderingstan commented on #919
Not to be pedantic, but I would understand that if they click "Start fresh" on the modal, this would wipe out the existing draft. Otherwise what do we do if they get only halfway through their "Starting Fresh" lisitng before bailing? We don't want to keep two drafts around.

I'm a leery of the "Drafts" terminology as it implies support for more than one. I much prefer to think of it as what browse

[2018-11-15 17:22] micahalcorn commented on #829
Duplicate of https://github.com/OriginProtocol/origin/issues/799

[2018-11-15 17:22] #829 closed

[2018-11-15 17:35] #327 closed

[2018-11-15 17:35] #830 closed

[2018-11-15 17:58] micahalcorn commented on #755
Let's not do this. 👎

[2018-11-15 17:58] #755 closed

[2018-11-15 18:53] micahalcorn commented on #815
Related to #809 👍

[2018-11-15 23:49] micahalcorn commented on #908
Here are some notes from attempting to detect that MetaMask is installed:

If it is already present when the page is loaded, it's simple.
[code]

But if the user installs the extension after the page load, [MetaMask is unable to inject its provider](https://github.com/MetaMask/metamask-extension/blob/c3176248544e3e0019389b1f177cac68087bfe8f/app/scripts/inpage.js#L173-L177).
[code]
1. I don't think

[2018-11-16 03:46] micahalcorn commented on #814
Resolved by #865 ✅

[2018-11-16 03:46] #814 closed

[2018-11-16 04:49] micahalcorn commented on #811
Resolved by #834 ✅

[2018-11-16 04:49] #811 closed

[2018-11-16 15:48] nick opened #947 "Image Optimization"
Some listings have very large (> 1Mb) images which are downloaded in full even when we only need to show a thumbnail.

A few possible solutions:

1. Use an image resize proxy service. This allows you to resize images on the fly automatically. Eg https://images.weserv.nl or cloudimage.io
2. Host our own image proxy/cache eg https://github.com/weserv/images or https://willnorris.com/go/imageproxy
3.

[2018-11-16 16:44] DanielVF commented on #947
I think handling image resizing would be a great value-added service - just like the discovery server currently adds much faster reads of listing and offer state.

Another option would be to consider rolling this into the discovery server. When it get's a new listing, it can fetch the images associated with it, resize to some prearranged sizes, place these back on IPFS, and hand out these thumbnai

[2018-11-16 19:29] micahalcorn opened #948 "Wanted Listings"
Since our original mandate was to build a Craigslist-style marketplace, we have a variety of "wanted" categories available for listings. However, offers can be made on these listings and there is no engineering distinction. So "offering" on a "wanted" listing still results in funds being escrowed from the offeror, which in such a case, is actually the buyer and not the seller.

I think the simple

[2018-11-17 00:29] micahalcorn commented on #949
@tomlinton I just transferred this issue from [origin-js](https://github.com/OriginProtocol/origin-js) using [the new Beta feature](https://help.github.com/articles/transferring-an-issue-to-another-repository/). 🎉

[2018-11-17 00:30] tomlinton commented on #949
Wow awesome, I'm glad I didn't do that migration we had planned!

[2018-11-17 00:31] micahalcorn opened #950 "🔌 Executable Box"
Build a downloadable, installable version of The Box so that people don't have to `git` at all?

[2018-11-17 00:37] micahalcorn opened #951 "Store Attestations In IPFS"
Per @joshfraser, let's store the Facebook, Twitter, and Airbnb IDs (or equivalent unique identifiers) in IPFS and include them in the API output so that the DApp can display and link to the verified profiles. For now, we will refrain from storing phone numbers and email addresses since we aren't prepared to hash and salt them and our identity implementation is a work in progress.

**Proposed Edit:

[2018-11-17 00:37] #951 closed

[2018-11-17 00:48] micahalcorn commented on #951
@tomlinton we seem to lose labels and project board placement with the transfer. 🙁

[2018-11-17 01:30] joshfraser commented on #947
I'm a bit dismayed by the growing number of centralized services we're now relying on. Since we can get everything we need in the browser without adding another centralized dependency, that would be my vote.

The problem w/ using `ipfs-proxy` is that other gateways won't support that & eventually we're going to want people to be able to choose whichever gateway they want.

[2018-11-17 01:37] nick commented on #947
Agree we should cut down on centralized services, however Tom's solution is just an optimization... you can still use any IPFS server to get the raw image, we're just optimizing it for file size with the extra URL param

[2018-11-17 01:48] joshfraser commented on #947
It's a bit weird to me that we'd be returning content that no longer matches the hash of the file. Feels like that could break things down the line as we/others do integrity checks.

[2018-11-17 04:31] tomlinton commented on #947
It is a bit weird, but we can also make it clear from the URL that the hashed content is being modified, e.g. `/ipfs/<hash>?modify-width=300`. The original content is not modified, it is just a convenience method for returning specific sized images. You can run an integrity check or retrieve the original content like normal. This would also degrade gracefully, you can use a standard IPFS node and

[2018-11-17 05:01] franckc commented on #948
It's pretty easy to remove entirely the wanted category so let me know and I can do that...

[2018-11-17 05:32] micahalcorn commented on #948
@franckc there are several of them. I'll take a stab at it.

[2018-11-18 03:16] tomlinton commented on #433
This should be resolved following changes to the webpack configs for origin-js and origin-dapp. Feel free to reopen if you still encounter this issue @fredfortier.

[2018-11-18 03:16] #433 closed

[2018-11-18 03:24] tomlinton commented on #867
This is done. Just noting that Metabase uses a [REST API](https://github.com/metabase/metabase/blob/master/docs/api-documentation.md) to load data for the public dashboards. I limited it as much as I could, only `/api/public/*` endpoints are available.

[2018-11-18 03:24] #867 closed

[2018-11-18 13:09] kyriediculous commented on #930
Didn't mean to hijack but as suggested by @franckc
[code]

[2018-11-18 16:42] micahalcorn commented on #895
Resolved by #945 ✅

[2018-11-18 16:42] #895 closed

[2018-11-19 16:51] micahalcorn commented on #896
Resolved by #956 ✅

[2018-11-19 16:51] #896 closed

[2018-11-19 19:39] micahalcorn commented on #897
Resolved by #957 ✅

[2018-11-19 19:39] #897 closed

[2018-11-19 21:54] nick commented on #871
The fix is as follows:

[code]

I think we'll keep this on hold for now as we're currently using web3.js beta 34 which does not have this issue. If we do need to add it I think the two places would be in `origin-dapp/src/services/origin.js` lines 20-31 and `origin-js/src/services/contract-service.js` line 31.

[2018-11-20 00:55] tomlinton commented on #780
It doesn't look like it is bothering anyone too much so I'll close this for now and the CI system seems to be working well. Can revisit if it becomes problematic.

[2018-11-20 00:55] #780 closed

[2018-11-20 14:30] sparrowDom opened #965 "Home page listings order"
currently listings on homepage are ordered first by "Featured" then by OGN commission after that order is undefined. The rest of the listings should be ordered by creation date descending.

[2018-11-20 14:38] cuongdo opened #966 "Token transfer tool productionization"
The impending PR for the token transfer tool is a work in progress. The tool needs at least the following to be production ready:

- [ ] Validate capabilities of tool vs. the Origin token grants that exist
- [x] SSL support
- [x] Productionize serving of client app
   * I *think* this means running webpack on the client app and somehow serving it from the backend.
- [ ] Make the client code better

[2018-11-20 14:39] cuongdo commented on #966
@tomlinton I cc'ed you because I could definitely use your help with several of these tasks.

[2018-11-20 14:47] cuongdo commented on #966
I've submitted the initial PR for T3: #967

[2018-11-20 20:07] #877 closed

[2018-11-20 20:20] DanielVF opened #970 "Strange migration problems with origin-notifications"
When I `docker-compose up` a fresh new box, the origin-notifications db migration is marked as migrated in DB, but the actual migration not applied in the database. This happens every time.

The table `push_subscription` that should be created by the notification is not there.

    origin=# \dt
                List of relations
    Schema |      Name       | Type  | Owner
    --------+------------

[2018-11-20 20:21] DanielVF commented on #970
@tomlinton Any ideas here?

[2018-11-20 20:42] tomlinton commented on #970
That is strange, it does it every time after that? I would have said that it just somehow failed to run properly and got in an incorrect state, but if it does it every time that can't be right.

Maybe check the logs for the notification container to see the migration output with `docker-compose logs origin-notifications`. Or you could also try and just bring up the notifications container with `do

[2018-11-20 20:46] DanielVF commented on #970
It does it every time from a fresh `prune` state.

[2018-11-20 20:47] tomlinton commented on #970
And then on subsequent `docker-compose down && docker-compose up` it is OK? I'll try and debug it from the pruned state if so.

[2018-11-20 20:48] DanielVF commented on #970
It stays broken until you do the manual process above. After doing that, it stays working through subsequent docker-compose down && docker-compose up's.

[2018-11-20 23:58] DanielVF opened #972 "Basic Integration Testing"
Currently Origin.js is decently tested, and those tests checked at every PR. This really helps our velocity when working with it - you can be reasonably sure that when you start work, things won't be broken, and reasonably sure that when the tests pass, your PR won't break anything inside origin.js

Unfortunately, we do not have these same guarantees that the rest of our tools will be working or w

[2018-11-21 01:04] tomlinton commented on #972
I've been doing some thinking/work towards this, but it is is tricky. The options I see right now are:

1. Create a Kubernetes cluster using Minikube as part of the CI process and deploy the Origin stack using the Helm chart we have. Advantages: as close as we'll get to testing in our deployment environment. Disadvantage: slow, will need extra stuff that isn't part of our standard deployment.
2. C

[2018-11-21 02:33] tomlinton commented on #966
Great work @cuongdo. As a first step I'll get it deployed and running with SSL and such and I'll get the tests running on the CI server so we can add tests. Then we can have a discussion about how we tackle the wallet bit. 😱

[2018-11-21 06:37] franckc commented on #972
Yeah, I think option 2 might be the simplest to start with.

I could envision a few integration tests at origin-js layer could go a long way validating the origin-js + discovery + ipfs + blockchain stack. For example
 - create a listing, query disco to make sure it is indexed
 - make offer on listing, query disco

Now for some other components it would be more tricky to write integration tests
 -

[2018-11-21 10:00] sparrowDom commented on #972
I like the option 2 approach best as well. Ideally this stack would be configured in such a manner that it could run alongside `origin-box` and have no resource/port collisions. This way the slowness would have lesser impact and developers wouldn't need to shutdown `origin-box` to spin up testing stack.

Just thinking what sort of tools we would need to develop in order to get option 2 running:
-

[2018-11-21 12:19] DanielVF commented on #972
@franckc On origin-notifications, the browser push messages are just HTTP(s) calls. If we spin up a local server as a part of the test, and give that server as the address when creating the push subscription, then we can test the notifications without making changes to the notification server.

[2018-11-21 12:22] DanielVF commented on #972
@sparrowDom We might be able to write the integration tests in such a way that they don't require a clean system.

[2018-11-21 17:39] micahalcorn commented on #877
Thanks @DanielVF 😁

[2018-11-21 20:11] micahalcorn commented on #934
Resolved by #975 ✅

[2018-11-21 20:11] #934 closed

[2018-11-21 22:59] tomlinton commented on #972
Another idea I had was to rename the `dev` deployment we have to `test`. When something gets merged into master it gets deployed here, then tests are run against the live deployment. If the tests pass whatever the code is gets promoted to staging. This might be an option if we find it is too slow to run these tests on every push/PR.

[2018-11-22 00:51] micahalcorn opened #979 "IM Token Provider Detection"
It seems that `givenProvider` is not set in IM Token. As a result, we are [recommending that the user download a mobile wallet](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/src/components/web3-provider.js#L76-L127).

![img_5875](https://user-images.githubusercontent.com/273937/48875477-2a071600-edae-11e8-8fe5-3092524e80bd.PNG)

I'll try to investigate a bit. cc @wanderingstan @

[2018-11-22 01:13] micahalcorn commented on #979
It's definitely `null`. I've sent an email to them.

The reason we are using this is to distinguish between a browser-supplied provider and one that we [generate](https://github.com/OriginProtocol/origin/blob/master/origin-dapp/src/services/origin.js#L29). We may not need to generate one at all if we are relying on our indexing server for reads. Otherwise, we might be able to just modify the `curr

[2018-11-22 02:05] tomlinton commented on #970
From a fresh state I get this output:

[code]

It looks like it is running migrations before PostgreSQL starts, so I'll add a wait for that port to open. That doesn't seem to fully explain how SequelizeMeta got populated and the migrations didn't get run but perhaps this will avoid it getting into that state.

[2018-11-22 22:46] micahalcorn commented on #840
Resolved by https://github.com/OriginProtocol/origin/pull/982 ✅

[2018-11-22 22:46] #840 closed

[2018-11-23 04:30] micahalcorn commented on #907
@heychessy It is not, so please do! 😄 I've sent you an invitation to join the GitHub organization. Once you accept that, you will be able to push your branch directly instead of forking.

[2018-11-23 04:42] franckc commented on #965
Good catch @sparrowDom - yes agreed we should order by time created desc.
Though glancing at the code, it does not look like the listing model stores any creation date so that data won't get indexed in elastic search.... should we add it so that we can then sort by that field ? or were you thinking of a different way to solve this ?

[2018-11-23 15:10] sparrowDom commented on #965
Hmm good point. Since we are on the blockchain maybe `blockNumber` and `logIndex` of the `CreateListing` event should be enough?

[2018-11-23 15:50] micahalcorn commented on #965
I would favor recording a timestamp, which can be approximately derived from the block number after the fact. What about relying on the id? I have this silly util in a local branch to accommodate client-side sorting:
[code]

[2018-11-23 18:48] micahalcorn commented on #820
Resolved by #988 ✅

[2018-11-23 18:48] #820 closed

[2018-11-23 18:54] micahalcorn commented on #970
Is this resolved by https://github.com/OriginProtocol/origin/pull/980?

[2018-11-23 18:55] micahalcorn commented on #682
Since we have moved forward with performance mode, I'm going to close this for now. 🙂

[2018-11-23 18:55] #682 closed

[2018-11-23 19:20] micahalcorn commented on #689
Moving this into the prioritized column as requested by @AustinVirts :point

[2018-11-23 20:45] Natasha08 opened #990 "Detect Coinbase Wallet instead of Toshi"
Note: This issue was created based on testing in Coinbase Wallet (previously Toshi).

- the current detection method in `origin-dapp/src/utils/getCurrentProvider.js` returns 'Toshi' but should return 'Coinbase Wallet'

[2018-11-23 21:29] micahalcorn commented on #990
Resolve by #991 ✅

[2018-11-23 21:29] #990 closed

[2018-11-23 22:42] tomlinton commented on #970
I think it should have fixed it, please reopen if you run into it again @DanielVF.

[2018-11-23 22:42] #970 closed

[2018-11-23 23:45] micahalcorn commented on #821
Resolved by #989 ✅

[2018-11-23 23:45] #821 closed

[2018-11-24 04:46] heychessy commented on #907
Alright :)

Can you tell me how can I reproduce the error

[2018-11-24 16:46] micahalcorn commented on #907
@heychessy it is currently visible if you visit https://dapp.originprotocol.com/ in a browser that does not have MetaMask. I'm not sure how to debug it with a local blockchain. We need to find a way to connect our own httpProvider to Ganache without it loading the 10 test accounts. You could prevent it from generating the accounts, but you would also have to disable many of the migrations. Let us

[2018-11-24 17:41] micahalcorn commented on #907
@heychessy additionally, you could use a browser that _does_ have MetaMask installed. Enable "privacy mode" and reject any prompts for access to your account. 🤔

[2018-11-26 09:23] sparrowDom commented on #965
Relying on the `id` seems the most straightforward solution, though has the disadvantage you point out @micahalcorn. If only needed for sorting I would rather rely on `blockNumber` + `logIndex` than `timestamp` after the fact, because with the former approach the sorting inside each block will also be correct.

On the other hand, we will probably implement some kind of date filtering in the future

[2018-11-26 09:56] sparrowDom commented on #972
@danielVf imho it is kind of nice to have a test environment where state/execution of one test does not effect the execution of another, though it is probably a really low priority thing. (since this has not been a problem so far afaik)

After doing some research it seems that it is not straightforward to reset state in Ganache quickly (which would be needed in case we would decide to reset state

[2018-11-26 13:12] DanielVF commented on #972
A big advantage of not needing to reset state between tests is that we could run the same test suite against a staging cluster.

[2018-11-26 15:06] Natasha08 commented on #717
When I open the Edit Profile Modal, and upload a photo, the photo never displays in the Edit Profile Modal (this is before publishing).

[2018-11-26 17:58] tomlinton commented on #972
I think you could revert the state using the `--db` option. I briefly played around with that when I was thinking about having the state of the blockchain baked into `origin-box` rather than creating it every time it starts.

[2018-11-26 18:01] DanielVF opened #994 "🐃 Messaging - Fake send times to add messages to the past"
A malicious user can make it appear that a message was sent at any point in the past.

This would be as easy as setting a message's `created ` field to a past date and could cause a bit of havoc during dispute resolution, or otherwise be helpful for scamming.

[2018-11-26 22:54] micahalcorn commented on #573
🐱 Needed a place to drop this...

![cryptokitties](https://user-images.githubusercontent.com/273937/49047014-00bdff80-f18b-11e8-9184-5f7910665c34.gif)

[2018-11-27 09:19] sparrowDom commented on #972
Besides `db` option there are also `evm_snapshot` and `evm_revert` commands to consider. To see what serves our purpose best.

On the first glance it seems that `db` option preserves the state between different Ganache executions while snapshot/revert  lets you load/save state within the same run.

[2018-11-27 15:51] lucadgtrip opened #1006 "Fractional Usage: Length of Stay Prices"
Monthly Prices in the home sharing vertical: I think it's important to consider developing them as early as possible in the process. In this was we could tap an undeserved and growing market of long stays (driven by the raise of remote working, digital nomads and generally more flexible lifestyles around the world).
If you need some data to support the claim, I'll be happy to share.
See also https

[2018-11-27 15:57] micahalcorn commented on #1006
Great, thanks @lucadgtrip for the thorough request and screenshots. 👌

[2018-11-27 16:04] jordajm commented on #1006
Yeah, thank you @lucadgtrip
From a technical point of view, I don't think this would be overly difficult since we've already done similar work on the calendar components and since origin-js and our contracts already support a similar use case for nightly bookings.

We'd probably create a new UI component (or maybe two - one for buyer's view and one for seller's view) like the monthly price widget

[2018-11-27 21:19] tomlinton opened #1007 "Web3 NPM package can generate broken package-lock files"
The web3 npm package [appears to be broken](https://github.com/ethereum/web3.js/issues/1914). Sometimes when it gets installed it will fail to install its dependencies and generate a broken `package-lock.json`. Since we have multiple packages with this dependency it is causing us some issues.

Generally if you end up with a broken install due to this you can run `npm install web3 --save` in the pa

[2018-11-27 21:33] tomlinton opened #1008 "Test timeouts with newer versions of `ganache-core`"
It appears that versions of `ganache-core` > `2.2.0` cause our tests to fail for `origin-js` and `origin-contracts`. These look like timeouts. @franckc and I suspect it may be due to the introduction of async request processing in `ganache-core` and our tests not handling promises correctly.

[2018-11-27 21:51] franckc commented on #1008
Here is the [link](https://github.com/trufflesuite/ganache-core/releases/tag/v2.3.0) to the ganache 2.3.0 release note that mentions the changes related to async request processing.

[2018-11-28 06:17] micahalcorn commented on #994
We could sort them in the DApp by index, but we were doing this before and there was some user confusion with messages appearing in the "wrong order" (per the timestamp). There may have been an actual bug in the sort function, but I think there is also some risk of the index not being entirely dependable either due to syncing issues. I think we can rely on the index to prove that _I_ send message

[2018-11-28 13:21] lucadgtrip commented on #1006
@jordajm
when monthly prices are set as here
https://www.airbnb.com/rooms/11253605?check_in=2019-03-01&guests=1&adults=1&check_out=2019-03-31
it does now show a discount
![screenshot 2018-11-28 at 14 13 31](https://user-images.githubusercontent.com/34341206/49154335-6ab7df80-f318-11e8-8610-8781378d2d05.jpg)

When they discount is set, as here
https://www.airbnb.com/rooms/146821?check_in=2019-01-07

[2018-11-28 23:31] micahalcorn commented on #379
Resolved by #422 😐

[2018-11-28 23:31] #379 closed

[2018-11-28 23:34] franckc opened #1015 "[multi-units listing] Use per-unit commission for search ranking"
For multi-units listing, search ranking should use the per-unit commission value rather than the total commission. So [this code](https://github.com/OriginProtocol/origin/blob/master/origin-discovery/src/lib/search.js#L187) should be updated to take into account the new perUnitCommission field being added to the data stored in IPFS for unit listings as part of #977

[2018-11-28 23:35] franckc commented on #1015
CC @sparrowDom as a FYI

[2018-11-28 23:36] micahalcorn opened #1016 "Remove Stagnant Localization Status Table"
Our translation needs are ongoing since the DApp copy is constantly evolving. As a result, [this table](https://github.com/OriginProtocol/origin/tree/master/origin-dapp/translations) is often out of date. @jordajm and I propose to remove it in favor of a link to [the CrowdIn equivalent](https://crowdin.com/project/originprotocol) and maybe also a reference to [our supported locales](https://github

[2018-11-28 23:45] tomlinton opened #1017 "Ongoing issues with npm"
We are having a bunch of problems with `npm` and `package-lock.json`. An `npm install` can result in broken/missing dependencies even though it appears to complete successfully. I'm not sure exactly why this is, but anecdotally it looks to often fail for packages install off GitHub.

In addition to that the way `npm install` handles `package-lock.json` is not what you might expect:

- `package.jso

[2018-11-28 23:52] micahalcorn commented on #1017
![feed-me](https://user-images.githubusercontent.com/273937/49190043-8f668400-f325-11e8-96a8-80bff9394343.gif)

Thanks Tom!

[2018-11-28 23:58] micahalcorn commented on #799
As @franckc reminded me, we are now less concerned with this issue since we are querying indexed data instead of the blockchain. I'll leave it open but remove the priority label.

[2018-11-29 00:11] micahalcorn commented on #809
Resolved by #976 ✅

[2018-11-29 00:11] #809 closed

[2018-11-29 00:16] micahalcorn opened #1019 "Messaging Alignment w/Bubbles 🍾"
Improve the messaging experience according to these designs:

**Desktop**
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bfc7a176088007e7d1775b8

**Mobile**
https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bfc8420fbd7ff56b8f948b7

Considerations
- [x] min/max bubble dimensions
- [x] SVG bubble tail implementation
- [x] right-alignment
- [x] consolidated avatar on mobi

[2018-11-29 05:37] jordajm commented on #678
@micahalcorn I think it's possible that @sparrowDom fixed this issue [here](https://github.com/OriginProtocol/origin/pull/396), but the listing type names still show up in English because Crowdin auto-translation hasn't been run since that PR was merged. I see errors in the browser console that would indicate this.

[2018-11-29 05:38] micahalcorn commented on #678
Cool 🤞 We can close and reopen if necessary.

[2018-11-29 05:38] #678 closed

[2018-11-29 06:12] tyleryasaka opened #1021 "Discussion: orbit-db concerns"
@DanielVF raised some concerns about orbit-db and I'd like to be able to discuss them further. I can't remember all points raised. Would you mind posting them here @DanielVF so we can have a more in-depth discussion?

[2018-11-29 09:48] sparrowDom commented on #1015
Sounds good. We might need to create another field only in elastic search at index time. Something like:
[code]

[2018-11-29 13:22] DanielVF commented on #1021
Im out of the office today, so here's a quick bulleted list of technical concerns.

- IPFS PubSub is currently mostly centralized, basically no routing
- IPFS PubSub is currently extremely immature. It's not even really experimental, it's just a combination of the dumbest things that could make something sort of work that could be called pubsub, and slapped onto the side of IPFS server.
- IPFS Pub

[2018-11-29 20:12] tyleryasaka commented on #1021
Thanks @DanielVF . I'll respond to some of the points:

So this is my understanding (though I'm still learning myself): Yes the current version of IPFS PubSub uses floodsub, and is in the process of being upgraded to gossipsub (which will provide much more sophisticated routing). It's not intrinsically centralized; it just requires that peers directly connect to one another in order to exchange da

[2018-11-29 20:37] tyleryasaka commented on #1021
And part 2, profile:

The thing is that even if the cost is just a few cents, the user experience cost may be much more significant. As @joshfraser pointed out, there's a huge difference between something that costs a few cents and something that is free. Allowing users to create a profile without having any Eth could be a big step towards mass adoption.

Also, just from an engineering perspective

[2018-11-29 21:00] tyleryasaka commented on #1021
Oops, missed an important one I wanted to address:

Correct. This is by design. I think you're comparing orbit-db to blockchain here, which is like comparing apples and oranges. If you want guarantees about ordering, you have to have consensus - i.e. blockchain. This is because there's no way to verify *time* purely using cryptography (if only there was!).

[ipfs-log](https://github.com/orbitdb/ip

[2018-11-29 22:39] micahalcorn opened #1024 "Current User Not Properly Recognized"
Jon is seeing his own "about the buyer" card and is not getting a call-to-action for finalizing the transaction below. The purchase-detail component is not recognizing that the current user (as defined by web3) is the same as the buyer. My theory is that we are now storing a lowercase `buyerAddress` in the offer but are case-ignorantly comparing this to the account address.

<img width="1555" alt=

[2018-11-30 14:17] DanielVF commented on #1021
This lack of spoofing protection is more about attacks at the IPFS PubSub layer. I agree that it's not relevant for attacks at the layer of the contents of OrbitDB messages.

Well, maybe a malicious IPFS peer could sign other servers up for subscriptions they didn't sign up for, or maybe unsubscribe them without them knowing, send a DDOS through other servers that looks like it is coming from a ye

[2018-11-30 19:39] tyleryasaka commented on #1021
I'm not convinced any of those attacks are possible just based on what you've said here. Can you elaborate more, or demonstrate this?

I actually got the idea from 3box and generalized it a bit.

Yeah again they will be introducing real pinning at some point. But can you clarify how this is different from Origin's IPFS server which pins anything upon request? Is that not vulnerable to the same att

[2018-12-03 04:57] micahalcorn commented on #1024
Resolved by #1028 ✅

[2018-12-03 04:57] #1024 closed

[2018-12-03 21:51] micahalcorn commented on #908
Filed 🦊 https://github.com/MetaMask/metamask-extension/issues/5823

[2018-12-03 21:53] micahalcorn commented on #909
Related 🦊 https://github.com/MetaMask/metamask-extension/issues/5825

[2018-12-03 21:55] micahalcorn commented on #907
@heychessy are you still working on this or should someone else pick this up? 🙂

[2018-12-03 22:10] micahalcorn opened #1033 "User Activation Components"
The following components will need to be built or modified:

- [x] [navbar with no icons, probably just a "Get Started" link](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bedd02d04fea87ed1872247)
- [ ] [persistent "carrot" 🥕 reminding the user why she should activate](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5bedd0315087e47ea78de608)
- [x] step 1 (MetaMask)

[2018-12-03 22:19] micahalcorn opened #1034 "User Activation Engineering"
The components described in https://github.com/OriginProtocol/origin/issues/1033 will need to be wired up in conjunction with listing-detail, create-listing, message-new, etc in order to accommodate the various user activation scenarios.

Some considerations include:
- remembering a user's intent
- validating routes based on activation status
- resuming activation from a prior session (or not)
- p

[2018-12-04 01:50] micahalcorn opened #1036 "Listing Creation Step 1[.5]"
In anticipation of custom schemas per-[sub]category in the future, we have decided to move the selection out of the step 2 form and combine it with step 1. The DApp will need to be updated to accommodate the changes made to the schemas.

- [x] [large screens](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5bfc773ca4a6973f47aca935)
- [x] [small screens](https://app.zeplin.io/project/59

[2018-12-04 05:19] micahalcorn opened #1038 "Transaction Detail Redesign"
[This one](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9?seid=5c006f94a9dd520199d24961) 🎨

The new offer details card will involve a different set of attributes depending on the listing type. It would be great if it and the user card were fixed during scrolling.

[2018-12-04 07:17] lucadgtrip commented on #632
[UX FEEDBACK FROM SELLER]
I just go a dispute opened by a naughty guest in Venice (Jon Hearty).
it's probably annoying for the seller to see:
====
Dispute Started
Next Step: Wait to be contacted by an Origin team member
There is nothing for you to do at this time. Check back later.
====
as I'm completely unaware of the problem here (I am not annoyed if course, we're testing!).
In other words: I kn

[2018-12-04 20:50] DanielVF commented on #1021
Good news: So I tested this out. Orbit DB does auth head exchanges! Yay! This means that only the writer of a database can mess things up for readers.

Ugly news: This limits your attack targets to the Origin messaging server and anyone you message. On profiles it would limit it to anyone looking at your profile and the profile server(s).

Bad News: You get about a 1 to 20,000 bandwidth multiplica

[2018-12-05 05:55] micahalcorn opened #1043 "Small Screen Profile Improvements"
[The description should not be accompanied by a "Read More" link](https://github.com/OriginProtocol/origin/pull/1022/files#diff-9d994db6523578533924f556fd2b322aR378) unless the text is overflowing the allotted space.

We should probably also store [the guidance dismissal state](https://github.com/OriginProtocol/origin/pull/1022/files#diff-7ebeb597485a7f201498661f4bb8f874R9) in `localStorage` so th

[2018-12-05 07:01] micahalcorn opened #1044 "Multi-Unit Listings"
Sellers should be able to create listings with a quantity available greater than one. Buyers should be able to purchase more than one unit in a single purchase. This functionality should be available for any non-fractional listing category that supports a non-zero price. This will soon equate to listings in the "For Sale" and "Services" categories.

The designs for multi-unit UI are integrated [he

[2018-12-05 07:12] micahalcorn opened #1045 "Listing Status Copy"
All listing status-related copy should be revised to accommodate multi-unit and fractional listing types.